[2022-11-01 09:18] Noctis0227 opened #6376 "get airdrop transaction details return 502"
*Describe your issue here.*
get airdrop transaction details return 502

https://evm.meerscan.io/tx/0xc8815f061467776a5209f5f6ba139c96c8d49978f559212e978d69349f4cc960

nginx error log:  upstream prematurely closed connection while reading response header from upstream

### Environment

* Deployment type (Manual/Docker/Docker-compose): Manual
* Elixir & Erlang/OTP versions (`elixir -version`): Elixi

[2022-11-01 09:52] #6371 closed

[2022-11-01 10:43] avenbreaks opened #6378 "Adding New Network ENV Files"
### Environment

* Deployment type (Docker-compose):

Getting error after start compose the file, how to fix?

ENV Files : DATABASE_URL=postgresql://postgres:@host.docker.internal:7432/postgres?ssl=false

[code]

### Steps to reproduce

`docker compose -f docker-compose.yml up --build
`
[code]

[2022-11-01 13:16] ulyanas commented on #6293
- Add changes to GraphQL API
- Backwards compatibility - possible not to add migrations, but with a message that token transfers would be not optimal

[2022-11-01 13:19] ulyanas commented on #6286
+ added search endpoint to v2

[2022-11-01 13:26] ulyanas commented on #6350
@tgladilina  Please add mockups

[2022-11-01 13:37] ulyanas opened #6381 "Contract verification issues/tasks"
- [x] https://github.com/blockscout/blockscout/issues/4571 (https://github.com/blockscout/blockscout/pull/6481)
- [x] https://github.com/blockscout/blockscout/issues/5389
- [x] https://github.com/blockscout/blockscout/issues/5746 (https://github.com/blockscout/blockscout/pull/6481)
- [x] https://github.com/blockscout/blockscout/issues/5675 (https://github.com/blockscout/blockscout/pull/6481)
- [x]

[2022-11-01 19:24] Ranofty commented on #6306
DM me for Telegram @Ranofty

[2022-11-01 19:30] navdeepgarg1 commented on #6306
connected

[2022-11-01 20:21] dbale-altoros commented on #5951
@cryptotester
I ran it with hardhat instead of ganache
for linux you should execute docker ps and see in the ports what is the ip address
if its 0.0.0.0 you should run your ganache instance in that ip
leave the env as they are
maybe increase the ACCOUNT_POOL_SIZE but that's it
it should work

[2022-11-02 00:50] avenbreaks commented on #6378
solved, crash because server is low.

for last question : how to adding new network.

ENV Files :

`LINK_TO_OTHER_EXPLORERS=true`

`OTHER_EXPLORERS={"title": "Gitshock Chain", "url": "https://blockscout.com/poa/core" "test_net?": true}, {"title": "Neware Chain", "url": "https://newarescan.gitshock.com", "test_net?": true}, {"title": "Ethereum Mainnet", "url": "https://blockscout.com/eth/mainnet"},

[2022-11-02 06:28] uniwswap commented on #5950
![image](https://user-images.githubusercontent.com/113737292/199414235-5a55c27f-e523-4773-bb82-bd4a17721ce7.png)

and Configuration for instance is 8vCPU and 32Gb RAM

@ihsanmokhlisse

[2022-11-02 07:29] Maras69 opened #6384 "Mainnet: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.4
* Erlang Version: 24
* BlockScout Version: 4.1.8

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to reproduce

[2022-11-02 07:32] Maras69 opened #6385 "Mainnet: <Issue Title>"
### Environment
* Elixir Version: 1.13.4
* Erlang Version: 24
* BlockScout Version: 4.1.8

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected Beha

[2022-11-02 07:50] josoahgithinji opened #6386 "Mainnet: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.4
* Erlang Version: 24
* BlockScout Version: 4.1.8

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to reproduce

[2022-11-02 07:50] josoahgithinji commented on #6386
hI,

Please alert the General Public that Dogechain is stealing Customers -wDOGE Coins.

Last saturday I withdraw from my Account at Bkex.com but the Dogechain Network refused with my 112. Wdoge Coins up to now

See the attachments here and screen shots

https://prnt.sc/ne5ZR06TKEyB

0xad1f60376b674dd7f0c1db1aac5e62c30bd0fa8f7f68897695fc2680a32827e7

TXIN Chec the wthdraw that I never receved the

[2022-11-02 08:19] #6288 closed

[2022-11-02 09:49] vbaranov commented on #6378
@avenbreaks What do you mean by a new network? What would you like to achieve?

[2022-11-02 09:49] #6385 closed

[2022-11-02 09:49] #6384 closed

[2022-11-02 09:50] vbaranov commented on #6386
This is the wrong place to post this. This chat is for technical questions about Blockscout explorer.

[2022-11-02 09:50] #6386 closed

[2022-11-02 10:43] avenbreaks commented on #6378
sorry I mean how to make a drop down like this I added my network in the dropdown but it doesn't appear after compiling

![image](https://user-images.githubusercontent.com/93043826/199469718-72ab3ad3-4a7c-41f8-acad-25728dc95788.png)

[2022-11-02 10:52] tgladilina commented on #6350
**Errors mockup**
https://www.figma.com/file/4In0X8UADoZaTfZ34HaZ3K/Blockscout_v1_Chakra?node-id=2673%3A91482

**404**
Page not found
The requested page doesn’t exist or was removed!
Back to home

![404](https://user-images.githubusercontent.com/103045386/199469211-7695a967-9bc1-42c7-954f-42b54a251cc5.png)

**500**
Internal server error
Hang on till we get the error fixed. You may refresh the page

[2022-11-02 11:15] vbaranov commented on #6378
Yes, it is managed by `SUPPORTED_CHAINS` env variable. But if you are already on that instance, it disappears from the dropdown.

[2022-11-02 11:56] avenbreaks commented on #6378
how to bring up the dropdown? I've created but the dropdown doesn't appear, I hope my env settings are correct and it can work sir

`SUPPORTED_CHAINS={"title": "Gitshock Chain", "url": "https://blockscout.com/poa/core" "test_net?": true}, {"title": "Neware Chain", "url": "https://newarescan.gitshock.com", "test_net?": true}, {"title": "Ethereum Mainnet", "url": "https://blockscout.com/eth/mainnet"

[2022-11-02 12:52] vbaranov commented on #6378
@avenbreaks

It should be in [], like this:
`
SUPPORTED_CHAINS=[ {"title": "Gitshock Chain", "url": "https://blockscout.com/poa/core" "test_net?": true}, {"title": "Neware Chain", "url": "https://newarescan.gitshock.com", "test_net?": true}, {"title": "Ethereum Mainnet", "url": "https://blockscout.com/eth/mainnet"}, {"title": "Ethereum Classic", "url": "https://blockscout.com/etc/mainnet", "other?

[2022-11-02 13:12] avenbreaks commented on #6378
im trying but not working, im using docker compose

[2022-11-02 13:16] vbaranov commented on #6378
Try this one:
`
SUPPORTED_CHAINS=[ {"title": "Gitshock Chain", "url": "https://blockscout.com/poa/core" "test_net?": true}, {"title": "Neware Chain", "url": "https://newarescan.gitshock.com", "test_net?": true}, {"title": "Ethereum Mainnet", "url": "https://blockscout.com/eth/mainnet"}, {"title": "Ethereum Classic", "url": "https://blockscout.com/etc/mainnet", "other?": true}, {"title": "Myopsis C

[2022-11-02 14:22] vbaranov opened #6388 "Neon minor issues"
1. An error:
[code]

2. We should ask Neon team if it is intended behavior, that blocks are issued by `0x0000...0000` address. Probably, block processor should be fixed in order to handle this, if it should not behave like this.

<img width="310" alt="Screenshot 2022-11-02 at 13 00 23" src="https://user-images.githubusercontent.com/4341812/199518446-78d293a8-ddad-458d-a9a4-232337c344e4.png">

[2022-11-02 15:52] Spyder075 opened #6389 "Ethereum Classic: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version: v4.1.8-beta

* User Agent: `Mozilla/5.0 (iPhone; CPU iPhone OS 16_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.1 Mobile/15E148 Safari/604.1`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regressio

[2022-11-02 18:39] vbaranov commented on #6389
This question doesn't relate to Blockscout explorer.

[2022-11-02 18:39] #6389 closed

[2022-11-02 18:40] vbaranov commented on #6378
@avenbreaks did it work?

[2022-11-02 18:41] #6355 closed

[2022-11-02 19:35] #5576 closed

[2022-11-02 19:35] #6287 closed

[2022-11-03 13:19] ihsanmokhlisse commented on #5950
@uniwswap below is the configuration used for testnet Network for information, and also to compare is with your configuration
[code]
  also, please check if your explorer takes all the resources from the instance, if i'm not mistaking the indexer limited to 4gb or ram or something similar to this

[2022-11-03 14:59] tempe-techie opened #6392 "Please add support for base64-encoded onchain metadata (for ERC-721 NFTs)"
Blockscout does not show metadata of NFTs where metadata is stored onchain (base64-encoded, as it is standard for onchain metadata). Instead it shows a “Page not found” (404) error.

### Steps to reproduce

1. Go to this ERC-721 NFT page: https://blockscout.com/eth/mainnet/token/0xaa9E5Ade68C9C3Ea967Dc5dde731fd1f797152Cb/token-transfers
2. Scroll down to the Token Transfers section
3. Find, for ex

[2022-11-03 18:24] Maribeludife opened #6394 "Optimism on Gnosis Chain: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version: v4.1.8-beta

* User Agent: `Mozilla/5.0 (Linux; Android 12; SM-A035M) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Mobile Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run

[2022-11-03 19:14] psipherious commented on #5880
Attempting to install 1.13.4 on Debian 10 states that OTP 25 is required.
Only 1.13.0 is able to be installed if one wishes to remain on OTP 24.

root@deb10-builder:~# dpkg -i elixir_1.13.4-1~debian~buster_all.deb
(Reading database ... 57093 files and directories currently installed.)
Preparing to unpack elixir_1.13.4-1~debian~buster_all.deb ...
Unpacking elixir (1.13.4-1) over (1.13.0-1) ...
dpkg

[2022-11-03 20:13] iulianivg opened #6395 "mix do deps.compile won't go through"
*Describe your issue here.*

### Environment
* Deployment type (Manual/Docker/Docker-compose): Manual
* Elixir & Erlang/OTP versions (`elixir -version`): latestest from "sudo apt-get install elixir"
[code]
* Node JS version (`node -v`):v16.18.0
* Operating System: Ubuntu (20.04)
* Blockscout Version/branch/commit: latest ( c4bbbfdd7a6ea8d07f5a9ebf9119c6623f395331 )
* Archive node type && version (

[2022-11-04 02:22] avenbreaks commented on #6378
not working sir :(

[2022-11-04 08:55] iulianivg commented on #6395
Managed to fix the warning for make_bindings with sudo apt-get install libtool.
The final error (prometheus_process_collector) remains sadly

[2022-11-04 09:43] iulianivg commented on #6395
Installed elixir 1.13.4
[code]

still same error sadly
`** (Mix) Could not compile dependency :prometheus_process_collector, "/home/ubuntu/.mix/rebar3 bare compile --paths /home/ubuntu/blockscout/_build/dev/lib/*/ebin" command failed. Errors may have been logged above. You can recompile this dependency with "mix deps.compile prometheus_process_collector", update it with "mix deps.update prometheus

[2022-11-04 10:32] vbaranov opened #6396 "Allow embedded Blockscout apps to open at the same tab"
Currently, apps in the menu Apps are considered as external apps and open in a new tab.

<img width="740" alt="Screenshot 2022-11-04 at 13 29 12" src="https://user-images.githubusercontent.com/4341812/199951496-cb58bf35-682e-46bc-8bfe-7109eb90c658.png">

Meanwhile, Blockscout has embedded applications that should be opened in the same tab. We need a flag to divide external and internal apps inside

[2022-11-04 10:37] iulianivg commented on #6395
Everything worked after starting with new instance & reinstalling everything from scratch. For future linux deployers, make sure you don't install elixir from "sudo apt-get install". Will aim to make a script for ubuntu and share it so we can automate that.

[2022-11-04 10:37] #6395 closed

[2022-11-04 14:10] #6394 closed

[2022-11-04 14:25] vbaranov commented on #6378
@avebreaks, you have broken JSON array inititally.

This one is correct:
[code]

[2022-11-04 14:25] #6378 closed

[2022-11-04 15:35] #6396 closed

[2022-11-04 16:03] Maribeludife commented on #6394
O h

[2022-11-04 19:19] NicoDFS commented on #6302
I used nginx and lets encrypt.

after you install nginx go to  `/etc/nginx/sites-available` and edit the `default` file
remove everything and replace with:

[code]

then install certbot
`sudo apt install certbot python3-certbot-nginx`
and get the ssl
`sudo certbot --nginx -d example.com -d www.example.com`

When it asks:
`Please choose whether or not to redirect HTTP traffic to HTTPS, removing HTT

[2022-11-05 10:49] Suhaimee1989 opened #6398 "Mainnet: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version:

* User Agent: `Mozilla/5.0 (Linux; Android 8.1.0; SAMSUNG SM-J710F) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/18.0 Chrome/99.0.4844.88 Mobile Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regr

[2022-11-05 13:50] Ranofty commented on #6302
Thank alot sir already done that

[2022-11-05 13:50] #6302 closed

[2022-11-05 20:44] adecarva opened #6399 "Mainnet: Pending Transaction won't execute"
*Attempted to run Claim Rank function on Xen.FYI. Transaction remained pending. Attempted to cancel transaction. Transaction remains pending. Raised Gwei fee several times to push transaction through; no success. TX Hash: 0x71ad30dae29fb5c243dfc3be122dc8363742be57545a37911117e7b1d2edab1d*

### Environment
* Elixir Version: 1.13.4
* Erlang Version: 24
* BlockScout Version: 4.1.8

* User Agent: `Chr

[2022-11-05 21:40] #6399 closed

[2022-11-06 05:39] #6398 closed

[2022-11-06 09:59] DRIgnazGortngschirl commented on #5632
Got the same issue

[code]

[2022-11-06 15:53] johnyork1 opened #6400 "C1: Downloading Trasactions"
Hello, I'm trying to download transactions in order to upload them to Koinly. It's not working.

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version: v4.1.2-beta

* User Agent: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36`

### Steps to reproduce

Enter address in the blockchain explorer: 0x79e

[2022-11-06 20:41] chefgsaroar opened #6402 "Awesome chain: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version:

* User Agent: `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to reproduce locally.*

###

[2022-11-07 02:09] 1597019255 opened #6403 "我的地址不能合约了 怎么回事 官方限制我了？"
0xa05688c8d326DfaeF80DBBfa7017aa4850a99999     请求帮我看看

[2022-11-07 04:33] avenbreaks commented on #6378
Working perfectly, thankyou

[2022-11-07 07:29] vbaranov commented on #6403
What is your issue with Blockscout? In English, please.

[2022-11-07 07:30] #6402 closed

[2022-11-07 07:59] ravirasadiya commented on #6365
is there any update on this?

[2022-11-07 08:24] nikitosing opened #6404 "Incorrect count for ERC-1155 token transfers"
https://blockscout.com/poa/core/tx/0x7875813879e1723e58760aa22069beedd45b0365c2c69dba2dbbc844803f9223

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/32202610/200261094-ce2360aa-5045-45fe-abf7-7a93e998abe6.png">

<img width="1288" alt="image" src="https://user-images.githubusercontent.com/32202610/200261021-ab971b3f-14ac-45fb-b99f-20f48e8c8e53.png">

[2022-11-07 09:53] DRIgnazGortngschirl opened #6405 "disconnected: ** (DBConnection.ConnectionError) client"
Getting DB Connection issues when using the config as below, am I doing something wrong /  config wrong ?

### Environment

* Deployment type (Docker-compose):
[code]
* Elixir & Erlang/OTP versions (`elixir -version`): -
* Node JS version (`node -v`): -
* Operating System: Debian 5.10.149-2 (2022-10-21) x86_64 GNU/Linux
* Blockscout Version/branch/commit: latest (local image build)
* Archive node

[2022-11-07 15:59] avenbreaks opened #6406 "Cannot Connect Database Dropped from queue after 2962ms"
# Cannot Connect Database PostgreSQL

Cannot Connect Database Dropped from queue after 2962ms.

[code]

### Environment

* Deployment type : `(Docker-compose)`
* Port Open : `4000, 5432, 7432, 6379, 8043, 80, 443 `
* Server : `VM Ubuntu 20.04, 12 vCPU, 64GB RAM, 2TB SSD NVMe `

### Steps to reproduce
$ cd /home/root/docker-compose
docker compose -f docker-compose.yml up --build -d
env file : https

[2022-11-07 15:59] avenbreaks commented on #6406
@vbaranov can you help me sir ?

[2022-11-07 20:03] #933 closed

[2022-11-07 23:32] avenbreaks commented on #6406
same issue, building manual

![image](https://user-images.githubusercontent.com/93043826/200437617-8eef627a-2600-406b-bdf9-6cd802dbbe07.png)

[2022-11-08 00:34] avenbreaks commented on #6406
solved, create new database, but getting new eror :

[code]

[2022-11-08 04:35] IxiekN opened #6408 "Condor-Testnet: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.4
* Erlang Version: 24
* BlockScout Version:

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to reproduce local

[2022-11-08 07:26] nikitosing commented on #6365
@chiara-andreini please, take a look: https://discord.com/channels/973915550965174292/973918718105096242/1039440522764357662

[2022-11-08 10:09] DRIgnazGortngschirl commented on #6405
After removing the ETHEREUM_JSONRPC_WS_URL Variable, all worked again :|
[code]

[2022-11-08 10:09] #6405 closed

[2022-11-08 12:40] #6408 closed

[2022-11-08 13:31] tgladilina commented on #6350
@andogro  please help us with errors texts

[2022-11-08 13:40] ulyanas commented on #6286
+ add filters for transactions

[2022-11-08 13:42] KevinSmall commented on #6245
Thanks Victor, I tried the below and `pg_isready` looks ok, but the same error appears:

<img width="947" alt="image" src="https://user-images.githubusercontent.com/5543867/200579721-29dcad4b-6e39-47b6-b9f0-0edec46a7626.png">

What could I try to diagnose further?

[2022-11-08 16:44] helderjnpinto commented on #5009
i'm getting the same problem but with small or not existent transactions for download where is the example https://explorer.tst.publicmint.io/csv-export?address=0xa0D6f62e5f987ba73A6392c78D0541a022e4E332&type=transactions

in the logs of database we got
![image](https://user-images.githubusercontent.com/12281088/200624413-eabc741f-a206-40ce-97bb-8c368cc41e9d.png)

Query:

Sometimes work with small

[2022-11-08 17:15] andogro commented on #6350
A few text suggestions:

**404 Page not found**
This page is no longer explorable! If you are lost, use the search bar to find what you are looking for.
<Return Home>

**500 Internal server error**
An unexpected error has occurred. Try reloading the page, or come back soon and try again.

**503 Service unavailable**
Hang on… we’re working on a fix! Please come back soon to try again.

**422 Reques

[2022-11-08 18:38] tgladilina commented on #6350
@andogro  "Back to home" button without changes. Right?

[2022-11-08 20:49] chiara-andreini commented on #6365
@nikitosing Thank you very much, it was exactly that! It works perfectly now.

[2022-11-08 20:49] #6365 closed

[2022-11-09 05:20] avenbreaks commented on #6406
# Cannot sync block / stuck
blocks can't sync, they get back in sync after a few minutes or a few hours. is my configuration wrong? because I installed another explorer block syncs smoothly

Blockscout Explorer
![image](https://user-images.githubusercontent.com/93043826/200744833-3c6e7fc8-740a-4798-9ca2-599a5e5fb8c7.png)

Other Explorer
![image](https://user-images.githubusercontent.com/93043826/2

[2022-11-09 13:30] Marlonph15 opened #6418 "Mainnet: Wrong receiver address"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.4
* Erlang Version: 24
* BlockScout Version: 4.1.8

* User Agent: `Mozilla/5.0 (Linux; Android 9; INE-LX2; HMSCore 6.7.0.321; GMSCore 22.15.14) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.105 HuaweiBrowser/12.1.2.312 Mobile Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push

[2022-11-09 14:50] vbaranov commented on #6418
@Marlonph15 could you elaborate on the issue?

[2022-11-09 17:40] KevinSmall commented on #6245
Hi Victor,

I noticed there is a docker install coming, [mentioned here](https://docs.blockscout.com/about/roadmap#deployment-improvements), I would like to wait for that. If you have any docs on that, I'd be happy to test it out.

This manual install is pretty complex, so I'll wait for the docker option. Fine to close this ticket.

Thanks,
Kevin.

[2022-11-09 20:12] vbaranov commented on #6245
@KevinSmall we already provide docker-compose configuration https://github.com/blockscout/blockscout/tree/master/docker-compose.

[2022-11-09 20:20] vbaranov commented on #6406
@avenbreaks you can try increasing `POOL_SIZE` environment variable, which manages DB pool size. By default, it is 50.

[2022-11-09 22:28] tzubcic-tolar opened #6425 "debug_traceTransaction failing when javascript tracer is not supported"
We are implementing a node that would supply blockscout with data through JSON RPC required APIs. We're having issues implementing debug_traceTransaction in its "limited" form, i.e. without support for the javascript tracer. Judging from the blockscout source, it should have support for it: https://github.com/blockscout/blockscout/blob/master/apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/geth/tracer.

[2022-11-10 05:27] Marlonph15 commented on #6418
Dogecoin.i make a withdrawa in MEXC platform. but input  a wrong network
address. so the fund is gone

On Wed, 9 Nov 2022, 10:50 pm Victor Baranov, ***@***.***>
wrote:

[2022-11-10 09:14] alalsa65 opened #6426 "Mainnet: <Issue Title>"
*Describe your issue here.*

I lost 101,00 DOGE after executing a deposit  from my account in Binance to Metamask. I can see the 101DOGE in the bridge of Dogechain, but they do not pass to Metamask. I've copy here all transsaction details, and you can see at the end, an "input data error of decoding". May be the cause could be this... Could you please give me some solution in order to recover my m

[2022-11-10 09:36] vbaranov commented on #6418
You should contact that platform. This issue doesn't relate to Blockscout.

[2022-11-10 09:36] #6418 closed

[2022-11-10 09:37] vbaranov commented on #6426
The issue doesn't relate to Blockscout. Please contact exchange support.

[2022-11-10 09:37] #6426 closed

[2022-11-10 09:37] vbaranov commented on #6403
Closing due to no feedback.

[2022-11-10 09:37] #6403 closed

[2022-11-10 09:37] vbaranov commented on #6400
@johnyork1 can you give the link to the explorer?

[2022-11-10 10:01] alalsa65 commented on #6426
OK. I'm sorry. I'll do it. Tank you.

________________________________
De: Victor Baranov ***@***.***>
Enviado: jueves, 10 de noviembre de 2022 9:37
Para: blockscout/blockscout ***@***.***>
Cc: alalsa65 ***@***.***>; Author ***@***.***>
Asunto: Re: [blockscout/blockscout] Mainnet: <Issue Title> (Issue #6426)

The issue doesn't relate to Blockscout. Please contact exchange support.

—
Reply to this

[2022-11-10 13:27] KevinSmall commented on #6245
ok thanks

[2022-11-10 13:27] #6245 closed

[2022-11-10 13:34] KevinSmall commented on #6406
I get same database issue, using `docker-compose up --build` eventually shows this in the docker logs for blockscout:

[code]

But the logs for postgres show it is ok:
[code]

[2022-11-10 14:24] #4773 closed

[2022-11-10 17:45] Sledro commented on #5729
We are also using a custom L2 EVM chain but it does not support Javascript `debug_Tracetransaction`. Our logs look like this a billion times:

[code]

If we disable internal transaction fetching the UI looks broken. Is there any other way to fetch internal transactions without the javascript debugger?

[2022-11-11 03:41] Integrity40 opened #6434 "Energy Web Chain: <Issue Title>"

[2022-11-11 04:21] #6434 closed

[2022-11-11 07:37] myxtype commented on #4963
[code]

[code]

This is important

[2022-11-11 12:51] AronJeames opened #6435 "how to set Coin symbol on the least version?"

[2022-11-11 12:57] AronJeames commented on #6435
on the old version  set  in apps/block_scout_web/priv/gettext/default.pot  ,   but the least version without this variable

![image](https://user-images.githubusercontent.com/109262085/201345179-dff9df0c-7717-4b35-a24e-4be1be3eee5b.png)

[2022-11-11 13:04] avenbreaks commented on #6406
try to create database new and pool_size 200

[2022-11-11 13:27] #6435 closed

[2022-11-11 13:49] avenbreaks opened #6436 "Verify Code SC Cannot Showing Compilers Version"
I Get Error Verify SC, I Cannot See Compilers Version in Explorer

### Environment

* Deployment type (Docker-compose):
* Operating System: Ubuntu 22.04

*Logs Docker SC Verifier*
[code]

[2022-11-11 13:52] avenbreaks commented on #6436
@vbaranov

[2022-11-11 17:35] sl1depengwyn opened #6437 "Logo and buttons bugs with current UI"
Logo is stretching in Safari and in Chrome on mobile
Copy and QR buttons run over each other on mobile

[2022-11-11 19:52] Azizkhan75 opened #6438 "Mainnet: <Didn't Receive DC in my trust wallet>"
Hi team

I transferred DC token to my trust wallet but didn't receive it after passing 23 hrs. The receiving address is correct and the transaction id confirms the transfer but the tokens are not reflecting in the trust wallet although I added DC as ERC20 custom token.

transaction-id : 0x63c79cb2f7c406f86884081551b2363ff180643c6aa9e9524ea27904049a1e62
Pls help;

[2022-11-12 02:44] avenbreaks commented on #6406
hello @vbaranov how to fix batch request length to long ?

`(ethereum_jsonrpc 4.1.8) lib/ethereum_jsonrpc/http.ex:135: EthereumJSONRPC.HTTP.standardize_response(%{"error" => %{"code" => -32600, "message" => "Batch request length too long"}, "jsonrpc" => "2.0"})`

[2022-11-12 08:18] ekawibisono opened #6439 "blockscout out of sync Blocks"
I'm having trouble with blockcout so when geth runs the block path is out of sync as in the snapshot view I sent

### Environment

* Deployment type : Manual
* Elixir & Erlang/OTP versions (`elixir -version`): elixir 1.13.4-otp-24 | erlang 24.3.4.1
* Node JS version (`node -v`): nodejs 16.16.0
* Operating System: Ubuntu Server 20.04
* Blockscout Version/branch/commit: [BlockScout v4.1.5-beta]
* Ar

[2022-11-13 11:50] ekawibisono commented on #6439
I closed this problem because I have found a solution. I did not add the WebSocket port less. Thank you

[2022-11-13 11:50] #6439 closed

[2022-11-13 13:31] avenbreaks commented on #6436
can't select compilers and sourcify loading

![image](https://user-images.githubusercontent.com/93043826/201524320-b06bbca3-e18c-496e-bb5e-5d965870e8de.png)

[2022-11-13 19:00] #6400 closed

[2022-11-13 19:00] vbaranov commented on #6438
The question doesn't relate to Blockscout explorer.

[2022-11-13 19:00] #6438 closed

[2022-11-13 19:04] vbaranov commented on #6436
@avenbreaks which docker-compose are you using exactly? @rimrakhimov could be anything incompatible in the latest tag of the smart-contract-verifier docker image, what could cause such issue?

[2022-11-13 19:17] vbaranov commented on #6406
@avenbreaks it is hard to say which batch request type is an exact culprit from the given information. However, you can try decreasing different batch sizes:
- first of all, you can decrease the batch size of the catchup fetcher, which is managed by `INDEXER_CATCHUP_BLOCKS_BATCH_SIZE` env variable. By default, the value is 10.
- https://github.com/blockscout/blockscout/blob/4f693e29afac4b44077275e

[2022-11-13 19:20] vbaranov commented on #6358
Closed due to no issue author response.

[2022-11-13 19:20] #6358 closed

[2022-11-13 19:21] avenbreaks commented on #6436
Use latest version

[2022-11-13 19:23] vbaranov commented on #6354
@Dev4Crypto @MyEtherAuthority it seems you're using a very old version of Geth. Can you update Geth up to 1.10.x https://github.com/ethereum/go-ethereum/releases?

[2022-11-13 19:25] #6272 closed

[2022-11-13 19:27] vbaranov commented on #6226
It is no timing out anymore. I am closing this for now.

[2022-11-13 19:27] #6226 closed

[2022-11-13 19:32] vbaranov commented on #6145
It looks like it loads it ultimately in 1 sec.

<img width="486" alt="Screenshot 2022-11-13 at 22 31 33" src="https://user-images.githubusercontent.com/4341812/201540550-119c3550-79fc-4269-88a1-32332c3e6e87.png">

I am closing this issue for now.

[2022-11-13 19:32] #6145 closed

[2022-11-13 19:36] vbaranov commented on #6144
@youngqqcn all token instances are indexed on the links provided in the issue. If the issue still persists, please re-open it.

[2022-11-13 19:36] #6144 closed

[2022-11-13 19:41] vbaranov commented on #6040
The issue resolved in https://github.com/blockscout/blockscout/pull/6327

[2022-11-13 19:41] #6040 closed

[2022-11-13 19:51] vbaranov commented on #4691
Timeout for `debug_traceTransaction ` is managed by `ETHEREUM_JSONRPC_DEBUG_TRACE_TRANSACTION_TIMEOUT` env variable now:

Reference: https://docs.blockscout.com/for-developers/information-and-settings/env-variables#indexer-management

[2022-11-13 19:51] #4691 closed

[2022-11-14 03:33] ImtiazZafar opened #6441 "Energy Web Chain: sent EWT tokens to wrong address"
*Describe your issue here.*

I have sent EWT tokens (EWT) to an EWTB address (ERC-20). Could you please send it back to:

0xf60569df71d6b82fc744270d5dafa2ce03da758b

TxHash:
0x8e36f35ad12c56ac387b4fb91907f4fe35c3e42a81248371949c18093618451b

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version: v4.1.5-beta

* User Agent: `Mozilla/5.0 (iPhone; CPU iPhone OS 15_5 like M

[2022-11-14 08:11] avenbreaks commented on #6436
[code]

`Docker Compose version v2.12.2`

[2022-11-14 08:13] avenbreaks commented on #6436
![image](https://user-images.githubusercontent.com/93043826/201608548-ed788d04-7c06-4ed2-b668-c36c925449b9.png)

[2022-11-14 09:47] tzubcic-tolar commented on #6425
@vbaranov could you check if my assumption was correct? Basically, we wanted to verify that blockscout's fallback code for nodes with no support for javascript tracer works as expected. Our current assumption is that there's an issue with it as it fails with geth's output.

[2022-11-14 12:12] rimrakhimov commented on #6436
@avenbreaks Could you please also share the config json you use, docker-compose file if anything has been changed, and the cli command you use to run the docker compose container?

[2022-11-14 12:23] nikitosing opened #6442 "Error on state changes tab for contract creation tx"
https://blockscout.com/poa/sokol/tx/0x8b56275fce04cbbafabcdd722e80b943bced274a854d64c113eb90ff0aca0b55/state

<img width="1296" alt="image" src="https://user-images.githubusercontent.com/32202610/201659021-b580db60-a530-4f85-b9f2-3fe037b7fe17.png">

[2022-11-14 13:05] avenbreaks commented on #6436
im canno't change file sc env, i just edit env for blockscout

[code]

[2022-11-15 06:31] zeus-dev opened #6448 "System requirements suggestions"
Can I run postgresql server without rds server? I need get data from Ethereum archive node.

[2022-11-15 10:43] rimrakhimov commented on #6436
What does a version list request sent directly to the verification service (e.g., `http://0.0.0.0:8043/api/v1/solidity/versions`) return?

[2022-11-15 12:51] avenbreaks commented on #6436
`{"versions":["v0.8.17+commit.8df45f5f","v0.8.16+commit.07a7930e","v0.8.15+commit.e14f2714","v0.8.14+commit.80d49f37","v0.8.13+commit.abaa5c0e","v0.8.12+commit.f00d7308","v0.8.11+commit.d7f03943","v0.8.10+commit.fc410830","v0.8.9+commit.e5eed63a","v0.8.8+commit.dddeac2f","v0.8.7+commit.e28d00a7","v0.8.6+commit.11564f7e","v0.8.5+commit.a4f2e591","v0.8.4+commit.c7e474f2","v0.8.3+commit.8d00100c","v0

[2022-11-15 12:51] sl1depengwyn opened #6451 "Fixes and improvements of verified contacts list page"
- [ ]  Fix N/A in tx count on verified contracts list page
     Without opening contract page tx count won't update and appear on verified contract list page
-  [ ]  ~~Add loading animation as on transactions page
  Sometimes page loading takes some time and it is not obvious is everything okay, because while page loads nothing happens for the user~~
- [ ] Fix page not found error while counters f

[2022-11-15 13:06] ulyanas commented on #6291
-  Add comparison benchmarks (Notion doc)

[2022-11-15 13:39] rimrakhimov commented on #6436
Hmm, it seems, that verification service works as expected, but blockscout instance cannot obtain that version list.

Could you also try to update
```image: ghcr.io/blockscout/smart-contract-verifier:${SMART_CONTRACT_VERIFIER_DOCKER_TAG:-latest}```
on
```image: ghcr.io/blockscout/smart-contract-verifier:v0.4.0```
inside your docker-compose.yml file?

[2022-11-15 16:13] avenbreaks commented on #6436
same, still erorr in compilers version not showing

logs docker :

`ghcr.io/blockscout/smart-contract-verifier:v0.4.0   "/app/smart-contract…"   8 minutes ago   Up 8 minutes   0.0.0.0:8043->8043/tcp, :::8043->8043/tcp   smart-contract-verifier`

[code]

[2022-11-16 00:40] blockinator opened #6453 "Issue connecting contract verifier service to Blockscout"
I have both Blockscout and the smart-contract-verifier running on a server and I am unable to verify smart contracts. I have both of these variables enabled for the explorer like so:
[code]

When I run this command:
[code]
I get this error:
[code]

The blockchain is based on Polygon Edge. And the Blockscout version is v4.1.8.

[2022-11-16 04:13] tejareddy8888 commented on #6267
@tonik-ru , Did you manage to resolve, I am facing the same issue using the docker-compose using the file `docker-compose-no-build-geth.yml` ?
@nikitosing , I see that `ACCOUNT_POOL_SIZE` config is not required for `no-build-geth`. So, do I have rebuild the docker images ?

[2022-11-16 08:09] ulyanas opened #6455 "Support EIP 4895 (POS withdrawals)"
https://eips.ethereum.org/EIPS/eip-4895

https://github.com/ethereum/execution-apis/blob/main/src/engine/specification.md#structures

https://www.notion.so/blockscout/Withdrawals-EIP-4895-021d95be60a1433cb8502b7b21ba084c

[2022-11-16 09:56] rimrakhimov commented on #6436
@avenbreaks For me it seems that everything should work, as expected. I was able to locally run the explorer with arguments you provided, and compilers are displayed successfully. Maybe there are some error logs from the blockscout instance?

@vbaranov Do you have any assumption why it may not work?

[2022-11-16 10:12] vrde opened #6457 "Contract verification on Sourcify doesn't show the code in the web interface"
Contract verification on Sourcify  doesn't show the code in the web interface on evm.evmos.org
Note: we use proxies.

### Environment

* Deployment type (Manual/Docker/Docker-compose):
* Elixir & Erlang/OTP versions (`elixir -version`):
* Node JS version (`node -v`):
* Operating System:
* Blockscout Version/branch/commit:
* Archive node type && version (Erigon/Geth/Nethermind/Ganache/?):

### Step

[2022-11-16 10:50] xsoft opened #6458 "Ethereum Classic: csv-export is not working"
Hi,
CSV export of ETC address will always end in 504 timeout.

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version: v4.1.8-beta

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36`

### Steps to reproduce

Try to do CSV export of one ETC adress for one year (even for one month or day).
https:

[2022-11-16 11:01] vbaranov commented on #6457
@vrde we advised evmos team to adjust environment variables for Blockscout instance in order to resolve your issue.

[2022-11-16 11:06] vbaranov commented on #6453
@blockinator

This API endpoint is exposed at the smart-contract verification service - this endpoint http://127.0.01:8043/api/v1/solidity/versions should return compiler versions.

[2022-11-16 11:12] vbaranov commented on #6436
Probably, the issue is that smart-contract verification service is not accessible via `http://host.docker.internal:8043/` endpoint from explorer application container when docker-compose is launched on Linux (or some specific version). This could be debugged by running the smart-contract verification service on another server and providing IP of that server in `RUST_VERIFICATION_SERVICE_URL` env v

[2022-11-16 11:45] tonik-ru commented on #6267
@tejareddy8888 , no. set DISABLE_TOKEN_INSTANCE_FETCHER=true
and increased maximum allowed connections to sql

[2022-11-16 12:53] avenbreaks commented on #6436
[code]

[2022-11-16 12:55] avenbreaks commented on #6436
[code]

[2022-11-16 14:16] KevinSmall opened #6459 "Installing with docker-compose gives database error"
I am trying to do the most vanilla "out of the box" install of blockscout using the docker-compose method. Starting with a clean VM and geth, and then installing blockscout with docker-compose (as described [here](https://github.com/blockscout/blockscout/tree/master/docker-compose)) I get a database error `(DBConnection.ConnectionError) connection not available and request was dropped from queue`.

[2022-11-16 15:04] #6392 closed

[2022-11-16 15:38] vbaranov opened #6460 "Add yul filter on contracts list page"
Once this PR https://github.com/blockscout/blockscout/pull/6444 is finalized, Blockscout will support the verification of Yul contracts. We need to add `yul` filter to the contracts list page as well.

<img width="437" alt="Screenshot 2022-11-16 at 18 34 35" src="https://user-images.githubusercontent.com/4341812/202224080-15672dc0-966b-4670-a0a9-380bc29d7955.png">

[2022-11-16 20:23] lukaw3d opened #6463 "Accessibility in verification form: label associations are broken"
Labels and inputs in contract verification form are not associated correctly.

For example https://blockscout.com/eth/mainnet/address/0xcDA72070E455bb31C7690a170224Ce43623d0B6f/verify-via-flattened-code/new at least these elements reference elements that don't exist:

[code]

### Environment

* Deployment type (Manual/Docker/Docker-compose):
* Elixir & Erlang/OTP versions (`elixir -version`):
* No

[2022-11-16 23:06] tejareddy8888 commented on #6267
@tonik-ru , Applied both changes then it started working, thanks.

[2022-11-17 00:43] GersonMassamiAoqui opened #6464 "Exosama: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version:

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to reproduce local

[2022-11-17 00:59] infinite404 opened #6465 "Blockscout stops File.Error"
I get the following error message:
** (File.Error) could not read file "/usr/local/blockscout/apps/block_scout_web/config/prod# run in production mode.exs": no such file or directory

### Environment

* Deployment type (Manual/Docker/Docker-compose): Manual
* Elixir & Erlang/OTP versions (`elixir -version`): OTP 24 erts-12.1 & Elixir 1.13.4
* Node JS version (`node -v`): 19.1.0
* Operating System:

[2022-11-17 01:57] alexisdavidson opened #6466 "How to verify a contract?"
*Describe your issue here.*

Hi, I'm used to verifying smart contracts on ETH pretty easily with hardhat.
Now for ETC I researched a lot and tried many different things. I might not be familiar with the concepts of flattening code, or standard input JSON.

Anyone could share with me a clear way to go through this? My smart contract imports OpenZeppelin contracts so there are dependencies as well

[2022-11-17 04:51] avenbreaks commented on #6436
Thankyou, problem solved

[2022-11-17 04:52] #6436 closed

[2022-11-17 07:22] Brunakalline opened #6467 "Gnosis Chain: BK"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version: v4.1.8-beta

* User Agent: `Mozilla/5.0 (Linux; Android 12; M2101K9AG Build/SKQ1.210908.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/107.0.5304.91 Mobile Safari/537.36 Android 1inchWallet`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible,

[2022-11-17 07:22] #6467 closed, assigned to nobody

[2022-11-17 08:31] vbaranov commented on #6463
@lukaw3d nice catch. We will take care of that.

[2022-11-17 08:45] vbaranov commented on #6466
@alexisdavidson probably, this instruction would be useful https://docs.blockscout.com/for-users/verifying-a-smart-contract/openzeppelin-contract-verification#manual-standard-input-json-with-remix

[2022-11-17 09:47] vbaranov commented on #6453
I am closing this because the same issue has been opened at https://github.com/blockscout/blockscout-rs/issues/196. Let's move the discussion there.

[2022-11-17 09:47] #6453 closed

[2022-11-17 11:49] Firoj1322 opened #6468 "FUFI Network:withdrawal"
Withdrawal from tradekia to fufi edge didn't recieve

[2022-11-17 13:56] vbaranov commented on #5950
Joined issue https://github.com/blockscout/blockscout/issues/5566

[2022-11-18 00:53] #6376 closed

[2022-11-18 09:26] #6464 closed

[2022-11-18 09:29] vbaranov commented on #6468
This chat is for technical issues with Blockscout explorer. Your question is out of the scope of competence of Blockscout team.

[2022-11-18 09:29] #6468 closed

[2022-11-18 09:33] vbaranov commented on #6465
@infinite404 please check your env variables. Probably, `prod#` is set instead of `prod` somewhere.

[2022-11-18 09:59] deepaks-scallopx commented on #5706
Facing the same issue with version 4.1.2 & 4.1.8 . Can anyone from Blockscout team suggest a solution or root cause for this issue?

[2022-11-18 10:23] vbaranov opened #6474 "Implement fetching internal transactions from tracer: callTracer"
Some forks of Geth remove JS tracer. For instance, avalanchego client did it, and here is the related issue https://github.com/blockscout/blockscout/issues/5729.

In this case, on request with JS tracer, the node responds with:
[code]

At the same time, `callTracer` option is still available:
[code]

I suggest adding the environment variable `INDEXER_INTERNAL_TRANSACTIONS_TRACER_TYPE` with the def

[2022-11-18 10:56] infinite404 commented on #6465
Thank you, I found the solution already and it's weird! Basically you have to remove the comments from the .env file. It was reading the comments as well as the vars.

[2022-11-18 11:10] #6465 closed

[2022-11-18 14:41] nikitosing opened #6477 "Add a possibility to hide "Add to MM" button"
Recently we recieved some issues related to broken read contract page because of commented `Add to MM` button (example: https://github.com/blockscout/blockscout/issues/6365).
I propose to move chain id outside this button and add `DISABLE_ADD_TO_MM_BUTTON` env

[2022-11-18 16:38] vbaranov commented on #5618
Resolved by https://github.com/blockscout/blockscout/pull/6475

[2022-11-18 21:02] vbaranov commented on #6441
This chat is for technical questions about Blockscout. Your question is out of scope.

[2022-11-18 21:02] #6441 closed

[2022-11-18 21:05] vbaranov commented on #6224
Resolved by https://github.com/blockscout/blockscout/pull/6391

[2022-11-18 21:05] #6224 closed

[2022-11-18 21:06] #6126 closed

[2022-11-18 21:08] #5997 closed

[2022-11-18 21:10] #5583 closed

[2022-11-19 10:19] rrhlrmrr opened #6480 "Block_scout_web return 404 error"
Access to Blockscout web some file return to 404
please help me

### Environment
* Deployment type (Manual/Docker/Docker-compose):
 - Manual
* Elixir & Erlang/OTP versions (`elixir -version`):
 - Elixir 1.12.2 (compiled with Erlang/OTP 24)
* Node JS version (`node -v`):
 - v12.22.9
* Operating System:
 - Liunx(Ubuntu)
* Blockscout Version/branch/commit:
 - Main Branch
* Archive node type && versio

[2022-11-19 13:40] AndreMiras commented on #6241
How did you solve it?
By the way you shared your credentials with `DATABASE_URL` above, maybe you should reset the password if you haven't already

[2022-11-21 10:18] aansheng opened #6482 "The blockchain explorer url is undefined when MetaMask adds the network"
*Describe your issue here.*

### Environment

* Deployment type (Manual/Docker/Docker-compose): Docker
* Elixir & Erlang/OTP versions (`elixir -version`):
* Node JS version (`node -v`):
* Operating System: Ubuntu 22.04.1 LTS
* Blockscout Version/branch/commit: commit aada60454505a15c96dc0d6bb3a3b472678f59d6
* Archive node type && version (Erigon/Geth/Nethermind/Ganache/?): Ganache

### Actual beha

[2022-11-21 11:43] vbaranov opened #6483 "Wrong token type definition for ERC-1155, which support ERC-20 interface"
[This token](https://blockscout.com/eth/mainnet/token/0x10e79d0117865b48c825f7db7533ed619d68aac3/token-transfers) supports both transfer interfaces: transfer (`0xddf252ad`) and transferSingle (`0xc3d58168`), judging by https://blockscout.com/eth/mainnet/tx/0xa73bc289364059a71e07b7cf988e137b23ee0bb40174aff026357478a70f6795/logs. Blockscout recognized this token as ERC-20, but it should be recognize

[2022-11-21 14:54] nikitosing commented on #5389
@kj-crypto I think you need to use `/api?module=contract&action=verify` It allows do what you want. `verifysourcecode` serves for verification via standard JSON input
About compiler versions such approach won't work since we can have different commits for one version of compiler. Also in such a case will be impossible to handle nighlty versions

[2022-11-21 14:54] #5389 closed

[2022-11-21 16:21] smarthost-tr opened #6485 "Contract verify ()"
*Describe your issue here.*

### Environment

* Deployment type (Manual/Docker/Docker-compose):Docker-compose
* Elixir & Erlang/OTP versions (`elixir -version`):
* Node JS version (`node -v`):
* Operating System: doker
* Blockscout Version/branch/commit:
* Archive node type && version (Erigon/Geth/Nethermind/Ganache/?):GETH

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you

[2022-11-21 18:28] nikitosing commented on #5686
@mfolnovic could you please share contracts code for reproducing this case?

[2022-11-21 19:45] vbaranov opened #6489 "Neon: ** (FunctionClauseError) no function clause matching in Indexer.Transform.AddressCoinBalances.transactions_params_reducer/2"
[code]

[2022-11-22 06:10] avenbreaks opened #6490 "Costume Theme Cannot Change"
im trying to change UI theme in blockscout neutral_var to ether_var but UI cannot change

### Environment
* Deployment type (Docker-compose): latest
* Operating System: Ubuntu
* Blockscout Version/branch/commit: v4.1.3

### Steps to reproduce

### Expected behaviour

![image](https://user-images.githubusercontent.com/93043826/203237909-257f8de7-d76f-4992-9254-d972c8c3c701.png)

[2022-11-22 06:38] avenbreaks commented on #6490
Im running using docker sir, position blockscout running and i try to command : docker-compose up -d

[2022-11-22 06:53] vbaranov commented on #6490
Then you need to rebuild the image: `docker-compose up --build`

[2022-11-22 09:02] AndreMiras commented on #6448
Maybe that could help https://docs.blockscout.com/for-projects/resource-requirements
Otherwise maybe try on Discord https://discord.gg/blockscout

[2022-11-22 13:04] ulyanas commented on #6291
https://resisted-spectacles-c10.notion.site/Research-Google-Cloud-AlloyDB-448cb74c44ea43699ab99e87cd3a0360

[2022-11-22 13:09] ulyanas commented on #6291
https://blockscout.com/eth/alloy/

[2022-11-22 13:18] ulyanas commented on #6345
@vbaranov  @Qwerty5Uiop  Please add tasks with priorities

[2022-11-22 13:28] ulyanas commented on #6289
@tgladilina  Please add tx actions mockups

[2022-11-22 13:29] ulyanas commented on #6289
need to add tasks

[2022-11-22 15:44] vbaranov commented on #6268
This should be resolved with https://github.com/blockscout/blockscout/pull/6492. This has been merged to master branch.

[2022-11-22 15:44] #6268 closed

[2022-11-22 16:14] varasev commented on #6289
Current subtasks (as of 2022-11-22):
- finish displaying tx actions for Uniswap V3 in the new UI (for Mainnet, Optimism, and Polygon)
- make a background process of actions indexing for old transactions (indexed before tx actions module is installed in production)
- implement displaying tx actions of other prioritized protocols/events (opensea, zkbob, wrapping/unwrapping native coins, ERC20 token

[2022-11-22 20:08] maslowalex commented on #6425
@tzubcic-tolar looking at the [documentation](https://geth.ethereum.org/docs/evm-tracing/builtin-tracers) it seems like the following changes will do the trick:
[code]
So, my point is `"debug_traceTransaction"` method expects `tracer` to be provided: https://geth.ethereum.org/docs/evm-tracing/builtin-tracers

You can pick whatever tracer suits your needs.

[2022-11-22 21:55] cognivore commented on #6425
If your geth-like EVM implementation doesn't support JS tracers, it should still have an inbuilt "callTracer" tracer, which @maslowalex mentioned.

That said, if your implementation doesn't have "callTracer", it seems like you're [out of luck](https://github.com/blockscout/blockscout/issues/5729#issuecomment-1310661987), #6474.

### If you want to understand the details of the error anyway

If you

[2022-11-23 08:48] tgladilina commented on #6289
**mockup**
https://www.figma.com/file/4In0X8UADoZaTfZ34HaZ3K/Blockscout_v1_Chakra?node-id=4876%3A60256&t=3jH0aR6Y8G04Icex-4

<img width="1105" alt="Screenshot 2022-11-23 at 11 46 29" src="https://user-images.githubusercontent.com/103045386/203504191-410b7fd5-8ef7-44c1-896c-ddabe2235489.png">

**etherscan samples**
<img width="963" alt="Screenshot 2022-11-23 at 11 12 45" src="https://user-images.gi

[2022-11-23 10:07] vbaranov commented on #6291
Migration to AlloyDB for ETH Mainnet instance has been finished

https://blockscout.com/eth/alloy -> https://blockscout.com/eth/mainnet (now running on AlloyDB)
Final report about queries execution speed comparison between RDS and AlloyDB:
https://resisted-spectacles-c10.notion.site/Research-Google-Cloud-AlloyDB-448cb74c44ea43699ab99e87cd3a0360

[2022-11-23 10:07] #6291 closed

[2022-11-23 12:12] rushiraj111 opened #6493 "Error while running with polygon-edge (Ganache)"
I am using Polygon-edge which uses Ganache client and I am trying to run Blockscout for a few days now but cannot get it to work. The indexer shows failed to validate error for every block. Please help me with this.

ERROR::

` 2022-11-23T11:58:06.485 application=indexer fetcher=block_catchup first_block_number=60 last_block_number=51 step=import [error] failed to validate: [#Ecto.Changeset<action

[2022-11-23 12:14] tzubcic-tolar commented on #6425
@maslowalex @cognivore Thank you for the responses. Does that mean that I misunderstood the point of the code inside apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/geth/tracer.ex? The comment on the top says: "for variants that don't support specifying tracer in [debug_traceTransaction]". The code handles output with "structLogs".

We started with implementation of trace API that returns data when tra

[2022-11-23 13:21] #6493 closed

[2022-11-23 14:40] helderjnpinto commented on #5009
i updated for version 4.18 and it's working fine for now. last test i exported 800 transactions and it's relativelly fast.

[2022-11-23 15:25] spygirl2000 opened #6494 "[L2 MAIN] Scroll: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version: 0.2

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36 Edg/107.0.1418.52`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can

[2022-11-23 15:38] iqbalsingh108 opened #6495 "Smart contract verifier is giving error while compiling"
Please help me on this issue
![image](https://user-images.githubusercontent.com/4157381/203587334-18145f45-75a1-4a57-b91f-64c7b7abf910.png)

[2022-11-23 20:09] maslowalex commented on #6425
@goodsoft Hello! Could you please elaborate on this one as an author of most of the `tracer.ex` code? Maybe we are missing / misusing something?

[2022-11-23 20:11] borantovas opened #6499 "Mainnet: <Issue Title>"
Hi, I sent DC from the MEXC exchange to my Metamask wallet, this amount is reflected in the explorer, it is not in the wallet. What to do?

*Describe your issue here.*

### Environment
* Elixir Version: 1.13.4
* Erlang Version: 24
* BlockScout Version: 4.1.8

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36`

### Steps t

[2022-11-23 20:18] vbaranov commented on #6499
You should ask in exchange support. This chat is for technical questions with Blockscout explorer.

[2022-11-23 20:18] #6499 closed

[2022-11-23 20:19] #6494 closed

[2022-11-23 20:28] borantovas commented on #6499
In the explorer, this transaction is executed, but in fact there are no coins. https://explorer.dogechain.dog/tx/0x827b720a154d22946c9119185683c62acc17b4be82f5a8badf3313e803b18ad2

[2022-11-23 20:37] borantovas opened #6500 "Mainnet: <Issue Title>"
Hi, I sent DC from the MEXC exchange to my Metamask wallet, this amount is reflected in the explorer, it is not in the wallet. What to do?

In the explorer, this transaction is executed, but in fact there are no coins. https://explorer.dogechain.dog/tx/0x827b720a154d22946c9119185683c62acc17b4be82f5a8badf3313e803b18ad2

I contacted MEXC, they said that the transfer was completed and everything was

[2022-11-23 20:51] borantovas commented on #6500
The issue has been resolved. Sorry to disturb

[2022-11-23 20:52] vbaranov commented on #6350
@tgladilina we also have this page when requesting, for instance, inexistent tx. An example https://blockscout.com/eth/mainnet/tx/0xf2d240e5399050130ac38911b35e6d46a828b80f29b35056ef9d7c70f453ea03:

<img width="1164" alt="Screenshot 2022-11-23 at 23 45 36" src="https://user-images.githubusercontent.com/4341812/203643135-4cf30e3f-e7ec-43b7-8063-a1b6f29b39fc.png">

With the new styles, implemented b

[2022-11-23 20:53] #6500 closed

[2022-11-23 20:53] vbaranov commented on #6490
I am closing this. Please re-open, if the issue is still present.

[2022-11-23 20:53] #6490 closed

[2022-11-23 20:53] #6485 closed

[2022-11-23 23:11] goodsoft commented on #6425
Frankly, I have little recollection of what is happening here, and I haven't touched Elixir for 3 years.

As for general motivation for the code in `tracer.ex`, you might want to check out the original commit description: https://github.com/blockscout/blockscout/commit/1aeea2b9cad20ad0b2a79dad2c8e26c1eb1658c3

My wild guess is that the output of your node differs from what we expect. Specifically,

[2022-11-24 09:45] #6442 closed

[2022-11-24 17:56] mru8040 opened #6503 "[L2 MAIN] Scroll: <Issue Title>"
![Screenshot_2022-11-24-23-25-29-866_com kiwibrowser browser](https://user-images.githubusercontent.com/95074164/203844305-d01b91d6-10d2-420e-b7b5-b8e65ee1e066.jpg)
![Screenshot_2022-11-24-23-25-33-591_com kiwibrowser browser](https://user-images.githubusercontent.com/95074164/203844309-23fada07-9142-4c77-b514-056048f6989f.jpg)
![Screenshot_2022-11-24-23-25-29-866_com kiwibrowser browser](https://

[2022-11-24 17:57] mru8040 commented on #6503
Each process work very fast

[2022-11-24 19:59] Nizomjon1994 commented on #6267
application=db_connection [error] Postgrex.Protocol (#PID<0.4102.0>) failed to connect: ** (Postgrex.Error) FATAL 53300 (too_many_connections) sorry, too many clients already

I am getting this error, any solution ?

[2022-11-24 21:00] tejareddy8888 commented on #6267
Did you already check the above two suggestions.

1) DISABLE_TOKEN_INSTANCE_FETCHER=true
2) starting the postgres service with max_connections greater than 250

If yes, what is the method you are trying to start the explorer ?

[2022-11-25 04:47] iqbalsingh108 opened #6508 "Explorer smart verifier is not working on my end"
Giving below giving errors why this is happening,Please help if there is something wrong on my end.
Smart verifier is not working
![image](https://user-images.githubusercontent.com/4157381/204261121-4492837d-ec00-4bca-b89a-192085541968.png)

[2022-11-25 06:31] Takaya6388 opened #6509 "Mainnet: <DOGE Coin sent via Dogechain not received >"
*DOGE Coin sent via Dogechain not received *

### Environment
* Elixir Version: 1.13.4
* Erlang Version: 24
* BlockScout Version: 4.1.8

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:107.0) Gecko/20100101 Firefox/107.0`

### Steps to reproduce

*I sent my DOGE in Dogechain 6 days ago and it shows it is successful but the destination wallet didnt receive it*

### Expected Behaviour

*

[2022-11-25 08:19] vbaranov commented on #6509
This chat is for technical questions about the explorer. Your question is out of scope.

[2022-11-25 08:19] #6509 closed

[2022-11-25 08:20] vbaranov commented on #6503
This chat is for technical questions about the explorer. Your question is out of scope.

[2022-11-25 08:20] #6503 closed

[2022-11-25 08:21] vbaranov commented on #6508
Blockscout's default port is 4000. Did you change it to 80? If not try opening the application at 4000 port.

[2022-11-26 08:00] soltani59 opened #6513 "Gnosis Chain: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version: v4.1.8-beta

* User Agent: `Mozilla/5.0 (Linux; Android 12; 2201116TG) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Mobile Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can ru

[2022-11-26 18:27] #6513 closed

[2022-11-27 14:34] Kisia9292 opened #6514 "BAS mainnet: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version:

* User Agent: `Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/107.0.5304.101 Mobile/15E148 Safari/604.1`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression te

[2022-11-27 18:34] #6514 closed

[2022-11-27 18:36] #6301 closed

[2022-11-27 19:24] vbaranov commented on #6350
@tgladilina ping

[2022-11-27 20:03] MUSS239 opened #6516 "Testnet: <Issue Title>"
*No technical issue, but the dark mode of the explorer is not readable due to the color selection*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version:

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36 Edg/107.0.1418.56`

### Steps to reproduce

*Tell us how to reproduce this issue. If pos

[2022-11-27 20:46] vbaranov commented on #6516
@MUSS239 which instance of Blockscout are you talking about?

[2022-11-28 05:00] iqbalsingh108 commented on #6508
![image](https://user-images.githubusercontent.com/4157381/204197459-a6c5a564-85ad-456b-9eaf-9a9e19dbdf80.png)
This is the another error when i restart the app with latest codebase with manual deployment.

[2022-11-28 05:03] iqbalsingh108 commented on #6508
@vbaranov And also i've deployed smart contract verifier but there is not verify and publish button here.

![image](https://user-images.githubusercontent.com/4157381/204197815-73da96d8-4242-40d3-ab20-4c46fb9a1cf0.png)

[2022-11-28 10:21] nikitosing opened #6517 "`/stats/charts/market`"

[2022-11-28 10:21] #6517 closed

[2022-11-28 10:59] iqbalsingh108 commented on #6508
Any help form @vbaranov from your side.If you can please look into it.Branch is main for smart-verifier

[2022-11-28 11:11] tgladilina commented on #6350
Thank you

[2022-11-28 11:34] #5675 closed

[2022-11-28 11:34] #5746 closed

[2022-11-28 11:34] #6463 closed

[2022-11-28 11:34] #4571 closed

[2022-11-28 15:58] vbaranov opened #6518 "Conflict of events in token transfer causes internal server error on token transfers page"
https://blockscout.com/eth/mainnet/token/0x1d5fB77d36AF3089bb722692D1cDB168e57b89Ce/token-transfers

<img width="515" alt="Screenshot 2022-11-28 at 18 55 26" src="https://user-images.githubusercontent.com/4341812/204322694-f6357726-b89b-4125-bbd3-adb54b292aef.png">

Token has both events emitted in this tx: transfer as ERC-20 and TransferSingle as ERC-1155:
https://blockscout.com/eth/mainnet/tx/0x

[2022-11-29 06:13] Ryuklasnic opened #6521 "MET: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version:

* User Agent: `Mozilla/5.0 (Linux; Android 11; SM-A217F) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Mobile Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to reproduc

[2022-11-29 06:25] #6521 closed

[2022-11-29 08:49] SinghSantosh-19 opened #6522 "Ethereum Classic: <Wrong balance>"
*Blockscout rest api return incorrect balance for below addresses at block number 16436522*
0x063a62060e6720b4da2e0911fb120e238444ebf9
0x06bbac0db47c17fcb89599b76584763a880f13c9
0x1220a50706b347fc69da0458897f28acab50a700

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version: v4.1.8-beta

* User Agent: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36

[2022-11-29 11:44] isingh108 opened #6524 "Unable to verify smart contracts: POST /verify_smart_contract/contract_verifications returns NO CONTENT"
*Unable to verify smart contracts: POST /verify_smart_contract/contract_verifications returns NO CONTENT*

### Environment

* Deployment type: Docker-compose
* Elixir & Erlang/OTP versions (`elixir -version`): Elixir 1.13.1 & Erlang/OTP 24 [erts-12.2]
* Node JS version (`node -v`):  v16.13.1
* Operating System: ubuntu 20.04 LTS
* Blockscout Version/branchcommit: 4.1.8/master/1b621c724b8a46e8fe0dfc

[2022-11-29 13:07] ulyanas opened #6525 "Migrate Goerli Blockscout to AlloyDB"

[2022-11-29 20:11] jtbeckman opened #6528 "Broken "AddMethodIdIndex" Migration in Latest"
We are receiving the follow error from the db migration script upon deploy the _latest_ version. Note we do recognize this is not an officially cut release, but we wanted to create an issue in case the problem has not yet been reported.
[code]

### Environment

* Deployment type (Manual/Docker/Docker-compose): Docker
* Elixir & Erlang/OTP versions (`elixir -version`):
* * elixir 1.14.1
* * erlang

[2022-11-30 04:26] vijay-immanent commented on #6524
Hmm 🤔 , I've been browsing the source code to figure out how this works and so far, I've been able to surmise the following:

![Solidity Contract Verifier Controller](https://user-images.githubusercontent.com/101624639/204706438-46b039c1-3834-4453-be01-4e39ad61345a.png)

The relevant controller forwards the contract verification request to a worker and then returns status 204 without waiting for t

[2022-11-30 07:05] vijay-immanent commented on #6524
I believe the response should be coming back as a websocket message but it doesn't. I kept waiting for more than 10 minutes.
![imgpsh_fullsize_anim (1)](https://user-images.githubusercontent.com/101624639/204729914-f06397d7-9895-4cf2-bc39-47fffe196298.png)

[2022-11-30 09:25] dlugo39 opened #6529 "Mainnet: <Issue Title>"
*Describe your issue here.*
I tried to send my dogechain into my coinbase as ETH but the transaction failed. I’d like to either get the coins back into my Metamask or for the transaction to be sent to my coinbase please.
### Environment
* Elixir Version: 1.13.4
* Erlang Version: 24
* BlockScout Version: 4.1.8

* User Agent: `Mozilla/5.0 (iPhone; CPU iPhone OS 15_7_1 like Mac OS X) AppleWebKit/605.

[2022-11-30 10:41] vbaranov commented on #6529
You should ask Coinbase support. This question is out of the scope of Blockscout support.

[2022-11-30 10:41] #6529 closed

[2022-11-30 10:49] MolaXBaby opened #6530 "none[L1 MAIN] Scroll: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.13.1
* Erlang Version: 24
* BlockScout Version: 0.2

* User Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to reproduce l

[2022-11-30 10:56] #6530 closed

[2022-11-30 13:19] #6528 closed

[2022-11-30 15:40] Sledro commented on #6474
Hey guys, is there any rough ETA on this feature? Thanks! :)