[2019-01-28 20:14] acravenho commented on #1378
Could be caused by #1382

[2019-01-29 08:04] hephaistosJo opened #1383 "I'd like to add a new API."
I would like to add new APIs such as "eth_sendRawTransaction" and "eth_call."
What should I do? And do you have any way to communicate with DAEMON directly?

[2019-01-29 23:17] acravenho opened #1386 "Update xDai Supply Module to read the Smart Contract"
Previously we would look for xDAI sent to the burn address (0x00000000) to calculate the burnt coins on the xDAI Chain. The smart contract no longer sends these coins to this address breaking our Marketcap calculation. We should read directly from the smart contract to obtain the burnt coins. Here is an example provided by the Bridge repo:

https://github.com/poanetwork/bridge-ui/blob/3f8c7139125d

[2019-01-30 03:31] ryan-shea commented on #944
hey @acravenho what ended up happening here?

[2019-01-30 03:32] Lokraan commented on #944
I still need to claim.

On Tue, Jan 29, 2019, 9:31 PM Ryan Shea <notifications@github.com wrote:

[2019-01-30 07:55] rjl493456442 opened #1387 "Question: How can I customize coin symbol"
As the title described, how can I customize the coin symbol?

I use the `COIN` environment variable to set the coin as `ETH`, but it seems only to affect the market value, but doesn't change the coin symbol.

![image](https://user-images.githubusercontent.com/5959481/51966326-2c20db80-24a7-11e9-8765-ae1b84339b03.png)

The coin symbol in the screenshot should be `ETH`

[2019-01-30 09:25] acravenho commented on #1387
@rjl493456442

Most of the text in BlockScout utilizes `gettext` which creates `po` and `pot` files in the `BlockScoutWeb` Umbrella application.

To edit these values, check the msgid/msgstr in the following files:

https://github.com/poanetwork/blockscout/blob/master/apps/block_scout_web/priv/gettext/en/LC_MESSAGES/default.po

https://github.com/poanetwork/blockscout/blob/master/apps/block_scout_

[2019-01-30 09:34] acravenho commented on #1383
Hey @hephaistosJo,

We do not currently support sending transactions through BlockScout. In our v2 this may be implemented. We currently do not support talking directly to the node except through either the `indexer` or `ethereum_jsonrpc` umbrella applications.

[2019-01-30 10:36] igorbarinov commented on #1387
Let's add it to FAQ section on the forum

[2019-01-30 11:25] vbaranov opened #1389 "Unable to verify ERC-20 token contract. No Code tab."
I am unable to verify ERC-20 token contract because of the absence of **Code** tab.

![screenshot 2019-01-30 at 14 24 11](https://user-images.githubusercontent.com/4341812/51978249-c169a300-249a-11e9-9377-698127a146a8.png)

I am trying to verify POA20 smart-contract **0x6758b7d441a9739b98552b373703d8d3d14f9e62** in the Main Ethereum network

[2019-01-30 14:41] 7-of-9 opened #1390 "Public Blockscout API instances?"
Hi all, and thanks for making Blockscout open source, it's definitely filling a big hole in the Ethereum space. I'm developing a multi-asset wallet, which has led me to Blockscout. First impressions are extremely positive.

My question is: is it OK to use the public APIs (e.g. https://blockscout.com/eth/mainnet/api_docs) for a third-party wallet? I'm using etherscan at the moment, but of course am

[2019-01-30 16:35] igorbarinov commented on #1390
Yes, it's fine. If you write about your case here https://forum.poa.network/c/blockscout we will include it into our marketing materials

it could be your scaling solution later. Although, it's very resource consuming to host your very own instance of BlockScout.

Thanks for the point. @SiddigZeidan please create a post of the forum regarding API rate limits of BlockScout. At the moment we have a

[2019-01-30 17:35] shisoft opened #1391 "Cannot build the docker container for ethereum_jsonrpc is comiling with warnings-as-errors option"
*Describe your issue here.*

Ubuntu 18.04 with Docker

### Steps to reproduce

make start

### Expected behaviour

At least the container image can be built

### Actual behaviour

Compilation failed, with all tags that have docker files.
[code]

[2019-01-30 17:48] acravenho commented on #1391
I'm assuming that you're using Elixir 1.8 which we do not support. Please downgrade to 1.7.4.

[2019-01-30 18:23] dmorris99 commented on #1390
@igorbarinov -- thank you, understood.

That's a very decent API limit. I will for sure do a write-up on the use case, and of course include a credit to BlockScout when it's released!

[2019-01-30 19:18] shisoft commented on #1391
Anything I can do for a quick fix?

[2019-01-30 19:44] acravenho commented on #1391
@shisoft You're going to want to use the `1.7.3` version of `bitwalker/alpine-elixir-phoenix`. That should remove those compiling errors. The other work around is to use `MIX_ENV=dev` instead of `MIX_ENV=prod`.

[2019-01-30 19:46] acravenho commented on #1389
I have a test build up now. Hopefully I can have this deployed to production later this evening.

[2019-01-30 19:55] shisoft commented on #1391
Setting `MIX_ENV=dev` procedures another error.
[code]

I will try the downgrade approach.

[2019-01-30 20:16] shisoft commented on #1391
On container startup on am getting another error, which I think is it build process related for it indicates missing static manifest.
[code]

[2019-01-30 21:40] acravenho commented on #1391
The application is unable to connect to your node. Please make sure WebSockets is enabled in your node configuration and you've defined it as an environment variable correctly.

[2019-01-30 22:15] brianmcmichael opened #1392 "(CaseClauseError) no case clause matching: :ignore"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):

[code]

* Operating System:

  * Ubuntu 18.04

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

Running geth 1.8.21-stable on a clique-based POA network, after the application starts th

[2019-01-30 22:21] brianmcmichael opened #1393 "Optionally configure block-scout-web certfile and keyfile via envvar"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`): n/a
* Operating System: ubuntu 18.04

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

I want to be able to configure [certfile](ht

[2019-01-31 00:55] #1379 closed

[2019-01-31 02:44] rjl493456442 commented on #1387
After I change `msgstr "POA"` to `msgstr ""` in line 405, it works!

[code]

But when the container starts, it will print such error message and the Transaction frame is empty.

[code]

And **about one minute later**, this type of error message disappears and the Transaction frame begins to show the transactions information.

I didn't see this error message before, is it relative with my changes?

[2019-01-31 03:14] acravenho commented on #1387
@rjl493456442 https://github.com/poanetwork/blockscout/blob/32107089d5b03ace9ec2f89dc9fe3f6386422bef/apps/indexer/lib/indexer/block/realtime/fetcher.ex#L212-L231

This is trying to determine where to start the realtime fetcher. I haven't seen this error but will keep an eye out for it. The change you made wouldn't affect this error.

[2019-01-31 06:46] Ali8668 opened #1395 "Ethereum Classic: <Issue Title>"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
* Operating System:

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

*Tell us what happens instead.*

[2019-01-31 06:47] #1395 closed

[2019-01-31 09:05] acravenho commented on #1378
Fixed by adjusting the `reorg_delay`:

https://github.com/poanetwork/blockscout/blob/32107089d5b03ace9ec2f89dc9fe3f6386422bef/apps/indexer/lib/indexer/block/realtime/fetcher.ex#L239

[2019-01-31 09:05] #1378 closed

[2019-01-31 09:23] acravenho opened #1397 "xDAI Beneficiaries Type external"
[code]

[2019-01-31 16:39] brianmcmichael commented on #811
+1 on this feature.

[2019-02-01 06:49] HanungLee commented on #1248
which toml file should I modify?

[2019-02-01 08:44] acravenho commented on #1382
Fixed by adjusting reorg_delay

https://github.com/poanetwork/blockscout/blob/32107089d5b03ace9ec2f89dc9fe3f6386422bef/apps/indexer/lib/indexer/block/realtime/fetcher.ex#L239

[2019-02-01 08:44] #1382 closed

[2019-02-01 13:12] #666 closed

[2019-02-01 13:13] acravenho commented on #663
Resolved by sweeping windows

[2019-02-01 13:13] #663 closed

[2019-02-01 13:13] #224 closed

[2019-02-04 13:33] karalabe opened #1404 "Block 0 missing on Clique testnets"
Just noticed that the genesis blocks cannot be retrieved from Clique based networks:

 * Rinkeby: https://blockscout.com/eth/rinkeby/blocks/0/transactions
 * Goerli: https://blockscout.com/eth/goerli/blocks/0/transactions

[2019-02-04 15:35] acravenho commented on #1404
Hey @karalabe

Thank you for pointing this out. We will be covering this issue next. I'll provide an update as we progress :+1:

[2019-02-04 16:09] brianmcmichael opened #1405 "Total Transactions is not updating. Store Total Transactions in ETS table"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`): Erlang/OTP 21 [erts-10.2.3] [source] [64-bit] [smp:2:2] [ds:2:2:10] [async-threads:1] [hipe]

Elixir 1.8.1 (compiled with Erlang/OTP 20)

* Operating System: Ubuntu 18.04

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test

[2019-02-04 16:11] acravenho commented on #1405
Hi @brianmcmichael,

Can you please run `vacuum analyze transactions;` in Postgres?

[2019-02-04 16:51] brianmcmichael commented on #1405
Hi @acravenho

I did this and now the total transactions lists the total at the time of the vacuum. I ran some new transactions on the network and those updated the 'total transactions' value on the client side in real time, however when I refreshed the page the total transactions reverted to the post-vacuum value.

[2019-02-04 16:52] acravenho commented on #1405
Did you restart blockscout after running the vacuum and analyze?

[2019-02-04 16:53] acravenho commented on #1405
We use `reltuples` for quick estimations of the total number of transactions. If this continues we can create an Erlang Term Storage table to pull this total transaction data from instead of using this reltuples count.

[2019-02-04 16:55] brianmcmichael commented on #1405
Yes, rebooted the server entirely.

[2019-02-04 16:57] acravenho commented on #1405
Okay, let's move forward with creating an `:ETS` table to store the total transactions in memory.

[2019-02-04 16:57] brianmcmichael commented on #1405
Ah, https://www.postgresql.org/docs/9.2/row-estimation-examples.html

`These numbers are current as of the last VACUUM or ANALYZE on the table.`

So we may need to increase autovacuum frequency.

[2019-02-04 16:59] acravenho commented on #1405
[code]

[2019-02-04 17:35] brianmcmichael commented on #1404
One thing to note, our PoA block 0 has about 20 accounts which each have 0x200000000000000000000000000000000000000000000000000000000000000 poa eth in them. Large number support will be required in this feature.

[2019-02-04 18:00] #1397 closed

[2019-02-04 18:55] mkrufky opened #1406 "Page renders but never loads data on IOS / FireFox / Safari"
It has been noted that on IOS Mobile and on OSX (tested on a MacBookPro) that the page will render but data never loads, while the UI displays the "Loading..." animation forever...

![image](https://user-images.githubusercontent.com/1062488/52229839-dfad1580-2883-11e9-9fc8-5b087ff69552.png)

### Environment

* seen both on IOS mobile and OS/X on a MacBookPro

### Steps to reproduce

Open BlockScou

[2019-02-04 18:58] acravenho commented on #1406
This is an indication that there is an error installing node modules. Is this running `MIX_ENV=dev` or `MIX_ENV=prod`?

If `prod`, please make sure you run `mix phx.digest`.

[2019-02-04 19:18] mkrufky commented on #1406
It was running `MIX_ENV=prod` under the docker environment.   Please forgive me, but can you describe at which point in the `Dockerfile` I should run `mix phx.digest` ?

[2019-02-04 19:20] acravenho commented on #1406
This would be run before starting the server `MIX_ENV=prod mix phx.server`. This creates all the production static assets and places them in a static folder located here: https://github.com/poanetwork/blockscout/tree/master/apps/block_scout_web/priv/

[2019-02-04 20:07] #1381 closed

[2019-02-04 20:49] acravenho opened #1408 "DB Performance Queries v2"
## Pages
The list below includes links to specific pages that still are loading slow or fail to load.

* https://blockscout.com/eth/mainnet/tokens/0x08ceed1e8db59acbb687a5752f0a7db815cfda5e
* https://blockscout.com/eth/mainnet/tokens/0x595832f8fc6bf59c85c527fec3740a1b7a361269/token_transfers
* https://blockscout.com/eth/mainnet/tokens/0x06012c8cf97bead5deae237070f9587f8e7a266d/token_transfers

##

[2019-02-04 21:48] mkrufky commented on #1406
This patch does not solve the problem:
[code]

[2019-02-04 22:05] mkrufky commented on #1406
Likewise, the following patch ALSO fails to solve the problem:
[code]

[2019-02-04 22:06] mkrufky commented on #1406
I also tried this....   maybe the `--rm` argument is the culprit:
[code]
same behavior, no change

[2019-02-04 22:07] acravenho commented on #1406
Let me take some time tonight and tomorrow morning to walk through it. I'll report back.

[2019-02-04 22:07] mkrufky commented on #1406
Thank you very much - I really appreciate the help.

[2019-02-04 22:09] acravenho commented on #1406
Not Docker but this is what people are using on Azure to launch a BlockScout instance. Not sure if it's any help to you.

https://github.com/acravenho/blockchain/blob/ac-fix-blockscout-install-script/ledger/template/ethereum-on-azure/technology-samples/blockscout/install_blockscout.sh

[2019-02-04 22:22] #1392 closed

[2019-02-04 22:22] #1404 closed

[2019-02-05 17:16] #76 closed

[2019-02-05 17:16] #1368 closed

[2019-02-05 17:49] acravenho opened #1411 "ranges (first..last) expect both sides to be integers, got: nil..nil"
Receiving this error on Kovan after the latest deployment.

[code]

[2019-02-05 18:50] acravenho commented on #1411
This bug was caused by a `dropped/replaced` transaction without a block number. To find this transaction run

[code]

[2019-02-05 21:36] acravenho commented on #1408
Hey @svenski123,

Let's have a chat when you have time so I can share some credentials with you of a test database for a better insight into what we're experiencing.

[2019-02-06 11:35] Deveshs23 opened #1413 "Why i'm getting this error ? Please Help."
#make start
==> Checking for blockscout image blockscout_prod
==> Image exist. Using blockscout_prod
==> Checking PostrgeSQL container
==> PostgreSQL Already started
==> Starting blockscout
WARNING: Published ports are discarded when using host network mode
2019-02-06T11:32:13.121 [warn] The on_load function for module libsecp256k1 returned:
{:error, {:load_failed, 'Failed to load NIF library: \'E

[2019-02-06 14:34] svenski123 commented on #1408
Hi @acravenho, thanks for allocating the issue to me and I've just DM'd you on gitter.

[2019-02-06 14:42] acravenho opened #1415 "Could not insert all of chunk into Elixir.Explorer.Chain.Address"
The realtime indexer and catchup indexer are both broken on Kovan. I've turned off almost every fetcher and am still not able to index blocks.

[code]

[2019-02-06 14:50] acravenho commented on #1415
I'm seeing tons of these ON CONFLICT statements for the address table in the DB

[code]

I'm also seeing the same amount of these queries:

[code]

[2019-02-06 14:57] acravenho commented on #1415
![kovanwaits](https://user-images.githubusercontent.com/17620007/52349999-a2689500-29f5-11e9-97dd-8f88de25039a.png)

[2019-02-06 15:54] acravenho commented on #1415
Error logs from the last hour.
[error.log](https://github.com/poanetwork/blockscout/files/2837100/error.log)

[2019-02-06 17:02] acravenho commented on #1415
I found the issue :grimacing:

We had ~1250 addresses in the `addresses` table that did not contain `fetched_coin_balance_block_number = nil`. When the contract code fetcher was trying to update these rows they were failing.

[2019-02-06 17:43] acravenho opened #1416 "ERROR 21000 (cardinality_violation)"
When trying to deploy to Mainnet I'm receiving these cardinality violations for block rewards.

[code]

[2019-02-06 17:45] acravenho opened #1417 "Create GraphQL Playground Example"
Users should be shown an example when entering the GraphQL playground on BlockScout. This makes it much easier to interact with the chain and learn the potential that GraphQL has to offer. The example we should use is to get the transaction details from either a specific transaction or from a recent block.

[2019-02-06 19:04] acravenho commented on #1417
Here is an example query for a transaction in GraphQL

[code]

[2019-02-07 03:49] dwalintukan commented on #1406
We are experiencing the same issues with our iPhones as well. Android (with Chrome) has been confirmed to be working.

[2019-02-07 03:51] acravenho commented on #1406
I'm having a very difficult time replicating this issue. I'm seeing everything working normally. I've asked one of our developers to look into the issue. I'm waiting on a response.

[2019-02-07 03:54] dwalintukan commented on #1406
@acravenho If you have an iPhone you can test on `testnet.explorer.nakachain.org`.

[2019-02-07 04:01] acravenho commented on #1406
Thank you. Checking it out now

[2019-02-07 12:15] mkrufky commented on #1406
You can also use https://testblocks.ether1.wattpool.net/

[2019-02-07 13:54] mkrufky commented on #1406
if it helps, I've updated the Makefile again as follows:
[code]

but I continue to see this at startup:
[code]

...later followed by:
[code]

[2019-02-07 14:00] acravenho commented on #1406
When the production node assets are installed, they should create the `priv/static` folder.

[code]

`mix phx.digest` and the `npm run deploy` are not working correctly

[2019-02-07 14:02] acravenho commented on #1406
I'm aware of the `libsecp256k1` on Ubuntu as are many other projects right now. There doesn't seem to be a clear path forward, but this doesn't affect the indexing or rendering of the project at all.

Here is some background info: https://github.com/exthereum/exth_crypto/issues/8

[2019-02-07 14:30] acravenho commented on #1413
@Deveshs23 Is this a private chain? If so, what client are you using? Do you have a public RPC endpoint I can test with?

[2019-02-07 14:32] acravenho commented on #1387
Resolved by #1409

[2019-02-07 14:32] #1387 closed

[2019-02-07 22:33] PeterTheOne opened #1419 "Don't overshoot values in the Coin Balance History line chart"
In the Coin Balance History line chart the line overshoots/undershoots (is bigger/smaller than) the actual values that are displayed as points in the chart. This is because the line tries to look smooth to look better? I think it is problematic because the line is meaningless and even transports wrong information when it shows values that never happened. It is bad information visualization. Read m

[2019-02-08 05:34] Deveshs23 commented on #1413
PRIVATE BLOCKCHAIN => YES
client => geth
Public RPC endpoint  => 167.99.254.155:8546

[2019-02-08 10:24] igorbarinov opened #1420 "GraphQL tutorial"
Add tutorial how to use GraphQL queries and which data can be queried

[2019-02-08 10:25] igorbarinov opened #1421 "How to add validators metadata tutorial"
how to add validators metadata e.g. on https://blockscout.com/poa/dai like on https://blockscout.com/poa/core

[2019-02-08 10:26] igorbarinov opened #1422 "GraphQL default example"
Add GraphQL query to the Playground e.g. getting a transaction detail by transaction hash.
Add in comments a link to the article in the wiki on the forum

[2019-02-08 10:28] #1422 closed

[2019-02-08 10:29] igorbarinov commented on #1417
Add in comments a link to the article in the wiki on the forum from  #1420

[2019-02-08 11:45] acravenho commented on #1415
I reopened the issue so we can investigate how this issue can be avoided in the future.  Not having a block in the `fetched_coin_balance_block_number` field breaks the indexer.

[2019-02-08 12:58] 0x-genesys opened #1424 "Chain sync fails on POA network with empty steps on: entry_to_elixir function"
*Describe your issue here.*

My chain is not syncing. it has emptySteps enabled. Im using Parity

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`): 21
* Operating System: Ubuntu 16.04

### Steps to reproduce

[code]

I saw this issue : https://github.com/poanetwork/blockscout/issues/1041

however the file has changed since then. cant find where to add necessary enum emptySteps

[2019-02-08 13:06] 0x-genesys commented on #1424
got this fixed by :

[code]

on line 443 of blockscout/apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/block.ex

then dropping the database

and remigrating / index

Not sure why haven't blockscout devs fixed it yet so not submitting a PR

[2019-02-08 13:06] #1424 closed

[2019-02-09 18:26] mnugumanova opened #1427 "Internal tx doesn't parse if tx data is `0x0`"
I made my first solidity contract today on POA and I wanted to tell you about my experience with blockscout.

if I make a contract call, the explorer automatically sees all internal tx and calculates correct balance
but if I make a call to fallback which will make the same function call, it doesn't see internal transactions at all and it doesn't show a correct balance of recipients.
Example:
https

[2019-02-10 10:40] davecraige opened #1428 "The speed of xDAI is truly amazing. Why not clearly show transaction times in Blockscout"
One of the most amazing value propositions for xDAI is the incredible speed of transactions.  ⚡️ Why not clearly highlight this in Blockscout on each transaction. Imagine being able to look up a transaction and see something like:

"**Transaction time: took 1.1045 seconds to complete**"

I believe that would really encourage more usage, and would set a very high bar for other chains and coins to f

[2019-02-11 10:18] acravenho commented on #1427
Hi Mira,

Thank you for the feedback. Previously we would have handled fallback functions for contracts but recently we've changed the way we handle internal transactions in order to get Ethereum Mainnet indexed. This process stopped fetching internal transactions on transactions that were not sending data. We'll have to go back to drawing board and rethink this process once again to better detect

[2019-02-11 10:30] acravenho commented on #1428
Hey @davecraige,

Great example usage of [xDai and Alpha Wallet](https://twitter.com/davecraige/status/1094539744711630848). It would be great to show this type of statistics but we are limited in our ability to detect exactly when the transaction was initiated to when it was validated. We first see the transaction when it enters the pending tx pool which we fetch every 1,000ms on `xDAI`. This mea

[2019-02-11 10:59] acravenho commented on #1421
https://forum.poa.network/t/how-to-add-validators-metadata-to-blockscout/1949

@igorbarinov Do we want to add this to the xDAI chain?

[2019-02-11 11:49] igorbarinov commented on #1421
Yes, please

validators of xDai can be found here https://validators.poa.network/poa-dapps-validators after switching to xDai Chain in Metamask/NiftyWallet

now there are four validators:
0x6dC0c0be4c8B2dFE750156dc7d59FaABFb5B923D - Giveth
0x9233042B8E9E03D5DC6454BBBe5aee83818fF103 - POA
0x9e41BA620FebA8198369c26351063B26eC5b7C9E - MakerDAO
0xA13D45301207711B7C0328c6b2b64862abFe9b7a - Protofire

[2019-02-11 12:06] acravenho commented on #1421
Validators have been updated. :+1:

[2019-02-11 12:13] acravenho opened #1430 "FunctionClauseError- EthereumJSONRPC.Parity.FetchedBeneficiaries.get_address_type("external", 3)"
[code]

[2019-02-11 12:25] svenski123 commented on #1408
Hi @acravenho, I've been having connectivity issues to the test database since Friday just before the weekend (TCP connection outs) - it appears the test database server is down. Please advise.

[2019-02-11 12:28] acravenho commented on #1408
@svenski123 Can you please try again, it should be good to go now?

[2019-02-11 12:51] svenski123 commented on #1408
@acravenho Thanks, I can get in now.

[2019-02-11 14:44] #1393 closed

[2019-02-11 18:57] zachdaniel commented on #1406
This is working normally for me, just using `make start`. I'm on safari ios, connected to a blockscout running in a docker container. I tried removing my assets ahead of time, suspecting that they were perhaps not being generated properly, but it seems to be fine.

I would be more suspicious of the log line that @mkrufky just posted, which included:

[code]

It seems like the newHeads fetcher is t

[2019-02-11 19:20] zachdaniel commented on #1406
@mkrufky In safari developer tools I'm seeing this error message when attempting to connect to both of the example blockscouts: testblocks.ether1.wattpool.net and testnet.ghuchain.com .

[code]

<img width="1653" alt="screen shot 2019-02-11 at 14 13 45" src="https://user-images.githubusercontent.com/5722339/52587453-12b55300-2e08-11e9-8e20-bc88e112fa35.png">

This seems pretty likely to be the iss

[2019-02-11 20:05] mkrufky commented on #1406
@zachdaniel based on https://stackoverflow.com/questions/41102298/ios-refused-to-connect-because-it-appears-in-neither-the-connect-src-directive-n , sounds like BlockScout should be populating this header.....

[2019-02-11 20:06] brianmcmichael opened #1431 "Add large number support."
In PoA networks the number of tokens are pre-defined in the genesis block. Depending on the economics of the blockchain the number can be very high. This can cause some odd effects with javascript, seen below.

![largenumbers](https://user-images.githubusercontent.com/2374718/52589860-e997c100-2e0d-11e9-8520-a056fff6af91.png)

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):

[

[2019-02-11 20:06] SurfingNerd commented on #1299
sorry for the latency :/
is this still interesting ?
The changes are live at https://explorer.sigma1.artis.network. i just need to update it to 1.3.2. to be on a stable version, then i can create a pull request.

[2019-02-11 20:09] zachdaniel commented on #1406
Yeah, I think you are correct. I’ll look into it now.

[2019-02-11 20:25] acravenho commented on #1299
Yes, this would be fantastic!!! Very excited to see this.  Great work on the explorer.

[2019-02-11 20:31] #338 closed

[2019-02-11 20:32] acravenho commented on #1431
Similar issue but more descriptive as #1120.

We will work on this feature soon.

[2019-02-11 20:39] Mj-fang opened #1432 "xDai Chain: <Issue Title>"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
* Operating System:

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

*Tell us what happens instead.*

[2019-02-11 20:42] brianmcmichael commented on #1120
We are using ETH value on our network because we're not priced anywhere. Have been looking forward to an implementation of #1195

[2019-02-11 21:17] zachdaniel commented on #1406
@mkrufky So there is code that builds a CSP based on the host the request was made from. I think there may be some kind of proxy and/or something in cloudflare (which it seems like you may be going through) that is rewriting the `host` request header that is sent along with the request. The CSP is derived from the `host` header currently, and what is getting sent back from the server is:
[code]
le

[2019-02-11 21:55] mkrufky commented on #1406
I am not using CloudFlare, or *any* cdn service at all.....  BlockScout is, however, wrapped with nginx.   I believe the issue is:
[code]

a WS port is exposed, but no WSS port.  I don't believe GETH offers WSS functionality.   Does this actually work with `geth`?

[2019-02-11 21:58] mkrufky commented on #1406
I'll try manually wrapping ws -> wss using nginx.   I found some info here:  https://stackoverflow.com/questions/10381412/nginx-config-for-wss

[2019-02-11 22:15] zachdaniel commented on #1406
I think you might need a line like this in your nginx config

`proxy_set_header Host $host;`

[2019-02-11 22:20] mkrufky commented on #1406
SOLVED!  Fixed "live update does not live update" *and* "Page renders but never loads data on IOS / FireFox / Safari "

....   I'd like to call it a documentation bug.   Andrew pasted a correct nginx configuration on discord today, but it had some stray `\` that were screwing up, so I disabled those lines.     Now it's working <3

[2019-02-11 22:23] brianmcmichael opened #1433 "Geth archive node: required historical state unavailable (reexec=128)"
Logs filling with `required historical state unavailable (reexec=128)` errors on Geth full archive node. CPU(s) are at 100% while this is happening. Application has been in this state for several days.

Errors appear in both `logs/dev/error.log` and `logs/dev/indexer.log`. Error as follows:

[code]

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
[code]

* Operating System: `U

[2019-02-11 22:28] acravenho commented on #1433
With Geth you can only fetch the last 128 blocks of archive history:

From the release notes:

"Tracing and pruning: By default, state for the last 128 blocks kept in memory. Most states are garbage collected. If you are running a block explorer or other service relying on transaction tracing without an archive node (--gcmode=archive), you need to trace within this window! "

[2019-02-11 22:53] #1432 closed

[2019-02-11 23:14] korvindeson opened #1434 "Internal transaction should exist for transaction, but don't"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
Erlang/OTP 21 [erts-10.2.3] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1]
Elixir 1.8.1 (compiled with Erlang/OTP 20)

* Operating System:
Ubuntu 18.04

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can r

[2019-02-12 00:47] mkrufky commented on #1406
Despite the fact that it seems to be working now, I continue to see these errors at startup:
[code]

[2019-02-12 02:27] zhangzhongnan928 commented on #1428
How about
For those "0" display as "less than 1s"
For those above 1s, display the real time

[2019-02-12 02:39] acravenho commented on #1428
Yes, we can do that. ETA 1-2 weeks for completion. I'll prioritize it now.

[2019-02-12 06:57] #1416 closed

[2019-02-12 07:25] davecraige commented on #1428
Awesome!  Thanks so much @acravenho!

Thanks for the help @zhangzhongnan928!

[2019-02-12 11:32] acravenho commented on #1406
Those are not errors. When `mix phx.digest` is run, it checks all umbrella applications to compile static assets. Only `block_scout_web` contains such files.

[2019-02-12 11:34] acravenho commented on #1434
We're still indexing internal transactions. It's a very slow process.

[2019-02-12 11:34] #1434 closed

[2019-02-12 12:52] mkrufky commented on #1406
I think we can close this, then.  It all came down to a bad nginx / wss setup.  It might be nice to include the proper nginx setup in the documentation.

[2019-02-12 12:53] acravenho commented on #1406
That's great to hear. I completely agree that we should include it in the documentation. I'll create a new issue and reference it here. :+1:

[2019-02-12 12:56] acravenho opened #1436 "Add Nginx configuration to Docker Readme"
Users have experienced issues configuring NGINX with BlockScout. This should be included in the README.

Sample:

[code]

[2019-02-12 12:57] acravenho opened #1437 "Add NGINX Configuration Tutorial to Forums"
It would be good to include a tutorial for configuring BlockScout with NGINX

[code]

[2019-02-12 12:58] acravenho commented on #1406
Issue has been resolved. We're going to add documentation in #1436 and a forum post in #1437

[2019-02-12 12:58] #1406 closed

[2019-02-12 15:38] cleanunicorn opened #1438 "Explorer can display incorrect byte code"
If a contract message that creates another contract is reverted, that byte code is displayed in the interface. At that moment there's no byte code associated with that contract. The contract effectively does not exist.

Because the contract message reverts, the contract's nonce is not incremented.

When a second contract message is generated and it does not revert the newly generated byte code tha

[2019-02-12 19:29] acravenho opened #1440 "no function clause matching in EthereumJSONRPC.quantity_to_integer(nil)"
[code]

### Steps to reproduce

Use the ethereum mainnet test db and this error occurs right away.

[2019-02-12 20:17] korvindeson commented on #1434
Thanks for response. What would be the process for me to understand what period or address were already indexed? Is there a way for me to specify block or date range that I am currently interested in?

[2019-02-12 20:19] acravenho commented on #1434
Unfortunately, not at this time. We're working on making this process faster in the future.

[2019-02-13 17:43] #390 closed

[2019-02-13 17:49] #1430 closed

[2019-02-13 18:16] acravenho commented on #1411
Closed by #1412

[2019-02-13 18:16] #1411 closed

[2019-02-13 18:29] #1156 closed

[2019-02-13 22:00] mkrufky opened #1442 "(Postgrex.Error) ERROR 42703 (undefined_column) column s0.constructor_arguments does not exist"
Might there be a missing migration after today's merges?   Yesterday's master branch was fine, but today's is broken:

[code]
query: SELECT s0."id", s0."name", s0."compiler_version", s0."optimization", s0."contract_source_code", s0."constructor_arguments", s0."abi", s0."address_hash", s0."inserted_at", s0."updated_at", s0."address_hash" FROM "smart_contracts" AS s0 WHERE (s0."address_hash" = $1)
[

[2019-02-13 22:04] acravenho commented on #1442
https://github.com/poanetwork/blockscout/blob/master/apps/explorer/priv/repo/migrations/20190207105501_add_constructor_arguments_to_smart_contracts.exs

It's there for me. 🤔 I'm not sure why it wouldn't work.

[2019-02-13 22:21] mkrufky commented on #1442
I believe the problem might be due to the fact that the new migration:
`20190207105501_add_constructor_arguments_to_smart_contracts.exs`

was merged *after* a migration (or migrations) that are named:
`20190208..........`

since the 20190208 migrations already ran on my setup, i think it skipped the 20190207* migration.

Should I just blow away my db and start over?

[2019-02-13 22:30] acravenho commented on #1442
No, I think we should rename the migration to today's date. This PR was created a few days ago which is probably causing the issue. If you change the date of the file, it should rerun that migration.

[2019-02-13 22:30] acravenho commented on #1442
I'll create a PR for this update

[2019-02-13 22:42] mkrufky commented on #1442
renaming it might screw over anybody that already ran it....

if it can drop the column if it already exists before creating it, that should be a nice one-size-fits-all fix

[2019-02-13 22:45] acravenho commented on #1442
Very good point. We'll have to keep an eye on this for all future migrations. Thanks for the heads up 👍

[2019-02-13 23:38] acravenho commented on #1442
Pull request has been created. I tried using
`remove_if_exists(:constructor_arguments, :string)` but it didn't exist. 🤷‍♂️

https://hexdocs.pm/ecto_sql/Ecto.Migration.html#remove_if_exists/2

[2019-02-15 10:03] davecraige commented on #1428
Awesome, thanks for adding this to `in progress`

[2019-02-15 13:33] acravenho commented on #1428
<img width="735" alt="screen shot 2019-02-15 at 8 30 58 am" src="https://user-images.githubusercontent.com/17620007/52859981-358f8200-30fc-11e9-88aa-1d932ff5578a.png">

We're very close to merging this PR. I'm trying to decide if `Time Elapsed` is the best description for this feature. `Transaction Speed` may be more appropriate.

[2019-02-15 13:34] acravenho commented on #1355
Please let me know if you are having any further issues.

[2019-02-15 13:34] #1355 closed

[2019-02-15 13:57] acravenho opened #1448 "Deployment: v1.3.3 - POA Sokol"
## Info
Network: **Sokol Network**
Date: **2019-02-15**
Version: **v1.3.3**

## Description
This issue is for approval of deploying v1.3.3 to POA Sokol Testnet.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://github.com/poanetwork/blockscout/blob/9c7aff1ea7452

[2019-02-15 14:49] #1442 closed

[2019-02-15 15:47] igorbarinov commented on #1448
:heavy_check_mark:

[2019-02-15 15:48] igorbarinov commented on #1448
Please coordinate with @vbaranov and @andogro on deployment. They are working on documenting

[2019-02-15 17:25] svenski123 commented on #1408
Yes still on this

[2019-02-15 20:12] svenski123 commented on #1408
Ok, looks like the table token_transfers has about 167 million rows and E2C aka Electronic Energy Coin aka 0x08ceed1e8db59acbb687a5752f0a7db815cfda5e has 159,366 of these rows.

The many query generating the data is in fetch_token_transfers_from_token_hash/2 in apps/xplorer/lib/explorer/chain/token_transfer.ex (lines 125-141) and is ordered by block_number descending, log_index, descending.

There

[2019-02-15 20:16] acravenho commented on #1408
We've added the following schema changes this week that are not currently represented on the production instances:

* https://github.com/poanetwork/blockscout/blob/master/apps/explorer/priv/repo/migrations/20190208143201_add_index_on_address_hash_block_number_and_token_contract_address_hash_for_current_token_balance.exs

* https://github.com/poanetwork/blockscout/blob/master/apps/explorer/priv/rep

[2019-02-15 20:25] svenski123 commented on #1408
Two limit 51 queries against token_transfers for the E2C token above.
The first is with an index, the second with ordering clauses present in block_scout_web.

[code]

[code]

[2019-02-15 21:06] svenski123 commented on #1408
@acravenho Thanks for sharing those upcoming schema changes - as they only add indices to other tables they will not improve performance of queries on the token_transfers table involved in rendering the token transfer pages mentioned at top.

[2019-02-17 22:17] snailking opened #1450 "Add incoming transaction count to contract pages"
In Etherscan, incoming transactions are tallied up on the Transaction tab of any contract: “Latest 25 txs from a total of XXX transactions”, above the list of transactions.

![etherscan_tx](https://user-images.githubusercontent.com/39387494/52920187-2f6ef080-330a-11e9-95ec-0bf8de835a2d.jpg)

This can be an useful metric for smart contracts. This data could replace the current transactions sent fie

[2019-02-18 15:36] acravenho commented on #1427
## Current Internal Transaction Rules
In order to process transactions at a faster speed, we designed a set of rules to eliminate the need to fetch internal transactions on all transactions

* Fetch internal transactions on any error
* Do not fetch internal transactions with no input
* Do not fetch internal transactions that contain an input of `a9059cbb`

## Changes needed
1. We will eliminate th

[2019-02-18 15:36] brianmcmichael commented on #1433
I'm not sure what the indexer is doing in this case, we've been at 100% CPU for a week and I have to keep nuking the blockscout logs to keep from filling the disk. Seems like a geth issue (we are running `--gcmode=archive`) so maybe the indexer needs some handling preventing checks on older blocks.

I need to confirm but it looks like geth may be initially throwing the reexec error but then rebuil

[2019-02-18 15:48] hiddentao commented on #1413
Seeing the same issue against private Parity PoA consensus node.

[2019-02-18 15:50] acravenho commented on #1413
@hiddentao Which issue? This issue is related to Websockets not being configured correctly.

[2019-02-18 15:54] acravenho opened #1453 "Deployment v1.3.4 - xDAI"
## Info
Network: **xDAI Network**
Date: **2019-02-18**
Version: **v1.3.4**

## Description
This issue is for approval of deploying v1.3.4 to POA xDAI Network.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://github.com/poanetwork/blockscout/blob/9c7aff1ea745275

[2019-02-18 16:06] hiddentao commented on #1413
@acravenho I'm getting the same error message: `FunctionClauseError) no function clause matching in EthereumJSONRPC.HTTP.HTTPoison.json_rpc`

[2019-02-18 16:08] acravenho commented on #1413
There is an issue communicating with your node.  Do you have and RPC endpoint I can test?

[2019-02-18 16:16] hiddentao commented on #1413
Ah unfortunately it's an internal endpoint. We tested the HTTP endpoint using curl and it worked. We finally got it working (just now) via blockspout by specifying `geth` as the variant, even though our node is a parity one.

[2019-02-19 17:32] #1427 closed

[2019-02-19 17:49] #1438 closed

[2019-02-19 18:14] #1440 closed

[2019-02-20 03:47] davecraige commented on #1428
That looks great!  (and I agree that "Transaction speed: 2.9 seconds" is a nice way to phrase it)

[2019-02-20 13:30] svenski123 commented on #1408
I have added PR #1459, which at present creates a new index on token_transfers.

The main query behind the show token transfers page runs extremely slowly in psql.
Changing the order by clause to take advantage of existing index fields improved query performance significantly, thus I am hopeful adding an index on the token hash, block nubmer and log index fields will improve the original query.

G

[2019-02-20 14:14] #1448 closed

[2019-02-20 14:19] acravenho opened #1460 "Deployment v1.3.4 - POA Core"
## Info
Network: **POA Core**
Date: **2019-02-20**
Version: **v1.3.4**

## Description
This issue is for approval of deploying v1.3.4 to POA Core Network.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://github.com/poanetwork/blockscout/blob/9c7aff1ea745275901a

[2019-02-20 14:21] acravenho opened #1461 "Deployment v1.3.3- Kovan Testnet"
## Info
Network: **Kovan Testnet**
Date: **2019-02-20**
Version: **v1.3.3**

## Description
This issue is for approval of deploying v1.3.3 to Kovan Testnet.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://github.com/poanetwork/blockscout/blob/9c7aff1ea74527590

[2019-02-20 14:45] zachdaniel commented on #1428
I'll update it to `Transaction Speed`

[2019-02-20 15:35] #1304 closed

[2019-02-20 15:38] acravenho commented on #1171
Completed here: https://forum.poa.network/t/faq-what-settings-are-required-on-a-parity-or-geth-client/1805

[2019-02-20 15:38] #1171 closed

[2019-02-20 15:39] #1301 closed

[2019-02-20 15:39] #1383 closed

[2019-02-20 15:49] acravenho commented on #1420
Completed on the forum: https://forum.poa.network/t/graphql-in-blockscout/1971

[2019-02-20 15:49] #1420 closed

[2019-02-20 15:58] #1428 closed

[2019-02-20 20:55] acravenho opened #1463 "Option to decode input as UTF-8"
This feature parses the transaction input to UTF-8.

`0x4d616b657244414f2053706f6e736f7273686970206f662043797068657270756e6b20537065616b656173792076302e302e3320617420426c61636b2053686972742042726577696e6720696e2044656e76657220434f206f6e205765646e65736461792c204a616e756172792031362c203230313920363a333020504d`

Converts to:

`MakerDAO Sponsorship of Cypherpunk Speakeasy v0.0.3 at Black Shirt Brewing

[2019-02-20 20:59] acravenho opened #1464 "Token Balance/Count not updating for ERC721"
In [this transaction](https://blockscout.com/poa/dai/address/0xb391ae8fc7483770930d1deab5a898206e9cdb3f/transactions) `1` ERC721 token was minted from `0x0000000000000000000000000000000000000000` and sent to [0xb391ae8fc7483770930d1deab5a898206e9cdb3f](https://blockscout.com/poa/dai/address/0xb391ae8fc7483770930d1deab5a898206e9cdb3f/transactions)

The token balance dropdown is not reflecting this

[2019-02-20 22:09] vbaranov commented on #1461
Kovan instance has been updated to `v1.3.3-beta`

[2019-02-20 22:12] vbaranov opened #1467 "Deployment v1.3.4- Rinkeby Testnet"
## Info
Network: **Rinkeby Testnet**
Date: **2019-02-21**
Version: **v1.3.4**

## Description
This issue is for approval of deploying [v1.3.4](https://github.com/poanetwork/blockscout/releases/tag/v1.3.4-beta) to Rinkeby Testnet.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replace

[2019-02-20 22:20] acravenho opened #1468 "BlockScout Version environment variable not working"
The `BLOCKSCOUT_VERSION` environment variable is not working currently. We tried to have it compiled previously in order to have to look the version up with every page load but this is broken.

[2019-02-21 01:36] lightninggalaxy commented on #1413
I am getting the same error message on a private blockchain (geth):
`2019-02-21T10:25:32.553 application=phoenix [info] Running BlockScoutWeb.Endpoint with Cowboy using http://0.0.0.0:4000
** (Mix) Could not start application indexer: Indexer.Application.start(:normal, []) returned an error: shutdown: failed to start child: Indexer.Shrinkable.Supervisor
    ** (EXIT) shutdown: failed to start chil

[2019-02-21 01:46] acravenho commented on #1413
@lightninggalaxy The indexer couldn't communicate with your node. Do you have an RPC Endpoint I can test?

[2019-02-21 01:58] lightninggalaxy commented on #1413
@acravenho sorry, didn't see this before I deleted my comment. My issue was that I hadn't updated my RPC Endpoint in apps/explorer/config/prod/ and apps/indexer/config/prod/. Thanks for your quick response!

[2019-02-21 01:59] acravenho commented on #1413
Awesome, glad you were able to resolve the issue.

If you prefer to use environment variables, you could do something like:

[code]

[2019-02-21 02:04] lightninggalaxy commented on #1413
I will take note of that in case I want to use environment variables in the future. Thank you!

[2019-02-21 10:18] ayrat555 commented on #1460
:+1:

[2019-02-21 10:18] ayrat555 commented on #1453
:+1:

[2019-02-21 14:41] #1417 closed

[2019-02-21 14:43] #1354 closed

[2019-02-21 14:44] acravenho commented on #1334
Hi @wovvan,

Many people have been using our Docker image for production. Please let me know if there are any specific issues you're noticing.

[2019-02-21 14:44] #1334 closed

[2019-02-21 16:05] zachdaniel commented on #1468
How is the BLOCKSCOUT_VERSION environment being set currently? Is it set when building a docker image? If it is set, and then `mix compile` is run, that may not be enough because the module in question `BlockScoutWeb` may not recompile. You may need to `mix compile --force`. Although that wouldn't be very fun because it would have to recompile the entire application. I could set it up such that it

[2019-02-21 16:12] acravenho commented on #1468
Our deployment is through Terraform, https://github.com/poanetwork/blockscout-terraform. I feel that this should be very similar to how we handle `network` and `subnetwork`. I think it's very confusing for an end user to have to go through many extra steps to add an environment variable for the blockscout_version than it is to add a network, subnetwork, logo, and many more endpoints.

I feel this

[2019-02-21 16:13] zachdaniel commented on #1468
I'll update it to work in the same way :+1:

[2019-02-21 16:50] ArseniiPetrovich commented on #1467
v1.3.4 were deployed and available at blockscout.com/eth/rinkeby

[2019-02-21 16:51] vbaranov commented on #1467
Thanks! I will add missing favicon and version in footer soon.

[2019-02-21 16:59] vbaranov commented on #1467
Missing favicon has been added. The version added in the footer. The versions table has been updated https://forum.poa.network/t/deployed-instances-on-blockscout-com/1938.

[2019-02-21 17:04] vbaranov opened #1472 "Deployment v1.3.4- Goerli Testnet"
## Info
Network: **Goerli Testnet**
Date: **2019-02-22**
Version: **v1.3.4**

## Description
This issue is for approval of deploying [v1.3.4](https://github.com/poanetwork/blockscout/releases/tag/v1.3.4-beta) to Goerli Testnet.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced

[2019-02-21 17:12] vbaranov commented on #1460
POA Core instance upgraded to `v1.3.4`

[2019-02-21 17:15] acravenho commented on #1472
We need to add other explorers:

* https://goerli.etherscan.io/
* https://explorer.goerli.net/
* https://lite.ethstats.io/

https://github.com/poanetwork/blockscout/blob/5b7567ed575d2c1d9624630245951f7fd1076a88/apps/block_scout_web/config/config.exs#L22-L26

Also, we need to add the environment variable `BLOCK_TRANSFORMER = clique` to AWS.

https://github.com/poanetwork/blockscout/blob/5b7567ed575

[2019-02-21 17:17] acravenho commented on #1472
I added the `BLOCK_TRANSFORMER` to the Parameter Store.

[2019-02-21 17:37] vbaranov opened #1474 "Deployment v1.3.4- Ethereum Classic"
## Info
Network: **Ethereum Classic**
Date: **2019-02-22**
Version: **v1.3.4**

## Description
This issue is for approval of deploying [v1.3.4](https://github.com/poanetwork/blockscout/releases/tag/v1.3.4-beta) to Ethereum Classic.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/repla

[2019-02-21 18:04] #1460 closed

[2019-02-21 18:04] #1467 closed

[2019-02-21 18:05] #1461 closed

[2019-02-21 18:29] #1468 closed

[2019-02-21 18:53] #1415 closed

[2019-02-22 07:41] StarGonchar opened #1475 "Add new pages "Apps"/"Stakes" for POSDAO network"
Menu icons:
https://zpl.io/bLPD5n7

Main page:
https://zpl.io/V4Ol5MX

Validators tab:
https://zpl.io/aR1Pxne

Stake modal window:
https://zpl.io/29Oyw7W

Stake more modal window:
https://zpl.io/2GyOGDd

Withdraw modal window:
https://zpl.io/aNPoDQZ

Move stake modal window:
https://zpl.io/bWqLjxn
https://zpl.io/25OrpB3

Active pools tab:
https://zpl.io/bABEl18

Inactive pools tab:
https://zpl.io/

[2019-02-22 07:46] #1475 closed

[2019-02-22 07:48] pashagonchar opened #1476 "Add new pages "Apps"/"Stakes" for POSDAO network"
Menu icons:
https://zpl.io/bLPD5n7

Main page:
https://zpl.io/V4Ol5MX

Validators tab:
https://zpl.io/aR1Pxne

Stake modal window:
https://zpl.io/29Oyw7W

Stake more modal window:
https://zpl.io/2GyOGDd

Stake (user not signed) modal window:
https://zpl.io/2jQw7Zx

Withdraw modal window:
https://zpl.io/aNPoDQZ

Move stake modal window:
https://zpl.io/bWqLjxn
https://zpl.io/25OrpB3

Active pools ta

[2019-02-22 10:27] vbaranov commented on #1453
xDai instance successfully updated up to `v1.3.4`.

[2019-02-22 10:28] rjl493456442 opened #1478 "Docker build failed - retrieve dependencies failed"
Error logs

[code]

[2019-02-22 15:26] #1453 closed

[2019-02-22 15:28] vbaranov opened #1480 "Deployment v1.3.4- Ropsten"
## Info
Network: **Ropsten**
Date: **2019-02-25**
Version: **v1.3.4**

## Description
This issue is for approval of deploying [v1.3.4](https://github.com/poanetwork/blockscout/releases/tag/v1.3.4-beta) to Ropsten Testnet.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetche

[2019-02-22 15:30] vbaranov commented on #1480
@acravenho are there any additional specific actions for Ropsten upgrade except ☝️ ?

[2019-02-22 15:52] acravenho commented on #1480
No, I think that's it.

[2019-02-23 07:05] smoey opened #1481 "An error occurred while validating the contract"
An error occurred while validating the contract. The page displays "Internal Server Error"
<img width="747" alt="wx20190223-150313 2x" src="https://user-images.githubusercontent.com/4184607/53283124-7599d900-377c-11e9-8da0-47d7441f63d2.png">
<img width="519" alt="wx20190223-150323 2x" src="https://user-images.githubusercontent.com/4184607/53283130-7a5e8d00-377c-11e9-8705-743b1bd62953.png">

[2019-02-23 08:38] davecraige commented on #1428
Thank you everyone for your help on this.  Much appreciated.  🙏

[2019-02-24 23:30] svenski123 commented on #1408
I see the index appears to have been added to the test database.
Is there a public instance of blockscout running that targets the test database?

[2019-02-25 05:15] #1419 closed

[2019-02-25 11:40] vbaranov commented on #1480
Ropsten instance has been updated

[2019-02-25 18:04] #1480 closed

[2019-02-25 18:04] #1472 closed

[2019-02-25 19:22] acravenho commented on #1408
There will be in the next few days. I'll update you once this is up and running.

[2019-02-26 16:44] acravenho opened #1488 "Remove dropped/replaced transactions from the pending transactions list"
Currently, the `dropped/replaced` transactions are still populating the pending transactions list. These transactions should not be found on this page. The only way to locate these transactions is if a user searches the transaction hash.

We should also remove the spinner on the transaction details page for a dropped/replaced transaction

- [ ] remove `dropped/replaced` transactions from pending t

[2019-02-26 17:03] gabitoesmiapodo commented on #1476
Hi guys, could you grant me permissions to start working on this repository?

Maybe @igorbarinov ?

[2019-02-26 19:00] igorbarinov commented on #1476
@gabitoesmiapodo I've added you to the explorer team

[2019-02-26 19:05] gabitoesmiapodo commented on #1476
Thank you.

[2019-02-26 20:21] #1463 closed

[2019-02-26 20:51] gabitoesmiapodo commented on #1476
@igorbarinov is there some work already done for the POSDAO network, or should I add the new styles and sections on a new development branch with some static / mock content, for somebody to add some logic to it later?

(I'm not sure if it's you who I should be asking these questions, if there's somebody else available please let me know).

[2019-02-26 20:57] acravenho commented on #1476
@gabitoesmiapodo Yes, please add this to a separate branch and we can have someone take a look at it for the logic.

[2019-02-27 03:27] davecraige opened #1490 "Possible incorrect URL for xDAI transactions"
Shouldn't the URL for xDAi transactions on BlockScout be "xdai
 and not "dai"

👉 https://blockscout.com/poa/dai

[2019-02-27 09:10] REPTILEHAUS opened #1491 "Add support for AERUM Live net"
_Describe your issue here._

Currently Blockscout does not support the Aerum network.

We are preparing to launch in the coming weeks and we are 100% compatible with the EVM. We would love to be included, the team really likes your explorer solution and we think it would be a good fit.

Need any more info feel free to contact me directly.

More info:
https://aerum.com/en
https://aerum.com/en/white

[2019-02-27 13:43] Monarth-s opened #1495 "Not starting up for geth(Ethereum mainnet)."
Not starting up for `geth`.

`first_block_number` showing `0`.

I had changed the geth.exs file (for both explorer & indexer) as below:

[code]

But, it's showing this error:

[code]

### Environment

* Elixir & Erlang/OTP versions (`elixir --version`): **Elixir 1.9.0-dev** & **Erlang/OTP 21**
* Operating System: **Linux Mint 18.3**

[2019-02-27 15:35] acravenho commented on #1495
@Monarth-s  I believe your issue is that BlockScout is unable to communicate with your node. The easiest approach to debug this would be to define the environment variables such as below:

[code]

[2019-02-27 17:17] gabitoesmiapodo commented on #1476
@acravenho

I finally got the Blockscout running locally.

Is there a preferred approach, or a guide to implement a theme for a new network (POSDAO in this case)?

I see the new designs implement not only color and icon changes, but also some layout modifications, new sections, etc., so there might be some changes affecting other networks too.

[2019-02-27 17:23] acravenho commented on #1476
@gabitoesmiapodo There is no infrastructure setup currently to make structural changes that will not affect the entire application. However, we can enable features through configuration settings and environment variables for chain specific features.  We do this currently with the `xdai` chain.

I would add the changes to the current infrastructure and then we can enable them with an environment va

[2019-02-27 17:43] gabitoesmiapodo commented on #1476
@acravenho

Just to clarify: so there's no way to change a theme dinamically? Each themed version is a different instance built and deployed for each network?

If that's the case, I asume I should just make all the necessary modifications to existing layout(s), add new icons and SCSS, and then the remaining issues will be solved when building deploying the new / updated instances.

Sorry for all t

[2019-02-27 17:50] acravenho commented on #1476
@gabitoesmiapodo

That's correct, each chain is built separately so there is a bit of customization that can be done here.

Let's make the changes to SCSS by adding a new POSDAO theme and including all assets that will be needed by the new dynamic theme.

[2019-02-27 19:19] brianmcmichael commented on #1433
:tada: Wow, thanks for the fast turnaround!

[2019-02-27 19:56] gabitoesmiapodo commented on #1476
@acravenho

I'm not able tu update the theme colors.

This is all I could get for now.

![screen shot 2019-02-27 at 16 52 32](https://user-images.githubusercontent.com/4015436/53518575-1a375600-3ab0-11e9-8b90-7138ab2eca1b.png)

I can change the logo (in this case I'm using the POA logo, but I have the POSDAO logo available too), and I can connect to ganache, display transactions, etc.

But if I do

[2019-02-27 21:08] acravenho commented on #1476
@gabitoesmiapodo I believe you're missing the `_` before `dai_variables`.

[2019-02-27 21:52] acravenho opened #1497 "value too long for type character varying(255)"
The `constructor_arguments` column in the `smart_contracts` table should be type `test` not `varchar(255)`.

[code]

[2019-02-27 21:53] acravenho commented on #1497
This has been altered on `core` and now allows users to verify their smart contracts.

[2019-02-28 04:38] Monarth-s commented on #1495
Tried that, but still same output.

[2019-02-28 05:10] acravenho commented on #1495
Do you have a public RPC endpoint that I can try?

[2019-02-28 05:31] Monarth-s commented on #1495
Sorry, I'm runnig `geth` in my local PC,

I had started geth by using following command:

[code]

Already synced full node:

[code]

[2019-02-28 06:37] lonelyDog commented on #1478
Same issue on my side :(

[2019-02-28 06:51] varasev commented on #1476
I left my comments in https://invis.io/YPQNPDTW4ZB - some pages need to be supplemented with a few UI elements and we also need to have a few extra layouts (see my comments for all of those pages).

[2019-02-28 11:35] gabitoesmiapodo commented on #1476
@acravenho

It seems that wasn't the problem (the underscore is not needed for this type of `@import`).

I finally got it working by stopping the server, deleting all the files in the `blockscout/apps/block_scout_web/priv/static/css/` folder, and by doing `mix phx.server` again.

I don't know why that fixed the problem, but It updates everything correctly on every file save now.

@varasev

If ther

[2019-02-28 16:02] vbaranov opened #1500 "Deployment v1.3.4- Ethereum Mainnet"
## Info
Network: **Ethereum Mainnet**
Date: **2019-03-01**
Version: **v1.3.4**

## Description
This issue is for approval of deploying [v1.3.4](https://github.com/poanetwork/blockscout/releases/tag/v1.3.4-beta) to Ethereum Mainnet.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/repla

[2019-02-28 16:19] acravenho opened #1502 "Create migration for Contract Method Library"
Previously validated contracts will not be included in our Contract Method Library until a migration is completed and run to include them.

Relates to #1466

[2019-02-28 16:21] acravenho commented on #1481
Most likely related to #1497

[2019-02-28 16:22] #1377 closed

[2019-02-28 16:22] #1312 closed

[2019-02-28 16:39] ellis2323 commented on #1450
Hello,

An API with transaction count would be great. Currently, I request the transactions to count them which is not great.

Best regards

[2019-02-28 17:21] vbaranov opened #1503 "Failed to open smart-contract page: no function clause matching in BlockScoutWeb.AddressView.from_address_hash/1"
### Details

Failed to open smart-contract's page

Chain: **Goerli**
Smart-contract address: `0x4e10a95f0bb2fec6ec1c4296a16420a018a5f9fe`
Link to the page: https://blockscout.com/eth/goerli/address/0x4e10a95f0bb2fec6ec1c4296a16420a018a5f9fe/transactions

Some contracts do not have a `contracts_creation_internal_transaction` or a `contracts_creation_transaction`, but at least one of those should be

[2019-02-28 20:13] #1497 closed

[2019-03-01 04:58] smoey commented on #1481
fixed, thx.

[2019-03-01 04:59] #1481 closed

[2019-03-01 08:39] marcelaopimenta opened #1506 "[Suggestion] Exact Date and Time"
Hi, i have a suggestion. Show a exact date time in timestamp field in transaction view.

In etherscan - **3 days 15 hrs ago (Feb-25-2019 04:50:38 PM +UTC)**
In Blockscout - **a day ago**

I use POA for authenticate documents and my user see information in blockscout. Not having the complete date causes much confusion for them.

Thanks!

[2019-03-01 08:42] vbaranov commented on #1506
Could you provide the link to tx?

[2019-03-01 08:48] marcelaopimenta commented on #1506
Hi!

https://blockscout.com/poa/core/tx/0x4d3725a310b26c3aa8d453dab9acc655f9c733faeb51cce2bf946856c0ef26a6

[2019-03-01 08:52] vbaranov commented on #1506
Etherscan doesn't support POA chain. What do you compare with this tx in Etherscan?

[2019-03-01 08:58] marcelaopimenta commented on #1506
No no, I'm not comparing the transaction. I just asked for the TimeSpan field in Blockscout to have all the date information, not just "3 days ago". Be equal to Etherscan
"3 days 15 hrs ago (Feb-25-2019 04:50:38 PM +UTC)"

[2019-03-01 09:09] marcelaopimenta commented on #1506
![image](https://user-images.githubusercontent.com/3244062/53627956-1586b500-3c0a-11e9-904b-a39c121461c2.png)

[2019-03-01 09:20] vbaranov commented on #1506
Ah, makes sense. Thanks for the feedback. Will include exact time in the future releases.

[2019-03-01 09:21] marcelaopimenta commented on #1506
Thanks! :-D

[2019-03-01 11:08] vbaranov commented on #1500
Ethereum Mainnet updated up to `v1.3.4`

[2019-03-01 11:28] #1500 closed

[2019-03-01 13:01] hadv commented on #1495
@Monarth-s If I remove the `--ws` then node can sync the data but explorer web cannot refresh to the latest data. User have to manually refresh browser. Can you confirm this? Thanks!

[2019-03-01 13:56] #1478 closed

[2019-03-01 17:24] #1488 closed

[2019-03-02 04:33] hadv opened #1512 "GenServer #PID<0.2107.0> terminating failed_contract_creations"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
[code]
* Operating System:

[code]

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

[code]

[2019-03-02 08:32] hadv opened #1513 "[error] GenServer Indexer.Block.Realtime.Fetcher terminating"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):

[code]

* Operating System:
[code]

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

[code]

[2019-03-02 08:37] hadv commented on #624
I still have the error when running on v1.3.4-beta release

[code]

[2019-03-02 09:39] #1513 closed

[2019-03-02 12:16] vbaranov commented on #1512
I suppose this issue should be fixed with https://github.com/poanetwork/blockscout/pull/1511

[2019-03-02 12:51] hadv commented on #1389
@vbaranov @acravenho I deploy blockscout version `v1.3.3-beta` but still didn't see the code tab. Can  you confirm this problem?

[2019-03-02 13:41] hadv commented on #1389
Ah, enable debug RPC API then I can see the Code tab now

[2019-03-03 16:56] #1474 closed

[2019-03-03 16:58] vbaranov opened #1514 "Deployment v1.3.4- Sokol"
## Info
Network: **Sokol**
Date: **2019-03-04**
Version: **v1.3.4**

## Description
This issue is for approval of deploying [v1.3.4](https://github.com/poanetwork/blockscout/releases/tag/v1.3.4-beta) to Sokol.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://gi

[2019-03-03 16:58] vbaranov opened #1515 "Deployment v1.3.4- Kovan"
## Info
Network: **Kovan**
Date: **2019-03-04**
Version: **v1.3.4**

## Description
This issue is for approval of deploying [v1.3.4](https://github.com/poanetwork/blockscout/releases/tag/v1.3.4-beta) to Kovan.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://gi

[2019-03-04 08:47] ayrat555 commented on #1515
:+1:

[2019-03-04 08:47] ayrat555 commented on #1514
:+1:

[2019-03-04 10:02] svenski123 commented on #1408
Still working on this.

[2019-03-04 19:40] goodsoft opened #1522 "Deadlocks caused by bad ordering of address_current_token_balances upserts"
Despite fixes in #1296 and #1320 deadlocks still occur during block synchronization:

[code]

Apparently, **realtime** block fetcher upserts into `address_current_token_balances` table twice in the span of a huge transaction:
[code]
The offending transaction hits the deadlock while upserting to the same table during the _second_ upsert above:
[code]

I discovered token balance updating in two plac

[2019-03-05 04:43] hadv opened #1523 "feat request: show block header extradata"
For ethereum mainnet and some other mining consensus, it'd better to show the miner.extradata to show miner's name or voting

[2019-03-05 05:40] hadv opened #1524 "Internal server error when on the [Blocks Validated] tab of miners"
Internal server error when on the [Blocks Validated] tab of miner on Sokol testnet explorer. And I face the same error on my private PoA network.

![image](https://user-images.githubusercontent.com/941411/53783140-02921e80-3f43-11e9-8f69-f2b4b1732043.png)

### Environment

Current version of PoA Sokol testnet
https://blockscout.com/poa/sokol

### Steps to reproduce

1. Click on any miner address
2

[2019-03-05 06:22] vbaranov opened #1525 "Add the link to release"
Add the link to release by clicking to the version of the application in the footer

[2019-03-05 06:29] vbaranov commented on #1524
Thanks for the report. The issue is with `v1.3.3`. It has been fixed in the `v1.3.4`. We plan to upgrade Sokol up to `v1.3.4` https://github.com/poanetwork/blockscout/issues/1514 soon.

[2019-03-05 06:41] vbaranov commented on #1523
We display validators names for the chains where we know who are the validators, for example, for xDai, POA Core, Sokol. Anyone can check this data from https://validators.poa.network for POA-based networks. Do you know a single point of truth to check who are the miners/validators for Ethereum Mainnet or for other networks?

[2019-03-05 06:43] #1421 closed

[2019-03-05 06:47] hadv commented on #1523
AFAIK, on the ethereum mainnet, miner can arbitrary set the extradata by specific in the geth cmd, I dont know any truth point. by the way, on the PoW we dont need truth because it include the extradata on the block header.

Ethereum PoW miner now can make a vote to switch to ProgPoW by adding PPYE in block's extradata that they mined successfully.

[2019-03-05 09:53] #1431 closed

[2019-03-05 11:06] LucasGmm opened #1526 "block_reward failed to fetch"
*Describe your issue here.*

   application=indexer fetcher=block_reward count=10 error_count=10 [error] failed to fetch: @�: (404) Not Found

![image](https://user-images.githubusercontent.com/40879103/53800847-a3e79780-3f78-11e9-99f4-eeb17d542f01.png)

### Environment
Centos 7

* Elixir & Erlang/OTP versions (`elixir -version`):
* Operating System:
Erlang/OTP 21
Elixir 1.7.4
blockscout-1.3.4-bet

[2019-03-05 11:14] rjl493456442 commented on #1352
@acravenho Could you also consider to fix it in the current dockerfile?

[2019-03-05 12:31] 6paklata opened #1528 "Ethereum Classic: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.7.4
* Erlang Version: 21
* BlockScout Version: unknown

* User Agent: `Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.121 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to repro

[2019-03-05 14:40] KronicDeth commented on #1522
`derive_address_current_token_balances` is a consensus loss function.  It is needed to keep the `address_current_token_balances` accurate when their block changes consensus.  If you remove it the `address_current_token_balances` will reflect non-consensus when the highest block number for a given `{adress, token}` as recorded in `address_current_token_balances` becomes non-consensus.

`address_cur

[2019-03-05 16:03] zachdaniel commented on #1503
Lets see how many addresses are affected. I *think* this query should get us a list of addresses like this. We should see if its isolated to Goerli or if its happening on other chains as well. Can you run this query on the relevant databases to see what we find?

[code]

You can `SELECT encode(addresses.hash, 'hex')` to get some address hashes to confirm this behavior with as well.

[2019-03-05 16:28] goodsoft commented on #1522
Thanks for the elaborate answer!

Just a quick thought without diving back into the code: splitting the transaction into one with consensus loss and another one with the actual block import would be an easy solution to the deadlock problem.
The question is: would it break the database consistency?

[2019-03-05 19:34] KronicDeth commented on #1522
You have too many writers to guarantee ordering if you split the transactions.  You can't ensure that you take away consensus before adding it back with the normal blocks.

[2019-03-05 22:04] zachdaniel commented on #1503
There are `50581` contracts with this same affliction in the stg database, from what I can tell. I'm going to investigate more of them in the morning to see if I can identify a cause. With that in mind I'm going to:

1.) clean it up to still render the page but show a nice error message
2.) write a task that finds and fixes these addresses
3.) identify the cause and resolve the issue at the source

[2019-03-05 22:48] ArseniiPetrovich commented on #1515
Deployed. Need your assistance, @vbaranov to add version to footer

[2019-03-06 03:00] rjl493456442 opened #1530 "Incorrect total transaction number"
There are two transactions while the total number is 0.
And the wallet count is also weird.

![image](https://user-images.githubusercontent.com/5959481/53853030-f4093d00-3ffe-11e9-8e32-e3cf79d62233.png)

[2019-03-06 04:24] hadv commented on #1524
@vbaranov it might be not related to the issue. When I upgrade from `1.3.3` to `1.3.4` then I have to re-verify smart contract code. Do you have any idea that It's wrong somewhere from me? Or what I need to do when upgrading and still reserve all the old data.

[2019-03-06 04:26] hadv commented on #1530
I think that we need to wait some times to allow blockscout to able to index the data

[2019-03-06 04:59] acravenho commented on #1515
@ArseniiPetrovich In future versions, the footer will not need to be hardcoded. The issue was fixed here: https://github.com/poanetwork/blockscout/pull/1471

[2019-03-06 07:13] #1515 closed

[2019-03-06 09:00] vbaranov commented on #1530
That is right. It needs some time to index txs. @rjl493456442 did txs and wallets appear in your case finally?

[2019-03-06 09:13] rjl493456442 commented on #1530
But 6hours later, the transaction number is still 0. (The wallets appears finally)

[2019-03-06 09:16] vbaranov commented on #1530
What commit did you build Blockscout from?

[2019-03-06 09:17] rjl493456442 commented on #1530
`434b4455a1c882d03d10ee35a44406fe196b4ae8`

[2019-03-06 09:40] #1512 closed

[2019-03-06 09:46] ArseniiPetrovich commented on #1514
Hi. When trying to deploy local version of Blockscout got the following set of errors:
[Errors](https://gist.github.com/ArseniiPetrovich/64278a52cdbbe183d8ec793cc8ead631)

[2019-03-06 09:50] ayrat555 commented on #1514
@ArseniiPetrovich you have apply db migrations

[2019-03-06 09:53] ArseniiPetrovich commented on #1514
@ayrat555, `mix do ecto.drop, ecto.create, ecto.migrate`? Did it. Even a couple of times, just to be sure this is not the case.

[2019-03-06 09:57] vbaranov commented on #1514
@ArseniiPetrovich check, that you have this migration source
https://github.com/poanetwork/blockscout/blob/master/apps/explorer/priv/repo/migrations/20190116082843_add_created_contract_indexed_at_to_transactions.exs in the local branch

[2019-03-06 09:57] vbaranov commented on #1514
It can be a problem of merging of two branches.

[2019-03-06 10:12] ArseniiPetrovich commented on #1514
@vbaranov I don't have it. Should I add it manually?

[2019-03-06 10:14] vbaranov commented on #1514
Yes, please add this source file to your local branch. It should be there and run migrations again to check that there are no more errors.

[2019-03-06 12:18] #1514 closed

[2019-03-06 12:27] vbaranov commented on #1524
@hadv from my perspective it can be if you dropped the `smart-contracts` table or removed the row related to your verified smart-contract. Btw, all Blockscout instances have been updated to `v1.3.4`. If you will see the same behaviour there, please let us know.

[2019-03-06 12:27] #1524 closed

[2019-03-06 12:32] vbaranov commented on #1530
We are using table statistics estimation for total transactions count to increase performance. See related PR where it was introduced: https://github.com/poanetwork/blockscout/pull/256. It means, that the estimated values come not immediately.

[2019-03-06 12:35] rjl493456442 commented on #1530
Weird. Actually, the tx count is still 0. Am I missing something?

[2019-03-06 12:40] acravenho commented on #1530
@rjl493456442 Run a `vacuum analyze transactions;`

[2019-03-07 07:38] hadv opened #1535 "Feature request: search token by symbol"
Currently, user cannot search token by symbol. It'd much more convenience if user can search token by name/symbol

![image](https://user-images.githubusercontent.com/941411/53939750-97814d00-40e6-11e9-8b01-66e7ca00dc2c.png)

[2019-03-07 09:00] lightninggalaxy opened #1536 "Error message that has the code in tracer.js as param"
I am getting an odd error with my private blockchain.

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
Erlang/OTP 21 [erts-10.0.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
Elixir 1.7.1 (compiled with Erlang/OTP 19)

Geth 1.8 private network

I am using an old version of Blockscout (cloned in mid January)

* Operating System:
Ubuntu 18.04.01 LTS

### Ste

[2019-03-07 13:09] vaibhavchellani commented on #811
+1 on this feature , anyone working on this at the moment ?

[2019-03-07 14:10] 0x-genesys opened #1538 "Pending transaction in block scout but no pending transaction in parity"
*Describe your issue here.*

### Environment
Operating System: Ubuntu

### Steps to reproduce

Send transaction with nonce more than actual nonce. It goes into pending state. transaction shows on blockscout pending tab. Once removed from Parity mem pool , transaction still shows.

### Expected behaviour

Transaction removed from pending pool should be removed from blockscout

### Actual behaviour

[2019-03-07 14:42] zachdaniel commented on #1538
Hello @0x-genesys, thanks for the issue report! The PR that resolves this has already been merged to master #1496. It might be a bit before that gets deployed to master, as we are working through some performance issues, but it should resolve your issue once we do.

[2019-03-07 14:47] #1538 closed

[2019-03-07 16:33] vbaranov commented on #1536
Could you please try with the latest code from master branch or at least with the latest release https://github.com/poanetwork/blockscout/releases/tag/v1.3.4-beta? Do you have the same issue with there?

[2019-03-07 16:34] vbaranov commented on #1530
@rjl493456442 does it work finally? could we close this issue?

[2019-03-07 16:38] vbaranov commented on #1526
What the chain you are connected to?

[2019-03-07 16:46] #1502 closed

[2019-03-07 17:13] svenski123 commented on #1408
I've updated WIP branch with edits to the update_replaced_transaction.sql migration script.
On test database, transactions table has ~380 million rows, roughly ~475,000 need updates per this script and the script appears to need 20-30 minutes to run (For testing I've only executed the script between BEGIN / ROLLBACK statements and have always canceled before completion).

[2019-03-08 03:57] lightninggalaxy commented on #1536
I can't try it today but I will report back once I have.

[2019-03-08 12:38] ayrat555 opened #1541 "Allow to pass custom compiler flags when verifying smart contract"
Currently, Blockscout's contract verifying interface does not accept custom compiler arguments to compile smart contract using them

[2019-03-09 16:16] Duchoadongland opened #1542 "xDai Chain: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.7.4
* Erlang Version: 21
* BlockScout Version: unknown

* User Agent: `Mozilla/5.0 (Linux; Android 6.0.1; GT-N5100) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3724.7 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to rep

[2019-03-09 18:41] Duchoadongland opened #1544 "0x0000000000000000000000000000000000000000"
*Describe your issue here.*

### Environment
* Elixir Version: 1.7.4
* Erlang Version: 21
* BlockScout Version: unknown

* User Agent: `Mozilla/5.0 (Linux; Android 6.0.1; GT-N5100) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3724.7 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we can run to rep

[2019-03-10 01:55] #1542 closed

[2019-03-10 01:55] #1544 closed

[2019-03-11 11:54] ayrat555 opened #1546 "update `ex_abi` to 0.2.0"
a new version of `ex_abi` has some breaking changes.

Updating it may fix https://github.com/poanetwork/blockscout/issues/1258

[2019-03-11 20:00] cat-j opened #1548 "Block miner address showing up as 0x000... on every block"
We're using BlockScout for a private PoA network and the _Miner_ field is displaying as 0x000... on all blocks, both on the BlockScout homepage and on each block's info page. Several people in my organisation have tried running the server locally and this has happened every single time; we think it might be a configuration issue, but we couldn't figure out which configuration file might be the cul

[2019-03-11 20:35] vbaranov commented on #1548
The same issue https://github.com/poanetwork/blockscout/issues/968 has been fixed. Do you use the code from the current `master` branch?

[2019-03-11 20:41] #1541 closed

[2019-03-11 21:00] eduardonunesp commented on #1495
Same here with ganache

[2019-03-12 08:39] #1525 closed

[2019-03-12 09:52] LiorRabin opened #1549 "repeating error on blockscout log"
We've deployed the latest version of blockscout and constantly an error in the log:

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
`Elixir 1.7.2 (compiled with Erlang/OTP 19)`
* Operating System:
`Linux version 4.14.88-88.76.amzn2.x86_64`
### Steps to reproduce

Just follow the deployment and installation steps in README and start run blockscout

### Expected behaviour

*Tel

[2019-03-12 09:58] LiorRabin opened #1550 "token details display"
We're running an older version of the blockscout as well as the latest one and we encountered a behaviour we're trying to understand.

A token's name is not showing and in transactions history the value is with all the 18 decimals instead of showing the human-readable value.

New version: https://explore.fuse.io/tokens/0x7d319b6bf7ca1a6d75add79326ad3bf31dca6166/token_transfers

Old version: https:

[2019-03-12 10:45] vbaranov commented on #1549
It looks like DB migrations did not take place. Did you run `mix ecto.create && mix ecto.migrate`? In addition, the latest version of Blockscout from `master` branch is not compatible with Elixir `1.7.2`. You should build with `1.8.1.`.

[2019-03-12 11:02] mkrufky opened #1552 "Docker build is broken due to incorrect alpine-elixir-phoenix"
Docker build is broken after the move to `alpine-elixir-phoenix` version 1.8.x

BlockScout now requires a later version of `alpine-elixir-phoenix`, so remove the pin to version 1.7.1

[2019-03-12 11:18] LiorRabin commented on #1549
Yes, I've run the DB migrations. I will try to upgrade the elixir version but I don't think it's related.
Maybe I should drop the DB and let it re-index again? But in that case I will lose all the verified contracts right?

[2019-03-12 11:21] vbaranov commented on #1549
Yes, if you will drop DB, you will loose verified smart-contracts

[2019-03-12 12:17] LiorRabin commented on #1549
mix ecto.create && mi ecto. migrate should keep all the verifications right?

[2019-03-12 12:24] vbaranov commented on #1549
Right, it will not drop DB. It is safe to execute `mix ecto.create && mix ecto.migrate`.

[2019-03-12 13:07] #1552 closed

[2019-03-12 13:29] #1506 closed

[2019-03-12 16:34] saneery commented on #465
@KronicDeth, I think the issue solved by this commit https://github.com/poanetwork/blockscout/commit/3499155cdba64241f6a8c72b16f4cd06d81afe0a

Errors are handled here:
https://github.com/poanetwork/blockscout/blob/master/apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/block.ex#L83

[2019-03-12 16:44] cat-j commented on #1548
I do. I tried cloning a clean, updated copy of the BlockScout repo and I'm still having this issue. Is there anything that I should fix by hand?

[2019-03-12 16:56] cat-j commented on #1548
I should add that it works fine on `production-rinkeby`!

[2019-03-12 21:51] acravenho opened #1555 "Make the explorer links configurable via an environment variable"
This is a feature request to make the list of BlockScout instances configurable via an environment variable. Here is the piece of code that currently dictates the header/footer lists:

https://github.com/poanetwork/blockscout/blob/d4e0685c19b32dbfb49f2a6bca13b26d6b76e653/apps/block_scout_web/config/config.exs#L23-L74

This request was made here: https://forum.poa.network/t/remove-other-networks-in

[2019-03-13 01:02] lightninggalaxy commented on #1536
I have tried with v1.3.4 and glad to report that I am not seeing the error message that I have reported. I'll be switching to this version. Thanks!

[2019-03-13 02:41] acravenho opened #1556 "Realtime indexer indexing already indexed blocks"
I've been noticing this bug for a while and we've been talking about this for quite some time in Slack but the realtime indexer seems to be indexing previous blocks that are not forked blocks. For an example, please check this address: https://blockscout.com/poa/core/address/0x548806f2215f44571431292f2314480c3f519044/transactions

While checking the above address you'll see that the timestamps on

[2019-03-13 04:47] acravenho opened #1557 "Add big number support"
Some users of smaller testnets are experiencing error such as the following:

[code]

Another Error:

[code]

Forum link:

Please check Discord for more info.

[2019-03-13 07:51] #1536 closed

[2019-03-13 07:57] vbaranov commented on #1549
@LiorRabin does migration execution help?

[2019-03-13 07:57] LiorRabin commented on #1549
Didn't try it yet, I will update

[2019-03-13 08:04] vbaranov commented on #1548
Did you set `ETHEREUM_JSONRPC_VARIANT=geth` as described in README when you were building from `master` branch?

[2019-03-13 13:35] cat-j commented on #1548
Yeah, I'm doing everything as described in README.

[2019-03-13 13:48] vbaranov commented on #1548
well, if `production-rinkeby` suits for you, please use it to deploy Blockscout. Moreover, the latest [release 1.3.4](https://github.com/poanetwork/blockscout/releases/tag/v1.3.4-beta) is already in that branch and we'll keep it updated with new releases.

[2019-03-13 14:30] cat-j commented on #1548
OK, turns out this started failing in a completely different way on `master` through no action of my own (fetched latest block just fine, froze on all the others), then displayed no blocks when I restarted the database, then magically started working. Since I never really touched the explorer, I'm leaning towards something dodgy going on with my node, so I guess you can close this.

[2019-03-13 14:36] #1548 closed

[2019-03-13 15:32] #1464 closed

[2019-03-13 18:59] saneery commented on #1495
I get same error with ganache.

It seems like `ConsensusEnsurer` try to fetch block with `-1` number during the first synchronization
https://github.com/poanetwork/blockscout/blob/24350c1192880722ffc2ab2d46af09a2b2dde1e8/apps/indexer/lib/indexer/block/realtime/fetcher.ex#L266-L269

I think we can ignore such block with guard:
[code]

[2019-03-13 20:12] zachdaniel commented on #1225
I attempted to reproduce this just now using current master and sokol, and I could not. @dennis00010011b can you confirm that this bug is still happening using latest master?

[2019-03-14 08:09] lightninggalaxy opened #1561 "Main page becomes slower as there are more blocks"
Just the main page is getting slower as there are more blocks. The main page has a TTFB of around 8,000 ms (which is increasing each day), while the other pages have a TTFB of around 15 ms. I am running the app in production mode. Current block height is ~20k with less than 100 tx.

Environment
Erlang/OTP 21 [erts-10.0.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
Elixir 1.7.

[2019-03-14 09:14] 0x-genesys opened #1563 "application=indexer fetcher=block_reward count=10 error_count=10 [error] failed to fetch: @⤠: (404) Not Found"
Same issue as : https://github.com/poanetwork/blockscout/issues/1526

Chain : private POA chain

Elixir: 1.7.4 (worthwhile to mention as  warning for 1.8 is generated)

error:

[code]

Everything else works fine. I keep getting the above error at a high rate in the logs. For now im running Master branch of blockscout.

Any help would be really appreciated

[2019-03-14 09:43] 0x-genesys commented on #1563
for now on the forked repo I have commented out block_reward supervisor. This solution only works for me as our chain is not POW : https://github.com/SpringRole/blockscout/pull/6

[2019-03-14 12:19] kunpoolsion commented on #1557
Hello, I’m getting those errors in Pirl Network.

[2019-03-14 13:41] zachdaniel commented on #1306
I think the javascript has been effectively optimized here, and that we can close this.

[2019-03-14 13:42] #1306 closed

[2019-03-14 13:52] zachdaniel commented on #1503
This issue will be fully resolved once #1543 is merged.

[2019-03-14 13:56] goodsoft commented on #1503
I'd wait until we fully synchronize before closing.

[2019-03-14 13:56] zachdaniel commented on #1503
Yeah, agreed :+1:

[2019-03-14 14:29] acravenho opened #1564 "Verify smart contract through an API endpoint"
It would be helpful for developers to be able to verify a smart contract through an API endpoint.

Etherscan offers this functionality here: https://etherscan.io/sourcecode-demo.html

[2019-03-14 15:09] FuZuK opened #1565 "Difference of internal transactions between etherscan and blockscout"
Hello!
We have an instance of the blockout on our machine and use geth. When executing a request to geth using debug_traceTransaction for transaction 0x288d7c6017ef596c05ad3a27404684c48ed065442ba228e895dc30b37f3231c6 (using the same tracer as blockscount, [request to geth](https://github.com/poanetwork/blockscout/files/2967046/debug_curl.txt)), a list of two internal transactions is returned:
{

[2019-03-14 16:27] #1450 closed

[2019-03-14 16:55] #1535 closed

[2019-03-14 17:15] zachdaniel opened #1566 "Allow configuring a different node for the realtime fetcher"
In order to give the realtime fetcher a dedicated node, we need to be able to configure a separate set of connection info for just the realtime fetcher. If one is not configured, then we should use the current configuration.

The motivation for this is to make it such that the catchup fetcher and realtime fetcher don't step on eachother's toes. We don't want catchup fetcher congestion to slow down

[2019-03-14 18:09] zachdaniel commented on #1250
@Dycedlp would you want just the address hashes? Is there anything specific you'd want from that endpoint?

[2019-03-14 18:34] vbaranov opened #1568 "Deployment v1.3.5- Ethereum Mainnet"
## Info
Network: **Ethereum Mainnet**
Date: **2019-03-15**
Version: **v1.3.5**

## Description
This issue is for approval of deploying [v1.3.5](https://github.com/poanetwork/blockscout/releases/tag/v1.3.5-beta) to Ethereum Mainnet.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/repla

[2019-03-14 18:37] ayrat555 commented on #1568
Looks good to me

[2019-03-14 18:48] vbaranov opened #1569 "Create API endpoint: a list of all smart-contracts"
Module: **Contract**
Endpoint: a list of all smart-contracts addresses from the chain

Input parameters:
 - `batch_size` - batch size
 - `page` - number of page (from 1)
~~`secret_key` - alphanumeric string~~
 - `filter` - the value from the list: verified\decompiled\unverified\not_decompiled (or the numbers (1\2\3\4))

Secret key should store in DB or in ENV variable to be able to change it witho

[2019-03-14 18:58] igorbarinov commented on #1557
The PR is ready and will be merged after testing. Btw what is the URL for your explorer?

[2019-03-14 19:05] kunpoolsion commented on #1557
Hello, thanks
http://159.69.105.213
I can make the changes for test if you want
😘

On Thu, 14 Mar 2019 at 19:58, Igor Barinov <notifications@github.com> wrote:

--
---------------------------
Diez Ruiz Miguel.
---------------------------

[2019-03-14 19:21] SiddigZeidan commented on #1557
Hi @kunpoolsion! Awesome to see you guys are using BlockScout! Can you message me and we can talk about making an announcement?

[2019-03-15 00:22] svenski123 commented on #1408
Please keep this open.
Any further feedback on the token_transfers index change would be appreciated, as would feedback on the revised update_replaced_transaction.sql script.

[2019-03-15 00:26] zachdaniel commented on #1408
I think we can work with that time actually, due to our current plans with stg. @vbaranov we should be able to just deploy this to stg and run the migration, and that would line w/ our plans to upgrade stg -> prod later on.

[2019-03-15 02:04] lightninggalaxy commented on #1495
I am getting the same error message with geth.

[2019-03-15 02:12] lightninggalaxy commented on #1561
The issue has gone for now. I will make an update if it comes back again.

[2019-03-15 02:12] #1561 closed

[2019-03-15 02:13] rjl493456442 commented on #1530
@vbaranov Really sorry for the late reply. Regarding the transaction number, no it is still zero.

[2019-03-15 02:15] rjl493456442 commented on #1530
@acravenho The sql output

[code]

[2019-03-15 02:20] acravenho commented on #1530
This issue is related to #1405. I would suggest storing the total transactions in an `ETS` (Erlang Term Storage) table vs querying an estimated amount from Postgres. There may be an issue with v11. Storing the total transactions in an `ETS` should solve all issues related to this.

[2019-03-15 02:32] rjl493456442 commented on #1530
@acravenho Appreciate for the solution. Please ping me when you fix this issue.

[2019-03-15 09:56] vbaranov opened #1570 "Create API endpoint: upload decompiled smart-contract code"
Module: **Contract**

upload API, with the following fields:
- address (with checksum)
- decompiler version (a short string of a few characters, with info on what decompiler version was used)
- decompiled contract as plain text
- secret key

Secret key should store in DB or in ENV variable to be able to change it without redeploying the application.

*Notice*: If upload is called, and there is alr

[2019-03-15 10:09] vbaranov opened #1571 "Extend smart-contracts table for storing decompiled code"
Extend `smart-contracts` table.

Add new fields:
- `decompiler_version` of type varchar(40)
- `decompiled_code` of type text
- `decompiled` of type Boolean

[2019-03-15 10:09] igorbarinov commented on #1570
This functionality should be disabled but default

[2019-03-15 10:29] igorbarinov commented on #1569
This API should be public and with pagination to prevent DoS

[2019-03-15 11:51] vbaranov commented on #1565
As for the Blockscout we are in the process of reindexing of internal transactions. This is why you can see this message:

![Screenshot 2019-03-15 at 14 44 22](https://user-images.githubusercontent.com/4341812/54429207-e8b9be00-4730-11e9-8015-973a74e8be5c.png)

Hopefully, the missing internal txs will come after the reindexing will finish.

[2019-03-15 13:48] vbaranov commented on #1568
Blockscout instance for Ethereum Mainnet chain updated up to [v1.3.5](https://github.com/poanetwork/blockscout/releases/tag/v1.3.5-beta)

[2019-03-15 13:48] #1568 closed

[2019-03-15 14:01] vbaranov opened #1574 "Deployment v1.3.5- Sokol"
## Info
Network: **Sokol**
Date: **2019-03-18**
Version: **v1.3.5**

## Description
This issue is for approval of deploying [v1.3.5](https://github.com/poanetwork/blockscout/releases/tag/v1.3.5-beta) to Sokol.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://gi

[2019-03-15 14:04] FuZuK commented on #1565
Thanks! Do you have any ideas about blockscout returning two internal translations?

[2019-03-15 14:05] vbaranov opened #1575 "Deployment v1.3.5- Kovan"
## Info
Network: **Kovan**
Date: **2019-03-18**
Version: **v1.3.5**

## Description
This issue is for approval of deploying [v1.3.5](https://github.com/poanetwork/blockscout/releases/tag/v1.3.5-beta) to Kovan.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://gi

[2019-03-15 14:07] vbaranov opened #1576 "Deployment v1.3.5- Ropsten"
## Info
Network: **Ropsten**
Date: **2019-03-18**
Version: **v1.3.5**

## Description
This issue is for approval of deploying [v1.3.5](https://github.com/poanetwork/blockscout/releases/tag/v1.3.5-beta) to Ropsten.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https:

[2019-03-15 15:57] vbaranov opened #1580 "Unable to search without `0x` prefix"
**Problem**: when I am trying to search address/tx without `0x` prefix it gives me `Page not found`

**Solution**: add `0x` prefix in the query, if an input data is without it.

[2019-03-15 16:12] vbaranov commented on #1550
Do both instances use the same database?
If yes, we recently issued the release [1.3.5-beta](https://github.com/poanetwork/blockscout/releases/tag/v1.3.5-beta). Try to build with it your new version and please let us know the results.

[2019-03-15 16:35] acravenho commented on #1568
Ethereum Mainnet v1.3.5 is not showing USD values on any address. This is most likely caused by old JS assets.

[2019-03-15 17:31] vbaranov commented on #1568
@acravenho Thanks, Andrew for noticing it. We will take care of this problem in the next patch.

[2019-03-16 19:57] #1574 closed

[2019-03-17 08:34] LiorRabin commented on #1550
The instances use different DBs

[2019-03-17 18:38] #1199 closed

[2019-03-17 18:52] goodsoft commented on #1566
For the record, the actual motivation is to make sure the realtime fetcher only makes requests about recently added blocks to the node it gets websocket notifications from.
Otherwise, the load balancer routes some of the fetch requests to other nodes, which may be less up-to-date, and causes the realtime fetcher to abandon the block entirely and leave it to catchup fetcher.

[2019-03-17 19:30] goodsoft opened #1584 "Cardinality violation while importing block_rewards"
The following error appears in catchup fetcher for some blocks:
[code]

Beneficiaries in question:
[code]
Note the same address being rewarded for the two uncle blocks.

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`): `Elixir 1.8.0 (compiled with Erlang/OTP 21)`
* Operating System: Linux

### Steps to reproduce

Hardcode the block to fetch in `apps/indexer/lib/indexer/block/ca

[2019-03-17 20:00] goodsoft commented on #1584
By they way, the block itself is completely abandoned and unavailable on production website: https://blockscout.com/eth/mainnet/blocks/7374455/transactions

As for the reasons, the doc in `Explorer.Chain.Block.Reward` says:
[code]
So, as far as I understand, we should have saved the hash of the uncle block this address validated, but in reality we save there the hash of the current, i.e. "nephew"

[2019-03-17 21:45] goodsoft commented on #1584
Looking more into this I discovered that `block_hash` is expected to be a hash of the "nephew" block, and there's another fetcher dedicated to rewards, which has [`reduce_uncle_rewards`](https://github.com/poanetwork/blockscout/blob/master/apps/indexer/lib/indexer/block/reward/fetcher.ex#L202-L232) function, which sums reward to same addresses.
Thus, the correct solution would be to use the same `

[2019-03-17 21:55] vbaranov opened #1585 "Deployment v1.3.7- Goerli"
## Info
Network: **Goerli**
Date: **2019-03-18**
Version: **v1.3.7**

## Description
This issue is for approval of deploying [v1.3.7](https://github.com/poanetwork/blockscout/releases/tag/v1.3.7-beta) to Goerli.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://

[2019-03-18 00:06] zachdaniel commented on #1566
Good to know! I thought it was a performance issue :)

[2019-03-18 08:48] #1526 closed

[2019-03-18 08:57] #1563 closed

[2019-03-18 10:41] vbaranov commented on #465
@saneery indeed, it has been already handled. Thanks.

[2019-03-18 10:41] #465 closed

[2019-03-18 11:23] vbaranov commented on #1495
@saneery I repeated the problem with ganache. You suggestion looks reasonable. Could you check it locally? And if it eliminates the issue, could you create a PR?

[2019-03-18 12:03] vbaranov opened #1587 "(Bug) Realtime.Fetcher doesn't handle simple coins transfer with ganache"
[code]

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`): `Elixir 1.8.1 (compiled with Erlang/OTP 21)`
* Operating System: `Mac OS Mojave 10.14.3 (18D109)`
* ganache-cli  version (`ganache-cli --version`): Ganache CLI v6.1.6 (ganache-core: 2.1.5)

### Steps to reproduce

Run Blockscout locally with `ganache-cli` from the master branch (This commit is the latest at the time of th

[2019-03-18 13:12] saneery commented on #1495
@vbaranov, yes sure

[2019-03-18 14:25] #1566 closed

[2019-03-18 15:46] vbaranov commented on #1587
@goodsoft

I've attached geth to ganache with `geth attach http://127.0.0.1:8545`
My env vars set looks like:
[code]

[2019-03-18 15:47] vbaranov commented on #1587
geth version:

[code]

[2019-03-18 15:48] goodsoft commented on #1587
So the indexer is connected to Geth, which is in turn connected to Ganache?

[2019-03-18 15:49] vbaranov commented on #1587
Absolutely right

[2019-03-18 17:23] #1575 closed

[2019-03-18 17:24] #1576 closed

[2019-03-18 19:22] brianmcmichael opened #1593 "Missing trie node error from 0x00... account tx's [geth/clique]"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`): `1.8.1`
* Operating System: Ubuntu 18.04

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

Running a Clique POA network on geth. Updated from a previous version and updated dependencies

[2019-03-18 23:03] Duchoadongland opened #1594 "xDai Chain: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.7.4
* Erlang Version: 21
* BlockScout Version: unknown

* User Agent: `Mozilla/5.0 (Linux; Android 6.0.1; GT-N5100 Build/MOB30J) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 YaBrowser/18.10.2.113.01 Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork

[2019-03-18 23:23] nrg-jeff commented on #1593
I am also having this error running on geth. Ping me if you found a solution @brianmcmichael ?

[2019-03-19 06:23] #1594 closed

[2019-03-19 07:50] #1557 closed

[2019-03-19 09:53] #1495 closed

[2019-03-19 15:07] #1250 closed

[2019-03-19 15:09] #1584 closed

[2019-03-19 16:12] dviramontes opened #1598 "Feature Request: Index from a specific block height"
👋This is a feature request for Blockscout to begging indexing from a specific block number (height) say for example i wanted to start syncing from block 6,000,000.

This would be helpful for a number of reasons:
- auditing a specific sector
- analyzing computer resources needed
- rescanning corrupt data
- etc..

I would love to help implement it as well but i'm sure people here have much more expe

[2019-03-19 16:30] brianmcmichael commented on #1593
No solution. I filled up a 200GB disk in the past 24 hours with all of the logs though. As of right now I've resorted to cron jobs trimming the log files every hour.

[2019-03-19 16:39] igorbarinov commented on #1593
We are  looking into the problem

[2019-03-19 16:40] brianmcmichael commented on #1433
Still seeing this error in indexer.log after update/upgrade to 1.3.5. I just noticed that there was a 1.3.6 release an hour ago though, not sure if it touched the issue.

[code]

[2019-03-19 16:58] vbaranov opened #1599 "Deployment v1.3.7- POA Core"
## Info
Network: **POA Core**
Date: **2019-03-20**
Version: **v1.3.7**

## Description
This issue is for approval of deploying [v1.3.7](https://github.com/poanetwork/blockscout/releases/tag/v1.3.7-beta) to POA Core.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
http

[2019-03-19 16:59] vbaranov opened #1600 "Deployment v1.3.7- xDai"
## Info
Network: **xDai**
Date: **2019-03-20**
Version: **v1.3.7**

## Description
This issue is for approval of deploying [v1.3.7](https://github.com/poanetwork/blockscout/releases/tag/v1.3.7-beta) to xDai.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://gith

[2019-03-19 17:04] vbaranov opened #1601 "Deployment v1.3.7- Sokol"
## Info
Network: **Sokol**
Date: **2019-03-20**
Version: **v1.3.7**

## Description
This issue is for approval of deploying [v1.3.7](https://github.com/poanetwork/blockscout/releases/tag/v1.3.7-beta) to Sokol.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://gi

[2019-03-19 17:05] vbaranov opened #1602 "Deployment v1.3.7- Ropsten"
## Info
Network: **Ropsten**
Date: **2019-03-20**
Version: **v1.3.7**

## Description
This issue is for approval of deploying [v1.3.7](https://github.com/poanetwork/blockscout/releases/tag/v1.3.7-beta) to Ropsten.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https:

[2019-03-19 17:06] vbaranov opened #1603 "Deployment v1.3.7- Kovan"
## Info
Network: **Kovan**
Date: **2019-03-20**
Version: **v1.3.7**

## Description
This issue is for approval of deploying [v1.3.7](https://github.com/poanetwork/blockscout/releases/tag/v1.3.7-beta) to Kovan.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https://gi

[2019-03-19 17:12] vbaranov opened #1604 "Deployment v1.3.7- Rinkeby"
## Info
Network: **Rinkeby**
Date: **2019-03-20**
Version: **v1.3.7**

## Description
This issue is for approval of deploying [v1.3.7](https://github.com/poanetwork/blockscout/releases/tag/v1.3.7-beta) to Rinkeby.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/replaced fetcher
https:

[2019-03-19 17:14] vbaranov opened #1605 "Deployment v1.3.7- Ethereum Mainnet"
## Info
Network: **Ethereum Mainnet**
Date: **2019-03-20**
Version: **v1.3.7**

## Description
This issue is for approval of deploying [v1.3.7](https://github.com/poanetwork/blockscout/releases/tag/v1.3.7-beta) to Ethereum Mainnet.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/repla

[2019-03-19 17:16] vbaranov opened #1606 "Deployment v1.3.7- Ethereum Classic"
## Info
Network: **Ethereum Classic**
Date: **2019-03-21**
Version: **v1.3.7**

## Description
This issue is for approval of deploying [v1.3.7](https://github.com/poanetwork/blockscout/releases/tag/v1.3.7-beta) to Ethereum Classic.

## Specific Directions
* Disable replaced transaction fetcher until the permanent solution is completed
    * Uncomment the following line to disable the dropped/repla

[2019-03-19 17:48] Eika4 opened #1607 "JSON RPC Endpoint Variant"
No Endpoint Variant available for aleth (formerly cpp-ethereum).

Need to add RPC endpoint variant configuration for aleth.

[2019-03-19 19:08] goodsoft commented on #1556
Not seeing this bug anymore with `v1.3.4-beta` deployed.
Did you encounter it anywhere else?

[2019-03-19 22:06] vbaranov opened #1609 "ENV var for announcement msg"
**Problem**: there is no way to display any message (for example, maintenance message or announcement) without redeploying the codebase

**Solution**: allow define ENV var for displaying of such message. If such var present, the message with text from this var is shown in the top of Blockscout with the cross icon to remove this message.

[2019-03-20 10:12] vbaranov opened #1612 "Improve performance of pending txs page"
**Problem**: `/pending_transactions` page often causes `Internal server error` on opening for big chains like Ethereum Mainnet

**Solution**: Increase the performance of the page. Maybe to decrease the number of pending txs on the page?

[2019-03-20 10:24] #1389 closed

[2019-03-20 17:47] nrg-jeff commented on #1593
awesome thanks for the update

[2019-03-20 18:03] vbaranov commented on #1605
v1.3.7 deployed to Ethereum Mainnet instance

[2019-03-20 18:03] #1605 closed

[2019-03-20 18:06] vbaranov commented on #1565
Internal transactions appeared for the aforementioned transaction. I will close the issue when reindexing will fully be finished.

[2019-03-21 06:25] vbaranov opened #1619 "Error in token balance reader"
chain: **Kovan**

[code]

[2019-03-21 06:53] vbaranov opened #1620 "Missing favicon on every deployment"
**Problem**: favicon.ico is missing with every deployment of a new Blockscout version to each instance

**Solution**: fix the path for favicon

[2019-03-21 10:27] vbaranov opened #1622 "Create tab for decompiled contracts"
Create a tab in the contact page to display data for decompiled contracts

[2019-03-21 10:41] #1593 closed

[2019-03-21 11:32] #1598 closed

[2019-03-21 13:32] vbaranov commented on #1606
1.3.7 deployed to Ethereum Classic

[2019-03-21 13:32] #1606 closed

[2019-03-21 13:47] #1585 closed

[2019-03-21 15:15] goodsoft opened #1628 "Create an inventory list of all fetchers in indexer"
There're a lot of fetchers in the indexer application, and it's not obvious, how many of them are there, what is their purpose, how do they work together, and whether they are still relevant.
This causes problems like [code duplication](https://github.com/poanetwork/blockscout/pull/1595), [ineffectiveness](https://github.com/poanetwork/blockscout/pull/1560) and [inadvertent breaking](https://githu

[2019-03-21 17:01] vbaranov commented on #1603
Done

[2019-03-21 17:01] #1603 closed

[2019-03-21 19:19] vbaranov commented on #1604
Done

[2019-03-21 19:19] #1604 closed

[2019-03-21 19:59] vbaranov commented on #1602
Done

[2019-03-21 19:59] #1602 closed

[2019-03-22 08:39] vbaranov commented on #1601
Done

[2019-03-22 08:39] #1601 closed

[2019-03-22 09:46] vbaranov commented on #1599
Done

[2019-03-22 09:46] #1599 closed

[2019-03-22 11:13] vbaranov commented on #1600
Done

[2019-03-22 11:13] #1600 closed

[2019-03-22 14:38] pashagonchar opened #1638 "New style for Lukso network"
Zeplin:
https://zpl.io/25OzjRn

<img width="1280" alt="lukso_3_3" src="https://user-images.githubusercontent.com/16716926/54830260-d9062080-4cc0-11e9-8c6a-1062e0e82b51.png">

[2019-03-22 15:31] frozeman commented on #1638
Awesome!
We are currently looking into adding metadata for the validators, so we might need to add that fields later, or on start.

[2019-03-22 15:31] frozeman commented on #1638
Thanks @pashagonchar

[2019-03-22 18:45] vbaranov opened #1640 "Fix typo in EVM version"
Vesion -> Version

![IMG_20190322_193751_662](https://user-images.githubusercontent.com/4341812/54845930-b76e5e80-4ceb-11e9-8cd3-c19e10463ce7.jpg)

[2019-03-22 18:50] DaveAppleton opened #1641 "xDai Chain: <Code Verification>"
*Code does not verify.*
### Environment
* Elixir Version: 1.8.1
* Erlang Version: 21
* BlockScout Version: v1.3.7-beta

* User Agent: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.75 Safari/537.36`

### Steps to reproduce

Remix : load following code
Compile with 0.5.6 (release version), Optimisation : YES
Deploy to xDai network using Meta

[2019-03-22 19:08] goodsoft opened #1642 "internal_transactions_indexed_at is not set for empty blocks"
Since the `blocks.internal_transactions_indexed_at` field is derived from fetched internal transactions, it is not set at all if no transactions were recorded in a block.
Thus, they are repeatedly attempted to be indexed.

[2019-03-23 00:51] goodsoft commented on #1556
Just confirmed the realtime fetcher visiting the same block twice:
[code]

[2019-03-23 08:58] acravenho commented on #1556
@goodsoft I've seen this up to 10 times on a single block for Ethereum Mainnet. At first, I thought this could be caused by the node sending multiple notifications for a new block through WebSockets, such as on a forked block, but on further investigation, this was not the case.

I believe this problem started around this commit: https://github.com/poanetwork/blockscout/pull/1190/commits/0204d08fb

[2019-03-23 14:38] goodsoft opened #1644 "The chain contains non-consensus blocks"
This causes foreign key violations when importing internal transactions for them.

Compare, for example:
https://etherscan.io/txs?block=6479035 — 160 txs
https://blockscout.com/eth/mainnet/blocks/6479035/transactions — 9 txs

This particular block was fetched on October 8th, 2018.
As it was imported 10 seconds after mining, the bug was most probably present in the realtime fetcher.

**UPD**: the b

[2019-03-23 14:49] goodsoft commented on #1644
Possible remedy: wait until all internal transactions get successfully imported, and re-fetch the remaining blocks.

As _each and every_ transaction has at least one internal transaction, missing transactions will prevent their blocks from being marked as indexed anyway, so we can safely assume that unmarked blocks contain missing transactions and need to be re-fetched.

[2019-03-23 15:51] goodsoft commented on #1644
The number of affected blocks:
[code]

The bug manifested itself occasionally from `2018-10-07 20:01:21.385577` till `2019-02-07 16:59:03.802962` (roughly half of the number above), and, after an almost month-long break it started again at `2019-03-01 09:59:37.205347` and a bunch of such blocks appear every day.

[2019-03-23 20:59] YumingHe opened #1645 "Blockscout container shutting down"
I'm wondering what the system requirement is needed for running blockscout. I'm currently experimenting with blockscout on a private Parity PoA network. I am using the dockerized setup. However, I am noticing that the blockscout container will shutdown randomly after couple hours of running, and the CPU consumption is always at ~90%.

The machine spec I have been running the container under is:
-

[2019-03-24 13:16] kunpoolsion opened #1646 "Queue at maximum, entries could not be added"
Indexer is refusing to add entries.

### Environment

* Elixir & Erlang/OTP versions :1.8.1 / 21
* Operating System: 16.04

### Steps to reproduce

After index the blockchain, while waiting for new blocks the indexer starts to return the errors.

### Expected behaviour

Add all entries

### Actual behaviour

Refuse to add them. The total ammount of account are decreasing quickly.

`2019-03-24T00:5

[2019-03-25 12:09] vbaranov commented on #1571
Just for the record: instead of extending `smart-contracts` table, the decision was made to create a separate table for decompiled smart-contracts: `decompiled_smart_contracts`

[2019-03-25 12:12] #1571 closed

[2019-03-25 12:12] #1570 closed

[2019-03-25 12:26] Chongfeitoo opened #1648 "Ethereum Mainnet: <how to verify my token exchange? >"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
* Operating System:

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

*Tell us what happens instead.*

[2019-03-25 12:30] vbaranov commented on #1648
@Chongfeitoo please elaborate what is your issue about?

[2019-03-25 12:36] Chongfeitoo commented on #1648
I have problems with my Etherscan account token verification and exchange to my wallet.

[2019-03-25 13:36] LiorRabin opened #1649 "error in deployment"
We're trying to deploy [our latest blockscout version](https://github.com/ColuLocalNetwork/blockscout) and encounter the following error:
[code]
any ideas?

[2019-03-25 14:26] #1642 closed

[2019-03-25 14:30] vbaranov commented on #1649
Answered in gitter:

[2019-03-25 14:30] #1649 closed

[2019-03-25 16:34] ayrat555 commented on #1641
@DaveAppleton Can you please all values that you entered to verification form? Also, what version of the compiler is used exactly? `v0.5.6+commit.b259423e`

[2019-03-25 19:20] acravenho commented on #1646
You need to increase your memory limit: https://github.com/poanetwork/blockscout/blob/b4de943cdd034680750a12c829645bdc947e2be2/apps/indexer/config/config.exs#L36

[2019-03-25 19:22] acravenho commented on #1645
You should have no problems running BlockScout. Are you receiving any errors?

[2019-03-25 19:33] kolinko commented on #1569
With not_decompiled, it would be good to have a "with_version" parameter. When a new version of the decompiler comes up, when updating the records, we'll need to have a list of contracts that weren't yet decompiled with this new version.

[2019-03-25 19:38] kolinko commented on #1571
Good choice re: a new table. Decompiled contracts can take some space, so it's probably better to keep them in a separate table.

[2019-03-25 19:41] goodsoft opened #1652 "Create a reusable library of proper JSON-RPC responses"
Many tests in the project require mocking JSON-RPC responses received from a node.
Most of them contain the verbatim mock responses right in the test code.

This causes multiple problems:
* the responses don't exactly match responses from a real node
* many of them need to be shortened for the sake of readability, while still being too large
* they cause a huge amount of copy-paste, especially whe

[2019-03-25 20:05] vbaranov commented on #1569
Thanks for mentioning that. We will add "with_version" parameter.

[2019-03-25 20:06] kolinko commented on #1569
Thanks!
On Mon, 25 Mar 2019 at 13:05, Victor Baranov <notifications@github.com>
wrote:

[2019-03-25 20:57] YumingHe commented on #1645
@acravenho I'm running against a pruning parity node, so i do warinings on not being able to fetch internal transactions and asking me to run an archive node. Other than that nothing, the container just shuts down after a while.

[2019-03-25 22:25] vbaranov commented on #1640
Fixed in https://github.com/poanetwork/blockscout/pull/1647

[2019-03-25 22:25] #1640 closed

[2019-03-25 23:58] goodsoft commented on #1644
It seems that I found a reason for this bug.

Consider this chain of consensus blocks successfully imported and stored in the database:
[code]
(where `Y(X)` means a block with `hash = Y` and `parent_hash = X`)

Now two new blocks arrive from a node: `D(A)` and `E(D)`. The latter gets successfully imported causing consensus loss for block `C`, while the former one failed with timeout.
Now our chain

[2019-03-26 02:37] nambrot commented on #1151
Hey Blockscout Team, thank you for considering this issue. We were just wondering if you had any information on whether we could possibly expect this anytime soon. Not that we expect you to do it, just to give ourselves some planning certainty

[2019-03-26 10:22] vbaranov opened #1653 "Contracts verification: fallback to 2 closest EVM versions"
**Problem**: A user can choose unintentionally incorrect EMV version for smart-contract verification

**Solution**: Let's fallback to 2 closest EVM versions in case of incorrect smart-contract verification with the chosen one. And try verification with them.

[2019-03-26 13:14] LiorRabin commented on #1549
@vbaranov running migration fixed the issue, thanks

[2019-03-26 13:14] #1549 closed

[2019-03-26 13:15] LiorRabin commented on #1550
@vbaranov fixed when deployed new version.

[2019-03-26 13:15] #1550 closed

[2019-03-26 13:17] pedrouid opened #1655 ""Unknown Action" when getting account balance for a specific address (ETH Mainnet)"
I'm using `blockscout.com` API and I'm getting very similar issue to #1346 but I have it for a different address and network.

Whenever I try to get the account balance for `0x6e4d387c925a647844623762ab3c4a5b3acd9540` on ETH Mainnet using the following request.

[code]

I get the `Unknown Action` error response

[code]

However I don't get this issue with other addresses as for example: `0xcBec155

[2019-03-26 13:27] vbaranov commented on #1655
Just for the record: from my tests, this issue can spontaneously appear/disappear for any address on every chain.

[2019-03-26 13:29] pedrouid commented on #1655
Could we get a different error message for what's causing this issue?

[2019-03-26 13:34] vbaranov commented on #1655
We will figure out what is the root cause and will try to eliminate this.

[2019-03-26 15:50] d10r opened #1656 "Feature request: transaction traces"
Sometimes it would be useful to view (raw) transaction traces. Examples on other explorers:
* etherscan: https://etherscan.io/vmtrace?txhash=0x1c9679c0f6e1539075b5c52939ec72eef5995c69c571f9f84f599768cc479707&type=parity#raw
* etherchain-light: https://light.etherchain.org/tx/raw/0xb685caa9686474cbc9d6e577845cf617c9992c04e2bfca1fd3f8248460c1b365

[2019-03-26 19:16] vbaranov commented on #1648
This is a Blockscout repo. If you have any problems with verification of smart-contract in Blockscout, please describe your issue in details using the template.

[2019-03-26 19:16] #1648 closed

[2019-03-26 19:27] igorbarinov commented on #1656
We don't store this data in the database afaik
There are possible ways to get the data
- from the node on request
- add additional fetcher and persist it

[2019-03-26 20:42] Lokraan commented on #811
@zachdaniel @gfreh @vaibhavchellani @acravenho would it be OK if I worked on this issue?

[2019-03-26 20:50] acravenho commented on #811
@Lokraan This is a very sought after feature. That would be great to have you work on it.

@vbaranov Any issues with this?

[2019-03-27 05:23] NEO2756 opened #1659 "BlockScount against ethereum-PoA (clique)"
I am trying to run Blockscout against EThereum-PoA (clique) private chain. Is it possible?

1. I tried to run using VARIANT==geth and I can see the transactions and Blocks, but Instead of Validotors/Signers/Sealers it shows "Miner" and all miner addresses are 0x000... as described in #1548 .
2. How to change conversion unit from POA to ETH. (Any configurations?)

### Environment
* Elixir & Erlang/

[2019-03-27 05:28] vbaranov commented on #1659
Yes, it is possible. It is configurable here:
poanetwork/blockscout/blob/12aa15671142af00b35ff05aeac107c2c686c4c8/apps/block_scout_web/priv/gettext/default.pot

Please check the related post https://forum.poa.network/t/deployment-differences-between-each-blockscout-chain/1950

[2019-03-27 06:55] NEO2756 commented on #1659
Thanks a ton @vbaranov , it helps.

[2019-03-27 06:55] #1659 closed

[2019-03-27 08:59] pashagonchar commented on #1638
@gabitoesmiapodo

Updates
------
Zeplin:

https://zpl.io/bPPRWYM

https://zpl.io/b61pZvm

https://zpl.io/2v7Q1WQ

https://zpl.io/VOPrNmX

https://zpl.io/aR1ArEK

----------------

![accounts](https://user-images.githubusercontent.com/16716926/55062822-678eef00-507f-11e9-9277-c48298348f6a.png)
![blocks](https://user-images.githubusercontent.com/16716926/55062823-678eef00-507f-11e9-8776-fcc9f932f0f8

[2019-03-27 09:08] vbaranov commented on #811
I have no concerns. We have no allocated resources for this task. Therefore, @Lokraan you're welcome to build it.

[2019-03-27 09:21] frozeman commented on #1638
Very nice!
We would need to change the coin name to **LYX** and remove the USD value parts for now (its a testnet :) )
We also need to be in the list fo the other testnets in the footer i think. "LUKSO L14"

[2019-03-27 09:38] igorbarinov commented on #811
@Lokraan welcome back. I've attached a GitCoin bounty for the issue.
I'm very much looking forward to getting it done 👋

[2019-03-27 09:47] vbaranov commented on #1408
@svenski123 thanks for your efforts. We will test your PR related to this issue on our staging environment in April and I will return to you with the results of testing.

[2019-03-27 10:48] gabitoesmiapodo commented on #1638
@pashagonchar

Question: Why isn't there a graph on the main page, like in the other themes? I mean, like in https://zpl.io/V4Ol5MX or https://zpl.io/bWqy9n7

I can change colors and some images for each theme, but that's mostly it. I don't know if it is possible to have radically different pages for different versions.

[2019-03-27 11:06] igorbarinov commented on #1638
@gabitoesmiapodo which other changes are breaking?
we plan to have the support of the graph with price as it is now, with transactions per second, and without graph at all.

[2019-03-27 11:32] gabitoesmiapodo commented on #1638
@igorbarinov

I think the main page would be the only place where there's that kind of branching (one section doing multiple things). Maybe it will change according to some configuration?

Anyway, I just wanted to be sure it wasn't a mistake or and outdated version.

The _Accounts_ section here seems to add a few components and some new functionality which isn't present on the POSDAO designs. I do

[2019-03-27 14:23] #1644 closed

[2019-03-27 17:06] igorbarinov commented on #1151
Sure, we'll take care of it. Thanks for pinging.

[2019-03-27 18:07] pashagonchar opened #1664 "Edit colors for ETC theme"
Zeplin:

https://zpl.io/aNPWNvN

<img width="1280" alt="blockscout_etc" src="https://user-images.githubusercontent.com/16716926/55101055-e90c6e80-50cb-11e9-9dcd-b7e6c9316618.png">

[2019-03-27 19:59] naheed commented on #992
this would be a welcome feature and help reduce costs.

[2019-03-27 21:24] vbaranov commented on #992
This feature has been already implemented here: https://github.com/poanetwork/blockscout/pull/1611

In order to start indexing from a specific block define `FIRST_BLOCK` ENV var which the number of a first block from where you would like to start indexing.

[2019-03-27 21:24] #992 closed

[2019-03-27 23:51] kunpoolsion commented on #1646
thx, done, looks right

[2019-03-27 23:51] #1646 closed

[2019-03-28 06:16] igorbarinov commented on #992
@vbaranov let's add it to the installation instruction somewhere

[2019-03-28 08:08] #1565 closed

[2019-03-28 08:16] vbaranov commented on #1530
@rjl493456442 total txs count has been configured with an `ETS`: https://github.com/poanetwork/blockscout/pull/1634

The schedule of filling `ETS` with total txs count is configured through `TXS_COUNT_CACHE_PERIOD` env var. It is measured in hours. For example, if `export TXS_COUNT_CACHE_PERIOD=2`, it means, that the task to update `ETS` will start every 2 hours.

[2019-03-28 08:16] #1530 closed

[2019-03-28 08:20] rjl493456442 commented on #1530
@vbaranov Do you have any recommendation for this env var? Or in another word, will it introduce a lot overhead if I configure this var much smaller, e.g. `TXS_COUNT_CACHE_PERIOD = 5MIN`(Or only hours supported).

And appreciate for fixing this issue!

[2019-03-28 08:23] vbaranov commented on #1530
It depends on the size of `transactions` table. For Mainnet with a half a billion of txs you want to set not less then 2 hrs. This var support only hours.

[2019-03-28 08:51] vbaranov opened #1666 "Deployment v1.3.8- Sokol, xDai"
## Info
Networks: **Sokol**, **xDai**
Date: **2019-03-28**
Version: **v1.3.8**

## Motivation
In order to fix contracts verification for `petersburg` EVM version https://github.com/poanetwork/blockscout/issues/1641

## Description
This issue is for approval of deploying [v1.3.8](https://github.com/poanetwork/blockscout/releases/tag/v1.3.8-beta) to Sokol and xDai.

## Specific Directions
* Disable

[2019-03-28 08:54] vbaranov commented on #1405
Related PR: https://github.com/poanetwork/blockscout/pull/1634/files

[2019-03-28 08:54] #1405 closed

[2019-03-28 08:54] igorbarinov commented on #1666
Let's replace telegram link to https://t.me/poa_network here and in other instances too

[2019-03-28 09:08] vbaranov opened #1667 "Deployment v1.3.8- testnets: Goerli, Kovan, Rinkeby, Ropsten"
## Info
Networks: **Goerli**, **Kovan**, **Ropsten**, **Rinkeby**
Date: **2019-03-28**
Version: **v1.3.8**

## Motivation
In order to fix https://github.com/poanetwork/blockscout/issues/1619
and implement fix for missing index for empy blocks https://github.com/poanetwork/blockscout/pull/1643

## Description
This issue is for approval of deploying [v1.3.8](https://github.com/poanetwork/blockscout/

[2019-03-28 11:09] vbaranov opened #1670 "Show all tokens matching the name in the search results"
**Problem**: The tokens can have identical names inside the chain. Blockscout returns only one record with sought for the name of the token

**Solution**: Display all matches in the search results

[2019-03-28 12:33] pashagonchar opened #1672 "Design for RSK Network"
Zeplin
-----
https://zpl.io/aXPd8wj

https://zpl.io/2p4Zewj

https://zpl.io/anpW45n

https://zpl.io/2yOpeKL

https://zpl.io/aw4jez1

https://zpl.io/agzMdxA

-------------------------------------

<img width="1280" alt="accounts@2x" src="https://user-images.githubusercontent.com/16716926/55157968-74d2d900-5166-11e9-8a41-09b917475f99.png">
<img width="1280" alt="blocks@2x" src="https://user-images.g

[2019-03-28 12:35] rjl493456442 commented on #1530
@vbaranov Thanks.

[2019-03-28 13:22] FuZuK commented on #1655
I think this is due to the fact that fetched_coin_balance for this address is null in the addresses table.

[2019-03-28 13:31] FuZuK opened #1674 "Not all logs in api are returned for a transaction"
A request in api for a single transaction (?module=transaction&action=gettxinfo&txhash={transactionHash}) returns an incomplete list of logs. Only a maximum of 50 items are returned. Example transaction: 0x0c61db4e3e40eb58fe9378c1ed7a611205ca8d49fb87f3f153051ccaa9b40147

[2019-03-28 18:19] #1666 closed

[2019-03-28 18:27] vbaranov commented on #1641
@DaveAppleton

We updated xDai instance with [1.3.8](https://github.com/poanetwork/blockscout/releases/tag/v1.3.8-beta).
Your contract is verified now: https://blockscout.com/poa/dai/address/0xc45d200a3addfe66dcfcf63e82c4a7335e366dbd/contracts. Thanks for verbose description!

[2019-03-28 18:27] #1641 closed

[2019-03-28 21:26] vbaranov opened #1680 "internal_transactions_indexed_at_blocks is already a member of the Ecto.Multi"
[code]

[2019-03-28 21:41] goodsoft commented on #1680
Seems awfully like a merge artifact.

[2019-03-28 21:44] goodsoft commented on #1680
Yes, I see [my commit](https://github.com/poanetwork/blockscout/commit/8cbafd2cedb3296edc34ad928954f13e6c36bed6) not applied properly to [`internal_transactions.ex`](https://github.com/poanetwork/blockscout/blob/production-xdai/apps/explorer/lib/explorer/chain/import/runner/internal_transactions.ex)

[2019-03-28 22:48] #1667 closed

[2019-03-28 23:25] vbaranov commented on #1680
Indeed, it was broken merging. Thanks for pointing me out. Deployed with the updated version.

[2019-03-28 23:25] #1680 closed

[2019-03-29 07:25] ayrat555 commented on #1433
@brianmcmichael are you still experiencing this issue?

[2019-03-29 08:26] #1622 closed

[2019-03-29 09:35] vbaranov commented on #1433
@ayrat555 me too. The same error is in Rinkeby instance.

[2019-03-29 11:29] ayrat555 opened #1682 "Indexer.TokenBalance.Fetcher fails when indexing Rinkeby"
[code]

[2019-03-29 11:42] ayrat555 commented on #1433
locally I reproduced this issue for Rinkeby only for new blocks. I think the problem is related to pending transactions or new/pending blocks. @brianmcmichael Are you seeing the error only on new blocks in your chain?

[2019-03-30 02:07] joeydues opened #1685 "Ethereum Classic: <Issue Title>"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
* Operating System:

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

*Tell us what happens instead.*

[2019-03-30 19:17] goodsoft opened #1686 "Token list popover for an address isn't visible in Firefox"
![image](https://user-images.githubusercontent.com/2828228/55280618-c3cc6a00-5330-11e9-9d64-13c1687b536d.png)

### Environment

* Operating System: Linux
* Browser: Firefox 64.0.2

### Steps to reproduce

1. Open any address page, e.g. https://blockscout.com/eth/mainnet/address/0xea674fdde714fd979de3edf0f56aa9716b898ec8/transactions
2. Click token count in the top right corner

### Expected behavi

[2019-03-31 18:05] vbaranov opened #1687 "Old block is still not processed"
Affected block: https://blockscout.com/poa/dai/blocks/2932019/transactions
Affected tx from block: https://blockscout.com/poa/dai/tx/0xda8be13de4919dd12a9ca4c00becce82b384a1eceed701d1a4da2ea97b7c5d60

Block is still not processed.

[2019-03-31 18:09] goodsoft commented on #1687
Any log lines containing the block number?
`DELETE * FROM internal_transactions WHERE block_number = 2932019`?

[2019-04-01 04:05] Lokraan commented on #811
I wrote this function to grab the number of transactions for a specified day:
[code]

Didn't work because of:
[code]

I then tried to use database functions:
[code]
and got this error:
[code]

[2019-04-01 07:37] ayrat555 commented on #1151
@nambrot there is no standard way to define proxy contracts (naming etc). so I don't think that we can create a common way to decode proxy contracts

btw you can use verified implementation contract address to read the contract. For example, here is a proxy contract - https://blockscout.com/poa/dai/address/0x7301cfa0e1756b71869e93d4e4dca5c7d0eb0aa6/read_contract

its implementation  - https://bloc

[2019-04-01 08:24] phahulin commented on #1687
@goodsoft here are logs that I found:
[block-2932019.log.gz](https://github.com/poanetwork/blockscout/files/3028374/block-2932019.log.gz)

Block and tx are processed now

[2019-04-01 09:05] goodsoft commented on #1687
Did it get processed without restarting app server and running any database queries?

[2019-04-01 09:06] ayrat555 opened #1689 "wrong total supply percentage on token holders page"
https://cl.ly/0a86044c676e https://blockscout.com/eth/mainnet/tokens/0x86aabcc646f290b9fc9bd05ce17c3858d1511da1/token_holders

[2019-04-01 09:16] phahulin commented on #1687
Yes

Anything else I can grep for?

[2019-04-01 09:43] goodsoft commented on #1687
I guess, it's not a bug then, just slow indexing.

[2019-04-01 10:25] ayrat555 commented on #1689
We don't update total supply of mintable tokens

[2019-04-01 13:31] #1682 closed

[2019-04-01 18:18] nambrot commented on #1151
I agree there is no way to define a proxy, but it would be great if it could be a configuration option. I.e. if you look at the proxy contract, none of the transactions are properly decoded. If we could do a heuristic like `1. ends in Proxy, has a variable named "imeplementation"` that one could enable, that would be amazing!

[2019-04-01 22:22] goodsoft commented on #1628
I have been compiling [a list](https://docs.google.com/spreadsheets/d/1zoelMdKRfBxJTxgWn69hSGM5efCS-KaHlbO0fDxmjQQ/edit#gid=0) of existing fetchers, and before I turn it into a proper documentation, I'm going to improve consistency and readability of indexer codebase.

Non-exhaustive list of things I'm going to do:
1. Remove ~15 copy-pasted `Supervisor` modules and replace them with one macro.
2.

[2019-04-02 10:20] igorbarinov commented on #1685
@joeydues could you please describe your issue?

[2019-04-02 14:19] #1689 closed

[2019-04-02 19:08] 6proof opened #1694 "Please Add new Sokol Validator https://blockscout.com/poa/sokol"
*New Sokol Validator Kiryl Ihnatsyeu has been added to Sokol.  Please add MetaData to BlockScout.*

When new Validators are voted in to any POA Network BlockChain, those Validators are responsible for adding their MetaData using the Validators DApp.  See https://sokol-validators.poa.network/poa-dapps-validators as an example.

Instead of increasing load by forcing BlockScout to scan each block man

[2019-04-03 00:16] nrg-jeff opened #1695 "Block Mined, awaiting import..."
*Describe your issue here.*
**When making transactions (contract calls, send transactions, etc.), block explorer shows "Block Mined, awaiting import...".**

![Screen Shot 2019-04-02 at 5 04 45 PM](https://user-images.githubusercontent.com/45057074/55444106-fca35380-5569-11e9-85f9-f4aa4644f42c.png)

**Checking the postgres database under blocks shows the data for block 79 is missing too:**

![Scree

[2019-04-03 07:21] ayrat555 commented on #1674
@FuZuK which network are you using?

[2019-04-03 12:06] rjl493456442 opened #1698 "Feature request: support transaction indexing more frequently"
After https://github.com/poanetwork/blockscout/issues/1530 be fixed, the transactions can be indexed with a given time interval `TXS_COUNT_CACHE_PERIOD`. Appreciate for the awesome work!

However the `TXS_COUNT_CACHE_PERIOD`can only support hour level configuration. For some private network, it is definitely too long to update the transaction counter every 2 hours.

Could we support indexing trans

[2019-04-03 12:36] ayrat555 commented on #1698
@rjl493456442 yep, It's easy to resolve. I'll work on it

[2019-04-03 12:36] rjl493456442 commented on #1698
@ayrat555 Appreciate!

[2019-04-03 15:44] #1564 closed

[2019-04-03 18:53] #1695 closed

[2019-04-04 03:16] rjl493456442 commented on #1698
@ayrat555 I tested your PR, it works well! Could we also do the same thing for `wallet address` counter?

[2019-04-04 07:57] #1685 closed

[2019-04-04 10:47] gabitoesmiapodo commented on #1664
I think the header should have a white background and the rest of the elements should be positioned according to the new base design which is being developed.

https://app.zeplin.io/project/5a6053176eb2bda2cf9379be/screen/5c6f9e55e0abfe1aded444b3

[2019-04-04 15:09] zachdaniel commented on #1569
This was completed by #1608

[2019-04-04 15:09] #1569 closed

[2019-04-04 15:11] zachdaniel commented on #1503
This has been dealt with by adding a nicer error message in #1534, and by resolving the underlying data issue in #1543.

[2019-04-04 15:11] #1503 closed

[2019-04-04 15:19] #1655 closed

[2019-04-04 17:23] igorbarinov commented on #1674
There is a tx on Mainnet https://etherscan.io/tx/0x0c61db4e3e40eb58fe9378c1ed7a611205ca8d49fb87f3f153051ccaa9b40147

@zachdaniel can you look into the issue?

[2019-04-05 07:45] ayrat555 commented on #1698
@rjl493456442 what's wrong with it? doesn't it update?

[2019-04-05 07:55] rjl493456442 commented on #1698
@ayrat555 The transaction count can be updated by setting interval, so what about `wallet address` counter, do we have something similar to config the interval?

[2019-04-05 08:12] ayrat555 commented on #1698
@rjl493456442 can you check #1706?

[2019-04-05 08:14] rjl493456442 commented on #1698
Wow, so kind of you. So the `ADDRESS_WITH_BALANCES_UPDATE_INTERVAL` is also second level?

[2019-04-05 08:19] ayrat555 commented on #1698
what do you mean by `second level`?

[2019-04-05 08:20] rjl493456442 commented on #1698
`ADDRESS_WITH_BALANCES_UPDATE_INTERVAL=2` means updating the `wallet address counter` every 2 seconds.

[2019-04-05 08:21] ayrat555 commented on #1698
yes

[2019-04-05 10:04] ayrat555 commented on #1674
There is no pagination for this endpoint

[2019-04-05 10:23] ArseniiPetrovich commented on #1694
https://blockscout.com/poa/sokol/address/0x130930e3e3d30bf8f975a729e948cdcc212ecfbb/transactions
Metadata updated automatically, can be closed now.

[2019-04-05 10:24] #1694 closed

[2019-04-05 12:27] nervehammer opened #1707 "Incorrect contract creation code generated in latest changes."
### Incorrect bytecode generated for deployed smart contract

Smart contract bytecode is incorrectly generated in the latest version of the blockscout. This issue makes contract code verification impossible for the deployed smart contract.

### Environment

* Erlang/OTP 21 [erts-10.3.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
* Elixir 1.8.1 (compiled with Erlang/OTP 20)

*

[2019-04-05 12:36] ayrat555 commented on #1707
@nervehammer what version of blockscout are you using?

[2019-04-05 12:38] ayrat555 commented on #1707
your code verification interface doesn't have  `petersburg` evm version which is default in the latest version of blockscout

[2019-04-05 12:41] nervehammer commented on #1707
yes, the old version is working fine https://github.com/SpringRole/blockscout/commits/d80f0b2f29ebad43ebaeb0e4001a06da9ee22e6a but with new changes from your master branch seems to break this.

[2019-04-05 12:42] nervehammer commented on #1707
I have the latest changes from your master branch locally and it is still the same.

[2019-04-05 12:43] nervehammer commented on #1707
Maybe this might help:
**correct contract creation code**: https://hastebin.com/fubameboco
**incorrect contract creation code with latest changes**: https://hastebin.com/eyeqesidun
**smartcontract used**: https://raw.githubusercontent.com/SpringRole/smart-contracts/master/contracts/VanityURL.sol

[2019-04-05 12:45] ayrat555 commented on #1707
Thanks. I'll look into your example now

[2019-04-05 13:21] ayrat555 commented on #1707
@nervehammer can please send all fields that you entered to your verification form

[2019-04-05 13:25] nervehammer commented on #1707
contract name: VanityURL
compiler version: v0.4.24+commit.e67f0147
EVM Version: byzantium
Optimization: No

[2019-04-05 13:55] ayrat555 commented on #1707
@nervehammer do you receive `Constructor arguments do not match, please try again.`?

[2019-04-05 14:01] ayrat555 commented on #1707
I checked your contract verification locally. It verified successfully.

[2019-04-05 14:12] nervehammer commented on #1707
@ayrat555 nope not receive this kind of error: "Constructor arguments do not match, please try again.?" and that contract doesn't have any constructor. And I will try to rebuild from scratch in a different environment. Will update you asap.

[2019-04-05 18:13] nervehammer commented on #1707
@ayrat555 our chain doesn't distribute block rewards and has emptySteps enabled, its a parity variant.
I hosted a temporary explorer of our chain based on the latest [commit](https://github.com/poanetwork/blockscout/tree/42f8e72e80a3e483fa52dbde3c5c32f7d7d83efe), http://128.199.253.218/address/0x8cafc3eb956b95a3a0bccbc31cedd8042b2c45a8/contract_verifications/new as you can try here, it will fail a

[2019-04-08 02:07] rjl493456442 commented on #1698
@ayrat555

Does your PR break something?

[code]

[2019-04-08 07:12] saneery opened #1709 "Set blockscout to work with staking app in POSDAO network"
# Description
## POSDAO
There are some new essences in the staking app:
* Validators
* Candidates
* Delegators

Every **validator** and **candidate** has **mining address** and **pool** address (staking address). Delegators can stake on these pools. When a user makes a stake on himself, he becomes a candidate.

Users make stakes during an **epoch**, at the end epoch new validators set will be elec

[2019-04-08 07:27] ayrat555 commented on #1698
@rjl493456442 no it shouldn't. are you still experiencing this?

[2019-04-08 07:28] rjl493456442 commented on #1698
Yes. I can run the master branch without this error.

[2019-04-08 07:46] ayrat555 commented on #1698
@rjl493456442 I think you set update period too small. so `Repo` can not be initialized. Can you set it to a bigger number and try again?

[2019-04-08 08:25] ayrat555 opened #1710 "Add code highlighting to the decompiled smart contract code"
We began uploading decompiled contracts. Currently, they are showed without code highlighting

[2019-04-08 08:51] rjl493456442 commented on #1698
@ayrat555 I set `ADDRESS_WITH_BALANCES_UPDATE_INTERVAL` to 3600, still doesn't work.

[2019-04-08 08:52] rjl493456442 commented on #1698
@ayrat555 Do you need the detailed docker output?

[2019-04-08 08:58] ayrat555 commented on #1707
@nervehammer I checked verification again and it works. can you host your explorer one more time?

[2019-04-08 09:07] nervehammer commented on #1707
it is up: http://206.189.148.100/address/0x8cafc3eb956b95a3a0bccbc31cedd8042b2c45a8/contract_verifications/new

[2019-04-08 09:53] ayrat555 commented on #1707
I can't access it

[2019-04-08 09:54] nervehammer commented on #1707
it's working fine here.

[2019-04-08 10:02] ayrat555 commented on #1707
can we move our discussion to the project's gitter https://gitter.im/poanetwork/blockscout?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2019-04-08 10:05] ayrat555 commented on #1698
I think the error is not related to #1706. https://github.com/poanetwork/blockscout/pull/1711 should fix it. Can you try it?

[2019-04-08 11:37] rjl493456442 commented on #1698
@ayrat555

[code]

[2019-04-08 11:38] rjl493456442 commented on #1698
Set `ADDRESS_WITH_BALANCES_UPDATE_INTERVAL` to 20.

![image](https://user-images.githubusercontent.com/5959481/55721404-e39d1580-5a35-11e9-8e4e-e967bdc0c2c5.png)

[2019-04-08 12:32] 6proof opened #1713 "Critical - BlockScout not updating blocktime or automatically refreshing blocks https://blockscout.com/poa/core/"
Critical - BlockScout is not incrementing the blocktime at https://blockscout.com/poa/core/ - currently displaying average blocktime at 14.1 minutes.  Also not displaying blocks correctly, although does display current blocks with manual page reload.

https://blockscout.com/poa/core/

Could someone please reset this interface?  All other instances of BlockScout currently seem to be performing corr

[2019-04-08 13:01] ayrat555 commented on #1698
@rjl493456442 my bad. there is an error in types. I updated the PR. can you please try it?

[2019-04-08 13:21] FuZuK commented on #1674
Thanks! Then I think it's worth adding it.

[2019-04-08 14:23] #1707 closed

[2019-04-09 01:53] rjl493456442 commented on #1698
@ayrat555 After testing your latest #1706 and #1711 ,  it works(services can be started and wallet address counter can be updated in the specified interval). But there still some error logs. Please take a look.

[code]

[2019-04-09 07:50] ayrat555 commented on #1698
@rjl493456442 it's warnings. It's related to new elixir versions. It's ok

[2019-04-09 08:00] #1698 closed

[2019-04-09 12:56] domlanc opened #1717 "xDai Chain: <Issue Title>"
Bonjour,
je suis un casimir, un jeune francophone d'Afrique (Togo), je souhaite utiliser le réseau POA et xDAi pour créer un portefeuille à partir d'une solution de paiement pour une transaction électronique, mais je ne sais pas par où commencer.  Existe-t-il des solutions open source dans ce sens que je pourrais modifier et ajouter des API de paiement locales? Le xDAi offre-t-il une stabilité en

[2019-04-09 15:43] ArseniiPetrovich opened #1719 "Deployment v1.3.9: Goerli, POA Core"
## Info
Networks: **Goerli**, **POA Core**
Date: **2019-04-09**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.9-beta](v1.3.9)**

## Motivation
Fix bugs and improve BS as described at https://github.com/poanetwork/blockscout/pull/1715

## Description
This issue is for approval of deploying [v1.3.9](https://github.com/poanetwork/blockscout/releases/tag/v1.3.9-beta) to **Goer

[2019-04-09 17:05] 6proof commented on #1713
BlockScout update for POA Core seems to have been pushed - looking good BlockScout team!
https://blockscout.com/poa/core/

The favicons are missing again on POA Core :)   Seems like every update they 'go away' - maybe they are just in the wrong build directory?  Thanks again - great work!

[2019-04-09 17:27] ArseniiPetrovich opened #1722 "Deployment v1.3.9: Sokol, xDAI, Mainnet, Kovan, Ropsten, Rinkeby, Classic"
## Info
Networks: **Sokol**, **xDAI**, **Mainnet**, **Kovan**, **Ropsten**, **Rinkeby**, **Classic**
Date: **2019-04-09**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.9-beta](v1.3.9)**

## Motivation
Fix bugs and improve BS as described at https://github.com/poanetwork/blockscout/pull/1715

## Description
This issue is for approval of deploying [v1.3.9](https://github.com

[2019-04-09 18:16] 6proof commented on #1713
Favicons are back on https://blockscout.com/poa/core - thanks again and great work!

[2019-04-09 18:32] #1713 closed

[2019-04-09 21:00] mgarciap opened #1725 "Internal Server Error when looking for a Token Symbol"
I entered `DAI` into the search box as the token symbol I want to search. This is the result:

![image](https://user-images.githubusercontent.com/201871/55834835-21ab3f80-5af1-11e9-8b0a-2c7f506015b1.png)

URL: https://blockscout.com/eth/mainnet/search?q=dai

[2019-04-10 05:10] igorbarinov commented on #1725
It's fixed in https://github.com/poanetwork/blockscout/pull/1669
and will be deployed on Eth mainnet soon

[2019-04-10 05:10] #1725 closed

[2019-04-10 06:43] gutsal-arsen commented on #811
@igorbarinov this issue is still actual?

[2019-04-10 07:51] igorbarinov commented on #811
@gutsal-arsen yes it is

[2019-04-10 09:18] pashagonchar opened #1726 "UI changes for "New Smart Contract" page"
Zeplin:
https://zpl.io/bzq8QMz
https://zpl.io/VOx04k1

Invision
https://invis.io/G7RGUWGYD2M
Please replace text where "lorem ipsum"
--------------------------------
![poa_new_smart_contract_1_2](https://user-images.githubusercontent.com/16716926/55867159-a007f000-5b8a-11e9-8ed5-021cb09c18ab.png)
![poa_new_smart_contract_2_2](https://user-images.githubusercontent.com/16716926/55867167-a4cca400-5b8

[2019-04-10 09:30] igorbarinov commented on #1726
@andogro please provide us tooltips for the field

[2019-04-10 11:39] mgarciap opened #1730 "Add 'Download CSV Export' to the Transactions list in the 'Address Details' page"
In the **Address Details** page when I am taking a look at the **Transactions** list I would like to be able to **download a CVS export** with all the transactions, not only the one shown in the first transactions page, so I can work with the full list of transactions outside of the explorer.

I would like the CVS export to contain a row for each TX with all the details already available. For exam

[2019-04-10 11:59] mgarciap opened #1731 "Add 'Download CSV Export' to the Tokens list in the 'Address Details' page"
In the **Address Details** page when I am taking a look at the **Tokens** list I would like to be able to **Download a CVS export** with all the Tokens transactions, not only the one shown in the first transactions page, so I can work with the full list of transactions outside of the explorer.

I would expect to have the same information as if I would click into the details of the token and see th

[2019-04-10 12:13] mgarciap opened #1732 "Show Token specific details in the Transfer Details page if it was a token's operation"
When I browse to a Transaction Details page which is related to a Token Transfer not a ETH transfer the only difference I see is the label used for the TX status (success/failure): _Token Transfer_ for Tokens and Transaction_ for ETH. The rest is the same.

Example for a DAI transfer TX: https://blockscout.com/eth/mainnet/tx/0x5503de1d0340c039956ea39103116791657a1b20547d6710fe16d784c15e6234

I wou

[2019-04-10 12:22] igorbarinov commented on #1732
Good issue

[2019-04-10 13:13] #1674 closed

[2019-04-10 14:29] ayrat555 opened #1735 "Decompiled code issues"
While inspecting uploaded decompiled contracts to  the Goerli network we found several issues:
- some contracts have a comment with email `#  If you think it's an error, e-mail kolinko@gmail.com
`
https://blockscout.com/eth/goerli/address/0x0282291cec3de1fa073bb9a37ba7064d5c336f9b/decompiled_contracts
- contracts have some symbols that are displayed incorrecly ```[95mdef [0mowner() [95mpayable

[2019-04-10 18:36] andogro commented on #1726
Here is v1 of tooltips, let me know if any are too long and I will try to shorten.  The bold on left is the field value, following is the tooltip text for the right hand side.

_Question: For #5, if Optimization is checked, will we need to collect the # of optimization runs or has this been deprecated?_

**New Smart Contract Verification** (add Verification)

1. **Contract Address:** The 0x addres

[2019-04-11 03:08] rjl493456442 opened #1737 "Invalid arithmetic expression"
**Latest master branch**

[code]

[2019-04-11 04:43] eduardonunesp opened #1738 "Websocket for newHeads, need to keep the connection alive"
Need help to create a method to keep the socket for `netHeads` alive, in my case the socket for the `newHeads` after open needs to ping the node at a certain time for instance each `600 seconds` or the node will close de connection by not receive any `ping`. It's not a bug is just a question what is the best way to implement that feature. Thanks

[2019-04-11 07:30] #1717 closed

[2019-04-11 08:59] mkosowsk commented on #944
@ceresstation this one good to pay out to @Lokraan?

Thanks!

[2019-04-11 11:28] rjl493456442 commented on #1737
@ayrat555 Could you please take a look? It should be a trivial fix :)

[2019-04-11 11:45] ayrat555 commented on #1737
@rjl493456442 just to be sure. it means that your average block time is 0. is this correct?

[2019-04-11 11:47] rjl493456442 commented on #1737
Weird. The average block time is 15 seconds. Now the errors disappear.

Any idea about it? E.g. some indexing data has been finished, so the error occurs.  But later it works.

[2019-04-11 11:49] ayrat555 commented on #1737
maybe your database didn't have any blocks? @rjl493456442

[2019-04-11 11:50] rjl493456442 commented on #1737
@ayrat555 No, I have 8 transactions and 9 address at that time.

[2019-04-11 11:51] ayrat555 commented on #1737
I think you had only one block. I'll create a fix now

[2019-04-11 11:52] rjl493456442 commented on #1737
@ayrat555 Actually there are a lot of blocks already. But appreciate for your fix. I can help the testing, not sure the issue can be reproduced.

[2019-04-11 13:26] #1737 closed

[2019-04-11 13:34] #1710 closed

[2019-04-12 09:00] rjl493456442 commented on #1737
@ayrat555 I'm really sorry. Test the latest master branch, now no panic, everything works well. BUT the average block time seems invalid.

![image](https://user-images.githubusercontent.com/5959481/56025312-798db480-5d44-11e9-94cc-87ecbc02baed.png)

[2019-04-12 09:40] ayrat555 commented on #1737
@rjl493456442 it looks like your database has a small number (one?) of blocks. the value is updated every 30 minutes.

[2019-04-12 09:43] rjl493456442 commented on #1737
@ayrat555 Yes, this now 15 seconds. Sorry for the nitpicks :)

[2019-04-12 11:57] ayrat555 opened #1745 "move from `phantomjs` to Chrome Headless"
https://github.com/keathley/wallaby/issues/424

this will resolve https://github.com/poanetwork/blockscout/issues/403

Also, it will fix ci for https://github.com/poanetwork/blockscout/pull/1696

[2019-04-12 13:23] pashagonchar opened #1746 "Design for Ethereum Mainnet"
Zeplin:
-------------

https://zpl.io/aRxNqpg

https://zpl.io/VDADOJl

https://zpl.io/aNm4pJQ

https://zpl.io/aX3WzAp

https://zpl.io/2vOBlJe

https://zpl.io/29w5DQz

<img width="1280" alt="accounts@2x" src="https://user-images.githubusercontent.com/16716926/56040526-4268d480-5d3f-11e9-81bb-d7c8b65d4b70.png">
<img width="1280" alt="blocks@2x" src="https://user-images.githubusercontent.com/16716926

[2019-04-12 13:33] pashagonchar opened #1747 "Design errors pages"
Zeplin:
-------------
https://zpl.io/beAg4rY

https://zpl.io/Vqv6xB6

https://zpl.io/2GGzmBj

<img width="1280" alt="block_not_found_2@2x" src="https://user-images.githubusercontent.com/16716926/56041136-b061cb80-5d40-11e9-8018-323c93a6083e.png">
![there_are_no_matching_entries](https://user-images.githubusercontent.com/16716926/56041137-b061cb80-5d40-11e9-8e17-fe5d9508afd7.png)
<img width="1280"

[2019-04-12 13:56] zachdaniel commented on #1738
I think the best way to do it would be to start a process responsible only for polling in that appropriate interval.

[2019-04-12 14:13] zachdaniel commented on #1738
I'll look into how we might add that as a sibling process to the realtime fetcher :+1:

[2019-04-12 14:27] pashagonchar commented on #1747
Animations
------

[animations.zip](https://github.com/poanetwork/blockscout/files/3073712/animations.zip)

[2019-04-12 18:54] vbaranov commented on #1503
@zachdaniel is the way to fix `undetermined contract creator` for old blocks, that we issued before introducing of new indexing scheme in #1543 for geth-based chains?

[2019-04-12 19:30] #1687 closed

[2019-04-12 20:02] vbaranov commented on #992
I added the aforementioned ENV var to the supported list: https://forum.poa.network/t/faq-environment-variables/1814

[2019-04-12 20:43] zachdaniel commented on #1503
Do geth based chains support that kind of request?

[2019-04-12 20:44] zachdaniel commented on #1503
It looks like they do.

[2019-04-13 23:15] Lokraan commented on #944
@mkosowsk the issue is closed dude.

[2019-04-14 19:16] matawinb opened #1750 "Rinkeby Testnet: <Issue Title>"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
* Operating System:

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

*Tell us what happens instead.*

[2019-04-14 20:11] matawinb opened #1751 "Rinkeby Testnet: <Issue Title>"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
* Operating System:

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

*Tell us what happens instead.*

[2019-04-14 20:44] #1751 closed

[2019-04-15 00:31] matawinb commented on #1750
O.k.

[2019-04-15 07:07] #1750 closed

[2019-04-15 07:33] pashagonchar opened #1752 "Edit dropdown list for Networks"
Add titles Mainnet and Testnet
Add line beetwen mainnet and testnet networks

![main_test_net_2](https://user-images.githubusercontent.com/16716926/56114614-167d6700-5f6a-11e9-901a-34bad80ddd40.png)

[2019-04-15 07:41] igorbarinov commented on #1752
Let's order networks in each list in alphabetical order.
e.g.
[code]

[code]

[2019-04-15 07:55] pashagonchar commented on #1752
@igorbarinov

![main_test_net_3](https://user-images.githubusercontent.com/16716926/56115819-00bd7100-5f6d-11e9-8765-25fef238c50e.png)

[2019-04-15 08:46] ayrat555 opened #1754 "interpolate balance chart on x axis"
![img](https://i.imgur.com/5AXMd2p.png)

If there is only one point on chart, the chart is not interpolated.

[2019-04-15 10:33] vbaranov commented on #1754
Maybe we should display `blockNumber` instead of `date` on `x` axis?

[2019-04-15 10:54] ayrat555 commented on #1754
@vbaranov We can do that. But for the end user, it may be more obvious if we use date?

[2019-04-15 10:55] vbaranov commented on #1754
So, you will display an actual date of block creation on `x` axis, right?

[2019-04-15 11:00] ayrat555 commented on #1754
@vbaranov  I was planning to just interpolate chart to `x` axis without changing anything. But I'm open to suggestions

[2019-04-15 11:03] vbaranov commented on #1754
Could you elaborate on how you plan to interpolate having only one point?

[2019-04-15 11:09] vbaranov commented on #1754
Got it. Sounds good.

[2019-04-15 11:17] #1722 closed

[2019-04-15 11:44] #1719 closed

[2019-04-15 20:09] zachdaniel commented on #1738
So typically the server would be responsible for pinging the client, not the other way around. Are you looking for a way to have your node ping blockscout periodically? Currently, the websocket connection in blockscout will respond appropriately to pings. Is there a way to set up your node to ping in an appropriate interval?

[2019-04-15 23:16] nrg-jeff commented on #1593
I am still receiving this error (using a private ethereum network). Any ideas?

[2019-04-16 08:45] matawinb commented on #1476
Pp

[2019-04-16 08:50] #403 closed

[2019-04-16 08:50] #1670 closed

[2019-04-16 08:50] #1745 closed

[2019-04-16 09:16] #1754 closed

[2019-04-16 09:21] ayrat555 commented on #1593
@nrg-jeff are you using the latest version of blockscout? is your geth node archive node?

[2019-04-16 09:28] ayrat555 opened #1760 "limit indexing for geth not archiving node to 128 blocks for all fetchers"
Currently, we are limiting only internal transaction fetcher to 128 blocks for geth. We should do it for all fetchers

[2019-04-16 11:13] matawinb opened #1761 "Rinkeby Testnet: <Issue Title>"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
* Operating System:

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

*Tell us what happens instead.*

[2019-04-16 11:13] matawinb commented on #1761
Thangyou

[2019-04-16 11:15] #1761 closed

[2019-04-16 11:40] igorbarinov commented on #1761
@matawinb what's the issue about?

[2019-04-16 14:03] igorbarinov commented on #1607
@Eika4 which chains are using aleth at the moment? I'm trying to figure out the use case
What is the difference in API between aleth vs geth/partiy

[2019-04-16 14:09] igorbarinov commented on #603
Chain specific instructions can be found here https://forum.poa.network/c/blockscout/wiki

[2019-04-16 14:09] #603 closed

[2019-04-16 14:30] vbaranov commented on #1620
We have a workaround for this in BS instance deployment script https://github.com/poanetwork/blockscout-terraform/pull/96. But I'd like to keep it open until we fix it in Blockscout repo.

[2019-04-16 15:57] nrg-jeff commented on #1593
@ayrat555 Yes, I am using the latest version of blockscout. My geth node is default (--gcmode full), not archive. Should I use --gcmode archive? Thanks!

[2019-04-16 16:00] mgarciap opened #1764 "Add timestamp to the "Block Details" page"
It would be great to have consistency in Tx and Block page details on timestamps.

As an example, the Transactions page currently shows `3 minutes ago (April-16-2019 12:53:40 PM +-3 UTC)` and the Block page only shows `4 minutes ago` without the UTC timestamp.

[2019-04-16 16:39] #1628 closed

[2019-04-16 16:41] goodsoft commented on #1522
Fixed via #1724

[2019-04-16 16:41] #1522 closed

[2019-04-16 19:51] gabitoesmiapodo commented on #1726
@vbaranov @andogro

Is this a new section?

If it isn't, how can I get there?

[2019-04-16 21:13] andogro commented on #1726
@gabitoesmiapodo here is an example on the sokol network:
https://blockscout.com/poa/sokol/address/0x4d45578b70a4a1b850f4519d5a16b89f6f50699a/contract_verifications/new

This page is reached when a new smart contract is created and needs to be verified. In this example, the contract details are here: https://blockscout.com/poa/sokol/address/0x4d45578b70a4a1b850f4519d5a16b89f6f50699a/transactions

[2019-04-16 23:40] FrederikBolding opened #1765 "API timing out with txlistinternal"
API seems to timeout when using `txlistinternal` passing an address instead of a txhash.

Example:
https://blockscout.com/eth/mainnet/api?module=account&action=txlistinternal&txhash=0xef1c316dca37949aef94bf3d76efa1e21813ea9f5533e7bc5d93af98862d8dea - works

https://blockscout.com/eth/mainnet/api?module=account&action=txlistinternal&address=0xe77162b7d2ceb3625a4993bab557403a7b706f18 - times out

[2019-04-17 06:58] ayrat555 commented on #1593
@nrg-jeff yes you should resync your node with `--gcmode=archive`

[2019-04-17 09:40] #1619 closed

[2019-04-17 10:13] vbaranov opened #1766 "(Feature) Add total blocks counter"
Add total blocks counter to the top bar:

![Screenshot 2019-04-17 at 13 12 20](https://user-images.githubusercontent.com/4341812/56280268-80387500-6112-11e9-812b-2e7ea3573127.png)

We need it for a new design of BS instances

[2019-04-17 10:47] APshenkin opened #1767 "FIRST_BLOCK env can't be used"
*Describe your issue here.*
FIRST_BLOCK env should be parsed in conf to integer here
https://github.com/poanetwork/blockscout/blob/master/apps/indexer/config/config.exs#L37

like `first_block: String.to_integer(System.get_env("FIRST_BLOCK") || "0")`. Currently it's unable to use it

### Steps to reproduce
Run blockscout with FIRST_BLOCK env

### Expected behaviour
Blockscout should be able to run

[2019-04-17 11:55] gabitoesmiapodo commented on #1726
@andogro

Thank you, I'll look into it.

[2019-04-17 13:02] eduardonunesp commented on #1738
hey @zachdaniel thanks for the answers, well the idea is to have a way to the blockscout ws connection to ping the node server at a certain interval or the node will close the socket conneciton by considering that connection is dead since the blockscout only receives the newHeads notification but doesn't send any message, probably this thing works under the hood for the ws connection.

[2019-04-17 13:12] zachdaniel commented on #1738
Got it, well it took some digging because the library we use for web sockets is rather obscure, but I found an option we can set to give it a keep alive ping. And we know that, in all other cases, it really doesn’t hurt to send a long every couple of minutes, so I’ll just add it, and let the period be configurable. I’ll start off with 2.5 minutes, which can be changed with configuration.

[2019-04-17 13:27] eduardonunesp commented on #1738
Super cool thanks for the help

[2019-04-17 15:17] Eika4 commented on #1607
We have forked cpp-ethereum as a starting point for the Petrichor blockchain. We were able to get blockscout working by making a couple adjustments to apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/receipt.ex
Changes can be seen here: https://github.com/poanetwork/blockscout/compare/master...petrichor-dev:petrichor#diff-82f44fdd597b763a7f1d8ad48dd3e0ad

The only issue we have now is that cpp-ethereum

[2019-04-17 15:25] andogro opened #1771 "Add tooltips to the "Block Details" page"
Tooltips will help users understand the presented data. These are suggested values for the Block Details page, and may vary according to the selected chain. Unsure of best design strategy (hovers, additional section to left or right etc.) @pashagonchar is currently working on tooltips for other sections (see #1726) and will have design insight.

Based on #1764 may also add hover over for timestamp

[2019-04-17 15:31] andogro opened #1772 "Update footer icon links"
Footer icons go to outdated resources:

Github: Currently linked to general POA network github, should go to blockscout github: https://github.com/poanetwork/blockscout

Twitter: Currently linked to POA network twitter. New official twitter for BlockScout is https://twitter.com/_blockscout

Telegram: Community channel may not be best resource. Add discord instead? https://discordapp.com/channels/5

[2019-04-17 15:58] goodsoft commented on #1607
We are working on making websocket connection optional right now.
The update is on the way.

[2019-04-17 20:14] ArseniiPetrovich commented on #1620
Actually, it's not in https://github.com/poanetwork/blockscout-terraform#96, but in the new PR I'm preparing for https://github.com/poanetwork/blockscout-terraform#97 issue.

[2019-04-18 00:03] acravenho opened #1775 "Verify Contract RPC Endpoint Not Working"
I've been attempting to verify contracts through the RPC endpoint but have not been successful. Below I've provided a few examples.

Etherscan Source Code: https://etherscan.io/address/0x1b528346f0631dc465813a757eaf38035b44b9e4#code

Request URL:

[code]

## Another Example
Etherscan Source Code:
https://etherscan.io/address/0x3644ab79a793244abdbca44189a01756042db2e3#code

Request URL:

[code]

Cu

[2019-04-18 03:21] zachdaniel commented on #1775
I’ll look into this first thing in the morning!

[2019-04-18 03:51] acravenho commented on #1775
Thanks @zachdaniel 👍

[2019-04-18 09:03] ayrat555 opened #1776 "wrong total supply value"
supply modules are only defined for POA and xDAI. For other networks by default POA module is used. total supply is only used in the account section and rpc. so I think we're displaying wrong values on other chains

[2019-04-18 11:20] goodsoft commented on #1607
@Eika4 I have created a PR with a fix that makes websockets optional, please give it a try.
Note, that you have to set `subscribe_named_arguments.transport` to `nil` in config to disable websocket.

[2019-04-18 11:43] vbaranov commented on #1772
@andogro thank you, we updated
- twitter acc to official blockscout twitter acc
- telegram acc to offcial POA announcements channel
- we will update Github link to Blockscout repo soon

All updates will be included to a new release 1.3.10

[2019-04-18 12:12] vbaranov opened #1779 "Update coin names in Callisto and Aerum branches"
Update coin names in `production-callisto` and `production-aerum` branches

Relates to https://github.com/poanetwork/blockscout/issues/1491

[2019-04-18 12:13] #1779 closed

[2019-04-18 13:50] #1767 closed

[2019-04-18 13:57] #1764 closed

[2019-04-18 14:55] zachdaniel commented on #1775
I just hit the URL you provided and it appears to have worked. I didn't use `curl` though, could it perhaps be an encoding issue with curl?

[2019-04-18 14:56] vbaranov commented on #1612
To have pagination would be awesome.

[2019-04-18 14:59] zachdaniel commented on #1775
Okay, so the first example didn't work, but the second one did.

[2019-04-18 15:05] vbaranov opened #1781 "Wrong number of accounts in accounts page"
RSK chain: https://blockscout.com/rsk/mainnet

![screencapture-blockscout-rsk-mainnet-accounts-2019](https://user-images.githubusercontent.com/4341812/56370587-244e1900-6204-11e9-9d36-cbba9aca9914.png)

[2019-04-18 15:07] vbaranov opened #1782 "Add pagination for all accounts page"
**Problem**: `/accounts` page loads slowly. 250 accounts seem too much.

**Solution**: Let's decrease the number of accounts to 100 per page and add pagination

[2019-04-18 15:12] #1738 closed

[2019-04-18 15:26] zachdaniel commented on #1775
Update:
[code]

Returns "undefined" on my machine currently :/

[2019-04-18 18:08] acravenho commented on #1775
Hey Zach,

Using the URLs above I wasn't able to get any other message than `Something went wrong while publishing the contract.`

Please let me know if you need more examples.

[2019-04-18 18:18] zachdaniel commented on #1775
I verified the second example using the API and I got a successful response and it shows as verified in the UI: https://blockscout.com/eth/mainnet/address/0x3644ab79a793244abdbca44189a01756042db2e3/contracts

[2019-04-18 18:22] acravenho commented on #1775
Can you provide an example of using the API endpoint. I've tried 100 contracts in a row now and all have failed?

[2019-04-18 18:25] zachdaniel commented on #1775
Its kind of a black box, so it is difficult to determine what is causing it to have no output. The `solcSnapshot.compile` is just not returning a contract for some reason.

[2019-04-18 18:26] zachdaniel commented on #1775
As for the API, I just used an HTTP request tool (Insomnia, similar to postman) to send a get request to the URL you provided.

`https://blockscout.com/eth/mainnet/api?module=contract&action=verify&addressHash=0x3644ab79a793244abdbca44189a01756042db2e3&name=againstRelease&compilerVersion=v0.4.24+commit.e67f0147&optimization=true&contractSourceCode=pragma solidity >= 0.4.24;  interface token {

[2019-04-18 19:15] zachdaniel commented on #1775
I don't know if I'm just on an old verison of `curl` or what but I cannot get curl to play nicely with the brackets in the URL no matter what I do.

[2019-04-18 19:16] acravenho commented on #1775
I feel like `POST` might be such a better solution here.

[2019-04-18 19:18] zachdaniel commented on #1775
Yeah, you're probably right. I hooked it up as part of the JSON RPC since that was already set up and would be documented though. I can change it to a POST and just handle it in a one off controller if necessary though.

[2019-04-18 21:18] acravenho opened #1786 "Constructor Arguments Do not match"
Trying to verify the following smart contract

Etherscan URL: https://etherscan.io/address/0xeb67323b53a7f787984ae56897ffb5c17813b4ec#code
Contract Name: `FrenchIco_Crowdsale`
Compiler Version: `v0.5.7+commit.6da8b019`
Optimization Enabled: `No`
Source Code:  See Link above

Constructor Arguments:
[code]

### Steps to reproduce

Try to verify the contract `0xeb67323b53a7f787984ae56897ffb5c17813b4e

[2019-04-18 21:21] acravenho commented on #1786
![done-0xeb67323b53a7f787984ae56897ffb5c17813b4ec-byzantium](https://user-images.githubusercontent.com/17620007/56392030-5197c880-61fe-11e9-99ba-3b7989503c09.png)
![done-0xeb67323b53a7f787984ae56897ffb5c17813b4ec-constantinople](https://user-images.githubusercontent.com/17620007/56392031-5197c880-61fe-11e9-8e8f-02f44edcb2f6.png)
![done-0xeb67323b53a7f787984ae56897ffb5c17813b4ec-petersburg](https:/

[2019-04-18 21:24] acravenho commented on #1786
A similar contract https://etherscan.io/address/0x3c42ab93886b2a3ed97f4d9e1d7d7552d94fe9ac#code works just fine. I'm not sure why that particular contract fails.

[2019-04-18 22:55] acravenho commented on #1786
Here is another contract that is failing for the same reason: 0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2

[2019-04-19 02:36] matawinb opened #1787 "Rinkeby Testnet: <Issue Title>"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
* Operating System:

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

*Tell us what happens instead.*

[2019-04-19 02:38] matawinb commented on #1787
ThNak

[2019-04-19 06:08] matawinb opened #1788 "Rinkeby Testnet: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.8.1
* Erlang Version: 21
* BlockScout Version: v1.3.9-beta

* User Agent: `Mozilla/5.0 (Linux; Android 8.1.0; ASUS_X00ID) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.90 Mobile Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we

[2019-04-19 06:55] #1787 closed

[2019-04-19 06:56] #1788 closed

[2019-04-19 10:59] vbaranov opened #1791 "Visual issues with the full-text search"
1. If user searches by address hash, I suppose, it shouldn’t be marked with the red borders. It can confuse the user. He/she might think, that address is empty
![Screenshot 2019-04-19 at 13 50 00](https://user-images.githubusercontent.com/4341812/56421458-45b61000-62ab-11e9-854b-f30cb42a78b4.png)

2. break in border:
![Screenshot 2019-04-19 at 13 53 16](https://user-images.githubusercontent.com/43

[2019-04-19 11:06] vbaranov opened #1792 "Show the summary of total tokens transferred for 1 tx"
Inspired by https://github.com/poanetwork/blockscout/issues/1732

From this PR https://github.com/poanetwork/blockscout/pull/1777 we show the number of transferred ERC-20 tokens in the right box, if there was 1 transfer in tx. The suggestion is to show the summary of token transfers if the transaction has multiple transfers, like this:

![Screenshot 2019-04-19 at 14 05 48](https://user-images.gith

[2019-04-19 11:15] igorbarinov commented on #1792
It's important for users of tools like Disperse https://disperse.app/
or Token Multisender https://multisender.app/
where many erc20 token transfers can be compressed in one transaction

also for swap dapps like uniswap where swaps are atomic in one tx

[2019-04-19 11:50] vbaranov opened #1794 "Extend the width of column for string number in (decompiled) source code view"
![screencapture-52-90-32-222-4000-address-0x06012c8c](https://user-images.githubusercontent.com/4341812/56422865-3be3db00-62b2-11e9-93e7-2dae806b1b58.png)

[2019-04-19 12:51] saneery commented on #1709
I think there is a need:
* Create fetcher like a TokenBalances fetcher, that will fetch all active and inactive pools through [getPools](https://github.com/poanetwork/posdao-contracts/blob/2f9913b34a893143d3307786829efe3f544dbb6e/contracts/abstracts/StakingBase.sol#L351)
* New fetcher will collect all data about pools (is the validator, is the banned, mining address, staking balances, bans count,

[2019-04-19 13:12] #1794 closed

[2019-04-19 15:43] andogro commented on #1612
It also throws an error on xDai chain, Sokol
![xdai_pending](https://user-images.githubusercontent.com/14284654/56431588-7b490200-6287-11e9-8d60-d99ea4108056.jpg)
![sokol pending](https://user-images.githubusercontent.com/14284654/56431591-7dab5c00-6287-11e9-9ae7-337be389e825.jpg)

[2019-04-19 16:21] Eika4 commented on #1607
@goodsoft The fix does enable new blocks to be imported without restarting blockscout, but the browser window must be refreshed to see the new blocks. Still a big improvement.
There is a message at the top of the screen "Indexing Tokens - We're indexing this chain right now. Some of the counts may be inaccurate." that never goes away, and I wonder if this is related to the websocket being unavaila

[2019-04-19 20:19] acravenho opened #1796 "Internal Server Error on All Contract Verification Pages"
Here is an example: https://blockscout.com/eth/mainnet/address/0x755f4a948446076169416465bb8f6ac8b16e3edf/contract_verifications/new

### Steps to reproduce

Tried verifying a contract for this address: 0x755f4a948446076169416465bb8f6ac8b16e3edf and received an internal server error. I will pass along other addresses with the same issues.

[2019-04-19 20:22] acravenho commented on #1796
This appears to be occurring for every contract address. I've attempted to verify contracts on several other addresses but all pages have an internal server error.

[2019-04-20 10:26] acravenho commented on #1796
This appears to be fixed now. Starting verification again.

[2019-04-20 10:26] #1796 closed

[2019-04-20 17:21] goodsoft commented on #1607
The browser fails to connect to websocket:
![image](https://user-images.githubusercontent.com/2828228/56460309-7b412300-63a9-11e9-8b02-101888d28899.png)

Considering you have nginx there, you might want to check, whether the following lines are present in the virtual host config:
[code]

[2019-04-20 17:35] goodsoft commented on #1607
None of them are related to websockets, but rather to internal transactions fetcher.
Internal transactions are fetched using different APIs for different nodes, and the default is `ganache` for `dev` environment, and `parity` for `prod` and `test`.
`cpp-ethereum` seems to be similar to `geth` variant, so you should run the Blockscout app server with the following environment variable:
[code]

Also

[2019-04-20 20:29] acravenho opened #1797 "Certain Addresses are not showing up as Contracts"
While verifying contracts I am noticing a number of addresses that are showing a `404` on the verification page which is due to the address not being recognized as a smart contract.

I'll keep an ongoing list here as they appear this afternoon.

* 0x8bf0a15a3fe06d440158ea86d7aff9251f462e4d
* 0xf277f6da5f453c2ace81a6e8f1d2cd3908e45194
* 0xe880b566ca08603b1e45baa58360187c738c0604
* 0x9dc2d6e59efb0cd

[2019-04-21 02:13] goodsoft opened #1798 "Uncle blocks can't be indexed using eth_getBlockByHash"
Parity returns `null` for many uncle blocks, if they are fetched using `eth_getBlockByHash`:
[code]
I suspect that it's caused by the fact that Parity only keeps full block data for recent non-consensus blocks.

This causes `uncle_block` fetcher to loop endlessly trying to fetch "missing" blocks, hogging both app server and Parity resources.

Instead, `eth_getUncleByBlockHashAndIndex` should be us

[2019-04-21 17:09] goodsoft commented on #1797
So far I found that `create` internal transactions that create these contracts were erroneously marked as failed with different errors (`Out of gas`, `Reverted`, `Bad instruction`, probably others).
Interestingly, "outer" transactions are still considered successful.

Moreover, re-running import of a corresponding block yields successful internal transactions and properly detected contract address

[2019-04-21 20:46] acravenho commented on #1797
Thanks for taking a look at this so quickly. I can keep track of all the blocks where this anomaly in the `create` internal transaction occurred and then provide a master list once completed.

[2019-04-22 07:26] #1732 closed

[2019-04-22 09:58] #1791 closed

[2019-04-22 14:28] #1798 closed

[2019-04-22 14:41] #1776 closed

[2019-04-22 15:20] #1752 closed

[2019-04-22 15:59] vbaranov opened #1805 "Deployment v1.3.10: Goerli"
## Info
Networks: **Goerli**
Date: **2019-04-22**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.10-beta](v1.3.10)**

## Motivation
Fix of visual displaying of decompiled smart-contracts

## Description
This issue is for approval of deploying [v1.3.10](https://github.com/poanetwork/blockscout/releases/tag/v1.3.10-beta) to **Goerli**.
## Specific Directions
* Disable replace

[2019-04-22 16:09] #1772 closed

[2019-04-22 18:18] zachdaniel commented on #1775
Still trying to figure out what is going on here. Its definitely unrelated to the web application itself, and only related to what is being passed into the script. At the very least, I've added an endpoint to verify contracts with a POST request.

[2019-04-22 20:20] zachdaniel commented on #1775
@acravenho I saw that there were some other issues with contract verification using the UI, I'm wondering if that may give us any insight into this issue. Are contracts correctly being verified via the UI but then failing via the API?

[2019-04-22 20:45] acravenho commented on #1775
I can give the API a try again once the PR is deployed to production. I'll keep track of which contracts failed the API but were successful in the UI.

[2019-04-23 07:57] vbaranov opened #1809 "Deployment v1.3.10: POA based networks: Sokol, Core, xDai"
## Info
Networks: **Sokol**, **POA Core**, **xDai**
Date: **2019-04-23**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.10-beta](v1.3.10)**

## Motivation
- full-text search by tokens names
- ERC-20/ERC-721 tokens transfer info on the transaction page
- menu with new chains support
- realtime indexer performance improvements

## Description
This issue is for approval of dep

[2019-04-23 07:58] #1805 closed

[2019-04-23 08:01] vbaranov opened #1810 "Deployment v1.3.10: ETH Mainnet"
## Info
Networks: **ETH Mainnet**
Date: **2019-04-23**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.10-beta](v1.3.10)**

## Motivation
- Fix of visual displaying of decompiled smart-contracts
- Full-text search by tokens names
- ERC-20/ERC-721 tokens transfer info on the transaction page
- Menu with new chains support
- Realtime indexer performance improvements

## Descri

[2019-04-23 08:07] vbaranov opened #1811 "Deployment v1.3.10: ETH testnets: Kovan, Ropsten, Rinkeby"
## Info
Networks: **Kovan**, **Ropsten**, **Rinkeby**
Date: **2019-04-23**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.10-beta](v1.3.10)**

## Motivation
- Full-text search by tokens names
- ERC-20/ERC-721 tokens transfer info on the transaction page
- Menu with new chains support
- Realtime indexer performance improvements

## Description
This issue is for approval of d

[2019-04-23 15:58] vbaranov opened #1820 "Improve decompiled code highlighting"
- it's not matching colour scheme in Verified contracts
- some comments lines highlighted not like comments
- some not comments lines highlighted like comments
- some function names highlighted as comments
![Screenshot 2019-04-23 at 18 57 55](https://user-images.githubusercontent.com/4341812/56596710-b89bef80-65f9-11e9-969a-81e97e637fbf.png)

[2019-04-23 16:10] #1811 closed

[2019-04-23 16:17] vbaranov opened #1821 "Deployment v1.3.10: ETC Mainnet"
## Info
Networks: **ETC Mainnet**
Date: **2019-04-23**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.10-beta](v1.3.10)**

## Motivation
- Fix of visual displaying of decompiled smart-contracts
- Full-text search by tokens names
- ERC-20/ERC-721 tokens transfer info on the transaction page
- Menu with new chains support
- Realtime indexer performance improvements

## Descri

[2019-04-23 18:39] #1821 closed

[2019-04-23 20:50] Eika4 commented on #1607
I have switched to the Geth variant, and added the two lines above to the nginx config. I am still required to refresh the browser in order to see new blocks.
I am receiving errors from the internal transactions fetcher:

2019-04-23T20:32:49.267 fetcher=internal_transaction count=10 [error] Task #PID<0.559.0> started from Indexer.Fetcher.InternalTransaction terminating
** (BadMapError) expected a

[2019-04-24 10:07] vbaranov opened #1825 "Deployment v1.3.10: LUKSO, Aerum, Callisto"
## Info
Networks: **LUKSO**, **Aerum**, **Callisto**
Date: **2019-04-24**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.10-beta](v1.3.10)**

## Motivation
- full-text search by tokens names
- ERC-20/ERC-721 tokens transfer info on the transaction page
- menu with new chains support
- realtime indexer performance improvements

## Description
This issue is for approval of de

[2019-04-24 13:17] saneery commented on #1766
@vbaranov I think the issue can be closed

[2019-04-24 13:18] #1766 closed

[2019-04-24 13:28] vbaranov commented on #1820
PR above covers these issues:

Regarding
1. >some function names highlighted as comments

we need to distinguish function names from the comments - I suppose we need an additional colour anchor for that.

2. > it's not matching the colour scheme in verified contracts

@ayrat555 can we create a dictionary and wrap reserved words with the styles, that we have for verified smart-contracts? The matchi

[2019-04-24 13:30] ayrat555 commented on #1820
yes

[2019-04-24 13:38] goodsoft commented on #1607
The lines in nginx config helped browser to successfully connect to the app server.
I don't see errors anymore, and the websocket seems to be alive.
I can't confirm, whether new blocks arrive, though, as there seems to be too large of an interval between blocks.

Regarding internal transactions, there seems to be some kind of incompatibility in internal transaction format. I'll need a bit of your

[2019-04-24 13:51] Eika4 commented on #1607
[result1.txt](https://github.com/poanetwork/blockscout/files/3112555/result1.txt)
[result2.txt](https://github.com/poanetwork/blockscout/files/3112557/result2.txt)

[2019-04-24 14:03] goodsoft commented on #1607
Sorry, I got an error in the second query, it should go like this:
[code]
Please try again.

[2019-04-24 14:07] Eika4 commented on #1607
[result2.txt](https://github.com/poanetwork/blockscout/files/3112641/result2.txt)

[2019-04-24 18:26] #1809 closed

[2019-04-24 20:21] zachdaniel commented on #1775
@acravenho We deployed the new POST endpoint to stg. Info on it can be found in the PR #1806

[2019-04-25 01:51] acravenho commented on #1775
Thanks Zach. I saw the deployment issue for ETH Mainnet and have been waiting for a few of these issues to be deployed to production. I might test some of these on staging and will let you know if I encounter any problems 👍

[2019-04-25 08:13] #1825 closed

[2019-04-25 09:41] vbaranov opened #1836 "Update chains logos to fit new design"
Relates to https://github.com/poanetwork/blockscout/pull/1807

https://github.com/poanetwork/blockscout/blob/master/apps/block_scout_web/assets/static/images/blockscout_logo.svg
https://github.com/poanetwork/blockscout/blob/master/apps/block_scout_web/assets/static/images/callisto_logo.svg
https://github.com/poanetwork/blockscout/blob/master/apps/block_scout_web/assets/static/images/classic_ethere

[2019-04-25 11:52] vbaranov opened #1839 "Internal server error for Accounts page"
https://blockscout.com/aerum/mainnet/accounts

[code]

[2019-04-25 14:23] mgarciap commented on #1730
thank you @vbaranov for including the feature in the roadmap. Any ETA?

[2019-04-25 15:03] vbaranov opened #1841 "0 USD in Transactions details page for empty exchange rate"
Relates to https://github.com/poanetwork/blockscout/issues/1299, https://github.com/poanetwork/blockscout/pull/1492

**Problem**: For chains with the native currency, that is not listed on coinmarcetcap, there is `$0 USD` in transactions details page:

![Screenshot 2019-04-25 at 17 59 00](https://user-images.githubusercontent.com/4341812/56745873-d6955b80-6783-11e9-851d-719066a6395d.png)
https://b

[2019-04-25 15:04] vbaranov commented on #1491
https://blockscout.com/aerum/mainnet

[2019-04-25 15:04] #1491 closed

[2019-04-25 15:08] vbaranov commented on #1298
@dwalintukan we have no such issue with [Rinkeby](https://blockscout.com/eth/rinkeby) Blockscout instance (the chain with Clique). Do you still have this issue in your chain? And if yes did you try the latest release [1.3.10](https://github.com/poanetwork/blockscout/releases/tag/v1.3.10-beta) of Blockscout?

[2019-04-25 15:11] vbaranov commented on #1294
@dwalintukan Is this still relevant?

[2019-04-25 15:21] vbaranov opened #1842 "Do not display USD values for testnets"
Relates to https://github.com/poanetwork/blockscout/issues/1120

Let's do not display USD values for chains, that are marked as testnets

[2019-04-25 15:21] #1120 closed

[2019-04-25 15:37] igorbarinov commented on #1842
There was an issue to display transaction graphs. I'd rather display it
Or display like in Lukso without a graph but better with transations

[2019-04-25 15:58] goodsoft commented on #1607
Apparently cpp-ethereum doesn't support `debug_traceTransaction` queries with custom JS tracer that we use for go-ethereum to match Parity's API.
I'm going to implement tracer natively in Elixir, so that it works for both variants.

[2019-04-25 17:49] rstormsf opened #1843 "cannot verify smart contract 0.5.3"
I can't seem to be able to verify the following smart contract

![image](https://user-images.githubusercontent.com/9360827/56756887-acbe4380-6747-11e9-8f6e-a098abbd9e1b.png)
https://blockscout.com/poa/dai/address/0x5cd5bb3ec13ce31771b63632ddc2eb36e300b96c/contract_verifications

Verified on other sources:
https://etherscan.io/address/0x595a47e57b3ec34031429d2abf9c941e4e3a8d99#code
solc: 0.5.3
opti

[2019-04-26 09:07] matawinb opened #1845 "Rinkeby Testnet: <Issue Title>"
*Describe your issue here.*

### Environment
* Elixir Version: 1.8.1
* Erlang Version: 21
* BlockScout Version: v1.3.10-beta

* User Agent: `Mozilla/5.0 (Linux; Android 8.1.0; ASUS_X00ID) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.90 Mobile Safari/537.36`

### Steps to reproduce

*Tell us how to reproduce this issue. If possible, push up a branch to your fork with a regression test we

[2019-04-26 09:39] #1845 closed

[2019-04-26 11:53] vbaranov commented on #1843
I was able to verify it with evm version: `byzantium`: https://blockscout.com/poa/dai/address/0x5cd5bb3ec13ce31771b63632ddc2eb36e300b96c/contracts

Enjoy.

[2019-04-26 11:57] igorbarinov commented on #1843
@vbaranov I remember we discussed to have a fallback to previous EVM version if the latest one is not successful. Do we have a PR or an issue for it?

[2019-04-26 12:10] vbaranov commented on #1653
#1661 doesn't cover requested functionality. We should fall back to 2 previous evm versions from the chosen one.

[2019-04-26 12:12] vbaranov commented on #1843
Yes, we discussed it. And we had an issue for that. It wasn't solved correctly. I reopened it: https://github.com/poanetwork/blockscout/issues/1653

[2019-04-26 12:41] varasev opened #1847 "Cannot verify smart contract 0.4.24 in Kovan testnet"
Can't verify this one: https://blockscout.com/eth/kovan/address/0xae71807c1b0a093cb1547b682dc78316d945c9b8/contracts

It is verified successfully in etherscan: https://kovan.etherscan.io/address/0xae71807c1b0a093cb1547b682dc78316d945c9b8#code

[2019-04-26 13:06] varasev commented on #1847
Also, when I try to verify another contract https://blockscout.com/eth/kovan/address/0xe8f4819a0c7f7b918c4f1ab801b0745604bdfd38/contract_verifications I see the `Error 504 Gateway time-out`:

![image](https://user-images.githubusercontent.com/33550681/56809697-30a62780-683d-11e9-95d9-c0204b092a88.png)

[2019-04-26 13:07] varasev commented on #1847
Both these contracts are verified in `kovan.etherscan.io`.

[2019-04-26 15:52] vbaranov commented on #1730
Hi @mgarciap. We have no ETA on this. But I hope it could be included into the next release. Usually, we issue a new release every 2-3 weeks.

[2019-04-26 19:45] vbaranov opened #1850 "Fallback to Postgres data for blocks count"
Relates to https://github.com/poanetwork/blockscout/pull/1848#pullrequestreview-231169815

[2019-04-26 19:53] vbaranov opened #1851 "Deployment v1.3.11: LUKSO"
## Info
Networks: **LUKSO**
Date: **2019-04-26**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.11-beta](v1.3.11)**

## Motivation
- Fix https://github.com/poanetwork/blockscout/issues/1839
- High CPU load

## Description
This issue is for approval of deploying [v1.3.11](https://github.com/poanetwork/blockscout/releases/tag/v1.3.11-beta) to **LUKSO**.
## Specific Directions

[2019-04-26 19:56] #1851 closed

[2019-04-27 08:15] rstormsf commented on #1843
thank you @vbaranov

[2019-04-27 08:15] #1843 closed

[2019-04-27 10:21] acravenho commented on #1847
Most likely related to #1790

[2019-04-28 12:05] bellaj opened #1854 "502 Bad Gateway after restarting vm"
I am installing Blockscout on Ubuntu 16.04 VM on azure using this [script ](https://github.com/bellaj/blockscout/blob/master/install_blockscout.sh), everything goes fine and the exporer works. However, once we restart the VM we keep getting **502 Bad Gateway**
 error. We've tried to restart nginx and blockscout service  but still we have the same error.
` sudo systemctl status blockscout.service`

[2019-04-28 12:32] bellaj commented on #1854
`elixir --detached -e "File.write! 'pid', :os.getpid" -S mix phx.server
`then restarting the service fixed the issue.

[2019-04-29 06:37] saneery commented on #1839
@vbaranov can we close this?

[2019-04-29 08:43] vbaranov commented on #1839
@saneery  I suppose we cannot until we install an update to all affected chains.

[2019-04-29 14:49] vbaranov opened #1856 "Deployment v1.3.11: RSK"
## Info
Networks: **RSK**
Date: **2019-04-29**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.11-beta](v1.3.11)**

## Motivation
- Implement https://github.com/poanetwork/blockscout/pull/1802 to fix zero price and marcetcap
- High CPU load

## Description
This issue is for approval of deploying [v1.3.11](https://github.com/poanetwork/blockscout/releases/tag/v1.3.11-beta) to

[2019-04-29 15:18] vbaranov commented on #1854
@bellaj could you attach error log from `./apps/logs/prod/error.log` ?

[2019-04-29 17:07] goodsoft commented on #1607
@Eika4 I added a PR #1857 with native Elixir tracer, may I ask you to try it out on your branch?

[2019-04-29 17:12] akolotov opened #1858 "getLogs blockscout API does not work"
As soon as call `getLogs` by the GET request it returns `Gateway time-out`

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`): N/A
* Operating System: Linux

### Steps to reproduce

Tried this both through the BlockScout web interface and in the CLI. In both cases cannot get the list of events. Here is example of the request:
[code]

### Expected behaviour

The list of the events

[2019-04-29 17:19] akolotov commented on #1858
I even tried to specify `topic0` in the request:
[code]
Still have no correct response.

[2019-04-29 17:39] #1546 closed

[2019-04-29 17:39] Eika4 commented on #1607
I have applied the changes to our branch and recompiled. I don't immediately see any changes on the explorer. If you would like to share your ssh public key, I can provide you with access to the blockscout server.

[2019-04-29 17:41] zachdaniel commented on #1858
I will look into this shortly.

[2019-04-29 17:43] goodsoft commented on #1607
[code]

[2019-04-29 17:46] Eika4 commented on #1607
ssh root@208.68.37.61
screen -ls
blockscout: screen -r 885
petrichor node: screen -r 31095

[2019-04-29 18:03] goodsoft commented on #1607
I found another incompatibility and fixed it. Please apply [this patch](https://github.com/poanetwork/blockscout/pull/1857/commits/f6620ee4d3a5b14770116b3a5a5d1a399ef85132) and restart the app server.

[2019-04-29 18:08] Eika4 commented on #1607
The patch has been applied and I do notice an immediate difference. I no longer see error messages either, so the changes appear to have been a success.

[2019-04-29 18:13] goodsoft commented on #1607
Good. From what I see, all transactions have been successfully indexed as well.

[2019-04-29 18:16] Eika4 commented on #1607
I was worried that blockscout would not be compatible with the C++ ethereum client, but it looks like you made all the necessary changes for us. Great job. Thank you.

[2019-04-29 19:53] #1841 closed

[2019-04-29 19:53] #1299 closed

[2019-04-29 20:18] vbaranov opened #1860 "Deployment v1.3.11: Ropsten, ETH Mainnet"
## Info
Networks: **Ropsten**, **ETH Mainnet**
Date: **2019-04-30**
Version: **[https://github.com/poanetwork/blockscout/releases/tag/v1.3.11-beta](v1.3.11)**

## Motivation
- Fix for uncle blocks with null size

## Description
This issue is for approval of deploying [v1.3.11](https://github.com/poanetwork/blockscout/releases/tag/v1.3.11-beta) to **Ropsten**, **ETH Mainnet**.
## Specific Direction

[2019-04-29 20:22] matawinb commented on #1860
# config :indexer, Indexer.ReplacedTransaction.Supervisor, disabled?: true

[2019-04-29 21:24] zachdaniel commented on #1858
I can confirm the issue you are seeing. I'll look into it first thing in the morning (EST).

[2019-04-29 22:40] APshenkin opened #1862 "Add several fields in txlistinternal and tokentx"
*Describe your issue here.*
Currently if you want to search internal and token transactions that belongs to some address you can't get "unique" identifiers of transactions. in `tokentx` you can see only transaction hash. But there is also `logIndex` that determine exactly transfer of funds. For `txlistinternal` there is no identifiers at all.

So I suggest to add
`logIndex` field in `tokentx` api

[2019-04-29 23:18] chebykin commented on #1775
I tried to verify a contract using my own blockscout installation (v1.3.11-beta) and a private chain but stuck with the same problem as described here.

Compiler messages were cut by JSON.stringify, I made this PR #1863

With this hack https://github.com/chebykin/blockscout/commit/fc03f50788f892f82f30a41c504bef2767e8dc8f  I was able to receive this error using POST API:  `{"contract_source_code":"

[2019-04-30 01:00] dwalintukan commented on #1294
@vbaranov let me test this on the latest release.

[2019-04-30 01:00] dwalintukan commented on #1298
@vbaranov will test on latest release.

[2019-04-30 05:32] #1856 closed

[2019-04-30 06:45] pashagonchar commented on #1836
@vbaranov

https://zpl.io/VDAd6dv

https://zpl.io/29wE6EA

https://zpl.io/VKDLAvE

https://zpl.io/VOxnj7P

https://zpl.io/brvpgXX

https://zpl.io/V1O561X

![aerum_main](https://user-images.githubusercontent.com/16716926/56944595-a3105380-6b2c-11e9-8e62-87336b64ec15.png)
![callisto_main](https://user-images.githubusercontent.com/16716926/56944597-a3105380-6b2c-11e9-8eb9-f62be63b9aa7.png)
![main_etc

[2019-04-30 08:50] #1810 closed

[2019-04-30 10:30] vbaranov opened #1864 "Invalid marketcap for RSK"
![Screenshot 2019-04-30 at 13 29 23](https://user-images.githubusercontent.com/4341812/56956201-1d040500-6b4c-11e9-94b2-98e1f3eb329c.png)