[2018-08-09 20:04] KronicDeth opened #530 "deadlock during test/explorer_web/features/viewing_chain_test.exs:35"
deadlock during test/explorer_web/features/viewing_chain_test.exs:35

### Steps to reproduce

https://circleci.com/gh/poanetwork/poa-explorer/17447

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

From https://circleci.com/gh/poanetwork/poa-explorer/17447

[code]

[2018-08-09 20:32] #506 closed

[2018-08-09 21:32] alexgaribay commented on #488
As discussed in Slack. Internal transactions are created whenever there is value transferred between addresses. We are already checking internal transactions for addresses. As such, this issue is being closed.

[2018-08-09 21:32] #488 closed

[2018-08-09 21:33] KronicDeth opened #532 "Subscribe to new blocks using websocket"
We continue to have issues with the realtime indexer either under or overfetching new blocks.  This will always be an issue due to the nature of polling for new blocks, using a subscription based approach would mean we don't have to worry about missing a block or checking too often, so we should investigating using the Parity and Geth websocket support to subscribe to new blocks.

[2018-08-09 21:34] acravenho opened #533 "Unsupported Decoding type for Read Smart Contract"
While attempting to interact with a function for contract `0x698bf6943bab687b2756394624aa183f434f65da` on `core`, I found that we had several unsupported decoding types.

[code]

### Steps to reproduce

1. View the address `0x698bf6943bab687b2756394624aa183f434f65da`
2. Enter `1` in the function `getDistrict`

### Expected behaviour

This should display arrays of statistics.

### Actual behaviour

[2018-08-09 21:37] KronicDeth commented on #532
Sokol's websocket is wss://sokol-ws.poa.network/ws

[2018-08-09 21:44] alexgaribay commented on #533
It looks like this is an issue I introduced in to `:ex_abi`. It supports arrays but not when the array item count is provided.

[2018-08-09 21:52] alexgaribay commented on #533
@acravenho Can you paste in the raw output of running that function using an ethereal client?

[2018-08-10 01:06] KronicDeth commented on #377
Yes, because it is (mostly) invalid now that #505 is present.

[2018-08-10 01:06] #377 closed

[2018-08-10 04:55] acravenho opened #535 "Read smart contract first response repeats"
I verified a smart contract, provided an input and instead of providing multiple responses with different decode types I received the same response for every value.

<img width="1405" alt="screen shot 2018-08-10 at 12 51 19 am" src="https://user-images.githubusercontent.com/17620007/43939380-b804e806-9c37-11e8-8f96-03881dc06361.png">

### Steps to reproduce

1. Visit this smart contract: `0x11c446

[2018-08-10 08:22] acravenho opened #536 "Mobile view of the transactions page fix"
On the view all transactions page, the elements are overlapping and falling off the transaction card. The same transaction card on the account page is acting correctly.

![screenshot_20180810-110356](https://user-images.githubusercontent.com/17620007/43946982-c4bcc858-9c54-11e8-9ac4-1c163bdb1bb4.png)

### Environment

* Operating System: Pixel 2 Standard Browser

### Steps to reproduce

1. View th

[2018-08-13 02:43] acravenho opened #539 "Indexer BalanceFetcher timeout"
While running the indexer on my local machine I started noticing these errors popup below the 1M block range area.

[code]

### Environment

* Operating System: Mac

### Steps to reproduce

1. Start indexer on `master`
2. Let it index down to the 1m block range
3. view erros

[2018-08-13 02:46] acravenho opened #540 "Indexer Internal Transaction Fetcher Terminating"
While indexing `sokol` on my local machine I started noticing these errors around the 1m block range:

[code]

### Environment

* Operating System: Mac

### Steps to reproduce

1. Index `sokol` on mac
2. Reach the 1m block range
3. Start noticing errors

[2018-08-13 03:19] acravenho opened #541 "Update branding to BlockScout"
With the switch from `POA Explorer` to `BlockScout` the branding needs to be updated throughout the app including the following:

- [ ] title tags
- [ ] documentation

Please feel free to add to this list with your suggestions.

[2018-08-13 13:17] #520 closed

[2018-08-13 14:11] jimmay5469 commented on #522
We are going to work #403 which needs to happen anyways and may have an impact on this issue. Following the conclusion of that we will re-assess what needs to happen for this issue to be resolved.

[2018-08-13 14:43] #448 closed

[2018-08-13 16:26] alexgaribay commented on #533
What you say core, what's the node jsonrpc target host? https://sokol.poa.network?

[2018-08-13 16:32] acravenho commented on #533
https://core.poa.network

[2018-08-13 16:32] acravenho commented on #533
I can deploy the contract on `sokol` to make it easier.

[2018-08-13 17:29] igorffs commented on #514
Thanks for the feedback @alexgaribay. ❤️

My first impression was that we should use `Chain.Balance` to store both POA balance and token balances due to its relation to `Chain.Address` and make use of the BalanceFetcher process for the same sake. Although @acravenho mentioned that the `balances` table is the largest table we have in our database and including token balances there could actually in

[2018-08-13 17:56] acravenho commented on #514
Balances table:
`core` ~ 6.5m rows
`sokol` ~ 8.9m rows

[2018-08-13 18:03] alexgaribay commented on #514
@igorffs It wouldn't happen in the same process. I was think of having a `TokenBalanceFetcher` process. The queue would only get populated when there's token transfers found during indexing.

As for schema, we can't leverage the balance table since we would need another column for the token's contract address. We have to do an index like:
[code]

[2018-08-13 18:39] arthurra commented on #529
![transfer-transaction-tiles-02](https://user-images.githubusercontent.com/1641169/44050986-9bc2de42-9f06-11e8-8304-973d07b9b52b.png)

[2018-08-13 20:25] acravenho opened #543 "Show token transfers on the transaction tab of the block details page"
Currently, the block details page only shows `Contract Call` where there should be a token transfer. This should display similar to the all transactions page.

<img width="1127" alt="screen shot 2018-08-13 at 4 22 58 pm" src="https://user-images.githubusercontent.com/17620007/44056098-3745e784-9f15-11e8-9177-3c06366e8548.png">

### Steps to reproduce

1. View block #3477687 on `sokol`

### Expecte

[2018-08-13 20:58] igorffs commented on #514
@acravenho I've just updated the description, can you take a look at it? There are a few questions there that I have to confirm yet before sending to ready to dev. \o

[2018-08-13 21:05] alexgaribay commented on #533
A PR has been added to `ex_abi` to fix the decoding issue.
poanetwork/ex_abi#7

[2018-08-13 21:13] themotu commented on #183
@peterromfeldhk Any luck with this? I change env vars but am only getting odd errors back. What rpc options are you running geth with to make this work?

[2018-08-13 22:51] themotu commented on #183
I'm getting errors when I try this with geth or ganache:

[code]

[2018-08-14 03:29] peterromfeldhk commented on #183
[code]

i can send the whole nixos config for it that would help you

On Tue, Aug 14, 2018 at 6:51 AM, themotu <notifications@github.com> wrote:

[2018-08-14 07:04] peterromfeldhk commented on #183
its still a bit hacky, but no time currently (you will need a `genesis.json` in same dir and also a `static-nodes.json` pointing to your blockchain)

`nixos-modules/geth.nix`
[code]

`nixos-modules/eth-explorer.nix`
[code]

`configuration.nix`
[code]

[2018-08-14 14:48] tmecklem commented on #403
After updating Wallaby to use the experimental chromedriver support, the following error was dumped repeatedly to the console on macOS 10.13.6:

It did not improve the test flakiness, so from a development environment perspective it's a net loss in terms of communicating test failures clearly. The error _appears_ to be spurious and was introduced in a recent version of macOS. Since this doesn't mo

[2018-08-14 17:36] #485 closed

[2018-08-14 18:10] katibest commented on #444
DevCon month version (for October)!

![etherum-address_details-oct-09](https://user-images.githubusercontent.com/20226535/44109733-bf9c0da0-9fcb-11e8-9151-a83ee23ba377.png)

![etherum-homepage-oct-03](https://user-images.githubusercontent.com/20226535/44109741-c57bf140-9fcb-11e8-9841-ce9174bf9494.png)

[2018-08-14 19:22] acravenho opened #549 "Fix Coveralls badge unknown bug"
Coveralls is not currently picking up data from CircleCI.

1. I've generated a new token on Coveralls, removed the old variable on CircleCI and inserted the new variable/value.  This did not work.

[2018-08-14 19:55] #521 closed

[2018-08-14 20:06] pashagonchar commented on #444
@katibest Why you use different font for menu?

[2018-08-14 20:11] pashagonchar commented on #444
<img width="593" alt="graph" src="https://user-images.githubusercontent.com/16716926/44115619-0e0abb30-a017-11e8-9d19-2f169e23b47c.png">
@katibest Change text color for charts to same with color palette or maybe black

[2018-08-14 20:27] pashagonchar commented on #444
<img width="493" alt="ropsten" src="https://user-images.githubusercontent.com/16716926/44116512-67f38e9a-a019-11e8-9da0-a15c20e764d9.png">
Same links with different colors. Design for Ropsten

[2018-08-14 20:32] pashagonchar commented on #444
<img width="1243" alt="transaction_view" src="https://user-images.githubusercontent.com/16716926/44116778-1d5792a4-a01a-11e8-9eb6-e586709f21fa.png">
@katibest A lot of space between address and arrow. Design for Ethereum

[2018-08-14 20:37] pashagonchar commented on #444
<img width="1243" alt="transaction_view" src="https://user-images.githubusercontent.com/16716926/44117009-bb9960c8-a01a-11e8-9029-bbbbc9a7ce7f.png">
@katibest Can you replace "->" with arrow icon. Design for Ethereum

[2018-08-14 21:10] pashagonchar commented on #444
![ethereum_theme](https://user-images.githubusercontent.com/16716926/44118613-691e6e2e-a01f-11e8-8268-2679da401351.png)
@katibest small report for ethereum design

[2018-08-14 22:45] acravenho opened #550 "Network dropdown rework"
The network dropdown hover is the same color as the background making it difficult to read which network you're on. The text size of the networks could also be adjusted to better align with the rest of the design.

<img width="224" alt="screen shot 2018-08-14 at 6 44 09 pm" src="https://user-images.githubusercontent.com/17620007/44122485-12be52d8-9ff2-11e8-9951-3faa4fee4af2.png">

[2018-08-15 12:14] gfreh commented on #386
I've been testing this issue and everything seems to be fine. Below are some scheenshots:

ERC-20 Token Transfer:
<img width="1120" alt="screen shot 2018-08-15 at 09 03 47" src="https://user-images.githubusercontent.com/1440642/44147572-077b10f4-a06b-11e8-9c42-ba506297eef5.png">

ERC-721 Token Transfer:
<img width="1126" alt="screen shot 2018-08-15 at 09 03 00" src="https://user-images.githubuserc

[2018-08-15 14:09] #386 closed

[2018-08-15 15:29] alexgaribay opened #552 "Incorrect hover text for "Copy Contract Source Code" button on contract code page"
The "Copy Contract Source Code" button on the contract code page is an incorrect value for the hover text.

![image](https://user-images.githubusercontent.com/911605/44156503-9fe11b04-a075-11e8-82fc-3c410ad921d6.png)

### Steps to reproduce

1. Go to an address page of a verified contract
2. Hover over "Copy Contract Source Code"
3. View hover-over text

### Expected behaviour

Hover text should s

[2018-08-15 15:58] acravenho opened #553 "Add metadata to Token Transfers and Internal Transactions on Block Details page"
On the block details page, we need to add more metadata to the internal transactions and token transfers.

### Requirements
- [x] Show token transfers instead of Contract Call
- [x] Show block number, age, tx fee for token transfers
- [x] Show type, block number, age, and tx fee for internal transactions

[2018-08-15 18:10] #550 closed

[2018-08-15 18:49] gfreh commented on #410
- For each `Token`, there should be possible to see the following information:
    - `Token` balance (for the associated address) followed by the token symbol.
        - For `ERC20 Tokens`, the balance should be formatted as currency (thousands and decimal separators) considering the token's `decimals` info (if there is no `decimals` info, display the formatted amount). Example: `999,000.02 FREH`

[2018-08-15 18:53] katibest commented on #425
I didn't completely answer your search bar question! Since we're no longer using the filter like etherscan I think we would be ok to keep it in the panel. It just a normal ol' filter which not all sections should need.

[2018-08-15 19:50] acravenho commented on #410
Do you think the number of transfers between that token and the account address should be included? I think this is a good metric to show.

[2018-08-16 12:40] gfreh commented on #410
@acravenho do you mean in the Tokens tab? This is already in the acceptance criteria (it should be shown below the token name in the Token list).

[2018-08-16 13:03] acravenho commented on #410
Perfect. I must have missed it.

[2018-08-16 13:40] gfreh commented on #425
@katibest no problem! I believe you folks have already told us about this UX improvement before, but I'm afraid we've misremembered that 😔

[2018-08-16 16:13] sabondano opened #560 "API decode support for logs#getLogs action"
While working on adding the `getLogs` action (part of `logs` module) for the API (https://github.com/poanetwork/blockscout/pull/544) we talked about the possibility of adding an optional `decode` parameter. The idea being that if the decode flag is used, topics would be decoded. This issue is here as a reminder to consider if this is something we'd like to add.

[2018-08-16 16:53] Lucasnar commented on #410
Besides the questions in the PR description, we thought of this one:

- If the address hasn't interacted with any tokens, should we display this tab? If yes, what should be inside it?

[2018-08-16 16:54] acravenho commented on #410
@Lucasnar No, we should not display the tab.

[2018-08-16 16:58] amandasposito opened #561 "Contributor can filter the Token Transfers by Token in the Token tab at the Address page"
As a `Contributor`, I want to see a `Token` tab in the `Address Details` page, where I can filter the `Token Transfers` for each of those `Tokens` listed.

https://projects.invisionapp.com/share/8EMX9IOR2V9#/screens/308371747

![image](https://user-images.githubusercontent.com/27698968/45625753-06e58080-ba64-11e8-9789-98368d7bf601.png)

## Acceptance Criteria
- At the `Tokens` tab, in the `Address

[2018-08-16 18:06] katibest commented on #524
Contract Links!

[2018-08-16 18:21] gfreh opened #564 "Contributor sees the Token balance for each Token listed in the Token tab for the Address page"
As a `Contributor`, I want to see a `Token` tab in the `Address Details` page, where I can see the list of `Tokens` the `Address` holds, as well as see the `Token Transfers` for each of those `Tokens`.

https://projects.invisionapp.com/share/8EMX9IOR2V9#/screens/308371747

This continues the work on #410.

## Acceptance Criteria

- For each `Token`, there should be possible to see the following in

[2018-08-16 18:39] gfreh commented on #410
@acravenho two comments here:

Firstly, we've split this issue in three as follows. This way, we believe we can reduce merge code faster and accelerate the feedback loop.
1. This one will handle displaying the tokens list with the number of transfers.
2. #561 will handle clicking on a token item and displaying the list of token transfers.
3.  #564 will handle displaying the token balances in the l

[2018-08-16 19:10] acravenho commented on #561
Everything looks correct! 👍

[2018-08-16 19:13] acravenho commented on #410
@gfreh I'm not seeing the questions you're referring to.

[2018-08-16 19:31] gfreh commented on #410
@acravenho I've listed the questions below:
- How should we sort the tokens list? We think a good option would be by the count of transfers.
- Should we differentiate ERC20 from ERC721 somehow in the list of tokens?

Closed the issue by mistake 😰 Sorry, @Lucasnar

[2018-08-16 19:34] acravenho commented on #410
@gfreh

1. We should only sort tokens that have a `balance` > `0`
2. I really like that idea of sorting by the number of transfers. Sounds perfect.
3. I believe we should list ERC-721 first and then list ERC-20 tokens. The other alternative is to create two columns.  ERC721 on the right and ERC20 on the left. This may be more difficult though.

[2018-08-16 21:01] #517 closed

[2018-08-17 14:08] gfreh commented on #425
I've updated the acceptance criteria to accommodate that changes we've talked about this issue. Since it's not a priority right now, I'll move it to the `To Do` column.

[2018-08-17 14:58] amandasposito opened #565 "Contributors sees token transfers on the home page"
### Description

As a Contributor visiting the `Home` page, when a `Token Transfer` takes place, instead of the `Contract Call` card, I want to see a new row on the transactions details page with the to, from, number of tokens, and symbol of the tokens transferred.

![screen shot 2018-08-17 at 15 34 42](https://user-images.githubusercontent.com/840531/44283282-3ec69180-a234-11e8-9410-2568c49fc520.

[2018-08-17 18:28] katibest opened #566 "Variable stylesheets & logos for testnets"

[2018-08-17 20:49] gfreh commented on #50
@acravenho Everything LGTM here. Do you want to take a look before Felipe merges it?

[2018-08-17 21:38] owocki opened #567 "ERC948 support"
This is a placeholder for adding ERC948 support to the OSS POA block explorer ERC948 support

Some things we'd like to see:
* View manage the liveliness of your subscription
* view other subscription transactions associated with a tx.

Anything else?

@aarondr77  @captnseagraves @kosecki123 @lknix @aj07 @androolloyd

[2018-08-18 01:59] acravenho opened #568 "Create titles for individual pages on BlockScout"
$network = $subnetwork = Chain network that the user is on (i.e. Ethereum, POA Network, Kovan Testnet)
$symbol   = Symbol of the Chain (i.e. (POA, ETH)
$address  = Address that the user is on
$contract_name = If a contract is verified provide it's name otherwise provide the address
$token = The token name parsed from the token ABI
$token_symbol = The token symbol parsed from the token ABI

### Hom

[2018-08-20 00:34] acravenho opened #569 "Spacing on Account page needs adjusting in Overview section"
Recently, we had an update which condensed the size of the Address Overview box which has caused multiple details attributes to break. We either need to rethink the design of this box or expand it once again. Expanding this box causes a previous issue where the POA Balance when 18 decimals breaks the `POA` to a new line.

<img width="1133" alt="screen shot 2018-08-19 at 8 28 34 pm" src="https://us

[2018-08-20 01:19] acravenho opened #570 "EIP Support Discussion (draft)"
- [ ] [EIP-998](https://github.com/ethereum/EIPs/blob/2ccf908d5b073e4160ac0a6120f305c072bedc2f/EIPS/eip-998.md) - **ERC-998 Composable Non-Fungible Token Standard**

- An extension of the ERC721 standard to enable ERC721 tokens to own other ERC721 tokens and ERC20 tokens.
- An extension of the ERC20 and ERC223 standards to enable ERC20 and ERC223 tokens to be owned by ERC721 tokens.

- [ ] [EIP-92

[2018-08-20 13:45] crossoveranx commented on #504
@KronicDeth Can you provide insight into the file modifications for the "PoA" and "Ether" unit changes?

[2018-08-20 13:45] acravenho commented on #565
It should be the the card without the parent transaction.

[2018-08-20 13:53] #174 closed

[2018-08-20 13:53] #522 closed

[2018-08-20 15:00] #525 closed

[2018-08-20 15:19] sabondano opened #571 "API Token Endpoints"
Part of https://github.com/poanetwork/blockscout/issues/138

Token Endpoints:
- [x] Get ERC20-Token by ContractAddress (_not offered by Etherscan_)
**PR #575**
- [x] Get ERC20-Token TotalSupply by ContractAddress
**PR #578**
- [x] Get a list of "ERC20 - Token Transfer Events" by Address
**PR #596**
- [x] Get ERC20-Token Account Balance for TokenContractAddress
**PR #640**

[2018-08-20 16:18] KronicDeth commented on #504
POA as the unit of Ether is set here:

https://github.com/poanetwork/blockscout/blob/3cd70c2152316d9334929a3bb897f12a11e0d7cd/apps/block_scout_web/priv/gettext/en/LC_MESSAGES/default.po#L302-L311

Change POA to Ether to get the translation back to normal "Ether".

[2018-08-20 17:58] acravenho commented on #303
Closed by #362

[2018-08-20 17:58] #303 closed

[2018-08-20 17:59] katibest commented on #529
Single transfer tile:
![transfer-transaction-tiles-03](https://user-images.githubusercontent.com/20226535/44357870-42028d00-a481-11e8-81a1-8fe527258ba0.png)

[2018-08-20 19:04] katibest commented on #566
@acravenho  Here's our documentation for it! Do you want to try it out?? 😄 Everything is pushed up to the branch and you can test it with sokol colors!

**Hello. Welcome to creating your own forked blockchain brought to you by POA!**

Step 1
Css -> Components -> Theme
Inside theme folder duplicate _example_variables.scss & rename

Step 2
Import logo image into images folder
& change logo name in l

[2018-08-20 22:45] acravenho opened #576 "API docs design bugs"
It was brought to my attention that we had some design regression from the latest API Docs design cleanup. This is what we were shooting for: https://petstore.swagger.io/?_ga=2.113705991.1646512236.1534805019-1359302552.1534805019

Here are a few instances of regression:

## getLogs module Parameters section

### Before:
<img width="1123" alt="screen shot 2018-08-20 at 6 21 53 pm" src="https://use

[2018-08-20 22:53] acravenho commented on #565
@gfreh @amandasposito
## If POA value is sent
- display parent tx
- display 1 token transfer similar to the bottom image

## If POA value is 0
- display only token transfer
![44357870-42028d00-a481-11e8-81a1-8fe527258ba0](https://user-images.githubusercontent.com/17620007/44370888-3aa3a980-a4aa-11e8-8574-47b41b545831.png)

## If POA value is 0 and more than 1 token transfer
- display one token tra

[2018-08-21 12:29] KronicDeth commented on #504
@crossoveranx it looks like your node is reporting a `"status"`, but with `null` for the value (in JSON), which is translated to `nil` in Elixir:

https://github.com/poanetwork/blockscout/blob/5e8ac9fb49bc9ddcd11983fd6bc90e6be603c6cb/apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/receipt.ex#L293-L301

We haven't encountered that before.

1. What variant of node are you connecting to?  Geth, Parity, ot

[2018-08-21 13:43] sabondano opened #577 "API docs' CSS to support links in descriptions"
👋 @katibest, @arthurra,

We'd like to be able to embed links into descriptions in the `/api_docs` page. Is it possible to change the `a` tag, in the line referenced below, for a `button` element without breaking the way it looks? I tried the change and it doesn't look great. This change is necessary to allow for a `a` tags within that element since we can't do nested `a` tags in HTML. Could you gi

[2018-08-21 15:49] sabondano commented on #576
`enum` types also need a new line between the type and the enum definition 🙏

[2018-08-21 17:18] katibest commented on #577
@sabondano Hey!! So I think I got it figured out. I'll add a fake link in on sa-api-gettoken-by-contractaddress brach. Is that cool?

[2018-08-21 17:25] #533 closed

[2018-08-21 17:56] acravenho opened #579 "Switch to turn off live updates"
This is a feature request to add a switch in the header to toggle live updates off or on.  This will switch will toggle live events throughout the entire app and should save its state across pages.

If the user turns live updates off on the homepage, navigating to the account page will keep the off state.

[2018-08-21 18:50] sabondano commented on #576
oh, and did you notice how the model section seems to be missing the top, bottom, and right border?

[2018-08-22 02:30] acravenho opened #584 "Split user data from main DB"
In order to support future schema changes during production, user data should be separated from the main Postgres database. This data should be split into two groups.

1. The `smart_contracts` table should be publically accessible and exported daily to a public repo/swarm to be uploaded by other deployed explorers.

2. The `users` and `user_contacts` tables should be kept in a private repo to be i

[2018-08-22 06:03] mewwts opened #585 "Partial Indexing"
Hi,

In an effort to run against mainnet Infura I am looking at removing some of the data which is being indexed. For now I'm looking at indexing `blocks`, `transactions` and `logs`.

Is there any support for partial indexing like this?

If not, what's a good starting point to modify the code? I've tried removing the function calls that get the surplus data in the `blockfetcher` code, but it seems

[2018-08-22 08:56] crossoveranx commented on #504
1. Connecting to Parity
2. version Parity-Ethereum/v2.0.1-beta-e7dc0be-20180726/x86_64-linux-gnu/rustc1.27.2
3. No.

I will continue looking into it as well, but please let me know if you'd like anymore info.

[2018-08-22 10:15] JamesLawton opened #586 "Config for Deploying to Alternate Location via NGINX"
I am attempting to serve the block explorer on a remote server via NGINX. The reason for this is because I have multiple other apps that will link back to the block explorer. When the location set via NGINX is "/", the files get served and rendered properly. However, when I alter the location such as "/blockexplorer", phoenix can't serve the application. I have attempted a few solutions involving

[2018-08-22 10:18] acravenho commented on #504
Hi @crossoveranx,

Please update your node to the latest stable version of Parity which is `1.11.8`. That should fix your issue.

[2018-08-22 11:43] crossoveranx commented on #504
@acravenho

Thank you, this fixed my issue.

[2018-08-22 14:13] acravenho commented on #585
Hi @mewwts,

Unfortunately, we do not support this currently. Only indexing blocks, transactions, and logs does not provide a full state of the blockchain without tracing enabled (internal transactions).

It would be very difficult to pull the code apart if you chose to go this route anyway to make this work.

[2018-08-22 15:03] crossoveranx commented on #504
@acravenho
Perhaps I spoke too soon. It works until I submit a transaction for creating a smart contract and then I receive another flurry of errors.

Here's a sample:

[code]

[2018-08-22 15:15] acravenho commented on #504
@crossoveranx  I just want to confirm that you have tracing enabled and you're fully synced. I've seen these types of errors when either of the these two weren't true.

I'm spinning up a fresh Kovan node now to test against. It will take a little while to sync and will let you know the status soon.

[2018-08-22 18:25] acravenho opened #588 "Pagination button is not showing up on the address page"
I've only noticed this bug on one particular page: https://core-alpha.poaexplorer.com/en/addresses/0xef5d6a39ed285a9299c679fd2863bc28bb2f1106/transactions

This address has over 1,300 transactions but the pagination button is not appearing. It is also not hidden by CSS.

### Environment

* Operating System: Linux

### Steps to reproduce

1. Visit https://core-alpha.poaexplorer.com/en/addresses/0xe

[2018-08-22 18:35] KronicDeth commented on #504
@acravenho

is the same as in https://github.com/poanetwork/blockscout/issues/504#issuecomment-414656695, where for some reason the `"status"` key is being sent, but a `null` value for it.

[2018-08-22 19:42] gfreh opened #589 "Use indexed token balances in the address page balances dropdown."
This issue improves the solution for:
https://github.com/poanetwork/blockscout/issues/50

Currently, it's necessary to call the function `balanceOf` for each token the `Address` holds or held.

With https://github.com/poanetwork/blockscout/pull/582, it's now possible to change the solution to retrieve the token balances directly from the database.

## Acceptance Criteria
- Same as in https://githu

[2018-08-22 19:42] Stamates commented on #529
##Samples to use:
* Address with 50+ transactions / internal_transactions: `0xc40cdf254a4a35498aa84f35e9842c110729a2a0`
* Block with 50+ transactions: `1402784`
* Transactions with 50+ internal_transactions: `0x037f9d9e5abe501c620280306d6fb31cff1f1f71a397eeef8069329563aa45cc`
* Transactions with 50+ token_transfers and logs: `0xd38254bb9653ff5be479a31775a00f6be4cbfdb2e32737d41df488e0406952b8`

[2018-08-23 05:27] mewwts commented on #585
Thanks for clarifying @acravenho!

[2018-08-23 05:27] #585 closed

[2018-08-23 12:42] mul1sh commented on #406
@acravenho sorry I should have asked earlier, but how does one verify a smart contract? Is there a test smart contract  I can use to test too, thanks 🙂

[2018-08-23 13:39] mul1sh commented on #406
Ok i've figured it out how to verify a contract from the code, but still need a some sample contracts i can use to test, kindly provide them. Thanks 🙂

[2018-08-23 13:43] acravenho commented on #406
@mul1sh Here is a verified smart contract for a simple token: https://sokol-alpha.poaexplorer.com/en/addresses/0xcfb386c39c4329349fcbe7614ef5f29a9e008d6f/contracts

[2018-08-23 13:44] mul1sh commented on #406
@acravenho  thanks 👍

[2018-08-23 14:13] KronicDeth opened #591 "Add wobserver"
Add [wobserver](https://github.com/shinyscorpion/wobserver) so we can have a web view of [observer](http://erlang.org/doc/man/observer.html) information for anyone running the explorer even if they don't enable SaaS monitoring.

[2018-08-23 14:26] acravenho commented on #406
You're running locally so you need to let the indexer get to that block number and index that contract. Otherwise, you can deploy the same contract to an address you own on `sokol`.

[2018-08-23 14:30] mul1sh commented on #406
Ahh ok, how long might it take for the block to be indexed? I'll have to wait for it because i can only test on.

[2018-08-23 14:49] KronicDeth opened #592 "Pseudo-Supervisors need to support `handle_call(:which_children, ...)`"
While working on #591 I discovered that our pseudo-supervisors like `Indexer.BlockFetcher`

https://github.com/poanetwork/blockscout/blob/9e8a602b3fc54234d8c01861ae478a60dc1e9b59/apps/indexer/lib/indexer/block_fetcher/supervisor.ex#L20-L24

need to support `GenServer.call(pid, :which_children)`:

### Steps to reproduce

1. Install wobserver
2. Go to `/wobserver`
3. Go to the Applications tab
4. Ch

[2018-08-23 15:42] KronicDeth opened #593 "ERROR 21000 (cardinality_violation): more than one row returned by a subquery used as an expression"
[code]

[2018-08-23 15:58] mul1sh commented on #406
@acravenho must the toggle button, which does the conversion, match the above design?

[2018-08-23 16:32] acravenho commented on #406
We would prefer it to match the `color` schema that is designed for the chain. Our designers can take a quick look once you have a PR open.

[2018-08-23 16:37] mul1sh commented on #406
ok thanks

[2018-08-23 23:02] KronicDeth opened #597 "Re-enable test/indexer/supervisor_test.exs:30 for geth_http"
Test disabled with `@tag :no_geth` because it kept failing on PRs unrelated to Geth support

See https://circleci.com/gh/poanetwork/blockscout/22128

### Expected behaviour

Test works with Geth on real node.

### Actual behaviour

[code]

[2018-08-24 00:32] #532 closed

[2018-08-24 14:10] jimmay5469 opened #598 "Small design cleanup items"
- [x] Older/Newer pagination button location inconsistencies (Transaction Details, Address Page, Blocks Details)
- [x] Padding on Token Transfers tile for Token page is a little fat
- [x] Space / align token transfer 1-lines on Transaction tiles (and maybe look at the IN/OUT button size/color for address page)
- [x] Transaction Details and Block Details: align/resize the 2 blocks to the right with

[2018-08-24 14:21] acravenho opened #599 "Duplicate realtime transactions"
On the transactions page, address page, and homepage transactions are being duplicated during the real-time event process.

### Environment

* Operating System: Linux/Mac

### Steps to reproduce

1. Deploy locally or in production
2. View address, transactions, or homepage

### Expected behaviour

n/a

### Actual behaviour

n/a

[2018-08-24 15:55] acravenho opened #600 "Contract creation on Transaction details"
For a contract creation on the transaction details page, it's showing `Contract Address Pending` for every page. This is not a new bug.

<img width="741" alt="screen shot 2018-08-24 at 11 48 03 am" src="https://user-images.githubusercontent.com/17620007/44594587-99ac3b80-a794-11e8-928f-cf8f347d87f5.png">

### Steps to reproduce

1. Visit this page: https://sokol-alpha.poaexplorer.com/en/transactio

[2018-08-24 16:01] acravenho opened #601 "foreign_key_violation, constraint: "transactions_block_hash_fkey""
[code]

### Environment

* Operating System: Mac

### Steps to reproduce

1. Index `sokol`
2. This error seems to be popping up every 100 blocks or so.

[2018-08-24 17:02] #189 closed

[2018-08-24 18:45] gfreh commented on #565
Once https://github.com/poanetwork/blockscout/pull/574 is closed, I'll close this issue too.

[2018-08-24 18:45] #565 closed

[2018-08-24 18:56] acravenho commented on #601
I'm not sure if this is the same issue:

[code]

[2018-08-24 19:43] jimmay5469 commented on #598
Samples to use:
---
* Address with 50+ transactions / internal_transactions: `0xc40cdf254a4a35498aa84f35e9842c110729a2a0`
* Block with 50+ transactions: `1402784`
* Transactions with 50+ internal_transactions: `0x037f9d9e5abe501c620280306d6fb31cff1f1f71a397eeef8069329563aa45cc`
* Transactions with 50+ token_transfers and logs: `0xd38254bb9653ff5be479a31775a00f6be4cbfdb2e32737d41df488e0406952b8`

[2018-08-25 04:19] rstormsf opened #602 "Address is not recognized as contract"
https://sokol-alpha.poaexplorer.com/en/addresses/0x54a7534b9fcc69c864e8de982d0fc54572b8e948/transactions

https://sokol-explorer.poa.network/account/0x54a7534b9fcc69c864e8de982d0fc54572b8e948

This  address is the contract address, however the explorer shows as regular address.

[2018-08-25 06:03] acravenho commented on #602
@rstormsf
## Overview
1. Realtime indexer missed block `4195774`
2. Realtime indexer sees block `4195775` and does not see the contract creation of [0x54a7534b9fcc69c864e8de982d0fc54572b8e948](https://sokol-alpha.poaexplorer.com/en/addresses/0x54a7534b9fcc69c864e8de982d0fc54572b8e948/transactions)
3. Transaction [0x5a3cc6615a258230408a1586ce55eacc4b657ac504b274b6d944ce4fbc638aba](https://sokol-alp

[2018-08-26 10:14] erosh1 opened #603 "Instructions on how to run Blockscout with Ethereum mainnet"
Add instructions on how to run with Ethereum network

[2018-08-26 18:36] leonprou opened #604 "(Mix) Could not compile dependency :keccakf1600"
*Describe your issue here.*

Trying to run the project for the first time.

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`): Elixir 1.7.3 (compiled with Erlang/OTP 21)
* Operating System: MacOS 10.13.6

### Steps to reproduce

Step 4 in the [Build and Run](https://github.com/poanetwork/blockscout#build-and-run) section

Also, I found [this](https://github.com/poanetwork/blocksc

[2018-08-26 18:57] acravenho commented on #604
@leonprou The issue that you referenced probably does not have any relation to the issue you're experiencing. In the referenced issue I was attempting to take a previously deployed version of explorer on Mac, with all dependencies built, and make a production build on a Linux machine.

Can you please provide more information on the error? Without seeing more it's difficult to debug.

Please make s

[2018-08-26 19:06] acravenho commented on #603
Thanks for the feedback @erosh1. We will be providing more detailed instructions on design, JSON RPC endpoints, and node specifications prior to our v1 release.

Having these instructions will allow you to:
1. Add a css_variables stylesheet to update colors.
2. Know where to update the endpoints to run BlockScout on another EVM chain such as Ethereum Mainnet
3. We will provide specifications on ex

[2018-08-27 07:01] acravenho opened #605 "Could not insert all of chunk into Elixir.Explorer.Chain.Address.TokenBalance"
I'm receiving quite a few of these errors while indexing both `Ropsten` and `Kovan`.

[code]

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`): 1.7.3/21
* Operating System: Mac

### Steps to reproduce

1. Start indexing Ropsten (will provide endpoint)
2. Within 1-2 minutes these errors start popping up.

[2018-08-27 07:43] crossoveranx commented on #504
@acravenho

I can confirm that I have tracing enabled. Additionally, the parity instance is fully synced - I am starting a fresh blockchain on a private network so the syncing is minimal.

[2018-08-27 10:16] leonprou commented on #604
@acravenho Hey, thanks for responding 👍

That's my dependencies:
- Erlang/OTP 21 :white_check_mark:
- IEx 1.7.3  :white_check_mark:
 - Postgres 10.5 :white_check_mark:
- NodeJS v10.5.0  :white_check_mark:
- automake 1.16.1
- libtool 2.4.6

I'm executing the dependency install:
`mix do deps.get, local.rebar --force, deps.compile, compile`

And that's the part the end of the log with the error:

[2018-08-27 11:41] alexandrule commented on #601
The same issue for me.

    ** (Postgrex.Error) ERROR 21000 (cardinality_violation): ON CONFLICT DO UPDATE command cannot affect row a second time
        (explorer) lib/explorer/repo.ex:58: anonymous fn/5 in Explorer.Repo.safe_insert_all/3
        (elixir) lib/enum.ex:1925: Enum."-reduce/3-lists^foldl/2-0-"/3
        (explorer) lib/explorer/chain/import.ex:799: Explorer.Chain.Import.insert_change

[2018-08-27 15:28] #569 closed

[2018-08-27 16:17] KronicDeth commented on #604
[code]

This would indicate that you don't have the headers and libraries for Erlang installed or available on your linking paths as `_enif_alloc_resource` comes from those headers and libraries.

[2018-08-27 16:18] KronicDeth commented on #604
@leonprou how did you install Erlang and Elixir?  homebrew?

[2018-08-27 16:36] KronicDeth commented on #593
From

https://github.com/poanetwork/blockscout/blob/57b6f7487e93543c432f8cbb73db6f36fe8136ae/apps/explorer/lib/explorer/chain/import.ex#L764-L783

it is likely this

https://github.com/poanetwork/blockscout/blob/57b6f7487e93543c432f8cbb73db6f36fe8136ae/apps/explorer/lib/explorer/chain/import.ex#L773

`SELECT` that is returning too many rows.

[2018-08-27 16:41] KronicDeth commented on #593
@acravenho this would seem to indicate that a transaction is able to create more than one contract.  I thought we had determined that wasn't possible or do you think this is due to the deeping nested transaction creates as you did in your test ase showing up as direct internal transactions?  What is the transaction/block with the create tests you made on Sokol?

[2018-08-27 16:47] acravenho commented on #593
Here was a test for contract that creates multiple contracts: `0x4c298c5dc1033fe0d104269abcca22858e87eed952d701f573f8222712d6c574`

[2018-08-27 17:09] KronicDeth commented on #593
[code]

[code]

So, I'll test on block number `0x38a360`. which is `3711840`.

[2018-08-27 17:14] KronicDeth commented on #593
No, 3_711_839..3_711_841 imports fine, so it is not that test block.

[2018-08-27 17:15] KronicDeth commented on #601
@alexandrule please open a separate issue.  Your stacktrace is different, so it is a different issue.

[2018-08-27 19:55] mul1sh commented on #406
Sorry won't be able to continue with this issue, because of another bounty i'm working on. Nonetheless I've made a PR and fixed it as required, hopefully someone else will continue fixing the PR as required. Apologies for any inconvenience caused.

[2018-08-27 20:05] acravenho commented on #605
I'm receiving this same error on Ethereum Mainnet.

[2018-08-27 20:18] #566 closed

[2018-08-27 20:36] leonprou commented on #604
@KronicDeth yeah I installed Elixir through homebrew. Didn't play a lot with it, but the `iex` works.

[2018-08-27 21:01] acravenho opened #609 "Create admin panel"
This admin panel will provide control over several aspects of BlockScout.

- [ ] block rewards - needs to be customizable due to EIPs and unobtainable chain data.
- [ ] token to USD price - this will match token contracts to CMC data
- [ ] flag an address and provide a warning to the end user in the UI

More features to be added later.

[2018-08-27 22:09] erosh1 commented on #603
can you provide a short memo on which files to change to get this running? I'd like to play with the explorer

[2018-08-28 01:41] acravenho commented on #603
@erosh1 Is the explorer up and running on `sokol`? If so, please update the files `apps/indexer/config/dev/parity.exs` and `apps/explorer/config/dev/parity.exs`. You'll need to supply a full node with Websockets and tracing enabled.

[2018-08-28 05:24] acravenho opened #611 "Add address name to transactions list"
If an account has a `primary name` associated with it, the primary name should show up in the transaction list instead of the address.

### Example - All Transactions Page
<img width="1082" alt="screen shot 2018-08-28 at 1 18 48 am" src="https://user-images.githubusercontent.com/17620007/44702217-5dacfb00-aa60-11e8-9e9f-db9add3251e7.png">

### Example - Account Page
Note - the address that is asso

[2018-08-28 12:14] jimmay5469 commented on #588
@acravenho I'm actually seeing the "Older" button when I visit. Is it still not showing for you?

[2018-08-28 12:17] jimmay5469 commented on #588
It looks like it shows on the first page but after I click it once I don't see it on the second page...

[2018-08-28 12:25] jimmay5469 commented on #588
I am unable to reproduce on `master` (`39bd00b9`)...

[2018-08-28 12:41] #549 closed

[2018-08-28 14:44] acravenho commented on #593
@KronicDeth

Here is the error I'm receiving while indexing `sokol`

[code]
The Genesis Indexer attempts to restart but this error occurs over and over after this point.

[2018-08-28 15:08] KronicDeth opened #614 "ON CONFLICT DO UPDATE command cannot affect row a second time during Explorer.Chain.Import.insert_token_balances"
Duplicate rows are being generated for insertion in `insert_token_balances`. `insert_token_balances` is not responsible for de-duping as none of the `insert_*` functions are, instead the token balance extractor earlier in the process needs to de-dup.

### Steps to reproduce

1. Run against Ethereum mainnet

### Expected behaviour

Doesn't blow up.

### Actual behaviour

[code]

[2018-08-28 15:09] KronicDeth commented on #614
This issue was also reported by @alexandrule in https://github.com/poanetwork/blockscout/issues/601#issuecomment-416199418

[2018-08-28 15:38] KronicDeth commented on #614
The use of the extra field, `token_contract_address_hash` in

https://github.com/poanetwork/blockscout/blob/b05196df0f6e23d41cd698c0f899039c64dbfd1e/apps/indexer/lib/indexer/balances.ex#L31-L59

that was added in https://github.com/poanetwork/blockscout/commit/b05196df0f6e23d41cd698c0f899039c64dbfd1e as part https://github.com/poanetwork/blockscout/pull/582 breaks the invariants previous provided

[2018-08-28 15:38] acravenho commented on #516
@gfreh I think we should proceed without a mockup. It's a very basic page and can be sent back through Gaslight if they see any cleanup areas.

1. Yes, we should rank position by the number of tokens.
2. I think `quantity` is the best word for this number of tokens description.
3. 4 decimal places will work for the percentages.
4. Yes, let's ignore the burn address.
5. Yes, the address should be c

[2018-08-28 15:40] sabondano commented on #577
@acravenho yes 👍 . Links to token standards have been added in this PR: https://github.com/poanetwork/blockscout/pull/617

[2018-08-28 15:41] #577 closed

[2018-08-28 16:35] acravenho opened #618 "Indexer.BlockFetcher.Realtime terminating no case clause matching: nil"
[code]

### Environment

* Operating System: Mac

### Steps to reproduce

1. Index Ethereum Classic (message for endpoint)

### Expected behaviour

Index blocks

### Actual behaviour

💥

[2018-08-28 17:35] acravenho opened #620 "Could not insert all of chunk into Elixir.Explorer.Chain.Block using options because of error."
While testing #619, a fix for #614, I ran into this error. I don't believe they are related.

[code]

### Environment

* Operating System: Mac

### Steps to reproduce

1. Index `sokol`

### Expected behaviour

Index block

### Actual behaviour

-

[2018-08-28 17:40] KronicDeth commented on #620
I think I've seen this error before.  It has led to some of the flaky tests on CircleCI when the Realtime indexer tests rain, so it was pre-existing.

[2018-08-28 17:41] #614 closed

[2018-08-28 17:55] acravenho opened #621 "realtime indexer failed to insert internal_transactions_indexed_at_transactions for block 3927620 :cardinality_violation"
I noticed this error while indexing `ropsten` testnet. I have applied a `medium` urgency because this should be retried by the Genesis indexer as stated at the bottom of the error.

[code]

### Environment

* Operating System: Mac

### Steps to reproduce

1. Index `ropsten` PoW chain.

### Expected behaviour

Internal transaction should have been indexed

### Actual behaviour

-

[2018-08-28 18:31] acravenho opened #622 "Provide more details on internal transaction cards"
Supply more information on internal transactions. This would include:

- [ ] type (call, create, suicide, reward)
- [ ] block #
- [ ] age

### Pages
- [ ] account page
- [ ] transaction details page

[2018-08-28 18:40] acravenho opened #623 "Transactions Details page - pending to collated transition"
This is an important page while a user is waiting for their transaction to be mined on a PoW chain.

The user should see some type of loading GIF so they understand the state of the transaction. Once the transaction has been mined we should display the normal transaction details page.

Once the page has been collated, the status and other values should updated to show the relevant details. This li

[2018-08-28 18:56] acravenho opened #624 "GenServer Indexer.BlockFetcher.Realtime terminating"
**This issue has been resolved but is remaining open until we complete a future PR to add insecure Websocket connection for private networks. This seems to be a community demand**

Realtime indexer on Ethereum mainnet timeout issue.

[code]

### Environment

* Operating System: Mac

### Steps to reproduce

1. Index Ethereum Mainnet

### Expected behaviour

This should provide a block/transactions

[2018-08-28 21:15] acravenho opened #625 ""n Transactions has come in" causes the div container to break"
<img width="1140" alt="screen shot 2018-08-28 at 5 11 54 pm" src="https://user-images.githubusercontent.com/17620007/44751238-a0fd7d00-aae5-11e8-9466-754c599bd3a2.png">

Looking at the bottom of the transactions list, you'll see the bottom transaction card being pushed out of the container.

### Environment

* Operating System: Linux

### Steps to reproduce

1. Deploy `ropsten` or `mainnet`
2. Wai

[2018-08-28 21:38] sabondano opened #626 "API account#getminedblocks blocktype param"
While working on https://github.com/poanetwork/blockscout/pull/616 we noticed that for the `account#getminedblocks` API endpoint to be fully Etherscan-compatible we need to add support for a `blocktype` parameter that accepts `blocks` or `uncles` as it's value. Etherscan's defaults to `blocks` (not uncles) if the parameter is not provided. Once we have support for uncles we can implement support f

[2018-08-29 07:02] acravenho opened #627 "Transaction cards scrolling out of the transactions_list div"
Very similar to #625, the transactions_list div container is breaking making realtime transactions appear to scroll off the page.  I've received a couple complaints regarding this issue.

I will have a Firefox window open looking to replicate this issue. I'll provide more context throughout the day.

<img width="1679" alt="image 2018-08-29 at 9 44 12 am" src="https://user-images.githubusercontent.

[2018-08-29 13:01] KronicDeth opened #628 "Inconsistent log location when using mix vs mix phx.server"
I'm seeing weird behavior with logging from a file-based backend when using `iex -S mix` vs `iex -S mix phx.server` in an umbrella project.  When I run `iex -S mix`, all the applications start and all the logs go in `logs` relative to the project root, but when I do `iex -S mix phx.server`, each OTP app gets its own `logs` directory in `apps/APP_NAME/logs`, is this some side-effect of how `mix phx

[2018-08-29 13:27] KronicDeth commented on #628
Well, this is weird, if instead of `mix phx.server`, I do what it is doing from the command line - `iex --erl "-phoenix serve_endpoints true" -S mix`, I also get the `apps/APP_NAME/logs` directories, so it is something about what happens when phoenix serves endpoints that is doing it

[2018-08-29 14:00] KronicDeth commented on #628
It's the code reloader!  Doing `code_reloader: false` in `apps/*_web/config/dev.exs` fixes the problem.  When the code is reloaded, the config must be reused, but the CWD has changed, so all the apps get a different starting path for the relative log paths.

[2018-08-29 14:54] radamosch opened #631 "Transactions show twice on address / contract listing"
When viewing a contract the transactions arriving are all shown twice?

[2018-08-29 15:42] katibest opened #632 "Ethereum Classic Stylesheet"
Create a variable style sheet for ethereum classic and with logo

[2018-08-29 16:02] acravenho commented on #631
This is fixed on `master` which will be deployed to staging very soon.  Thank you for the feedback.

I'll ping you when we deploy :)

[2018-08-29 16:02] #631 closed

[2018-08-29 16:11] igorffs commented on #602
I believe there is a possibility that we've been missing InternalTransactions and Balances "index requests" from our queue when we shut down the VM during deploy and development.

Both of these entities fetching process happen asynchronously (unbound from a BlockFetcher process transaction) using a GenServer to manage their queues that are not persisted. When the server stops the VM is turned off

[2018-08-29 16:26] gfreh commented on #514
Tested it here and everything seems to be working fine! 👍

[2018-08-29 16:30] acravenho commented on #602
@igorffs We have fields in the transactions table for `internal_transactions_indexed_at` which does not populate until the internal transaction for the parent transaction has been processed.

I agree that we lose the state of catch-up internal transactions when we shutdown/redeploy (production) but from what I understand, the Genesis indexer will check this field at the end of its process and inde

[2018-08-29 17:10] igorffs commented on #602
That's right @acravenho, I didn't notice it. Both InternalTransactionFetcher and Balance already has this redundancy system that takes place right in the indexer initialization. 💪

[2018-08-29 17:15] gfreh commented on #589
@feliperenan tested it and everything seems to be working fine!

[2018-08-29 18:27] jimmay5469 commented on #600
It looks like this is no longer an issue after the the indexer connected to the blockchain socket.

[2018-08-29 18:27] gfreh opened #634 "Contributor can easily navigate between the Tokens Details page and Token Contract Details page."
## Acceptance Criteria

- While in the `Token Details` page (`/tokens/<token_hash>`):
  - The user sees a link to the Token Contract page with the label `Contract`
  - If the user clicks on the link, she goes to the Token's Contract page.
- While in the `Token Contract Details` page (`/addresses/<token_hash>`):
  - The user sees a link to the Token Details page with the label `Token`
  - If the us

[2018-08-29 18:28] jimmay5469 commented on #599
It looks like this is no longer an issue after the the indexer connected to the blockchain socket.

[2018-08-29 18:28] #599 closed

[2018-08-29 18:30] gfreh commented on #634
As a first version, I'd suggest adding the links as follows:

![screen shot 2018-08-29 at 15 22 26](https://user-images.githubusercontent.com/1440642/44807564-4412cd00-aba0-11e8-8984-78c692ae2919.png)

![screen shot 2018-08-29 at 15 27 23](https://user-images.githubusercontent.com/1440642/44807566-4412cd00-aba0-11e8-8a0e-fbcfd27c9eff.png)

[2018-08-29 19:13] #628 closed

[2018-08-29 19:37] sabondano opened #635 "API account#txlist filterby=from support"
Add `filterby=from` support to `account#txlist` API endpoint. Currently it only supports `filterby=to` so adding `from` is the next logical ask here.

[2018-08-29 21:12] acravenho opened #638 "Could not convert receipt to elixir - ETC Chain"
While attempting to index Ethereum Classic I received the following error reported in the `logs/dev/error.log` file.

[code]

## Receipt from Web3 JS
[code]

An interesting note here is that every transaction on Ethereum Classic seems to return `status: false`.

### Environment

* Operating System: MAC

### Steps to reproduce

1. Start indexer on Ethereum Classic

### Expected behaviour

Index the

[2018-08-29 21:28] #618 closed

[2018-08-29 21:36] rstormsf opened #639 "Feature Request: URL consistency"
In order to be consistent for Dapp devs,
it would be great if we could query tx like:
`URL/tx/hash`
in order to match etherchain, etherscan's URL schemes in order to remain existing support for URL builders in many other Dapps.

TX:
`tx/0x...`

Address:
`address/0x...`

I think adding aliases would be very helpful

[2018-08-30 12:49] KronicDeth opened #641 "Test coverage varies based on randomization and/or integration inputs from chains"
In #633 where @katibest changed only UI style files, Coveralls.IO's report correctly showed 0 relevant lines changed but still lines missed because on [Build d7abb9d7-0eee-436d-8a1f-ea113fd91519](https://coveralls.io/builds/18735907), either the randomization or inputs in the chain tests changed in such a way to cover less code *than usual*.

That *than usual* is a problem.  Although we want rando

[2018-08-30 13:14] KronicDeth commented on #593
@acravenho is there a part of the log after the `[error]` you posted?  There should be a section in `explorer.log` that shows the inputs to the `import` function,  `ecto.log` that shows the actual SQL query, and `error.log` might have addition details too.

[2018-08-30 13:54] acravenho commented on #593
@KronicDeth I created #638 which I think includes the query you're looking for. I can add it here and close that issue if it makes more sense. Please let me know if there is more info that I missed.

[2018-08-30 14:07] KronicDeth commented on #641
I can't reproduce apps/block_scout_web/lib/block_scout_web/views/address_token_balance_view.ex 2 lines missing locally.  There's already an explicit test for those functions on master.

[2018-08-30 14:40] KronicDeth commented on #638
Does Ethereum Classic act like pre-Byzantium Ethereum?  So, if we see `"status": null` we need to treat it the same as not having the `"status"` key at all, which is how we detect pre-Byzantium now.

[2018-08-30 14:41] KronicDeth commented on #593
Closed in favor of #638, which has more details.

[2018-08-30 14:42] KronicDeth commented on #593
#638 appears to be about receipts

[2018-08-30 14:55] acravenho commented on #593
@KronicDeth I'm sorry, I had the issues mixed up. I will need to let `sokol` run with the better error reporting. I should have sufficient data with an hour.

[2018-08-30 14:59] acravenho commented on #638
Yes, that makes sense. The fork between `Ethereum` and `Classic` occurred in mid-2016, pre-Byzantium is before October of 2017. Most likely Classic never received this upgrade.

[2018-08-30 15:12] acravenho commented on #639
## TODO
- [ ] - change `transactions/0x...` to `tx/0x...`
- [ ] - change `addresses/0x...` to `address/0x...`

[2018-08-30 16:42] acravenho opened #642 "POC - Removing Internationalization from the url schema"
In our current URL schema, internationalization causes a redirect to `/en` which in return is causing issues for our production environment. After listening to suggestions from our teams it sounds like the best case scenario would be to remove this redirect and insert the appropriate headers for internationalization to still work.

### What are the technical requirements?

### Are there any docume

[2018-08-30 16:47] acravenho opened #643 "Add Uncle support to PoW chains"
When fetching blocks, PoW chains have a field for `uncles` which provide hashes for these other `blocks`.

- [ ] uncles (`block.number - uncle.number = k`  `new_uncle_reward = (8 - k) * new_block_reward / 8`)
- [ ] nephews (`new_nephew_reward = new_block_reward / 32`)

[2018-08-30 17:01] alexgaribay commented on #642
Modern browsers already send the header `Accept-Language` which is commonly use to interpret preferred locale. We already have a plug, [Cldr.Plug.SetLocale](https://hexdocs.pm/ex_cldr/Cldr.Plug.SetLocale.html) in the router to set the locale based on path. That same plug can be configured to look in the headers for `Accept-Language`. In addition to configuring the plug, we would have to update the

[2018-08-30 17:51] jimmay5469 commented on #642
This article seems to show how to rip out the `set_locale` library and implement the `?locale=en` type routing: https://phraseapp.com/blog/posts/set-and-manage-locale-data-in-your-phoenix-l10n-project/

[2018-08-30 20:54] sabondano opened #646 "accoung#tokenbalance tag support"
For the `account#tokenbalance` API endpoint to be 100% Etherscan-compatible we need to add support for a 'tag' parameter. This came up as we were working on https://github.com/poanetwork/blockscout/pull/640. Etherscan's equivalent endpoint is not well documented as of this writing but I believe they support the following tag values: latest, pending, and earliest. It errors with integers and ignore

[2018-08-30 21:01] acravenho commented on #646
In my opinion, we should provide the earliest, latest, and by block. These tags would be most important to our users.

[2018-08-30 21:03] sabondano opened #647 "API doc page: links in descriptions show/hide endpoint details"
When an API user clicks on an embedded link, within an action's description, let's make sure that doesn't show/hide the details.

[2018-08-30 21:12] #529 closed

[2018-08-31 02:33] sabondano opened #650 "block#getblockreward uncle support"
To be 100% Etharscan-compatible, we need to add uncle support to the `block#getblockreward` API endpoint. Currently the 'uncles' and 'uncleInclusionReward' fields are returned as `null`. This issue is here as a reminder to make sure we come back to this after uncle support is added to BlockScout.

[2018-08-31 02:34] sabondano opened #651 "Document block#getblockreward in API docs page."

[2018-08-31 02:46] sabondano opened #653 "block#getblockreward API endpoint returns 200 for errors"
For Etherscan-compatibility we want `block#getblockreward` to return 200 for errors. It currently returns 400 and 404.

[2018-08-31 06:16] acravenho opened #654 "TokenBalanceFetcher terminating"
While indexing Ethereum Mainnet we're receiving a large number of errors around getting token data. Much of the index in unpopulated and needs to be sent back through the indexer.

<img width="1191" alt="screen shot 2018-08-31 at 2 14 02 am" src="https://user-images.githubusercontent.com/17620007/44895745-b7612f80-acc3-11e8-97b4-14fad6618e4b.png">

## From error.log
[code]

## ecto.logs

### Envir

[2018-08-31 13:33] #515 closed

[2018-08-31 14:45] #632 closed

[2018-08-31 14:54] #627 closed

[2018-08-31 15:24] #571 closed, assigned to nobody

[2018-08-31 16:07] #651 closed

[2018-08-31 18:37] #598 closed

[2018-09-02 09:03] acravenho opened #662 "Cannot allocate 1318267840 bytes of memory"
With the large number of deferred processes (internal transactions, balances, and tokens) we have run out of memory on Ethereum Mainnet deployment causing the Erlang VM to crash.

After a certain number of deferred processes, we should start deleting them from Memory in order to stop the crashes.

### Environment

* Operating System: Linux

### Steps to reproduce

1. Deploy Ethereum Mainnnet
2. Vi

[2018-09-02 09:25] acravenho opened #663 "Turn down batching of the indexer when a node cannot keep up"
The Indexer should back off if it receives too many timeouts. Users who deploy the explorer will not be required to have heavy duty nodes.

[2018-09-02 09:28] acravenho opened #664 "Rotate error logs"
Rotate error logs on the production environment. Zip all logs after 3-7 days and then have them deleted after a certain amount of time.

[2018-09-02 09:33] acravenho opened #665 "Prioritize certain deferred transactions"
The catchup indexer should be able to prioritize deferred transactions by block number. If the realtime indexer happens to miss a block and then the Genesis indexer find this block, those transactions should have a higher priority than the blocks earlier in time.

[2018-09-02 09:34] acravenho opened #666 "Kill all for Phantom JS processes"
As talked about during demo, it would be great to have such a feature to kill all Phantom JS processes.

[2018-09-02 09:36] acravenho opened #667 "Google Analytics server side to track API usage"
It would be a nice feature to utilize server-side Google Analytics to track usage of our API

[2018-09-03 17:30] mul1sh commented on #406
@ceresstation i've actually resumed working on the PR will finish it up today 😃

[2018-09-03 18:34] acravenho opened #669 "TokenFetcher terminating - character_not_in_repertoir"
I received this error on ETH mainnnet:

[code]

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index Ethereum Mainnet

[2018-09-04 03:56] acravenho opened #672 "Add copy button to the transaction details page"
A nice addition to the transactions details page would be a copy button to save the tx hash to a user's clipboard similar to the account page.

[2018-09-04 06:08] acravenho opened #673 "Pre-Byzantium transactions are not failed if gas_limit = gas_used"
For many transactions on pre-Byzantium Ethereum and ETC chain, I'm seeing normal transactions where gas limit = 21000 and gas used = 21000 show failed in the UI and in Postgres. When they are run through the VM these transactions are in fact successful.

There are a few options here:
1. Have a default status of success if the gas limit = 21000 until we can run the transactions through the VM. If t

[2018-09-04 13:09] #654 closed

[2018-09-04 13:33] arthurra commented on #524
@acravenho It looks like this may have been completed #448. Can you provide any details on what, if anything, needs to be done for this issue?

[2018-09-04 14:41] gfreh commented on #337
It seems that https://github.com/poanetwork/blockscout/pull/562 have solved this issue. May we close it then?

cc @acravenho @alexgaribay

[2018-09-04 16:45] #374 closed

[2018-09-04 16:45] #375 closed

[2018-09-04 17:03] #638 closed

[2018-09-04 17:11] acravenho commented on #524
@arthurra Here is an example page for a token: https://core-alpha.poaexplorer.com/en/tokens/0x11c4469d974f8af5ba9ec99f3c42c07c848c861c

- [ ] We need to list the token type (ERC-20 or ERC-721)
- [ ] Cleanup on the token cards. We probably should make them identical to the address page
- [ ] Anything else that looks off to you.

[2018-09-04 20:11] #639 closed

[2018-09-04 20:31] #641 closed

[2018-09-04 22:22] danbryan opened #675 "File to import not found or unreadable: fa-brands"
When starting blockscout, I noticed an error that said “File to import not found or unreadable: fa-brands”. I also noticed that the webpage looked malformed.  I was able to get the website looking normal by commenting out the failed imports in blockscout/apps/block_scout_web/assets/css/app.scss.  Can anyone tell me if I am missing a step on how to deploy this with the needed imports? I was followi

[2018-09-04 23:17] acravenho commented on #675
I'll try duplicating this issue tonight.

[2018-09-05 04:49] acravenho opened #676 "GenServer.call Indexer.InternalTransactionFetcher terminating every minute"
This error is happening every few seconds and causing the catch-up indexer to terminate on the Ethereum Classic chain. It's indexing very slow and is probably caused by this error.

## From error.log
[code]

## From indexer.log

[code]

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index ETC chain.
2. View error logs.

### Expected behaviour

The catchup indexer should run

[2018-09-05 06:48] acravenho commented on #675
@danbryan I attempted to duplicate the issue tonight on a few different machines but was unable to replicate. Is your build caught up to `master`. We did have an issue about a week ago when we rebranded to BlockScout where some of the assets did not carry over to the `block_scout_web` app.

@katibest @arthurra Any other suggestions you guys can think of that would cause this?

[2018-09-05 11:53] danbryan commented on #675
This was done 1 week ago on wednesday, and I pulled from master.  Did you test with the same m5 that terraform deploys? I think it was an amazon linux2 ami. I'll try to recreate it too with the latest from master.

[2018-09-05 14:50] jimmay5469 opened #677 "CircleCI is reporting success even when tests failed"
See: https://circleci.com/gh/poanetwork/blockscout/26118
![circleci 2018-09-05 10-49-58](https://user-images.githubusercontent.com/781752/45101462-7f118500-b0f9-11e8-8f1b-9d8f12893252.png)

[2018-09-05 17:08] gfreh commented on #535
Duplicated with: https://github.com/poanetwork/blockscout/issues/337

[2018-09-05 17:08] #535 closed

[2018-09-05 18:43] gfreh opened #679 "Contributor sees an Inventory tab for ERC-721 tokens"
This issue adds a tab in the Token Details page, in which the Contributor can see the list of unique tokens for that Token contract, with their respective owner's addresses.

[Examples](https://etherscan.io/token/0x4201db13824a50a11f931169b2f0bca9cac23614#inventory)

## Acceptance Criteria
- When visiting the Token details page for an ERC-721 Token, the Contributor sees the `Inventory` tab.
- When

[2018-09-05 21:40] gfreh commented on #679
I've tried to understand how ERC-721 tokens handle the tokens Metadata and found out the following:

In the [ERC-721 standard](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md#specification), there is an interface extension for metadata that defines a function :

[code]
That function should return a JSON file with metadata for a particular token ID.

Looking at [DopeRaider contract](ht

[2018-09-06 04:56] ceresstation commented on #406
@mul1sh Great to hear, how are things coming along?

[2018-09-06 07:59] jsvisa commented on #624
The default timeout of `Genserver.call/2` is 5 second, set it in the config file? @acravenho

[2018-09-06 14:08] jimmay5469 commented on #518
I believe this has been taken care of, feel free to reopen or create another issue if something is missing.

[2018-09-06 14:08] #518 closed

[2018-09-06 14:26] phahulin opened #681 "Indexer exits when connecting to local parity"
When trying to setup everything locally (running both explorer and parity), it seems that indexer fails to connect to parity via websockets:
[code]
although I can check with a web3js script that websockets work

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
[code]

* Operating System: `Ubuntu 16.04`

### Steps to reproduce

Let me know if you need details on how to setup par

[2018-09-06 14:35] arthurra commented on #536
This issue has been resolved by previous work.

<img width="248" alt="screen shot 2018-09-06 at 10 33 01 am" src="https://user-images.githubusercontent.com/1641169/45164463-8059b500-b1c0-11e8-8af7-0faed3a6bc15.png">

[2018-09-06 14:35] #536 closed

[2018-09-06 15:31] arthurra commented on #625
This issue has been resolved by previous work.

<img width="937" alt="screen shot 2018-09-06 at 11 30 09 am" src="https://user-images.githubusercontent.com/1641169/45168037-645a1180-b1c8-11e8-9265-814b0af84e5b.png">

[2018-09-06 15:31] #625 closed

[2018-09-06 19:28] arthurra opened #684 "Add missing Gettext to the elements on the Address Contract Page"
Some elements on the Address Contract page need to be passed through Gettext for internationalization.

### Steps to reproduce

* View templates:
  * `apps/block_scout_web/lib/block_scout_web/templates/address_contract/index.html.eex`
  * `apps/block_scout_web/lib/block_scout_web/templates/address_contract_verification/new.html.eex`

### Expected behavior

* All text that will be displayed in the

[2018-09-06 21:18] gfreh commented on #410
Hey @Lucasnar

I believe everything is fine, except for the token type, which is not being shown. I'd suggest us to do something like `ERC-721    13 transfers` or something like that. I believe we've talked about that but I probably forgot to add this suggestion to the card.

After that, I think we could merge the PR.

[2018-09-06 21:54] gfreh commented on #516
@feliperenan I've found two issues:

- I transferred some tokens to an address and loaded the page. Then transferred all its tokens to another address and reloaded the page. The address continues there with its old balance, but the address destination is with its balance updated.

![screen shot 2018-09-06 at 18 51 12](https://user-images.githubusercontent.com/1440642/45187088-e7e62380-b205-11e8-88

[2018-09-07 19:19] #312 closed

[2018-09-10 05:56] #541 closed

[2018-09-10 05:58] acravenho commented on #420
This issue has been completed.

[2018-09-10 05:58] #420 closed

[2018-09-10 06:10] acravenho opened #686 "Create an accounts page showing ordered list of all addresses"
We should create an accounts page that displays all addresses of the chain ordered by balance `ASC`. This list should include:

- [ ] address (with link to address page)
- [ ] coin balance
- [ ] name of the wallet if available
- [ ] USD value of the balance (if available)
- [ ] percentage of coins from total supply
- [ ] incremented number by order in the list
- [ ] the number of transactions for

[2018-09-10 12:12] mul1sh commented on #406
@ceresstation  pushing the PR in a few hours, sorry last week a bit crazy for me but i've resuming working on the changes requested so will push them in a few

[2018-09-10 12:16] crossoveranx commented on #504
Btw, this issue has been resolved in the latest build for me.

[2018-09-10 13:07] #677 closed

[2018-09-10 14:12] acravenho opened #687 "Realtime transactions on the address page is missing in/out label"
The address details page is missing the in/out label for realtime transactions. Also, the link is showing for the associated address page in each transaction card.

<img width="1107" alt="screen shot 2018-09-10 at 9 57 22 am" src="https://user-images.githubusercontent.com/17620007/45302494-7944e680-b4e1-11e8-8f00-76eb9592c0cf.png">

### Environment

* Operating System: Linux

### Steps to reproduc

[2018-09-10 14:33] #524 closed

[2018-09-10 14:49] jimmay5469 opened #690 "Live update makes it hard to click things because their position on the page is changing"
Because live update adds items to the top of lists it make it hard to click items within the list because their position on the page is changing out from under your cursor.

[2018-09-10 14:58] jimmay5469 commented on #579
I opened https://github.com/poanetwork/blockscout/issues/690 describing one of the problems this issue is trying to solve. If there are other problems this issue is trying to solve than please open more issues describing those problems.

If we look at those issues and the best option to solve them is adding a toggle to turn off live updates than we should do it. If the only issue is the one descri

[2018-09-10 14:58] #579 closed

[2018-09-10 16:29] #635 closed

[2018-09-10 16:48] acravenho commented on #681
Phoenix requires `inotify` on Linux. `apt-get install inotify-tools` should do the trick. I will test soon to make sure it works and update the README.

[2018-09-10 17:32] acravenho opened #692 "Indexer.TokenBalances.fetch_token_balances_from_blockchain message not found"
This error is happening every few seconds on Ethereum Mainnet

[code]

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index Ethereum Mainnet
2. View errors.log

### Expected behaviour

A token balance should be inserted in the db or ignored and checked later.

### Actual behaviour

Terminating fetcher.

[2018-09-10 17:51] acravenho opened #693 "Indexer.TokenFetcher: value too long for type character varying(255)"
The catchup indexer looks to be stuck at block `6077901` because of the below issue.

[code]

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index Ethereum Mainnet
2. View errors.log
3. Looks like it's stuck at block number `6077901`

### Expected behaviour

n/a

### Actual behaviour

n/a

[2018-09-10 17:53] alexgaribay commented on #693
Looks like a token's string name longer that 255 characters. We'd have to migrate the column to be a longer width. @acravenho, do you know if there's a length limit for a token's name off the top of your head?

[2018-09-10 18:14] KronicDeth commented on #673
Stack Exchanges that may be relevant:

* https://ethereum.stackexchange.com/questions/1179/how-to-know-if-a-transaction-went-through-or-not-out-of-gas
* https://ethereum.stackexchange.com/questions/6007/how-can-the-transaction-status-from-a-thrown-error-be-detected-when-gas-can-be-e

From those, it looks like Internal Transaction *may* be able to resolve this, but the answers do specifically talk

[2018-09-10 18:33] acravenho commented on #693
@alexgaribay I'm looking into a length limit. I'm also pulling that particular block to see what is actually given for the name. I'll provide my results soon.

[2018-09-10 18:48] acravenho commented on #693
I don't see any odd token names in that block but this one `民宿通`.

[2018-09-10 19:08] natlg commented on #681
I checked it with `inotify`, WebSocket error still appears. Seems it's because of SSL certificate checking [here](https://github.com/poanetwork/blockscout/blob/master/apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/web_socket/web_socket_client.ex#L30)
If change `wss` to `ws` here, no errors will be printed, but new blocks will not be received.

[2018-09-10 19:18] KronicDeth commented on #676
This would indicate that

https://github.com/poanetwork/blockscout/blob/d106a2c2eeb72e01ae0696189bfaa42928f213e5/apps/indexer/lib/indexer/block_fetcher/catchup.ex#L140

is taking longer than 10 seconds.

Internally, the timeout is used for this `GenServer.call`

https://github.com/poanetwork/blockscout/blob/d106a2c2eeb72e01ae0696189bfaa42928f213e5/apps/indexer/lib/indexer/internal_transaction_fetc

[2018-09-10 20:12] feliperenan commented on #516
I have updated the PR to fix those issues.

[2018-09-10 20:32] igorffs commented on #692
https://github.com/poanetwork/blockscout/blob/d106a2c2eeb72e01ae0696189bfaa42928f213e5/apps/explorer/lib/explorer/smart_contract/reader.ex#L114-L116

The `execute_contract_functions` function is returning an `{:error, {:bad_gateway, "url"}}` while querying a contract's function in our TokenBalanceFethcer and our `decode_abi_results` is naive and doesn't expect an error causing a match error:

http

[2018-09-10 20:34] acravenho commented on #692
@igorffs Do you mean that it would show that something may be wrong with the node or that we would be showing the endpoint?

[2018-09-10 20:56] igorffs commented on #692
What I mean is that the network errors would continue to occur and we wouldn't know that they're happening. We could probably log these errors if they're valuable or just ignore them if we have a different tool to monitor the node and its responses.

[2018-09-10 21:21] rstormsf opened #695 "ETC-classic doesn't query for addresses"
![image](https://user-images.githubusercontent.com/9360827/45325078-cbe3ca00-b504-11e8-9d9d-134796ac5160.png)

https://classic-alpha.poaexplorer.com/search?q=0x0039f22efb07a647557c7c5d17854cfd6d489ef3

[2018-09-10 21:45] acravenho commented on #695
We have an upcoming issue covering this. In the future, addresses with a `0` ETH balance and no previous transactions will still display instead of showing a 404. This issue will be covered in the next few weeks.

[2018-09-10 21:45] #695 closed

[2018-09-10 21:56] acravenho commented on #692
@phahulin Would you prefer us to ignore these Gateway timeouts for now or would you like us to log them? We're having an issue fetching token balances on Ethereum Mainnet. There is a very high number of tokens per block and when we attempt to fetch the balances, some of these requests are resulting in Gateway timeouts.

[2018-09-10 22:50] mul1sh commented on #406
@ceresstation i've updated the PR, kindly check

[2018-09-11 04:16] acravenho opened #697 "Token transfers to/from are not always in the 1st/2nd topic"
While looking through transactions on `kovan` I found an odd transaction `0x6d2dd62c178e55a13b65601f227c4ffdd8aa4e3bcb1f24731363b4f7619e92c8`. This transaction is a token transfer but includes the `to`, `from`, and `number of tokens` in the `data` field.

Here is one of the token transfers included in this transaction:

[code]
We see that it's a token transfer by the first topic hash `0xddf252ad1b

[2018-09-11 04:25] acravenho opened #698 "Indexer.TokenBalanceFetcher Ecto.Association.NotLoaded"
The error.log file is filled with these errors after my deployment tonight.
[code]

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index Kovan

### Expected behaviour

n/a

### Actual behaviour

n/a

[2018-09-11 07:44] phahulin commented on #692
No, let's not ignore errors

[2018-09-11 13:28] #672 closed

[2018-09-11 13:33] KronicDeth commented on #673
From @acravenho in #694:

[2018-09-11 13:39] KronicDeth commented on #676
Turning on tracing for the `InternalTransactionFetcher` shows that the `InternalTransactionFetcher` eventually responds to the request, so it is simply the timeout being 2 short.

There are a three paths forward:

1. Simply increase the timeout.  Since the timeout is 10 seconds now, anything that hit the timeout before will of course take longer than 10 seconds
2. Change from `GenServer.call` to `

[2018-09-11 14:35] KronicDeth commented on #676
Using `:eprof`, the majority of the time in `InternalTransactionFetcher` is spent in `send`:

[code]

Using `:observer`, `InternalTransactionFetcher` actually has a message queue, which is exceptional, most, processes clear their queues so fast that they show up as 0 in `:observer`.

[2018-09-11 14:52] KronicDeth commented on #676
When using `:observer` to get the process info for `InternalTransactionFetcher`, it looks like it is often busy spawning the next batch:

![screen shot 2018-09-11 at 9 50 52 am](https://user-images.githubusercontent.com/298259/45368109-6cd79100-b5a8-11e8-9800-41bd0415b919.png)

[2018-09-11 14:57] #410 closed

[2018-09-11 18:06] ArseniiPetrovich opened #703 "Some channels at WebSocket are not getting connected when using reverse proxy with modified path"
We are trying to bring up a reverse proxy that will unite `core-alpha.poaexplorer.com` and `sokol-alpha.poaexplorer.com` under the common domain (`reverse-proxy.com`, for example). The thing we are trying to get is to show `core-alpha.poaexplorer.com` when user is opening a `reverse-proxy.com/poa` and
`sokol-alpha.poaexplorer.com` for `reverse-proxy.com/poa/sokol`. Also we want to proxy explorers

[2018-09-11 18:16] acravenho commented on #703
@ArseniiPetrovich We were just talking about this. One of our teams has a fix which should be done in the next day or two. @jimmay5469 Here is the issue that we were just referring to.

[2018-09-11 20:00] Lucasnar commented on #693
@acravenho, I am having trouble replicating the problem and finding that `民宿通` token. Do you have a link to that token or its hash for me to test it?

[2018-09-11 21:51] feliperenan opened #706 "Duplications in controllers and templates on pages that have tabs"
Hi team :wave:,

In the last weeks, we have been working in some tabs in the Address' page and Token's page. We noticed that there are a lot of duplications on those controllers and templates because each tab is a page that share an [overview partial](https://github.com/poanetwork/blockscout/blob/master/apps/block_scout_web/lib/block_scout_web/templates/address/overview.html.eex). Then, all contro

[2018-09-12 00:14] acravenho commented on #693
@Lucasnar It's weird because I didn't see anything odd from any of the token transfers in that block `6077901`. `6077902` was the last block that could successfully index. Maybe it was getting stuck somewhere inside this block. I'll take a look.

[2018-09-12 01:08] acravenho opened #708 "Contract verification page mobile view needs some love"
1. After the recent refactor of the buttons, they are difficult to read with the grey background.
2. The "Copy Contract Source Code" gettext should be changed to "Copy". Other 2 as well.
3. The `abi` should not be `stringify` or `pretty`. This should be compacted.

![screenshot_20180912-094258](https://user-images.githubusercontent.com/17620007/45395944-90c9bf80-b606-11e8-93f6-0664077e733c.png)

#

[2018-09-12 12:28] acravenho commented on #703
@ArseniiPetrovich What is the exact domain that you're using to check for WebSockets? You have to update the `check_origin` field to match any new WebSocket entry point. https://github.com/poanetwork/blockscout/blob/4a282bf71fdfa7e069daed38efa91e629ef7c422/apps/block_scout_web/config/prod.exs#L20

[2018-09-12 13:19] ghost opened #709 "Add ENS support"

[2018-09-12 13:27] #684 closed

[2018-09-12 14:11] KronicDeth commented on #676
Something hinky is going on with the size of the closues from

https://github.com/poanetwork/blockscout/blob/384d45b1698d16a0d90552a3d5117b0cb11e54d6/apps/indexer/lib/indexer/buffered_task.ex#L366-L368

If I make this change

[code]

The measured size and flat size of the closure `f` slowly increases

[code]

[2018-09-12 15:14] arthurra commented on #686
Kati and I set up a new route at `/top_addresses` and added a static representation of a top address tile.

[2018-09-12 15:37] KronicDeth commented on #676
O, 🤦‍♂️ , of course, the closure captures `state` because the old code wasn't pulling the `state` fields into separate locals and the `state` has the big honky `:queue` in it and even though we don't use the `state.buffer` `:queue`, it still is there in the closure being flattened.

[2018-09-12 15:40] KronicDeth commented on #676
This is such a cool 🐛 .

[2018-09-12 16:09] #692 closed

[2018-09-12 16:58] acravenho opened #712 "Failed contract creation breaks tx details page"
While creating a failed transaction which has `gas_limit = gas_used` I encountered this bug which completely breaks the page. I believe we're trying to display the contract address and link which doesn't exist (`nil`)

[code]
### Environment

* Operating System: Mac

### Steps to reproduce

1. Deploy a contract that fails
2. View the tx hash.

### Expected behaviour

Show the tx details page.

###

[2018-09-12 17:16] #634 closed

[2018-09-12 17:23] acravenho opened #713 "Build throttling feature for the TokenBalanceFetcher"
There is no way to expect every project to have a beefy node to support our indexer speed. Building a throttling feature that will slowdown when `n` errors are encountered would be a great feature.

A couple points to keep in mind.
1. If we do slowdown the indexer, it should throttle up after `x` time. My concern here is that if we slowdown to a crawl because of a temporary issue with the node, th

[2018-09-12 17:41] jimmay5469 commented on #703
Is `exchange_rate` the only channel that ever connects, or is it the only one that connects on every page? The other pages selectively connect to only the necessary channels for that page...

[2018-09-12 18:56] feliperenan commented on #564
@acravenho which will be the order criteria? Today we are ordering by type and name, but it may be necessary to order by token balances.

[2018-09-12 19:38] acravenho opened #715 "Transactions page slow load speed- query optimization"
As discussed in our recent conversations, the transactions page is loading extremely slow and sometimes not loading at all. Let's look at all the queries on the page and see what we can do to improve them 👍

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index ETC chain.
2. After full index click on the mining addresses (many transactions)

### Expected behaviour

Load fast

[2018-09-12 19:46] #676 closed

[2018-09-12 20:07] KronicDeth commented on #673
`0xab349efbe1ddc6d85d84a993aa52bdaadce66e8ee166dd10013ce3f2a94ca724` is a failure with `gas_limit = gas_used`

[2018-09-12 20:09] KronicDeth commented on #673
Success shows `/result/trace/:index/result/` and no `/result/trace/:index/error/`:

[code]

Failure shows `/result/trace/:index/error/` being `"Out of gas"`, but probably any `error` should count as a failure.

[code]

[2018-09-12 20:23] #611 closed, assigned to alexgaribay

[2018-09-13 13:44] Lokraan commented on #385
I am currently working on this issue.

[2018-09-13 13:45] acravenho commented on #385
@Lokraan Great, thanks for the support 👍

[2018-09-13 14:09] acravenho commented on #697
This is actually another version of an ERC721. This is how CryptoKitties Transfers are viewed.

[2018-09-13 14:24] igorffs opened #720 "Log TokenBalance fetching errors"
TokenBalance operations involve massive communications with the blockchain through contract functions and are very susceptible to network errors. These errors impact our token balance processes but we don't have a good way of debugging them right now.

We'll collect these errors and add them into a specific log file to improve that.

## Details

The TokenBalance fetching process deals with interac

[2018-09-13 15:11] tmecklem commented on #715
In attempting to understand this problem, we started with a base query that looks like this:

[code]

It's similar to the one run in Ecto, but with the removal of the join to the blocks table since the transactions table has block_number denormalized.

The difficulty currently is in limitations in understanding the wider picture of what's happening. On one iteration, running the query resulted in

[2018-09-13 15:24] acravenho opened #721 "Fresh deployment fails because of new database configuration"
While creating a new build yesterday I noticed that the documentation doesn't match the steps needed to deploy a new instance. The documentation in the README is specified for MAC users while the database configuration is specified for Linux users.

### Environment

* Operating System: OSX

### Steps to reproduce

1. Deploy a fresh instance of explorer.

### Expected behaviour

The app should star

[2018-09-13 15:26] tmecklem commented on #715
Things we've observed:

* simplifying the where condition to only check the from address is very fast. Presumably it's because it scans through the block_number/index and from_address_hash indices quickly, finds many recents results, and hits the limit.
* Doing the same on to_address_hash takes much longer, presumably because it has to scan much further back into the block history before reaching

[2018-09-13 16:08] tmecklem commented on #715
Switching the query around to take advantage of the address indexes:
[code]

resulted in a slow response the first run followed by very fast results afterward:

[code]

[code]

There wasn't a vacuum in between, and again the costs were the same.

[2018-09-13 16:30] igorffs opened #724 "Finish renaming balances references to coin_balances"
https://github.com/poanetwork/blockscout/pull/644

[2018-09-13 19:04] #703 closed

[2018-09-13 19:22] #721 closed, assigned to acravenho

[2018-09-13 23:02] #337 closed

[2018-09-14 12:36] Lucasnar commented on #693
That was me. 😅

I wasn't able to replicate the issue using the tokens we got looking at the blocks. I queried the blockchain for all of them and was able to successfully save everything to the db, so in order to get the same error, I deployed a token with a long name. I'm working on a fix right now.

[2018-09-14 14:42] arthurra commented on #686
Kati and adjust the page layout and information hierarchy within the tiles.

[2018-09-14 15:50] #697 closed

[2018-09-14 18:11] Lokraan commented on #675
I am also having this issue, running on Ubuntu 18.04.
[code]
[screenshot](https://ibb.co/cuFOS9)

[2018-09-15 00:49] acravenho opened #735 "Remove Tokens tab and Internal Transactions Tab if they don't exist"
If an address does not have tokens or internal transactions the tab should be removed. This provides a better user experience.

[2018-09-15 02:55] bestplay opened #736 "Docker support?"
*Describe your issue here.*

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
* Operating System:

### Steps to reproduce

*Tell us how to reproduce this issue.  ❤️ if you can push up a branch to your fork with a regression test we can run to reproduce locally.*

### Expected behaviour

*Tell us what should happen.*

### Actual behaviour

*Tell us what happens instead.*

[2018-09-15 03:08] #736 closed

[2018-09-15 03:58] Lokraan commented on #385
Update on my progress.
I was able to get all of the validations to appear, but they aren't updated when a new validation for the address occurs which is what I'm currently working on.

https://s8.postimg.cc/l6kmpsuj9/validations.png

[2018-09-15 05:41] bestplay opened #737 "Add Dockerfile?"

[2018-09-15 10:14] acravenho commented on #675
@danbryan @Lokraan I just tested on Ubuntu 18.04 with no issues. I did have to install `inotify-tools` and `build-essentials` which were not included in the docs. Also, please make sure you're running nodejs -v 10.05 or greater.

[2018-09-15 21:50] Lokraan commented on #385
How would I get the consensus method of the chains.

[2018-09-15 21:51] acravenho commented on #385
You just need to use gettext and everything else will take care of itself.

[2018-09-15 22:52] Lokraan commented on #385
https://postimg.cc/gallery/1sncqmpyq/

[2018-09-16 04:37] Lokraan commented on #735
I can do this.

[2018-09-16 04:42] Lokraan commented on #675
I was running nodejs -v 8, updating to 10.05 and reinstalling packages fixed the issues for me.

[2018-09-16 04:49] #675 closed

[2018-09-16 05:41] Lokraan commented on #735
Do you have an example address with tokens in it.

[2018-09-16 21:08] #698 closed

[2018-09-16 21:13] acravenho commented on #735
@Lokraan Thanks for taking this issue. Here is an address on `sokol` that has tokens on it: `0xb7cffe2ac19b9d5705a24cbe14fef5663af905a6`. You may see an error while indexing around the `Indexer.Token.BalanceFetcher > 255 char.`. We have a fix coming in on Monday.

[2018-09-16 21:42] acravenho opened #739 "no function clause matching in BlockScoutWeb.AddressView.matching_address_check"
[code]

### Environment

* Operating System: Ubuntu 18.04
* Chain: Ethereum

### Steps to reproduce

1. Index Ethereum Mainnet
2. I'm not sure what happened next. I was reviewing the error logs when I noticed this.

### Expected behaviour

n/a

[2018-09-16 21:45] alexgaribay commented on #739
This looks most likely related to my address names PR. I’ll take a look on
Monday. I likely missed a spot in the channels portion.

From: Andrew Cravenho <notifications@github.com> <notifications@github.com>
Reply: poanetwork/blockscout
<reply@reply.github.com>
<reply@reply.github.com>
Date: September 16, 2018 at 4:42:50 PM
To: poanetwork/blockscout <blockscout@noreply.github.com>
<blockscout@nore

[2018-09-16 21:47] acravenho commented on #739
Thanks Alex. Yeah, I figured

[2018-09-17 00:49] Lokraan opened #740 "Donation Address."
We should have a donations address like etherscan.

Etherscan © 2018 (C) |Advertising | Donations 0x71c7656ec7ab88b098defb751b7401b5f6d8976f

[2018-09-17 12:34] acravenho commented on #740
Sorry, we're not interested in monetizing at this time.

[2018-09-17 12:34] #740 closed

[2018-09-17 12:44] #693 closed

[2018-09-17 13:45] KronicDeth commented on #662
Is this still an issue after #707 fixed the memory leak in BuffedTask?

[2018-09-17 13:52] acravenho commented on #662
I don't think this is still an issue. I will close this for now and keep an eye on the Ethereum Mainnet deployment. :+1:

[2018-09-17 13:52] #662 closed

[2018-09-17 13:58] KronicDeth commented on #624
@acravenho have you been able to reproduce this?

[2018-09-17 14:05] acravenho commented on #624
@KronicDeth Yes, this happens quite frequently on Ethereum Mainnet. There are a couple issues here.

1. The realtime indexer falls behind by a few minutes, the Genesis indexer kicks in and indexes all the blocks between the tip of the chain and the last block indexed. The realtime indexer doesn't see this update and continues trying to catchup without success and falls further behind. This process

[2018-09-17 14:29] pashagonchar opened #742 "Redesign top menu"
**Zeplin:** https://zpl.io/VKlXQrR
![blockscout_eth_classic_header](https://user-images.githubusercontent.com/16716926/45629418-13d39580-ba9f-11e8-8705-86380123b925.png)

[2018-09-17 14:42] acravenho commented on #742
Assets are located in the Zeplin link above.

[2018-09-17 15:00] sabondano opened #743 "Improve transaction#getstatus API endpoint"
Per Luke's commment [here](https://github.com/poanetwork/blockscout/pull/731#discussion_r217871462), once the PR referenced lands, we could improve what the `transaction#getstatus` API endpoint returns by using the new version of `Chain.transaction_to_status/1`.

This would improve the accuracy of statuses for transactions that are still awaiting internal transactions to be processed. Currently no

[2018-09-17 16:31] acravenho opened #745 "Uncle support in the UI"
With the addition of #643 we need to add uncle support to the UI. On the block details page if a block included an uncle we should display this here along with the reward. Here is an example from Etherscan:
https://etherscan.io/block/6348800

There can be more than 1 uncle included in a single block.

[2018-09-17 18:44] #622 closed

[2018-09-17 18:44] #687 closed

[2018-09-17 18:50] #673 closed

[2018-09-17 19:14] amandasposito opened #748 "[POC] Remove duplication in controllers"
Relates to #706

As a developer, I want to remove the code duplication when I need to build a page that has the overview section and a tab menu.

Timebox of one day.

#### Path 1

* Duplicate the routes at the `router.ex`, in order to  keep the behavior of sending the User for the page with a specific tab opened through link;
* One main controller to load the `overview` and `tab` info, this info w

[2018-09-17 19:27] #708 closed

[2018-09-17 19:47] amandasposito commented on #706
### Pages that need to be refactored:

#### Address
- [ ] Transaction details page;
- [ ] Internal transaction details page;
- [ ] Not verified contract page;
- [ ] Contract verification page;
- [ ] Verified contract page;
- [ ] Token details page;

#### Transaction
- [ ] Transaction list;
- [ ] Transaction details page;
- [ ] Internal transaction details page;
- [ ] Logs;
- [ ] Token transfers pa

[2018-09-17 20:47] #739 closed

[2018-09-18 12:33] KronicDeth commented on #183
@bestplay it is low priority as the label says and we now have private Parity nodes for Ethereum Mainnet, Ropsen, and ETC, so using Infura for Ethereum Mainnet, which meant Geth support was required for Ethereum Mainnet is no longer true.  The Infura setup is really only used in the CircleCI tests now.  PRs are of course always welcome.

The simplest answer is that low priority stuff won't happen

[2018-09-18 15:23] sabondano opened #751 "API endpoint contract#getsourcecode enhancement"
The `contract#getsourcecode` API endpoint should return the following fields for Etherscan compatibility:
- runs
- library
- ~swarm source~
- constructor arguments

[2018-09-18 15:26] #474 closed

[2018-09-18 15:27] #394 closed

[2018-09-18 15:29] acravenho commented on #513
Fixed by #710

[2018-09-18 15:29] #513 closed

[2018-09-18 15:30] acravenho commented on #540
I'm no longer seeing these errors on `sokol`.

[2018-09-18 15:30] #540 closed

[2018-09-18 15:31] acravenho commented on #539
I'm no longer seeing these errors on `sokol`.

[2018-09-18 15:31] #539 closed

[2018-09-18 15:33] acravenho commented on #553
This has been completed by separate issues.

[2018-09-18 15:33] #553 closed

[2018-09-18 17:37] igorffs opened #752 "Rank the records being shown in the TokenHolders page"
Each TokenHolders in the TokenHolders tab should have a rank number.

### Observation

- This requirement first appeared in #516 and was unprioritized at the time so we could have a first version of the feature due to the considerations in https://github.com/poanetwork/blockscout/pull/668#issuecomment-418188618.
- This issue may require a different pagination approach so we can make the ranking.

[2018-09-18 18:41] ceresstation commented on #406
@mul1sh looks great, I think there's just one more change requested and you're good to go!

[2018-09-18 18:45] mul1sh commented on #406
@ceresstation i'm actually working on the requested change right now 😃 so i'll be pushing in a few hours

[2018-09-18 19:10] acravenho opened #755 "Failed Transaction on Transaction Details page needs highlighting"
If a transaction fails, we should highlight the error on the transaction details page in a red/orange. We should also change the color of a successful transaction to a green color.

![errortxdetails](https://user-images.githubusercontent.com/17620007/45710545-e8ab7d80-bb54-11e8-989d-520fa6e0b3b1.png)

[2018-09-18 22:29] #715 closed

[2018-09-18 23:38] acravenho opened #757 "realtime indexer failed to insert internal_transactions_indexed_at_transactions"
[code]

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index ETH mainnet
2. Realtime indexer immediately fails

### Expected behaviour

Index new blocks

### Actual behaviour

💥

[2018-09-19 02:49] acravenho opened #758 "Indexer.Token.Fetcher terminating - Postgrex expected an integer"
While indexing Ropsten I came upon this 🐛. The fetcher kept terminating over and over again.

[code]

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index Ropsten

### Expected behaviour

Should index this token.

### Actual behaviour

💥

[2018-09-19 09:30] alexandrule opened #759 "cannot load `8000000` as type :decimal for field `gas_limit` in schema Explorer.Chain.Block"
I got this error after migration 20180831231919_modify_block_gas.exs

### Environment

* Operating System: Ubuntu

### Steps to reproduce

run migration 20180831231919_modify_block_gas.exs

I suppose this commit is related to the issue https://github.com/poanetwork/blockscout/commit/742e543cdbe780c9cbb96e2a86f600b9e190daab

[2018-09-19 11:35] alexandrule commented on #759
Dropped database and ran the migration again.

[2018-09-19 11:35] #759 closed

[2018-09-19 18:46] #758 closed

[2018-09-19 20:04] #686 closed

[2018-09-19 20:59] acravenho opened #763 "Indexer.Block.Realtime.Fetcher terminating no with clause matching"
I've noticed this popping up on ETH mainnet every 300-500 blocks.

[code]

[2018-09-20 02:55] ImrieA opened #766 "Blockscout cant connect to Parity - WS Error <Http(Token)>: Invalid byte where token is required."
Blockscout cannot seem to connect to local Parity to read Ethereum mainnet block data.

### Environment

Ubuntu 16
All prerequisites exactly as per install procedure
Parity-Ethereum/v2.0.4-beta-e2e1d22-20180910/x86_64-linux-gnu/rustc1.28.0

Indexer config

[code]

### Steps to reproduce

I have an ethereum main net Parity running on the  same machine as blockscout. For the purposes of trouble shoo

[2018-09-20 03:00] tmlee commented on #234
@alexgaribay you may consider looking and using our API at https://www.coingecko.com/api/docs/v3
straight forward to consume, no api keys needed, and abundance of data to choose from
let me know what you think, happy to answer any questions

[2018-09-20 03:57] acravenho commented on #766
@ImrieA It doesn't look like you have tracing enabled on your node.

[2018-09-20 04:42] ImrieA commented on #766
Thanks @acravenho  , tracing is on

[code]

[2018-09-20 09:03] varasev opened #767 "(Bug) Invalid balance"
We have a smart contract `EmissionFunds` which balance is increased every block (every 5 seconds): https://sokol.poaexplorer.com/address/search/0x523B6539Ff08d72A6C8Bb598Af95bF50c1EA839C

This contract is used for collecting [Increased Emission](https://github.com/poanetwork/RFC/issues/14). Parity engine tops up the balance of this contract on every block.

When I open the page on Blockscout to se

[2018-09-20 12:41] Lucasnar commented on #748
About the questions:

_Is there any other path we can follow that makes it more straightforward to create new pages?_

[This solution](https://github.com/poanetwork/blockscout/commit/8a4f8504d991346488bdad1e87cd4f340c2a078f) is more straightforward to implement than the Ajax one, since we don't need to build a new architeture in the project. We basically use resources we are already using. The res

[2018-09-20 13:34] #720 closed

[2018-09-20 13:39] acravenho commented on #766
@ImrieA Is there anything in your `logs/dev/errors.log` or `logs/dev/indexer.log` files?

[2018-09-20 13:40] #757 closed

[2018-09-20 13:58] acravenho opened #768 "Create a Count table for each address which runs async"
Count queries from Postgres are extremely slow. Instead of running these queries when a user loads an address page we need to run these async and create a table to store the following data:

- [x] transactions - async function runs when an address was used in a transaction
- [x] token transfer - runs when a token transfer took place between accounts
- [x] collated blocks - runs when an address was

[2018-09-20 14:04] acravenho commented on #767
@varasev I'm trying to figure out where this emission is coming from or is it similar to the [spec.json emission](https://github.com/poanetwork/poa-network-consensus-contracts/blob/master/scripts/parity_setup/spec.json) and needs to be hardcoded?

Is there anyway else for us to track this emission without user input? If not, I'll get this fixed right away.

[2018-09-20 14:54] varasev commented on #767
@acravenho The new POA coins are minted by Parity with BlockReward contract: https://wiki.parity.io/Block-Reward-Contract.html - there are no any transactions when minting in this way, so it cannot be tracked. But we can see the balance of the address with minted coins, e.g., using `web3.eth.getBalance`.

[2018-09-20 15:07] acravenho commented on #767
@varasev Thank you for the issue. Since there is no way for us to track this we'll have to customize something for this type of `emission`. We should have something out next week.

Also, I'm unable to deploy to blockscout.com because of AWS limiting our account. The build that is currently at https://blockscout.com/poa/sokol is almost 1 month old. As soon as they answer my support ticket I will up

[2018-09-20 16:27] acravenho opened #770 "More Metadata when verifying smart contracts"
During the process of verifying a smart contract, users should be prompted to input more information on such as a description, tags, and GitHub repo.

[2018-09-20 17:39] acravenho opened #771 "Token transfer indexer for ERC20 not importing correctly"
Please take a look here at this token transfer https://kovan-alpha.poaexplorer.com/tx/0x75c72b701eac71d32cdb93f4210a31e59226f67daf15b49315f43af83b515c8e/logs

This transaction has a single token transfer and should be transferring `0` tokens from this contract `0x8df7287914144d89adf44d8fdd0b72f4990fb2fc`.

Instead, we're seeing this being transferred: `115792089237316195423570985008687907815158359

[2018-09-20 17:42] acravenho opened #772 "Remove whitespace from token name during indexing"
As @igorffs mentioned, some creators are adding white space into a token's name in order to gain relevance advantages in certain explorers. We should trim this whitespace prior to importing the names.

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index ETH mainnet

### Expected behaviour

Not see whitespace before a token name.

### Actual behaviour

Seeing whitespace.

[2018-09-20 18:20] #743 closed, assigned to sabondano

[2018-09-20 21:17] #564 closed

[2018-09-21 01:17] acravenho opened #773 "Contract created in the overview needs it's own line"
The contract created line from the over section should have its own line. During one of the recent merges, this was changed.

Here is a picture:

![contractcreated](https://user-images.githubusercontent.com/17620007/45854691-67054c80-bd1a-11e8-9fc7-0005f05c73e3.png)

### Environment

* Operating System: Linux

### Steps to reproduce

1. View a token page. `0x424bda819c8f67d1e841717433971e87efaaaef

[2018-09-21 02:33] acravenho commented on #766
@ImrieA It's 100% a node issue. I should have some time this weekend to provide the exact settings to configure for your node. We've had many changes over the last couple months but this is something we need to provide better documentation for.

[2018-09-21 07:33] ImrieA commented on #766
That would be great, thanks for the help

On Fri, 21 Sep 2018, 10:33 Andrew Cravenho, <notifications@github.com>
wrote:

[2018-09-21 12:59] Lucasnar commented on #748
We ended up choosing the third proposed solution. See more on the related Pull Request (https://github.com/poanetwork/blockscout/pull/765). Just for completeness, I will answer the relevant PoC questions thinking about the third solution:

_Is there any other path we can follow that makes it more straightforward to create new pages?_

Yes. We can just create another module that holds the responsib

[2018-09-21 13:00] Lucasnar commented on #748
Given we made our final decision on this matter, I'm gonna close the issue. If you still have something to say about this, please feel free to comment here or start another issue.

[2018-09-21 13:00] #748 closed

[2018-09-21 15:23] acravenho opened #775 "Realtime blocks in the UI should stay in order even if processed out of order"
With our new subscription rework of the indexer, some blocks with lower processing time will send the completion event to the front end making the block numbers appear out of order for the end user. To avoid this we need to complete the following:

1. Create a subscription event when `Block.Fetcher` completes to show the user that a block is processing. If a block is skipped we should create an em

[2018-09-21 15:30] Lucasnar opened #776 "Duplication of the code that defines tabs in templates"
First task to resolve https://github.com/poanetwork/blockscout/issues/706.

As a developer, I want to have the code that creates the links to the tabs in a single partial, so I can just load it in new tabs and update it in only one place when needed. This will make both working on existing pages and creating new features easier and faster.

### Tasks

Remove the duplicated tabs code from the follo

[2018-09-21 16:31] amandasposito commented on #776
WDYT of breaking this issue into 3? One to each context?

[2018-09-21 16:37] Lucasnar commented on #776
@amandasposito, do you mean 3 separate issues or 3 PRs?

[2018-09-21 16:51] #561 closed

[2018-09-21 16:53] amandasposito commented on #776
@Lucasnar Both PR and issues, since they are separated context there are no dependencies among them and this way we can see the flow of the activities better at the board. WDYT?

[2018-09-21 17:00] Lucasnar commented on #776
I think it is a great idea! Gonna open the three issues and close this one. 👍

[2018-09-21 17:13] Lucasnar opened #777 "Duplication of the code that defines tabs in the Token page"
Related to https://github.com/poanetwork/blockscout/issues/706.

As a developer, I want to have the code that creates the links to the tabs in the Token page in a single partial, so I can just load it in new tabs and update it in only one place when needed. This will make both working on existing tabs of the Token page and creating new features easier and faster.

### Tasks

- [x] Token page;
  -

[2018-09-21 17:13] Lucasnar opened #778 "Duplication of the code that defines tabs in the Transaction page"
Related to https://github.com/poanetwork/blockscout/issues/706.

As a developer, I want to have the code that creates the links to the tabs in the Transaction page in a single partial, so I can just load it in new tabs and update it in only one place when needed. This will make both working on existing tabs of the Transaction page and creating new features easier and faster.

### Tasks

- [x] Tran

[2018-09-21 17:13] Lucasnar opened #779 "Duplication of the code that defines tabs in the Address page"
Related to https://github.com/poanetwork/blockscout/issues/706.

As a developer, I want to have the code that creates the links to the tabs in the Address page in a single partial, so I can just load it in new tabs and update it in only one place when needed. This will make both working on existing tabs of the Address page and creating new features easier and faster.

### Tasks

Remove the duplica

[2018-09-21 17:13] #776 closed

[2018-09-21 17:21] gfreh opened #780 "Can't open Token Holders tab for some tokens"
Can't open the `Token Holders` tab for some tokens. In my tests, I could only reproduce this bug for **ERC-721** tokens that **do have** `total_supply = null` in the database.

### Environment
- Localhost (on MacOS)
- Sokol (on sokol-alpha.poaexplorer.com)

### Steps to reproduce
1. Visit the token details page for the following token: `0x17dffeb1b44754cb66df570e6b8c9d0f862cb5b3`
    - [Localhost]

[2018-09-22 00:40] sabondano commented on #763
Looks like this is an http request timeout from: https://github.com/poanetwork/blockscout/blob/master/apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/http/httpoison.ex#L17

and we're not handling it gracefully in the else branch here: https://github.com/poanetwork/blockscout/blob/3a2c6f93ede0aa63ebdefb4100e74ccddef7c572/apps/indexer/lib/indexer/block/fetcher.ex#L92

We could make the necessary changes

[2018-09-22 02:44] acravenho commented on #771
Here is another error on Ethereum Mainnet:

[code]
Here is the actual log:

https://etherscan.io/tx/0xe54f2e76615f3967afe63ee54869218bad05f5c9b22634452abd22e065b9d692#eventlog

[2018-09-22 14:35] prestonvanloon opened #784 "All assets 404ing"
When I load http://myip:4000, all of the css and javascript assets 404.

### Environment

Dockerfile:
https://gist.github.com/prestonvanloon/8e882e5d84f3904b3bd5f5242b525fd4

### Steps to reproduce

See the commands in this gist: https://gist.github.com/prestonvanloon/8e882e5d84f3904b3bd5f5242b525fd4

I also changed check_origin to false in config/prod.exs, but doesn't seem to make a difference.

[2018-09-22 17:10] #480 closed

[2018-09-22 18:35] prestonvanloon commented on #784
I believe I have resolved this. There were two problems:

1) The elixir code must be compiled prior to installing npm deps since it depends on some generated code
1) There is a missing step in the instructions where you need to do `npm run deploy` to build the production assets.

[2018-09-22 21:40] acravenho commented on #784
Thanks, @prestonvanloon. We'll make the necessary changes. We appreciate your feedback and debugging 😄

[2018-09-22 21:40] #784 closed

[2018-09-23 13:49] Lucasnar commented on #706
From this issue, we will be creating other issues to update the pages incrementally. When talking about it, we decided it is worth to create issues just to update the views, in order to remove the duplication of the tabs definition, and other issues to update the controllers. We don't have to wait for the controllers update to work on and finish the update on the views; they're fairly straightforw

[2018-09-23 23:57] acravenho opened #786 "ERROR 23514 (check_violation): new row for relation "transactions" violates check constraint "error""
[code]

### Environment

* Operating System: Linux

### Steps to reproduce

Deploy ETH Mainnet

[2018-09-24 00:04] acravenho opened #787 "Could not insert all of chunk into Elixir.Explorer.Chain.Transaction using options because of error."
I believe this issue and #786 are related. They occur every few second while indexing ETH mainnet.

[code]

### Environment

* Operating System: Linux

[2018-09-24 11:41] prestonvanloon opened #788 "Server crashes when exchange rates are disabled"
To reproduce:

Set `config :explorer, Explorer.ExchangeRates, enabled: false` in apps/explorer/config.exs and run the prod server.

[code]

[2018-09-24 11:53] prestonvanloon commented on #788
Actually, I think this is my environment killing the server for using more than the allocated memory.

[2018-09-24 11:55] prestonvanloon commented on #788
Nope, it's not that. It's crashing for some reason, but i'm not sure how to debug this.

[2018-09-24 14:19] Stamates opened #789 "Pending transactions are live added and removed from Address Page"
Pending transactions are not currently shown or live updated on the address page.

### Expected behaviour

Pending transactions should be displayed at the top of the transactions list on the address page.  When new pending transactions are created, they should be added to the top of the list without refreshing the page.  When the pending transaction is collated, the pending transaction should be r

[2018-09-24 17:00] acravenho opened #790 "Production URL schema breaking contract verification"
Our current routes do not allow for relative links on any endpoints which includes contract verification. We need to build in customizable routes to allow for `https://blockscout.com/poa/core`, `https://blockscout.com/poa/sokol`, ect...

These could be environment variables that are defined at deployment.

[2018-09-24 17:04] acravenho opened #792 "Database should dump source codes and other user data in a public repo"
## The Problem

When an RDS instance is dropped from production or staging the user data such as source codes, address name, and other contract data is lost.

## The Solution

We should dump this type of data in a public repo, S3 bucket or IPFS to allow other explorers to immediately index the data upon deploy and periodically update. Having this type of communication between the explorers will pr

[2018-09-24 17:58] #406 closed

[2018-09-24 18:14] mul1sh commented on #406
@acravenho @ceresstation  glad the PR was finally merged 😄 though haven't received the payout yet, I thought it was supposed to be automatic once the issue was closed 🤔

[2018-09-24 18:31] acravenho opened #793 "Add 6 characters of the address hash to primary names and token names"
Since users are able to create address, tokens, and contracts with identical names we should supply the first six characters of the address hash in the primary name slot. Currently, we are displaying `SomeToken`, this should be changed to `SomeToken (0xfs4a...)`.

[2018-09-24 18:33] acravenho opened #794 "Add Primary name snippet to validated and mined blocks"
We need to add the primary name snippet to collated blocks on the homepage and block details page. When the primary name is set to true, they do not show up in these locations.

[2018-09-24 18:45] #623 closed

[2018-09-24 19:46] #780 closed

[2018-09-24 21:02] sabondano opened #796 "transactions_block_hash_fkey constraint violations"
[code]

[2018-09-24 21:10] sabondano commented on #796
🤔after chatting with @alexgaribay we're thinking these are reorgs.

[2018-09-24 21:33] amandasposito commented on #679
The layout of the card must be like this:

![token-inventory-tiles copy](https://user-images.githubusercontent.com/840531/45980399-4265e900-c028-11e8-8f9b-108d23510b8c.png)

[2018-09-24 21:51] sabondano commented on #796
@acravenho Happy to work on it 😃!

[2018-09-24 22:32] sabondano opened #797 "row for relation "transactions" violates check constraint"
[code]

[2018-09-24 22:47] sabondano opened #798 "row for relation "transactions" violates check constraint"
[code]

[2018-09-24 22:47] #798 closed

[2018-09-24 22:48] sabondano commented on #798
Closed because it was a repeat.

[2018-09-24 22:49] sabondano commented on #797
This seems to be related to the fact the we don't support reorgs yet.

[2018-09-25 14:18] gfreh opened #799 "Can't open the Logs tab for Transactions that are Contract creation calls"
If I visit the tx details page for a tx that created a contract, when I click on the `Logs` tab and internal server error is thrown.

### Environment
- Localhost (on MacOS)
- Sokol (on sokol-alpha.poaexplorer.com)

### Steps to reproduce
1. Visit the tx details for a tx that created a contract, for instance: `0x9b044bd613dc1b4fb723188beb721e0633490d21f1820d60f46b7927b115d88c`.
   - [Sokol](https:/

[2018-09-25 14:33] alexgaribay commented on #799
Yes.

[2018-09-25 14:48] #778 closed

[2018-09-25 15:13] sabondano commented on #786
I added this [issue](https://github.com/poanetwork/blockscout/issues/797) without realizing this one existed (#786)  which

[2018-09-25 15:15] sabondano commented on #797
Repeat of #786

[2018-09-25 15:15] #797 closed

[2018-09-25 16:19] sabondano commented on #796
Quick update: We've decided to wait on adding reorg support until after uncles support lands on master.

[2018-09-25 17:06] acravenho opened #800 "(KeyError) key :message not found in: %FunctionClauseError"
The exception handling code is throwing an exception:
[code]
Luke: "It is assuming that `error`s from `rescue` always have a `message` key, which is not true, they do have to support the `message` function as a callback though as that is part of the protocol."

[2018-09-25 17:13] arthurra commented on #444
@acravenho Can we close this issue?

[2018-09-25 18:31] #777 closed

[2018-09-25 19:30] Lucasnar commented on #752
Just to complement this description: we ended up agreeing to use `limit` + `offset` in order to easily allow both pagination and ranking. We limited the number of pages to 20, with 50 records per page.

Is that right, @acravenho?

[2018-09-25 20:05] Lucasnar commented on #800
I guess we just have to deal with errors that don't have the `:message` key, but I also think we should keep trying `error.message` if it is available (I think some errors from the `ex_abi` lib follow that and that's why it's here). As @KronicDeth said, we can get a message from any exception using [`Exception.message/1`](https://hexdocs.pm/elixir/Exception.html#message/1), and we could use that i

[2018-09-25 20:07] #259 closed

[2018-09-25 21:38] gfreh commented on #679
Hey @amandasposito

I've been testing it and found one issue: when I'm in the Inventory tab, it is not highlighted as the selected one, as visible in the screenshot below.

![screen shot 2018-09-25 at 18 36 47](https://user-images.githubusercontent.com/1440642/46044752-08611980-c0f2-11e8-8c3d-53bf9df0ad88.png)

[2018-09-25 23:13] sabondano opened #808 "Realtime indexer "Unknown block number" error"
A ton of these on Sokol (staging):

[code]

[2018-09-26 05:30] acravenho opened #810 "TokenBalance Fetcher querying the burn address instead of the contract address"
This error is occuring every second on Ethereum Mainnet and periodically on all other chains.

[code]

These errors are for the following transactions:
https://sokol-alpha.poaexplorer.com/tx/0x156845881f467dce644459a34ae825a8e95849a50da79f557956e368d9be9140/token_transfers

https://sokol-alpha.poaexplorer.com/tx/0xeee24cf3ac9bce3ec56f3325a1d8204df6be58cfd28245c7ad1bb2efd13e8795/token_transfers

ht

[2018-09-26 09:52] rsoutar commented on #766
I've experienced the same issue with the `WS Error <Http(Token)>: Invalid byte where token is required.`.

[2018-09-26 13:08] #800 closed

[2018-09-26 13:14] #773 closed

[2018-09-26 13:45] arthurra commented on #745
@acravenho does this issue also include an Uncle detail page?

[2018-09-26 13:48] acravenho commented on #745
@arthurra Yes, the uncle detail page would be very similar to our blocks detail page and would contain info similar to this: https://etherscan.io/uncle/0x824981c854016e83753ed86bb0f5f54cbe49e8753d3b03a4acc5630b38197619

Ideally, we would have a dropdown under the Blocks header for Uncles and would link to a page like this: https://etherscan.io/uncles

The same will be done very soon for block reor

[2018-09-26 14:28] gfreh commented on #810
Just some more clues to whoever is going to work on this issue:

Looking at the transactions you've provided, it seems that the log message might be wrong. Using the first one as an example, we have:

[code]
But actually, if we look at the transaction, the contract address hash is `0x508132af713459c57a403a18a8f42a9b83c170c0` and the address for which we are probably trying to retrieve the balance

[2018-09-26 14:56] acravenho opened #811 "Add the option for Transactions per day graph on the homepage"
Not all networks will have a coin that has a USD value or may just be a testnet or private network. In these cases the homepage graph does not make sense. Instead of the USD chart we should provide a graph showing transactions per minute. All networks will be able to show this. A configurable option in `block_scout_web` would be convenient as well :+1:

In this same issue, we should also remove th

[2018-09-26 16:26] acravenho opened #814 "API for all tokens an address owns"
Here is a link to an example from Trustwallet: https://api.trustwalletapp.com/tokens?address=0x0039f22efb07a647557c7c5d17854cfd6d489ef3

For each token that an address owns we should show the following data:

[code]

[2018-09-26 16:34] #808 closed

[2018-09-26 16:59] #799 closed

[2018-09-26 17:57] #372 closed

[2018-09-26 17:57] #373 closed

[2018-09-26 18:11] gfreh commented on #424
Hey @acravenho! I've tested it and everything seems fine. Do you want to take a look before @GuSilverFlame merges it?

[2018-09-26 18:30] acravenho commented on #424
@gfreh Test now.

[2018-09-26 18:47] #424 closed

[2018-09-26 18:49] feliperenan commented on #810
We are inverting the keys when we log the error. See:

https://github.com/poanetwork/blockscout/blob/a03e268439050d730cf6bc98c74650eb81c0fafe/apps/indexer/lib/indexer/token_balances.ex#L65

The error always happens when I try to fetch this token balance.

[code]

I will open a PR to fix the log issue. But I'm not sure about what we have to do with this error 🤔.

[2018-09-26 19:11] feliperenan commented on #810
Just complementing the answer above. If I use another address hash, it doesn't throw the error.

[code]

[2018-09-26 19:17] arthurra commented on #745
**Uncle Details Mockup**
![uncle-details](https://user-images.githubusercontent.com/1641169/46103577-2a64a580-c19f-11e8-919e-61cf6c42c118.png)

**Uncle Index Mockup**
![uncle-index](https://user-images.githubusercontent.com/1641169/46103615-410afc80-c19f-11e8-991d-7cb563f7b8dd.png)

[2018-09-26 19:20] acravenho commented on #745
@arthurra Looking good :+1: One thing which I should have mentioned before is that unlike Etherscan we are tracking the transactions for an uncle. Let's put the tabs down below just like a normal block. I'm not sure how it will look in the end but at least the mockup will be done for them.

[2018-09-26 19:21] acravenho commented on #745
I think this is a good time also build in the dropdown under `Blocks` where it will say `Uncles`, and `Forked Blocks (Reorgs)`

[2018-09-26 19:46] arthurra commented on #745
oh, right right right. Thanks for the feedback. Will do.

[2018-09-26 19:52] #643 closed

[2018-09-26 19:55] gfreh commented on #810
We've just tested this against the ERC-721 token I've created before, and we could reproduce the problem. The source code is available at: [0x17dffeb1b44754cb66df570e6b8c9d0f862cb5b3](https://sokol-alpha.poaexplorer.com/address/0x17dffeb1b44754cb66df570e6b8c9d0f862cb5b3/contracts)

Analysing the code, we noticed that the `balanceOf` function requires that the address for the query to be different

[2018-09-26 20:00] Alaradia commented on #766
yeah i had a working block scout but now it seems to be broken since now im getting the same error may be due to a new parity version since i started having issues after i swapped my parity. its due to the websocket wanting the token output by the command `parity signer new-token` i have yet to find a way to disable it.

[2018-09-26 20:08] acravenho commented on #766
@Alaradia What Parity version did you upgrade to? We have compatibility with < 1.11. We have not yet tested 2.0

[2018-09-26 20:26] Alaradia commented on #766
yeah i went from a version im not sure what it was to 2 so that's probably the issue ill try 1.11.

[2018-09-26 20:35] acravenho opened #818 "Support for Parity 2.0"
We are currently experiencing certain issues regarding unstable versions of Parity < 2.0. With this being said, trying to use Parity 2.0 with BlockScout gives the following error:

`WS Error <Http(Token)>: Invalid byte where token is required.`

### Environment

* Parity: 2.0
* Operating System: Linux

### Steps to reproduce

1. Upgrade the Parity node to > 2.0
2. Start the indexer and view the er

[2018-09-26 20:37] acravenho commented on #766
@rsoutar @Alaradia Thanks for the help with this issue. I've created a new issue #818 for our teams to tackle in the next couple weeks. I'm going to close this issue for now and will reopen once we have full support for Parity 2.0 and this is not resolved.

[2018-09-26 20:37] #766 closed

[2018-09-26 20:54] Alaradia commented on #766
i tried 1.11.1 and same error not sure if theirs some weird issue going on with some sort of system flag not stored in parity's directory im going to try nuking my test environment tomorrow and see if i can reproduce on a fresh install

[2018-09-26 20:55] acravenho commented on #766
Sounds good. Please keep us updated :+1:

[2018-09-26 21:01] acravenho commented on #810
@feliperenan @gfreh I'm still doing more research to find a definitive answer but it makes sense for me that it operates this way. If a token is sent to `0x0000000...` it is meant to be deleted. By not allowing us to fetch a balance from this address effectively does this. I wouldn't be opposed to not checking the balance of the burn address for ERC-721 tokens.

Do you think this is a good solutio

[2018-09-26 21:43] feliperenan commented on #810
I think we can go if this solution, it would avoid a lot of requests since we try to fetch the balance again when it fails.

Is there some case that a user wants to check the token balance for the burn address in the ERC-721? 🤔 Because it won't be possible anymore after we do that.

[2018-09-26 21:45] acravenho commented on #810
I can live with the burn address not having a balance for ERC721. I can't think of any situation but the community may provide feedback at some point if they feel otherwise.

[2018-09-26 22:13] gfreh commented on #679
Hey, @acravenho. I've just tested it again and now everything seems to be fine. Do you want to take a look before Amanda merges it?

[2018-09-27 13:29] amandasposito commented on #768
There are a couple of options we thought about how we can solve this problem:

### 1. Process the count info asynchronous

To have a `GenServer` that from time to time counts the addresses and updates the info at the Database.

There are some important points about this approach that need to be taken into consideration, like the way this counts would be done and the time interval between them so w

[2018-09-27 13:29] amandasposito opened #820 "Consolidate Token Transfers count info"

[2018-09-27 14:14] alexgaribay commented on #771
For each of the Sokol transactions, they are definitely ERC-721 token transfers and not ERC-20. It looks like the logs page doesn't show the fourth topic of the logs so you aren't seeing the field for ERC-721 token IDs.

The errors from the console are due to it being transferred from the burn address somehow but the data in terms of token transfers is being indexed correctly.

[2018-09-27 14:15] acravenho opened #821 "API Endpoint for get Token Transaction info"
## Request
`/getTxInfo/{transaction hash}`

## Response
[code]

[2018-09-27 14:18] acravenho opened #822 "API for Get last token operations"
## Request

`/getTokenHistory/[address]`

## Optional Parameters

[code]

## Response

[code]

[2018-09-27 14:20] acravenho opened #823 "API Endpoint for last token address history operations"
## Request

`/getAddressHistory/{address}`

## Optional Parameters

[code]

## Result

[code]

[2018-09-27 19:02] #591 closed

[2018-09-27 20:52] amandasposito opened #827 "[POC] Reset blockchain related data but still keep the user information"
As a DevOps, I want to be able to reset the blockchain related data but still keep the user information available to the explorer.

### Timebox

2 days

### Tasks

- [ ] Build a simple example of how this could be done;

### Questions to be answered

- [ ] How to separate user and blockchain information from the database?
    - [ ] Would it be a separate application?
    - [ ] Can we separate data

[2018-09-27 21:09] alexgaribay commented on #827
We've thought about this on the DockYard side. We could potentially use leverage prefixes in `Ecto.Schema`. By default, the prefix for schemas is `nil`, meaning everything falls under the `public` schema in Postgres. If we add a prefix like to user data Ecto schemas, we could make custom migration tasks that only delete things from the public PSQL schema but exclude the user data PSQL schema.

[2018-09-27 21:12] acravenho commented on #827
@alexgaribay One of the requirements is to have all BlockScout instances have access to this data. Not only the deployed versions.

[2018-09-27 21:16] alexgaribay commented on #827
@acravenho So this is to connect all explorers to be able to sync user data across nodes?

[2018-09-27 21:18] acravenho commented on #827
@alexgaribay Yes, the idea is that if I verify a contract on `sokol` and it would auto verify that contract  on `core` as well because we will sync all smart contract data from this public repo every `n` minutes.  The same goes for address names. IPFS, S3 bucket, ect.. were ideas to make this happen.

[2018-09-27 21:36] alexgaribay commented on #827
This may be worth a larger discussion. The admin tool will have several of the same issues as what's described here.

[2018-09-27 22:43] sabondano opened #829 "API endpoint account#txlistinternal by address includes hash and traceId"
For full Etherscan compatibility we want the `account#txlistinternal` API endpoint (by address only) to return the `hash` (parent txhash) and `traceId`.

[2018-09-28 15:08] #814 closed

[2018-09-28 16:27] #385 closed

[2018-09-28 16:45] Lokraan commented on #735
Started working on this last night, should finish it a lot faster than the last issue now that I know the workflow.

[2018-09-28 20:30] #592 closed

[2018-09-28 20:44] #810 closed

[2018-09-29 06:34] Lokraan commented on #735
How do I navigate to the sokol testnet on my browser, when I use the link provided on the page it sends me to the production page.

[2018-10-01 14:51] KronicDeth opened #834 "test/explorer/chain/address/token_balance_test.ex -> test/explorer/chain/address/token_balance_test.exs"
[code]

[2018-10-01 15:26] KronicDeth opened #836 "Prometheus and Grafana"
1. Setup BlockScout to output metrics to Prometheus
2. Setup Prometheus to scrap BlockScout
3. Render metric graphs in Grafana

How to setup Prometheus and Grafana should be
1. Documented in the READMEs
2. Setup in [blockscout-terraform](https://github.com/poanetwork/blockscout-terraform) (https://github.com/poanetwork/blockscout-terraform/issues/62)

[2018-10-01 15:34] acravenho opened #837 "Add reorg support to the UI"
#833 adds reorg support to our indexer. We are now seeing both reorg blocks and parent blocks in the UI. Reorg blocks (`consensus = false`) should only appear on the reorg page and not show up on the `/blocks` or `homepage`.

![reorgsupport](https://user-images.githubusercontent.com/17620007/46298724-c9a5e600-c56d-11e8-8bd0-17c7ffcb8fe4.png)

[2018-10-01 15:38] #53 closed

[2018-10-01 15:38] #55 closed

[2018-10-01 15:56] KronicDeth opened #838 "Explorer.Chain.missing_block_number_ranges does not account for consensus"

[2018-10-01 19:08] #834 closed

[2018-10-01 19:44] #794 closed

[2018-10-01 21:11] #793 closed

[2018-10-02 13:32] KronicDeth opened #843 "Etherscan account balancemulti order is not consistent leading to flaky test"
The following test is flaky as the ordering is not consistent in the output from the controller

https://github.com/poanetwork/blockscout/blob/edc00fd7ce7ea03ec9e3151da4b9a8a1beb546cc/apps/block_scout_web/test/block_scout_web/controllers/api/rpc/address_controller_test.exs#L183-L213

### Steps to reproduce

See https://circleci.com/gh/poanetwork/blockscout/37109

### Expected behaviour

Test alway

[2018-10-02 14:45] #836 closed

[2018-10-02 15:09] #843 closed

[2018-10-02 15:24] acravenho opened #846 "Mockup for a bridged transaction between 2 chains"
With the use of bridges, we need to support this type of transaction in the UI. Here is an example of several bridged transactions between `poa` and `ethereum`. https://poaexplorer.com/address/0xb500a1429000ae315717390a052371ffbea59b5c

[2018-10-02 17:03] GuSilverFlame commented on #827
after some discussion it was decided that we should go initially with the path of creating a dump file for the tables with user data

 eventually this will be replaced by postgresql's [logical replication](https://www.postgresql.org/docs/10/static/logical-replication.html) as the real solution since it will allow to have a replica of only the data that needs the replication without having to chang

[2018-10-02 17:03] #827 closed

[2018-10-02 18:34] amandasposito commented on #792
As we concluded in the POC, this issue will be about separating the user data from the blockchain data so we don't lose the user info everytime we need to re-index the database.

The communication between the explorers will be handled in another card.

https://github.com/poanetwork/blockscout/issues/827
https://github.com/poanetwork/blockscout/pull/842

### Steps

#### Backup dos dados
* Use a `sc

[2018-10-02 19:31] #408 closed

[2018-10-02 19:53] #772 closed

[2018-10-02 19:53] acravenho commented on #792
@amandasposito
1. All deploys should not dump data, only the explorers that we deploy. There is a possibility of an outside blockscout instance giving us false data. However, all of our deployed explorers should dump their data.

2. The idea time should be every 12-24 hours.
3. I think 1 file is fine for now. Remember, once they are communicating this data will be able to be extracted from all ins

[2018-10-02 19:59] KronicDeth commented on #788
Those `enabled` flags are only there so we can disable them during testing.  They're not meant for you to opt-out of getting market data.

[2018-10-02 20:01] KronicDeth commented on #788
Do you want disabling getting market data in production a feature @acravenho?

[2018-10-02 20:07] acravenho commented on #788
@KronicDeth #811 will add the option to remove the USD values and also update the graph on the homepage to a transaction-based graph instead of the price based graph.

[2018-10-02 20:43] acravenho opened #850 "(MatchError) no match of right hand side value:"
[code]

### Environment

* Operating System: Ubuntu

### Steps to reproduce

1. Start indexing
2. Error happens while trying to fetch the first catchup blocks

### Expected behaviour

index blocks

### Actual behaviour

n/a

[2018-10-02 20:44] acravenho commented on #620
Fixed by reorg support

[2018-10-02 20:44] #620 closed

[2018-10-02 20:45] #789 closed

[2018-10-02 21:47] #790 closed

[2018-10-02 21:53] acravenho commented on #850
This error only occurs on `sokol` when a non-tracing node is in place.

[2018-10-02 22:02] #838 closed

[2018-10-02 22:12] #138 closed

[2018-10-02 22:54] acravenho opened #851 "Transactions are no longer populating as realtime"
After all the PRs today transactions are no longer coming through in realtime. This includes the homepage, address page, transaction page, and pending transactions page.

### Environment

* Operating System: Ubuntu and Mac

### Steps to reproduce

1. Start indexing
2. View the homepage.

### Expected behaviour

Transactions should populate the homepage as a new block comes in.

### Actual behaviou

[2018-10-03 12:59] KronicDeth commented on #850
There's a bug with `where_forked`, where if there are no blocks it will select **ALL** transactions because no `WHERE` conditions are added to the `SELECT ... FROM transactions`.  The error you're seeing is that `WHERE`-less select trying to fork a pending transaction.  I have a regression test reproducing this.  I will

1. Fix the error reporting so it doesn't error at this point, but return an `

[2018-10-03 14:12] arthurra commented on #588
I'm also unable to reproduce on `master`. Closing this issue...

[2018-10-03 14:12] #588 closed

[2018-10-03 16:03] acravenho opened #853 "Create CSS variables using Bootstrap 4"
Not having compiled assets would help us in creating a GUI for users to define their theme templates within a BlockScout admin panel.

[2018-10-03 16:09] gfreh opened #854 "Consolidate Transactions count info in the Address Page"
Related to #768

As a user, I want to navigate to the Address details page and see the number of `transactions` sent by address with an approximate value.

### Acceptance Criteria
- The transactions count in the address details shows how many transactions the address has sent, which is equal to the nonce of the last indexed transaction for that address.
- The transactions count must be consolidate

[2018-10-03 16:24] KronicDeth opened #856 "Break up Explorer.Chain.Import"
As part of #423, `Explorer.Chain.Import` was pulled from `Explorer.Chain`, but `Explorer.Chain.Import` is now up to 1200 lines, so it too should be split again.  As some of the original steps now have multiple steps, breaking up by the primary table for each step is probably a good design.

[2018-10-03 17:28] gfreh commented on #811
@acravenho we have two questions:

- Do you have a suggestion on the scale? Should we plot data minute by minute? For how many minutes?
- At present, below the graph, we have the current price and market cap for that coin. What do you suggest us to do with them?

Also, we've noticed Etherescan features a 14-day transaction history graph, which seems to be interesting too (especially for networks w

[2018-10-03 17:36] #850 closed

[2018-10-03 17:42] acravenho commented on #811
@gfreh
1. I think we should plot the graph on a daily scale similar to what Etherscan offers. I feel this graph should update every 10 minutes similar to what the USD chart does now.

2. We can provide 2 metrics where the MarketCap and Price are now such as Transactions Per Day and Transactions Per Second.

[2018-10-03 17:56] gfreh commented on #811
@acravenho so, just to confirm:

1. For each day in the horizontal axis, we'll plot the tx/s for that day, which is the count of transactions divided by the count of seconds (= 86,400 seconds, except for the current day).

2. Should we use Transactions Per Day and Transactions Per Second for the current day? Or should we use some average?

[2018-10-03 18:19] nambrot commented on #624
Just ran into this as well, is there any recommended workaround?

[2018-10-03 18:57] acravenho commented on #624
I'm checking the error logs on my build from last night and am not seeing this error any longer.
@nambrot
- What settings are you using on your node?
- How old is your build?

[2018-10-03 20:33] nambrot commented on #624
Wow thanks for the quick response. We are using our own fork of geth with the following settings: `--port 30303 --rpc --rpcaddr 0.0.0.0 --rpcapi=eth,net,web3 --ws --wsaddr 0.0.0.0 --wsorigins=*`

I'm running of master that I just cloned this morning

[2018-10-03 20:40] acravenho commented on #624
@nambrot We do support basic Geth support but I have not personally tested this in the last month. I'll try spinning up a Geth node and try to debug. We will be offering full Geth support (`debug_traceTransaction`) in our v2 release in the next few months.

[2018-10-03 20:40] nambrot commented on #624
Yeah we definitely get the sense that geth is behind parity in terms of priority but that is ok, maybe we can contribute!

[2018-10-03 20:41] nambrot commented on #624
Does this error strike you as Geth related however?

[2018-10-03 20:44] acravenho commented on #624
That would be fantastic to have more contributions. POA Network is a Proof of Authority Network so our initial focus was always on Parity tech but we realized right away that there is a need for Geth support. It's on our roadmap to provide just as much support for Geth in the future.

This error strikes me as a node settings error more than a Geth/Parity issue but I won't know until I can provide

[2018-10-03 20:47] nambrot commented on #624
Thanks! What specific settings are you looking for? Are there any pointers you can give me to help debug this?

[2018-10-03 20:50] #775 closed

[2018-10-03 20:51] nambrot commented on #624
Ahh I think you mean the settings in the indexer?

[code]

Yeah I realized that I have `ws` instead of `wss` since I just trying it out locally on my machine and dont have ssl setup, hopefully thats not it

[2018-10-03 20:51] acravenho commented on #624
The realtime fetcher which failed utilizes Websockets to fetch the incoming blocks, transactions, tokens and balances. My initial thoughts are that a port isn't configured correctly in the config.

[2018-10-03 20:53] nambrot commented on #624
I verified that the port is indeed open with https://www.npmjs.com/package/wscat

[2018-10-03 20:53] acravenho commented on #624
Also, you should update the config in `apps/explorer/config/dev/geth.exs` and `apps/indexer/config/dev/geth.exs`

[2018-10-03 20:55] nambrot commented on #624
Thank you for bearing with me. I did update config to the above settings to my local geth node. Fwiw, Catchup seems to work fine

[2018-10-03 20:57] acravenho commented on #624
https://github.com/poanetwork/blockscout/blob/1ce4753de4d3df143b6bc8bf58ca0765101930de/apps/indexer/config/dev.exs#L14

https://github.com/poanetwork/blockscout/blob/1ce4753de4d3df143b6bc8bf58ca0765101930de/apps/explorer/config/dev.exs#L20

Change those lines to `geth` as well.

[2018-10-03 20:57] nambrot commented on #624
I did!

[2018-10-03 20:59] acravenho commented on #624
Nice! So catchup indexer works, just the realtime fetcher is failing. @KronicDeth is there anything that we're missing for the realtime indexer to work on `geth`?

[2018-10-03 21:28] KronicDeth commented on #624
@nambrot it's the registered name of the process:

https://github.com/poanetwork/blockscout/blob/1ce4753de4d3df143b6bc8bf58ca0765101930de/apps/indexer/lib/indexer/block/realtime/supervisor.ex#L20-L33

[2018-10-03 21:30] nambrot commented on #624
Ahh, that makes much more sense!

[2018-10-03 21:40] alexgaribay commented on #609
Now that I've had some time to research how OpenID works, I don't think this is a viable option for the per-explorer admin panel that we've been discussing. Each explorer would have to register with a auth provider, such as Google, and have their own set of client/secret keys they'd have to manage as part of handling OAuth. This would add more friction for adoption of the application for people wh

[2018-10-03 21:49] nambrot commented on #624
Thanks for bearing with me. So if I understand correctly ( as I'm new to elixir )

In the Supervisor we are starting the `Indexer.Block.Realtime.WebSocket` (the module should be `EthereumJSONRPC.WebSocket.WebSocketClient`) and `Indexer.Block.Realtime.Fetcher`

-in the fetcher we try to call subscribe on `EthereumJSONRPC`
https://github.com/poanetwork/blockscout/blob/1ce4753de4d3df143b6bc8bf58ca076

[2018-10-03 21:57] acravenho commented on #624
@nambrot As you described above and I overlooked, you're using `ws` instead of `wss`. We do require secure Websockets to be used:

https://github.com/poanetwork/blockscout/blob/1ce4753de4d3df143b6bc8bf58ca0765101930de/apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/web_socket/web_socket_client.ex#L30-L38

Use the `-` between line numbers instead of `:`.

[2018-10-03 22:03] nambrot commented on #624
I removed
https://github.com/poanetwork/blockscout/blob/1ce4753de4d3df143b6bc8bf58ca0765101930de/apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/web_socket/web_socket_client.ex#L48-L54

and that seems like I received a successful subscription! Or at least I reach https://github.com/poanetwork/blockscout/blob/master/apps/indexer/lib/indexer/block/realtime/fetcher.ex#L50

Not getting any blocks, but gett

[2018-10-03 22:19] nambrot commented on #624
Just wanted to let you know that I have been able to get it to work! It's syncing blocks beautifully!

[2018-10-03 22:21] acravenho commented on #624
That's fantastic! What did you do to fix the issue?

[2018-10-03 23:55] acravenho commented on #854
@gfreh @amandasposito

### Slow Query Pages and Examples:

| Issue Type | Page | Example |
| --- | --- | --- |
| slow | Token Page | https://ethereum-alpha.poaexplorer.com/tokens/0xc16b542ff490e01fcc0dc58a60e1efdc3e357ca6 |
| slow | Token Holders | https://ethereum-alpha.poaexplorer.com/tokens/0xc16b542ff490e01fcc0dc58a60e1efdc3e357ca6/token_holders |
| slow | Internal Transactions | https://ether

[2018-10-03 23:56] acravenho opened #860 "Create neutral template and logo as default BlockScout template"
The default template for BlockScout should not be themed as POA and instead should be colored a neutral color and the Favicon should be updated to become the logo as well.

[2018-10-04 00:01] acravenho opened #861 "Live reload on the address token page"
The user expects to see the token page for an address live reload since most of the app already does this.

[2018-10-04 00:02] acravenho opened #862 "Live reload on the token holders page"
The token holders page needs to have the real-time functionality implemented.

[2018-10-04 00:03] acravenho opened #863 "Live reload on the top accounts page"
Live reload needs to be implemented on the top accounts page.

[2018-10-04 02:21] acravenho opened #865 "Fill in holes of skipped blocks on refresh"
When blocks are skipped while a user is sitting on the homepage and blocks page there is a placeholder block that takes a pending state until it's processed completely. This same view should happen when a user refreshes the page or visits the page for the first time.

Currently, the user will refresh the page and the holes will not be filled in so when the blocks are processed they come in out of

[2018-10-04 12:31] KronicDeth commented on #624
If it is that, it seems like something else is probably wrong with the setup that talking to your node, it can't setup a websocket in 5 seconds.   You'd have to be experiencing really high network latency or if locally a lot of CPU load to not be to able to setup a websocket connection in 5 seconds.

You're using `ws` URL, but the code we wrote enforced `wss`, so you disabled, the `ws` check I'm a

[2018-10-04 13:02] #755 closed

[2018-10-04 13:18] gfreh commented on #768
Replicating a comment from Andrew at #854
### Slow Query Pages and Examples:

| Issue Type | Page | Example |
| --- | --- | --- |
| slow | Token Page | [Link](https://ethereum-alpha.poaexplorer.com/tokens/0xc16b542ff490e01fcc0dc58a60e1efdc3e357ca6) |
| slow | Token Holders | [Link](https://ethereum-alpha.poaexplorer.com/tokens/0xc16b542ff490e01fcc0dc58a60e1efdc3e357ca6/token_holders) |
| slow | In

[2018-10-04 14:01] acravenho commented on #763
This has been resolved by the reorg PR.

[2018-10-04 14:01] #763 closed

[2018-10-04 14:17] #851 closed

[2018-10-04 14:52] nambrot commented on #624
Yeah that's what I did per https://github.com/poanetwork/blockscout/issues/624#issuecomment-426819218 and it worked!

[2018-10-04 16:15] acravenho opened #868 "Transactions with errors cannot be forked because `error` is not nulled out"
I'm receiving this error on Ropsten and Ethereum Mainnet.

Here is the error that repeats over and over. I'm also including the error that proceeded this that may be the root cause:

## Error that repeats

[code]

## Error that occured directly before
[code]

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index Ropsten to block 4169837

[2018-10-04 16:28] acravenho opened #869 "DAI Chain Design Template"
@arthurra
@pashagonchar  just finished the design for the Dai Chain. We're looking for some feedback regarding the design.

- There is a new background image on the statistics block which looks great. How hard would this be to implement?
- Can we add this image or another background image to other chains as well?
- I also noticed that we have a new transactions icon. I think this looks much better

[2018-10-04 17:02] alexgaribay commented on #771
@acravenho Is this still an issue? Viewing all topics in the logs has already been merged in.

[2018-10-04 17:41] acravenho commented on #771
This has been resolved from everything I can see.

[2018-10-04 17:41] #771 closed

[2018-10-04 19:29] acravenho commented on #138
@nambrot Our first goal was to obtain Etherscan API compatibility which we achieved the other day. Our next goal is to create our own set of GraphQL API endpoints for the community. Another issue will be created when our developer returns vacation. This should occur next week.

[2018-10-04 22:51] nambrot commented on #138
Awesome, y'all are great and appreciated!

[2018-10-05 01:30] Lokraan commented on #854
This is also an issue with validation counts.

[2018-10-05 01:44] Lokraan commented on #854
What's the timeframe that you need this problem finished by? This issue relates to the issues that I'm currently working on (#735) and I would be willing to work on this in order to solve everything in one fell swoop (including token counts).

[2018-10-05 01:47] acravenho commented on #854
@Lokraan We have a few team members that are currently working on this issue. There is a PR open now #867 for token counts and other counts will be done tomorrow and Monday. If you would like to do the validation counts in the format that @amandasposito is using in the PR that would help.

[2018-10-05 01:53] Lokraan commented on #854
@acravenho Ok I'll start working on that, thank you.

[2018-10-05 01:54] acravenho commented on #854
Awesome, thanks for the help :smiley:

[2018-10-05 14:22] gfreh opened #872 "Improve Internal Transactions listing performance"
## Description
Listing Internal Transactions for some specific Addresses with lots of Txs is very slow.

## Steps to Reproduce
Visit one of the examples below.

### Ethereum Mainnet:
https://ethereum-alpha.poaexplorer.com/address/0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5/internal_transactions

The first time you visit this tab, it takes lots of seconds to load, but the following ones it loads fas

[2018-10-05 14:27] gfreh opened #873 "Improve Top Accounts listing performance"
## Description
Loading the Top Accounts list is very slow.

Also, after the page is loaded, the count of transactions per account seems to be wrong.

## Steps to Reproduce
Visit: https://blockscout.com/eth/mainnet/accounts

During the standup meeting (11/06/18) we commonly agreed that some changes were needed to enable this query (list_top_addresses) on the mainnet. In this agreement, we decided t

[2018-10-05 17:59] arthurra commented on #853
The advantage to using CSS custom properties (variables) is that they can be updated during runtime with javascript. This is not the case with preprocessor variables, which need to be compiled into static values before they can be downloaded to the HTML document. This means that user could select the colors for their theme through the admin UI and see the app update in real-time. Fortunately for u

[2018-10-05 19:16] KronicDeth commented on #868
This is the order for `transactions` I have locally according to pgAdmin4

![screen shot 2018-10-05 at 2 00 10 pm](https://user-images.githubusercontent.com/298259/46554849-26bfd580-c8a7-11e8-953a-7452e2cfeac7.png)

Lining up the row in the `%Postgrex.Error{}` `details` we get this table, that is easier to read than 23 columns horizontally:

| Column                             | Value

[2018-10-05 19:48] KronicDeth commented on #868
This error slipped through even with the tests because I only did a case with `status: :ok`:

https://github.com/poanetwork/blockscout/blob/c4f973c55b30ab83f5e1a63583d7526eca9de368/apps/explorer/test/explorer/chain/import_test.exs#L1242-L1353

[2018-10-05 20:09] #856 closed

[2018-10-05 20:40] KronicDeth commented on #786
| Column                             | Value                                                                 |
|------------------------------------|-----------------------------------------------------------------------|
| `cumulative_gas_used`              | `6094158`                                                             |
| `error`                            | `null`

[2018-10-05 20:40] #786 closed

[2018-10-05 21:28] #568 closed

[2018-10-05 21:46] #868 closed

[2018-10-06 06:32] Lokraan opened #875 "Consolidate Block Validation Count Info."
Relates to #768.
As a user, I want to navigate to the address page and be able to see the number of `validations` the address has performed.

Example:
https://etherscan.io/address/0xea674fdde714fd979de3edf0f56aa9716b898ec8

### Acceptance Criteria.
* The count info for `validations` must be consolidated by address.
* There must be a task to consolidate all `validations`
* The count info must be `i

[2018-10-06 16:47] acravenho commented on #110
This issue was completed with named addresses.

[2018-10-06 16:47] #110 closed

[2018-10-06 16:48] acravenho commented on #83
This issue was completed with named addresses.

[2018-10-06 16:48] #83 closed

[2018-10-06 21:40] acravenho opened #876 "Contract which creates other contracts in the UI"
When a contract creates another contract we are not displaying this correctly in the UI. Currently, we are showing pending contract address and none of the contracts are displaying in the Internal Transactions.

### Steps to reproduce

1. View tx 0x4922d87a3ee93d299718257a4fc270cff08e1e41cbb4a5e7182a21fb633a6dd2 on `core`

### Expected behaviour

![correct](https://user-images.githubusercontent.co

[2018-10-07 20:40] blatyo commented on #823
I'd like to claim this issue

[2018-10-08 02:43] Lokraan opened #878 "Tiles in Top Accounts Should Show The Number of Validations"
The information for each address in `Top Accounts` should display the number of validations next to the number of transactions.

Currently working on this issue.

[2018-10-08 03:15] blatyo commented on #823
I've been looking around the repo and the API and I have a couple observations and questions. A majority of the API endpoints appear to be replicating the Etherscan API. However, this API appears to come from Ethplorer. As far as I can tell, no Ethplorer API endpoints exist yet.

Is the goal to exactly replicate the Ethplorer API as well? Or should the endpoint be added to the Etherscan API?

My n

[2018-10-08 14:07] acravenho opened #879 "Favicon and other header assets not found"
In the production environment, the only asset that is found is the css file. The cache-buster is not configured correctly to allow the favicon to show.

### Environment

* Operating System: Linux

### Steps to reproduce

1. View the source code at https://blockscout.com/poa/core
2. Check the header files.

### Expected behaviour

Favicon displays

### Actual behaviour

Page not found

[2018-10-08 14:19] gfreh opened #880 "Consolidate Token Holders count info"
Related to #768 and #820

As a user, I want to navigate to the token details page and see the number of `addresses` (or `token holders`) with an approximate value.

Example:
https://ethereum-alpha.poaexplorer.com/tokens/0xB8c77482e45F1F44dE1745F52C74426C631bDD52
https://etherscan.io/address/0xb8c77482e45f1f44de1745f52c74426c631bdd52

https://ethereum-alpha.poaexplorer.com/tokens/0x212d95fccdf03663

[2018-10-08 15:18] Lokraan commented on #872
I am willing to work on this issue if no one has started to.

The solutions I am thinking of are to:
* Directly store the transaction ids somewhere (database, :ets table) then query the database for those ids.
* Optimize the current queries.

After reading around I think the solution could entail something like this http://engineering.liefery.com/2018/02/27/the-mysterious-query.html

[2018-10-08 15:29] acravenho opened #881 "Pending Blocks on Address page should be changed to the alert bar"
😬 There are many addresses that have too many pending transactions that will never get mined. It's a bad user experience to display these transactions to the user. Some of these lists are exceeding past the first page. A better solution might be to simply show the alert bar with the amount of pending transactions that updates when a new pending transaction is validated or is picked up by our event

[2018-10-08 17:12] #879 closed

[2018-10-08 18:56] amandasposito commented on #872
@acravenho @Lokraan Sure, we need to optimize those queries.

There is a `count` in this page query that may be one of the reasons for the performance issue.

But I'm missing the point about why store the transaction ids somewhere may help with this problem. 🤔

[2018-10-08 19:01] gfreh opened #883 "Token Transfer card duplicated in the Account's Transaction List"
In the Account's Transactions tab, the Token Transfer card is duplicated when the parent transaction has multiple Token Transfers in it.

### Environment
* Locally
* Sokol (www.blockscout.com/poa/sokol)

### Steps to reproduce
1. Visit the transactions list for the account: `0x6937cb25eb54bc013b9c13c47ab38eb63edd1493`:
   - [Locally](http://localhost:4000/address/0x6937cb25eb54bc013b9c13c47ab38eb6

[2018-10-08 19:17] amandasposito opened #884 "Remove token holders count from Token's page"
The token holder's count has some performance issues and we are removing the count until the consolidation is ready.

[2018-10-08 20:43] #884 closed

[2018-10-08 20:49] #869 closed

[2018-10-09 13:50] amandasposito commented on #872
@Lokraan Have you already started working on this issue?

This is the next issue in our priority list, I'll pull it right now to work on this.

[2018-10-09 13:55] acravenho commented on #767
This issue will be resolved with `block_trace` to track all block rewards.

[2018-10-09 15:04] acravenho opened #888 "Clear memory on large chain instances for deferred tasks"
On larger chains, the memory consumption can exceed the machines total available memory crashing Erlang. It would be great to be able to clear the memory of async tasks before this occurs.

[2018-10-09 16:48] Lokraan commented on #872
The only changes I've made so far is this:
[code]

This didn't work and failed two tests:
[code]

This is because `EXISTS` returns true if the subquery inside it returns null, to solve it I changed the fragment to:
[code]

[2018-10-09 17:47] #745 closed

[2018-10-09 17:47] #837 closed

[2018-10-09 20:01] rstormsf opened #892 "Blockscout.com have a 3 minutes delay for eth mainnet blocks"
![image](https://user-images.githubusercontent.com/9360827/46695065-5cc0ca80-cbc3-11e8-9b0e-a913f1983c4e.png)

Great progress! But I noticed that issue and i think the screenshot is self explanatory.

[2018-10-09 20:20] acravenho commented on #892
Thanks. We're aware of the delay. It's something that will be worked on over time to optimize the catchup indexer and realtime indexer.

[2018-10-09 20:28] igorbarinov commented on #892
Also, the deployed instance for Ethereum main network is still performing initial indexing.

[2018-10-09 23:19] nambrot commented on #138
Is there a way to follow the conversation on GraphQL or Webhooks as it is something we are currently considering adding to Blockscout ourselves. That way we can avoid unnecessarily forking and possibly contributing?

[2018-10-09 23:41] johnhaitas commented on #604
bump - i see the same thing on my machine

[2018-10-10 00:07] johnhaitas commented on #604
Just noting that I had the following in my zsh profile ... commenting this out fixed the issue
[code]

iirc, that stuff made it into my profile to workaround a python issue that I came across in the past

[2018-10-10 00:40] rstormsf opened #894 "Blockscout sokol missed blocks to process"
It's been 59 minutes since blockscout on sokol doesn't process my transactions:

![image](https://user-images.githubusercontent.com/9360827/46706554-fdc27c00-cbe9-11e8-85e9-5dcb7b7e8da9.png)

https://blockscout.com/poa/sokol/address/0xcf02856827109d4c68c33210566d71442c6b9d77/transactions

For example:

I have a tx from blockscount with nonce 240 which still shows as pending.
While tx from same acc

[2018-10-10 00:43] rstormsf commented on #892
@igorbarinov
I thought it's live
![image](https://user-images.githubusercontent.com/9360827/46706719-d91ad400-cbea-11e8-890c-ffaeb1e0e5f5.png)

[2018-10-10 00:52] Lokraan commented on #37
I can handle this issue.

[2018-10-10 02:50] abcoathup opened #895 "Contract Verification on private network fails with Internal server error"
Contract Verification on private network fails with Internal server error.
Unclear if this is supported, a software defect or an issue with config/setup.

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`): Elixir 1.7.3 (compiled with Erlang/OTP 20)
* Operating System: Ubuntu 16.04.5 LTS
* Private network: Azure PoA consortium https://docs.microsoft.com/en-au/azure/blockchain/temp

[2018-10-10 03:34] rstormsf opened #896 "BlockScout crashes from time to time on Kovan"
![image](https://user-images.githubusercontent.com/9360827/46711777-a381e500-cc02-11e8-89eb-beb6f7d40a13.png)

https://blockscout.com/eth/kovan/address/0x0039f22efb07a647557c7c5d17854cfd6d489ef3/transactions

Can't confirm the steps, sometimes when I go to home page, enter my eth address, hit Enter and then...it crashes.
If I go directly using URL, it works

[2018-10-10 03:41] rstormsf opened #897 "Remove localhost from API docs"
![image](https://user-images.githubusercontent.com/9360827/46711984-ad581800-cc03-11e8-912f-454b50217e0a.png)

[2018-10-10 03:45] acravenho commented on #897
Fixed, being deployed in the next few hours

[2018-10-10 03:47] acravenho commented on #896
This occurs usually when there are no available connections on the instance. I'll look to deploy with a larger instance if this continues.

[2018-10-10 03:48] rstormsf opened #898 "Total count of Token addresses are not correct on Kovan network"
![image](https://user-images.githubusercontent.com/9360827/46712194-a8e02f00-cc04-11e8-9f54-2329c2eca6d9.png)

https://blockscout.com/eth/kovan/address/0x0039f22efb07a647557c7c5d17854cfd6d489ef3/transactions
https://kovan.etherscan.io/address/0x0039f22efb07a647557c7c5d17854cfd6d489ef3

[2018-10-10 03:50] acravenho commented on #898
This chain is still indexing, internal transactions, tokens, and token balances.  There is no bug here unless it's fully indexed and the count is still not accurate.

[2018-10-10 03:50] #898 closed

[2018-10-10 03:58] acravenho commented on #895
@abcoathup Thank you for reporting the issue. I think the issue might be with your Erlang Version. `21.05` is what is currently required. Can you please upgrade and try again?

[2018-10-10 04:03] acravenho commented on #138
@sabondano @nambrot

We will be setting up a Gitter account for BlockScout very soon which will allow all the developers to communicate on the project. Sebastian will be starting the GraphQL API very soon if you would like to communicate here regarding any questions.

If there is a specific endpoint you would like to see, feel free to make an issue and we can get working on these feature requests.

[2018-10-10 05:33] acravenho opened #899 "Show loading bar when a chain is still indexing"
The catchup indexer provides an exact count of the number of blocks left to index in the chain. We should use this number and provide the user with an exact percentage that the chain has left to index. This should alleviate concern over missing blocks and balances during this time.

[2018-10-10 05:33] acravenho commented on #892
We're working on providing a better user experience during this indexing stage by providing the user with an indexing bar showing that indexing is still in process. I'm closing this issue for #899

[2018-10-10 05:33] #892 closed

[2018-10-10 05:38] acravenho commented on #894
1. We're aware of the skipping blocks and we have a dev looking into this sudden issue. There is a process in place that checks for skipped blocks 3 separate times in 500ms intervals after receiving the `newHeads` subscription. This is check is failing or the node is failing (check logs)

2. After a full index any skipped block will be picked up by the catchup indexer in 1 minute intervals.

3. Th

[2018-10-10 05:45] acravenho commented on #894
This is the error from the logs:

[code]
The node either didn't sync the receipts yet or the data is corrupted.

Upgrading to Parity 2.* should resolve this.

[2018-10-10 12:06] eosclassicteam opened #900 "Feature request: Rich list"

[2018-10-10 12:06] ghost opened #901 "Feature request: Misc with submitting transactions & verifying messages, etc."

[2018-10-10 12:40] KronicDeth commented on #897
@acravenho it would probably be best if the load balancer was setup to send a header with the correct external root URL that everything can use.  It should be able to add that in the same section that rewrites the URLs in the load balancer config.

[2018-10-10 12:44] KronicDeth commented on #787
Closing for the same reason as #786 - the `on_conflict`, updates, and inserts around transactions has change substantially in the past 17 days and this is unlikely to be a valid bug anymore.

[2018-10-10 12:44] #787 closed

[2018-10-10 12:52] acravenho opened #902 "Indexer.CoinBalance.Fetcher terminating"
Error showing in `sokol`.

[code]

### Environment

* Operating System: Linux

### Steps to reproduce

1. Index Sokol

[2018-10-10 13:15] acravenho commented on #900
This has been completed on `master` and will be live on blockscout.com after #890 is merged.

[2018-10-10 13:15] #900 closed

[2018-10-10 14:15] Stamates opened #903 "Live reload of token holders page"
Live reload the top addresses list for token holders on the token page

[2018-10-10 16:13] acravenho opened #905 "Dai Chain MarketCap module"
The bridge contract address needs to be monitored in order to calculate the market cap for the Dai Chain. The chain started at $0 at block 1 and increased as new `XDAI` was minted from the bridge contract. When `XDAI` is burned the market cap should decrease by $1 to reflect this change.

The homepage graph market cap should reflect the changes from the smart contract debits/credits.

## Acceptanc

[2018-10-10 16:22] acravenho opened #906 "UI Fixes for all chains"
- [x] Price and marketcap should be left aligned on the homepage
- [x] Dai Chain Logo should be bigger
- [x] Social Icon/Tooltip should be adjusted on all chains
- [x] Put the logo left aligned in the footer for all chains
- [x] Style for the gas bar should use the secondary color
- [x] On the address page, the $ value is not readable for the Dai chain. Change to white color
- [x] Style for the ge

[2018-10-10 16:27] acravenho opened #907 "Realtime skipped blocks are not being filled in"
We're seeing skipped blocks with placeholders not receive a message that the block has been processed causing them to remain in a `processing` state in the UI. Refreshing the page shows that these blocks have in fact been processed.

[2018-10-10 16:48] acravenho opened #908 "UI should accept events from catch up indexer when finished"
When the catch-up indexer completes, the UI should start accepting events from it. Currently, the catchup indexer indexes fresh blocks because the realtime indexer falls behind but the blocks are not filled in.

[2018-10-10 19:08] acravenho opened #909 "ArgumentError at GET /address/0x.../validations assign @block_type not available in eex template."
Visiting the `Blocks Mined` page causes an internal server error on `master`.

[code]

### Environment

* Operating System: Linux

### Steps to reproduce

1. Visit any address that has mined a block.
2. Click the Blocks Mined Tab

[2018-10-11 03:48] nambrot opened #911 "How to run blockscout_web separately from indexer"
I'm currently trying to deploy blockscout to our private testnet. We use Kubernetes for our testnet setup that allows us to easily deploy different nets and test things. So as part of our deploy, I'm trying to dockerize blockscout. I'm new to Elixir.

Right now I'm trying to figure out how to run the indexer in a separate container, as well as the phoenix app in a separate container. The separatio

[2018-10-11 04:06] nambrot commented on #911
Looks like the way to do it is `mix run --no-halt`

[2018-10-11 04:06] #911 closed

[2018-10-11 05:46] Lokraan commented on #37
Have you guys already started working on it? @acravenho

[2018-10-11 05:47] acravenho commented on #37
@Lokraan No, we haven't started working on this yet. That would be great!

[2018-10-11 06:02] abcoathup commented on #895
I assume that Erlang is up to date.

The full version output is:
`admin@blockscout:~$ elixir --version`
`Erlang/OTP 21 [erts-10.1] [source] [64-bit] [smp:2:2] [ds:2:2:10] [async-threads:1] [hipe]`

`Elixir 1.7.3 (compiled with Erlang/OTP 20)`

Attempting to show the minor version:
`admin@blockscout:~$ erl -eval '{ok, Version} = file:read_file(filename:join([code:root_dir(), "releases",` `erlang:sy

[2018-10-11 11:47] aristt opened #913 "Contract Address Pending"
*Describe your issue here.*

### Environment

Erlang/OTP 21 [erts-10.1] [source] [64-bit] [smp:1:1] [ds:1:1:10] [async-threads:1] [hipe]

Elixir 1.7.3 (compiled with Erlang/OTP 20)

Ubuntu 16.04.3 LTS

Quorum: Geth/v1.7.2-stable-99a83767/linux-amd64/go1.9.3

Consensus: IBFT

### Issue

Everything seems to work fine on my Quorum environment, except
- transactions showing up as not validated (but th

[2018-10-11 13:12] KronicDeth commented on #888
Found a memory savings for `Indexer.Sequence`: store Ranges as tuples in the `:queue` as the tuples take up less space than than the `%Range{}` struct, but only after garbage-collection.  The incoming and outgoing format is still Ranges, so this is a non-breaking implementation detail only.

[code]

| max_block_number | Garbage Collection | Ranges (bytes) | Tuples (bytes) | Tuples / Ranges (%) |
|

[2018-10-11 13:34] acravenho commented on #913
Gethv1.7.2 appears to be pre-Byzantium which did not provide `status` fields on transactions. The only accurate method to determine a transaction status is to check for errors in the internal transactions. We currently do not support debug_tracetransaction in Geth and cannot derive the status or contract creation address.

[2018-10-11 16:04] #909 closed

[2018-10-11 17:44] #865 closed

[2018-10-12 04:03] #875 closed

[2018-10-12 18:44] #899 closed

[2018-10-12 19:15] #906 closed

[2018-10-13 02:18] Lokraan commented on #37
@acravenho

I have a solution that utilizes this function to get addresses:
[code]

As a result of this `AddressView.contract?/1` throws an error because the created address has this: `smart_contract: #Ecto.Association.NotLoaded<association :smart_contract is not loaded>`. I am able to solve this by setting `smart_contract` to `:nil` in the by passing the value into the changeset, but I was wonder

[2018-10-13 07:09] zulhfreelancer opened #918 "Docker Compose support?"
Hi,

I just found this awesome project. But I couldn't find way to make it up using Docker Compose. Does it possible to have _docker-compose.yml_ for this? That will be super helpful to spin up this explorer easier and faster in many environments.

Thank you. ❤️

[2018-10-13 13:13] emgitingit commented on #863
Hi! I went to the /accounts page and it seems to be live reloading but I did see some errors on cardinality_violation on my local postgresdb but that might be from something else. Is the top accounts page the main page?

Thanks!

[2018-10-13 16:32] zulhfreelancer commented on #918
@acravenho you are welcome. Just curious, what does _Kuala Lumpur_ tag means here?

[2018-10-13 16:33] acravenho commented on #918
Kuala Lumpur is our internal name for our `v2` release.

[2018-10-13 16:52] zulhfreelancer commented on #918
Cool. I live in KL. 🙂

[2018-10-14 02:55] acravenho opened #919 "(MatchError) no match of right hand side value"
[code]

### Environment

* Parity Version: 2.1.2
* Operating System: Linux

### Steps to reproduce

1. Start indexing Ropsten with Parity version 2.1.2 Constanople Hard Fork

[2018-10-14 03:03] acravenho opened #920 ":cardinality_violation - failed to import internal transactions"
[code]

### Environment

* Variant: Parity
* Version: 1.1.8 and 2.1.2
* Operating System: Linux

### Steps to reproduce

- On `sokol` this error happens within 5-10 minutes of indexing
- On `ropsten` this happens every couple minutes.

[2018-10-14 03:07] acravenho opened #921 "check_violation - Catchup index stream exited"
Possibly related to #919
[code]

### Environment

* Variant: Parity
* Version: 2.1.2
* Operating System: Linux

### Steps to reproduce

Index `ropsten` Constanople hard fork

[2018-10-15 10:18] aristt commented on #913
Thanks @acravenho. The issue then will be fixed when Quorum will be rebased with Geth 1.8.

[2018-10-15 10:18] #913 closed

[2018-10-15 13:34] acravenho opened #922 "Color Scheme and Logo for new Networks"
Colors and Logos for  Tobalaba, Expanse, Musicoin, Ellaism, Easthub, and Social.

[2018-10-15 16:44] KronicDeth commented on #920
The `: internal_transactions_indexed_at_transactions` calls `update_transactions/1`

https://github.com/poanetwork/blockscout/blob/fae7b77d67bf35b6dc25d6c3d06643b1cf242dc6/apps/explorer/lib/explorer/chain/import/internal_transactions.ex#L47-L50

`update_transactions/1` does an update with 3 SQL `fragment`s

https://github.com/poanetwork/blockscout/blob/fae7b77d67bf35b6dc25d6c3d06643b1cf242dc6/apps

[2018-10-15 16:45] KronicDeth commented on #621
Duplicated by #920.

[2018-10-15 17:07] KronicDeth opened #924 "Websocket closing kills Indexer.Block.Realtime.Fetcher"
[code]

### Steps to reproduce

Run against Ropsten.

### Expected behaviour

A warning or error is logged, but the subscription is re-established without crashing the `Indexer.Block.Realtime.Fetcher`.

### Actual behaviour

`{:remote, :closed}`

[2018-10-15 17:08] acravenho commented on #920
When we first receive a block with transactions, we are not importing `creates` which is the `created_contract_address_hash`. This could be imported and inserted in the `transactions` table without checking the `internal_transactions`.

Below is the result of fetching a block with a contract creation.
[code]

[2018-10-15 17:16] acravenho commented on #920
To answer the above question, it's index `0` like the `error`. Here is an example from `core`:

Without running the `trace_replayTransaction`, we are still able to obtain the `created_contract_address_hash`.

[code]

[2018-10-15 17:18] KronicDeth commented on #920
@acravenho "creates" is not documented in https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_gettransactionbyhash, so I assumed it was a Parity extension and we couldn't depend on it for Geth support or other variant support.

[2018-10-15 17:27] acravenho commented on #920
@KronicDeth Both Geth and Parity support `contractAddress` within `eth_gethTransactionReceipt`.

[2018-10-15 17:35] KronicDeth opened #926 "`Indexer.Block.Fetcher.fetch_and_import_range/2` does handle timeouts"
[code]

-- https://github.com/poanetwork/blockscout/pull/917#pullrequestreview-164788413 as reported by @sabondano

[2018-10-15 17:37] KronicDeth commented on #926
https://github.com/poanetwork/blockscout/blob/fae7b77d67bf35b6dc25d6c3d06643b1cf242dc6/apps/indexer/lib/indexer/block/fetcher.ex#L92-L137

[2018-10-15 18:30] acravenho commented on #854
The only issue I see with the acceptance criteria is that the transaction count should be exact if we're now grabbing the `nonce`.

[2018-10-15 19:52] #593 closed

[2018-10-15 19:52] #621 closed

[2018-10-16 04:31] acravenho opened #930 "Support for Geth Internal Transactions"
BlockScout currently supports Parity internal transactions (`trace_replayTransaction`) but for Geth users internal transactions (`debug_traceTransaction`) are not included. We would like to have this supported and think this would be a good issue for the community.

[2018-10-16 04:34] acravenho commented on #602
This has been resolved.

[2018-10-16 04:34] #602 closed

[2018-10-16 04:36] acravenho commented on #416
I no longer see this error. This may have been a node issue.

[2018-10-16 04:36] #416 closed

[2018-10-16 12:19] mkosowsk commented on #873
From @acravenho

Best of luck, bounty hunters!

[2018-10-16 14:27] arthurra commented on #922
@acravenho I'm having trouble tracking down any resources for Easthub and Social. Can you provide some links or material that might point me in the right direction?

[2018-10-16 15:14] acravenho commented on #922
@arthurra

Ether Social - https://ethersocial.network/
Easthub - It was easthub.io (ignore for now)
GoChain -  https://gochain.io/
WanChain - https://wanchain.org/
TomoChain - https://tomochain.com/
Pirl - https://pirl.io/en

[2018-10-16 19:25] acravenho opened #932 "Dai <> xDai balances are not being calculated"
When `Dai` is sent from Ethereum to the `xDai` chain, the value transfer is not occurring in the parent transaction or the internal transaction, therefore the receiving address is not having its balance checked.

To fix this, we need to monitor the logs for a first topic of `0x3c798bbcf33115b42c728b8504cff11dd58736e9fa789f1cda2738db7d696b2a`. This hash shows the coin transfer function of the bridg

[2018-10-16 19:29] acravenho commented on #675
Thank you @svenski123 :+1:

[2018-10-16 22:01] #854 closed

[2018-10-17 00:53] acravenho opened #933 "Add progress percentage to the internal transactions/tokens"
While the indexer is indexing blocks the user receives a percentage of blocks indexed. This same experience would be useful on the second step for internal transactions.

[2018-10-17 13:39] Stamates opened #937 "Filter out reorg transactions"
Reorg transactions are not being filtered out of transaction lists on the transactions list page and address page.  Reorg transactions are also being duplicated by live updates.

[2018-10-17 14:19] acravenho opened #938 "Add Internal Transaction type to the tile"
Internal transactions do not currently show the `type` (`call`, `create`, `suicide`, `reward`) from the database. This information is vital and should be displayed on the card.

1. Display the `type` on the left side of the card under `Internal Transaction`
![internalleft](https://user-images.githubusercontent.com/17620007/47092876-f4db3700-d1f5-11e8-9108-5064229aaa49.png)

2. If the `type` is `ca

[2018-10-17 15:07] arthurra commented on #922
![tobalaba](https://user-images.githubusercontent.com/1641169/47096276-d593d800-d1fc-11e8-93b1-4112b7cc8f3d.png)

[2018-10-17 15:17] arthurra commented on #922
![expanse](https://user-images.githubusercontent.com/1641169/47096943-47b8ec80-d1fe-11e8-9895-91311faff217.png)

[2018-10-17 15:37] arthurra commented on #922
![musicoin](https://user-images.githubusercontent.com/1641169/47098306-f9591d00-d200-11e8-86ad-026e254efe49.png)

[2018-10-17 15:43] arthurra commented on #922
![musicoin](https://user-images.githubusercontent.com/1641169/47098798-e5fa8180-d201-11e8-9032-5825d75e664e.png)

[2018-10-17 17:20] arthurra commented on #922
![ellaism](https://user-images.githubusercontent.com/1641169/47104396-5360df00-d20f-11e8-93a7-a1db015d1cb6.png)

[2018-10-17 18:05] feliperenan commented on #932
More info about the issue:

In this transaction: https://blockscout.com/poa/dai/tx/0x1d5066d30ff3404a9306733136103ac2b0b989951c38df637f464f3667f8d4ee/logs

The DAI network is minting coins and we don't procces it properly. Today, we only can see it looking at the log:

[code]

It means that we should have a internal transaction where:

to_address is: `0x9a4a90e2732f3fa4087b0bb4bf85c76d14833df1`
fr

[2018-10-17 18:34] arthurra commented on #922
![social](https://user-images.githubusercontent.com/1641169/47108449-ac357500-d219-11e8-9085-8e7a00151fdf.png)

[2018-10-17 20:14] arthurra commented on #922
![gochain](https://user-images.githubusercontent.com/1641169/47113688-aba3db00-d227-11e8-9ee4-81140db7aee0.png)

[2018-10-17 20:33] GuSilverFlame commented on #905
# Task Breakdown

- [ ] create module to count the total supply from transactions
  - [ ] make query to get mint events and their values from the logs
  - [ ] make query to bet burn internal transaction values
  - [ ] sum the results of each query
  - [ ] subtract total burn value from the total mint value
- [ ] create module to fetch price from coin market cap but calculate the total supply and m

[2018-10-17 20:44] arthurra commented on #922
![tomochain](https://user-images.githubusercontent.com/1641169/47115227-e9a2fe00-d22b-11e8-97c0-7edbc43fbc69.png)

[2018-10-17 20:49] acravenho commented on #922
@pashagonchar  Do you have any changes that you would like to see on these color and logo mockups?

[2018-10-17 20:54] arthurra commented on #922
![pirl](https://user-images.githubusercontent.com/1641169/47115675-4bb03300-d22d-11e8-8fad-ae0a52e2a84a.png)

[2018-10-17 21:36] #880 closed

[2018-10-17 23:30] acravenho opened #941 "Consume Contract Creation Address from Transaction Receipt"
We currently consume the contract creation address from the internal transactions. Instead, we should consume the `created_contract_address_hash` for the `transactions` table from `eth_getTransactionReceipt` in the form of `ContractAddress`.

We do not currently support internal transactions on Geth so we're unable to obtain the contract address for a transaction using the Geth client.

Both Geth

[2018-10-18 01:21] acravenho opened #942 "GenServer BlockScoutWeb.EventHandler terminating - nil.from_address_hash/0 is undefined"
[code]

### Environment

* Client: Parity
* Operating System: Linux

### Steps to reproduce

This error is repeating in the error log. The realtime on internal transactions seems to be causing this error.

[2018-10-18 01:45] tmlee commented on #905
Hey @acravenho  @GuSilverFlame  if you guys are considering API to fetch supply and market cap, do take our API into consideration at https://www.coingecko.com/api

API is public and free to use, no keys needed and with little restriction to throttling.
Suggest you at least give it a try, open to hearing your feedbacks and concerns.

[2018-10-18 02:21] acravenho opened #943 "Read contract query styling"
When a contract is queried the result is not styled correctly. There is too much space between each value.

![readcontractstyle](https://user-images.githubusercontent.com/17620007/47127390-effc9e80-d25a-11e8-86d0-0ef8e37fb88c.png)

[2018-10-18 02:33] acravenho opened #944 "Integrate CoinGecko's API into BlockScout"
It's important to have multiple sources of off chain data such as coin/token prices. Integrating CoinGecko's API (https://www.coingecko.com/api) into BlockScout is an important feature.

- [ ] Build module to integrate the API
- [ ] Offer this option to users when they login to the admin panel

[2018-10-18 02:35] acravenho commented on #905
@tmlee Thank you for the suggestion. We will take a look at your API and will create an integration for any users of BlockScout that would like to use CoinGecko's API. Having multiple price API endpoints would be great for the decentralization of the explorer. I have created issue #944.

It would also be great to see https://blockscout.com/eth/mainnet, https://blockscout.com/etc/mainnet, and https

[2018-10-18 13:09] tmlee commented on #905
Thanks @acravenho that's good to know.

As suggested, we have also added links to those block explorers for all 3 coin pages
https://www.coingecko.com/en/coins/ethereum
https://www.coingecko.com/en/coins/ethereum-classic
https://www.coingecko.com/en/coins/poa-network

[2018-10-18 13:11] acravenho commented on #905
@tmlee That's awesome! Looking forward to working with you guys more in the future. We'll be starting the integration soon for CoinGecko :+1:

[2018-10-18 13:57] acravenho commented on #767
@varasev This should get merged today :+1:

[2018-10-18 14:49] varasev commented on #767
@acravenho Seems the changes are not on the blockscout.com yet because https://github.com/poanetwork/blockscout/pull/936 is still open?

[2018-10-18 15:02] acravenho opened #947 "Query optimization on the address page"
Here are a few addresses that `blockscout.com/eth/mainnet` is having issues loading. By clicking on the page multiple times the speed does increase loading the page faster but this is not the optimal user experience.

- [0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208](https://blockscout.com/eth/mainnet/address/0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208/transactions)
- [0x0681d8Db095565FE8A346fA0277bFf

[2018-10-18 15:10] acravenho opened #948 "Investigate token count on the address page"
The token count on Blockscout is not matching the token counts on Etherscan. While I understand that the chain is still indexing, there are transactions with token transfers coming in but the token balances are not updating and showing them under the address's holdings.

Here is an example:

https://blockscout.com/eth/mainnet/address/0x9a4a90e2732f3fa4087b0bb4bf85c76d14833df1/transactions

There a

[2018-10-18 15:29] acravenho commented on #767
@varasev Yes, this is not on blockscout.com. Once it's merged I'll deploy to production. I'll update you when this occurs :+1:

[2018-10-18 17:08] #932 closed

[2018-10-18 19:27] acravenho commented on #941
This issue should resolve part of #930

[2018-10-18 19:44] jimmay5469 commented on #908
No longer needed with the new Parity version!

[2018-10-18 19:44] #908 closed

[2018-10-18 19:44] jimmay5469 commented on #907
No longer needed with the new Parity version!

[2018-10-18 19:44] #907 closed

[2018-10-18 20:09] Stamates opened #950 "Live reload uncle and reorg block list pages"
To be consistent with live updating experience, the uncle and reorg block lists need to be live updated.

[2018-10-18 20:36] gfreh commented on #36
@acravenho I've updated the description and added a suggestion for the block details page in the scenario described by this issue. WDYT?

[2018-10-18 20:47] acravenho commented on #36
@gfreh I think that looks good. I'm not sure I understand the question. As far as differentiating the design, yes, we should have the design different so the user knows this block doesn't really exist yet.

[2018-10-18 20:54] gfreh commented on #36
@acravenho By differentiating, I mean having a different message when the block is in the past, but we haven't indexed it yet vs. when the block is the future. Not sure if that makes sense, though 😅

[2018-10-18 21:01] acravenho commented on #36
:thinking: Yes, you're right. That would make sense. It's pretty easy and inexpensive to run the query for the   tip of the chain. If below the tip we should provide the exact message that you have above.

[2018-10-18 22:32] acravenho commented on #767
@varasev This is now being deployed to blockscout.com. Thank you for the issue :smile:

[2018-10-18 23:37] Destiner commented on #930
Hi there. Interested in this task. As far as I understand, what we need to do is to make kind of parser for `debug_traceTransaction` [output](https://github.com/ethereum/go-ethereum/wiki/Management-APIs#debug_tracetransaction), and then integrate it into the project.

The support for Parity is [here](https://github.com/poanetwork/blockscout/tree/master/apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/pa

[2018-10-19 00:19] acravenho commented on #930
Hey @Destiner,

Thanks for taking a look at this issue. There is actually already a [parser](https://github.com/ethereum/go-ethereum/blob/master/eth/tracers/internal/tracers/call_tracer.js) created which should make this issue much easier to solve. You'll want to provide similar result to the Parity version.

There is another issue open to not rely on internal transactions to obtain the contract c

[2018-10-19 01:02] yograterol commented on #818
any update here?

[2018-10-19 01:05] acravenho commented on #818
@yograterol We're not experiencing any issues with Parity 2.x. We've tested many versions and are having no issues.

[2018-10-19 03:10] yograterol commented on #818
I tested Parity 2.1.3 and got `token is required` I could test with Parity 2.0.x

[2018-10-19 04:53] yograterol commented on #818
![image](https://user-images.githubusercontent.com/3322886/47198278-f8270d80-d330-11e8-8cd9-c88c84fa4894.png)

[2018-10-19 05:58] varasev commented on #767
@acravenho Yes, I see it works now. Thanks!

[2018-10-19 13:08] mkosowsk commented on #930
Hi @Destiner, if you'd like to apply for work on this bounty please do so [here](https://gitcoin.co/issue/poanetwork/blockscout/930/1496). Thanks! 👍

[2018-10-19 13:12] mkosowsk commented on #938
@Lucasnar, you have been approved to work on this bounty. Please start at your earliest convenience :)

[2018-10-19 13:32] acravenho commented on #818
Please share your settings of your node. We now have quite a few 2.06, 2.08, and 2.13 that have no issues connecting.

[code]

[2018-10-19 15:43] #878 closed

[2018-10-19 16:36] sinasamavati commented on #942
I can't reproduce it. But I came across a problem in the transaction controller (`/tx/internal_transactions`) which I'm not sure if it's related.

Is there any other information in the log that could be related to the bug?

[2018-10-19 16:43] acravenho commented on #942
@sinasamavati Unfortunately, this was the only info I had to go by in the error logs. What is the issue you see in the transaction controller?

[2018-10-19 16:46] sinasamavati commented on #942
[code]
My best guess is that some internal transactions don't end up getting stored in the database.

[2018-10-19 16:48] acravenho commented on #942
I received the previous error on a fully indexed chain. The error you're showing above still needs to be resolved. Would you like to work on this instead?

[2018-10-19 17:22] sinasamavati commented on #942
I'm afraid I can't work on this.

[2018-10-19 18:06] #881 closed

[2018-10-19 18:30] yograterol commented on #818
It was running just to test with the follow settings allowing all:

`--ws-interface all --ws-apis all --ws-origins all --ws-hosts all --jsonrpc-apis all --tracing=on --fat-db=on --pruning=archive --jsonrpc-cors all --jsonrpc-hosts all --jsonrpc-interface all --mode active`

[2018-10-19 18:34] acravenho commented on #818
Please define just `"web3","eth","net","parity", "pubsub", "traces"`. I'm thinking that some type of validation is required when you have `personal, signer, parity_accounts, secretstore` enabled.

[2018-10-19 19:51] feliperenan commented on #948
I guess that the `TokenBalance.Fetcher` has a bottleneck. It is configured to fetch only 1 token balance at a time, but it receives a lot of token balances imported by catchup to be fetched. For instance:

* Catchup sends 1000 token balances to be fetched
* For each token balance, the `TokenBalance.Fetcher` is going to make a request to the smart contract to fetch the balance and import the new ba

[2018-10-19 19:54] acravenho commented on #948
@feliperenan Good investigation. I think we might need to bring @alexgaribay into the mix to see if what he's working on can help the node from timing out. If so, we can freely increase `batch_size` and let his work pause the indexer from sending any further requests when needed.

[2018-10-19 21:06] yograterol commented on #818
got it. I will try it.

[2018-10-19 21:41] acravenho opened #952 "Mobile search bar and network ui bug"
The search bar is breaking trying to fit both the search bar and network dropdown on a single line. We should move the network dropdown below the search bar.

![image from ios](https://user-images.githubusercontent.com/17620007/47245114-05daa280-d3c6-11e8-84a7-67c1b067c9b2.png)

![image from ios 1](https://user-images.githubusercontent.com/17620007/47245122-0a9f5680-d3c6-11e8-9455-36175fb67237.png

[2018-10-19 21:46] svenski123 commented on #930
Hi @Destiner, I'd like to pick this up if you decide you're no longer interested.
(In fact I would have applied earlier but I was having issues building blockscout related to fontawesome - that and reading up on erlang/elixir).

[2018-10-19 21:50] acravenho commented on #930
@svenski123 I was just about to pass you #675 to help with the fontawesome issue until I realized you're the person who provided the great feedback the other day on how to resolve the issue :laughing:

Thank you for your support of the project :+1:

[2018-10-19 21:53] acravenho commented on #941
@Lokraan This issue is available :smile:

[2018-10-19 22:43] Lokraan commented on #941
@acravenho I'll start working on it once I finish the address 404 page.

[2018-10-20 11:35] AndreiD opened #954 "(Mix) Could not compile dependency :libsecp256k1"
*Describe your issue here.*

### Environment

Ubuntu 18.04

* Elixir & Erlang/OTP versions (`elixir -version`):

Erlang/OTP 21 [erts-10.1] [source] [64-bit] [smp:1:1] [ds:1:1:10] [async-threads:1] [hipe]

Elixir 1.7.3 (compiled with Erlang/OTP 20)

* Operating System:
Ubuntu 18.04

### Steps to reproduce

Following the tutorial:

On:
mix do deps.get, local.rebar --force, deps.compile, compile

I g

[2018-10-20 16:02] acravenho commented on #954
@AndreiD
`libsecp256k1` is setup to work with rebar, not rebar3.

For rebar3 compatibility edit `deps/libsecp256k1/rebar3.config` and add the following to the top:

[code]
then
2. `cd deps/libsecp256k1`
3. `rebar3 compile`

[2018-10-20 18:18] AndreiD commented on #954
I have no idea what is rebar, and why you need version 3 or 66 or 583.12312
I just followed the tutorial. I don't want to learn what is rebar, nor erlang // elixir.

Can't you do a verified step by step for noobs tutorial, that you make sure it works on a clean install...

[2018-10-20 19:41] Lokraan commented on #941
@acravenho I don't fully understand this issue, which files should I be modifying (pretty sure its' receipt.ex, receipts.ex, and indexer/internal_transaction/fetcher.ex)? My understanding is that parity currently returns a `created_contract_code` and `created_contract_address_hash` in `trace.ex` which is part of processing internal transactions / transactions. Receipts edit this to just be [`contr

[2018-10-20 19:56] acravenho commented on #941
@Lokraan That's correct. We're currently pulling the `created contract address` from index `0` of the internal transactions. This works fine but when a user decides to use `geth` we're not able to provide the created contract address.

## Parity
- shows the created contract address (`creates`) in `eth_getTransactionByHash`
- shows the created contract address (`ContractAddress`) in `[eth_getTransa

[2018-10-20 19:57] acravenho commented on #941
@Lokraan Please login to Gitcoin to claim this job.

[2018-10-20 21:39] Lucasnar commented on #938
@acravenho, which option would you choose for displaying the type?

<details>
<summary>Option 1</summary>

![image](https://user-images.githubusercontent.com/10884247/47260651-ef9c1780-d495-11e8-8411-60b46e608d83.png)
</details>

<details>
<summary>Option 2</summary>

![image](https://user-images.githubusercontent.com/10884247/47260655-08a4c880-d496-11e8-9e42-134652912eca.png)
</details>

Or maybe

[2018-10-20 21:41] acravenho commented on #938
@Lucasnar I'm thinking option 2 but maybe with some type of highlighting or parenthesis.

[2018-10-20 21:50] Lucasnar commented on #938
What could the highlighting be? I tried bold text. Here is an example of parenthesis and turning the text bold:

<details>
<summary>Parenthesis</summary>

![image](https://user-images.githubusercontent.com/10884247/47260791-70f4a980-d498-11e8-93b4-138363e3b650.png)

</details>

<details>
<summary>Bold</summary>

![image](https://user-images.githubusercontent.com/10884247/47260815-aac5b000-d498-11e

[2018-10-20 21:54] acravenho commented on #938
I like parenthesis :smile:

[2018-10-20 21:56] Lucasnar commented on #938
Ok! 🙂
I'm going to open a PR later with parenthesis. If you have any other option you'd like to go with, let me know.

[2018-10-20 22:44] yograterol commented on #954
I had the same issue, in Ubuntu 18.04 @acravenho I will try it.

[2018-10-20 22:46] yograterol commented on #954
@AndreiD don't be bad person :D If you don't want to know what is rebar, erlang, elixir, please hire a developer.

[2018-10-20 22:47] yograterol commented on #818
@acravenho this work properly.

The main issue is when I try to connect to Parity WS with secure connection `wss`.

The issue could be closed.

[2018-10-20 22:48] acravenho commented on #818
@yograterol That's great to hear :sweat_smile:

[2018-10-20 22:48] #818 closed

[2018-10-20 22:50] acravenho commented on #954
Here is a little more background info: https://github.com/poanetwork/mana/issues/415 (different project, same issue)

[2018-10-21 00:12] yograterol commented on #922
@arthurra We're syncing blockscout with CLO too, we will use blockscout as main explorer.

[2018-10-21 15:50] acravenho commented on #38
@aj07 Can you please provide more information on the issue? Depending upon which OS you're using and how you configured Postgres. If you installed Postgres using Homebrew you're most likely going to remove the username and password from `apps/explorer/config/dev.secret.exs`.

[2018-10-21 15:59] acravenho commented on #922
@yograterol We'll have your theme ready early this week. Thanks for your support :+1:

[2018-10-22 10:29] APshenkin opened #956 "TokenFetcher character_not_in_repertoir"
*Describe your issue here.*
This error is occurring in tokenFetcher when syncing kovan network

[code]

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
Erlang/OTP 21 [erts-10.1.1] [source] [64-bit] [smp:2:2] [ds:2:2:10] [async-threads:1] [hipe]

Elixir 1.7.3 (compiled with Erlang/OTP 21)
* Operating System: Debian GNU/Linux 9 (stretch)

### Steps to reproduce

Try to index kov

[2018-10-22 10:30] APshenkin opened #957 "tokenFetcher fails when sync kovan (ERROR 22021 (character_not_in_repertoire))"
*Describe your issue here.*
This error is occurring in tokenFetcher when syncing kovan network

[code]

### Environment

* Elixir & Erlang/OTP versions (`elixir -version`):
Erlang/OTP 21 [erts-10.1.1] [source] [64-bit] [smp:2:2] [ds:2:2:10] [async-threads:1] [hipe]

Elixir 1.7.3 (compiled with Erlang/OTP 21)
* Operating System: Debian GNU/Linux 9 (stretch)

### Steps to reproduce

Try to index kov

[2018-10-22 10:33] #957 closed

[2018-10-22 11:13] APshenkin commented on #957
Duplicate #956, github responsing problems :)

[2018-10-22 12:14] APshenkin commented on #956
Found contract, that causes this issue:
[code]

[2018-10-22 13:38] #37 closed

[2018-10-22 15:00] acravenho opened #959 "Async task to check token supply and other metadata"
Some `tokens` may have their `total supply` value changed over time. In case that happens, we won't be able to have the updated value because we only fetch that information when we are creating the token for the first time.

In order to keep the `total supply` value updated it will be necessary to fetch the data from the blockchain again because we don't know which token has been changed.

A coupl

[2018-10-22 15:35] acravenho commented on #897
Fixed on all deployments

[2018-10-22 15:35] #897 closed

[2018-10-22 16:19] acravenho commented on #930
@Destiner Are you querying a full node? If not, I can provide one for you to query against.